Repository trinodb/trino, pull requests merged in 2023-07, with the labels that each got.

#18103 Support migrating Hive bucketed table as non-bucketed Iceberg table
  docs/src/main/sphinx/connector/iceberg.rst
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergProcedureCalls.java
Labels: cla-signed, docs, tests:hive, iceberg

#18087 Split a test into two
  testing/trino-tests/src/test/java/io/trino/tests/TestAggregations.java
Labels: cla-signed

#16191 Update provisio-maven-plugin to 1.0.20
  core/trino-server/pom.xml
  pom.xml
Labels: cla-signed

#17999 Fix potential premature finish in Delta CDF function
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesFunctionProcessor.java
Labels: cla-signed, delta-lake

#17372 Support table comment for redshift connector
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
Labels: cla-signed

#18085 Add exception guards for scheduleWithFixedDelay
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/BinPackingNodeAllocatorService.java
  core/trino-main/src/main/java/io/trino/server/remotetask/TaskInfoFetcher.java
Labels: cla-signed

#18114 Rename version checking method for more clarity
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/Versions.java
  plugin/trino-accumulo/src/main/java/io/trino/plugin/accumulo/AccumuloConnectorFactory.java
  plugin/trino-atop/src/main/java/io/trino/plugin/atop/AtopConnectorFactory.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcConnectorFactory.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConnectorFactory.java
  plugin/trino-blackhole/src/main/java/io/trino/plugin/blackhole/BlackHoleConnectorFactory.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraConnectorFactory.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConnectorFactory.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchConnectorFactory.java
  plugin/trino-example-http/src/main/java/io/trino/plugin/example/ExampleConnectorFactory.java
  plugin/trino-google-sheets/src/main/java/io/trino/plugin/google/sheets/SheetsConnectorFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConnectorFactory.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiConnectorFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConnectorFactory.java
  plugin/trino-jmx/src/main/java/io/trino/plugin/jmx/JmxConnectorFactory.java
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaConnectorFactory.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisConnectorFactory.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduConnectorFactory.java
  plugin/trino-local-file/src/main/java/io/trino/plugin/localfile/LocalFileConnectorFactory.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryConnectorFactory.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoConnectorFactory.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConnectorFactory.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotConnectorFactory.java
  plugin/trino-prometheus/src/main/java/io/trino/plugin/prometheus/PrometheusConnectorFactory.java
  plugin/trino-raptor-legacy/src/main/java/io/trino/plugin/raptor/legacy/RaptorConnectorFactory.java
  plugin/trino-redis/src/main/java/io/trino/plugin/redis/RedisConnectorFactory.java
  plugin/trino-thrift/src/main/java/io/trino/plugin/thrift/ThriftConnectorFactory.java
  plugin/trino-tpcds/src/main/java/io/trino/plugin/tpcds/TpcdsConnectorFactory.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchConnectorFactory.java
  testing/trino-testing/src/main/java/io/trino/testing/tpch/IndexedTpchConnectorFactory.java
Labels: cla-signed, tests:hive, no-release-notes, hudi, iceberg, delta-lake, hive, bigquery, mongodb

#18081 Don't project _id field in Mongo DB connector when it's not required
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoSession.java
Labels: cla-signed, mongodb

#18131 Fix Hive sorted write failure when user identity contains @ sign (v2)
  lib/trino-filesystem/src/main/java/io/trino/filesystem/Location.java
  lib/trino-filesystem/src/test/java/io/trino/filesystem/TestLocation.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveWriterFactory.java
Labels: cla-signed, tests:hive, hive

#18109 Simplify TrinoResultSet.parseDate
  client/trino-jdbc/src/main/java/io/trino/jdbc/AbstractTrinoResultSet.java
Labels: cla-signed, jdbc

#17939 Add hostnameInCertificate JDBC property
  client/trino-client/src/main/java/io/trino/client/OkHttpUtil.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/ConnectionProperties.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoDriverUri.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriverAuth.java
Labels: cla-signed, jdbc

#16280 Make JDBC write parallelism configurable
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcWriteConfig.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcWriteSessionProperties.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcWriteConfig.java
Labels: cla-signed

#18108 Update Temurin JDK 21 to 21-29-ea-beta
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/jdk/Temurin21EaJdkProvider.java
Labels: cla-signed

#18092 Unwrap year in comparison also for IN predicate
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapYearInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapYearInComparison.java
Labels: cla-signed

#18078 Enable Error Prone check: UnnecessaryLambda
  pom.xml
Labels: cla-signed

#18142 Update JDBI to 3.39.1
  pom.xml
Labels: cla-signed

#17919 Minor refactoring in MongoDB connector
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoPageSource.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/TypeUtils.java
Labels: cla-signed, mongodb

#17527 Support OPTIMIZE procedure in Delta Lake column mapping table
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#17979 Code clean up in Delta Lake table_change function
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesFunctionProcessor.java
Labels: cla-signed, delta-lake

#18146 Remove Configuration argument from HivePageSourceFactory
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSourceProvider.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/avro/AvroHivePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/LinePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/rcfile/RcFilePageSourceFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/benchmark/AbstractFileFormat.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/orc/TestOrcPageSourceFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestOnlyNulls.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestTimestampMicros.java
Labels: cla-signed, tests:hive, hive

#15792 Add support for dropping column in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/util/DeltaLakeTestUtils.java
Labels: cla-signed, tests:hive, delta-lake

#18075 Add Trino 421 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-421.md
Labels: cla-signed, release-notes, docs

#18156 Allow dictionary processing for date type in parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/AbstractColumnReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/AbstractColumnReaderTest.java
Labels: cla-signed, tests:hive

#18158 Static import Assertions' `assertThat` and `assertThatThrownBy` methods
  core/trino-main/src/test/java/io/trino/execution/buffer/TestPagesSerde.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushJoinIntoTableScan.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableName.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/orc/TestOrcPageSourceFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestSqlCancel.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestSelect.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeTransactionLogCache.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeWriteDatabricksCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeRedirect.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveBucketedTables.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCreateTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveHiddenFiles.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveRedirectionToIceberg.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveSchema.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveStorageFormats.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveTransactionalTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveViews.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hudi/TestHudiSparkCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergInsert.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergOptimize.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergPartitionEvolution.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergProcedureCalls.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergRedirectionToHive.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkDropTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/jdbc/TestExternalAuthorizerOAuth2RefreshToken.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18152 Add smoke test to verify Jackson read constraints
  core/trino-main/src/test/java/io/trino/operator/scalar/TestJsonExtract.java
Labels: cla-signed

#18124 Make ServerIT work with different Temurin JDK versions
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/ServerIT.java
Labels: cla-signed

#17101 Manually instrument okhttp with OTEL in trino-jdbc
  client/trino-cli/src/main/java/io/trino/cli/QueryRunner.java
  client/trino-client/src/main/java/io/trino/client/JsonResponse.java
  client/trino-client/src/main/java/io/trino/client/StatementClientFactory.java
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  client/trino-jdbc/pom.xml
  client/trino-jdbc/src/main/java/io/trino/jdbc/NonRegisteringTrinoDriver.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  testing/trino-tests/src/test/java/io/trino/execution/TestFinalQueryInfo.java
Labels: cla-signed, jdbc

#18180 Add project icon for IntelliJ
  .idea/icon.svg
Labels: cla-signed

#18141 Extend documentation for Hive metadata tables
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs

#17387 Apply the dereference pushdown at the physical level on parquet in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetConnectorTest.java
Labels: cla-signed, release-notes, performance, iceberg

#18115 Migrate some tests to JUnit
  core/trino-main/src/test/java/io/trino/util/TestDateTimeUtils.java
  core/trino-server-main/pom.xml
  core/trino-server-main/src/test/java/io/trino/server/TestDummy.java
  lib/trino-array/pom.xml
  lib/trino-array/src/test/java/io/trino/array/TestBlockBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestBooleanBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestByteBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestDoubleBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestIntBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestLongBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestObjectBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestShortBigArray.java
  lib/trino-array/src/test/java/io/trino/array/TestSliceBigArray.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestExtractSpatialInnerJoin.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestExtractSpatialLeftJoin.java
  plugin/trino-teradata-functions/src/test/java/io/trino/plugin/teradata/functions/dateformat/TestDateFormatParser.java
  plugin/trino-thrift/src/test/java/io/trino/plugin/thrift/TestThriftConnectorConfig.java
  plugin/trino-thrift/src/test/java/io/trino/plugin/thrift/TestThriftIndexPageSource.java
  plugin/trino-thrift/src/test/java/io/trino/plugin/thrift/TestThriftPlugin.java
  plugin/trino-tpcds/pom.xml
  plugin/trino-tpcds/src/test/java/io/trino/plugin/tpcds/TestTpcdsConfig.java
  plugin/trino-tpcds/src/test/java/io/trino/plugin/tpcds/TestTpcdsMetadata.java
  plugin/trino-tpcds/src/test/java/io/trino/plugin/tpcds/TestTpcdsMetadataStatistics.java
  plugin/trino-tpch/pom.xml
  plugin/trino-tpch/src/test/java/io/trino/plugin/tpch/TestTpchMetadata.java
Labels: cla-signed

#17501 Avoid using trace span links
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
Labels: cla-signed

#18164 Migrate plan tests to JUnit
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestCanonicalize.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDereferencePushDown.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDynamicFilter.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestHaving.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestInsert.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLocalDynamicFilterConsumer.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestMaterializedViews.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestOrderBy.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestPlanMatchingFramework.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestPredicatePushdown.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestPredicatePushdownWithoutDynamicFilter.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestQuantifiedComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestRecursiveCte.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestRemoveDuplicatePredicates.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestRemoveRedundantSemiJoin.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestSimplifyIn.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestTableFunctionInvocation.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestTableScanNodePartitioning.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapCastInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapYearInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestWindowClause.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestWindowFrameRange.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/BasePlanTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPreAggregateCaseAggregations.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddExchangesPlans.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddLocalExchangesForPartitionedInsertAndMerge.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestDeterminePartitionCount.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestEliminateCrossJoins.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestEliminateSorts.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestForceSingleNodeOutput.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestFullOuterJoinWithCoalesce.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestLimitMaxWriterNodesCount.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestMergeWindows.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestOptimizeMixedDistinctAggregations.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestPartialTopNWithPresortedInput.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestRemoveEmptyUnionBranches.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestReorderWindows.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestSetFlattening.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestUnaliasSymbolReferences.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestWindow.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestWindowFilterPushDown.java
  core/trino-main/src/test/java/io/trino/sql/planner/sanity/TestDynamicFiltersChecker.java
  core/trino-main/src/test/java/io/trino/sql/planner/sanity/TestValidateAggregationsWithDefaultValues.java
  core/trino-main/src/test/java/io/trino/sql/planner/sanity/TestValidateStreamingAggregations.java
  core/trino-main/src/test/java/io/trino/sql/query/TestFilteredAggregations.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/optimizer/TestHivePlans.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/optimizer/TestHiveProjectionPushdownIntoTableScan.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestMetadataQueryOptimization.java
Labels: cla-signed, tests:hive, iceberg, hive

#18192 Migrate TestPageProcessor to JUnit
  core/trino-main/src/test/java/io/trino/operator/project/TestPageProcessor.java
Labels: cla-signed

#18190 Migrate analyzer tests to JUnit
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed

#17793 Support writing timestamp with timezone in BigQuery
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryType.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryTypeUtils.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryTypeMapping.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryType.java
Labels: cla-signed, bigquery

#18089 Throw TrinoException when window functions (without over) are used in…
  core/trino-main/src/main/java/io/trino/metadata/FunctionResolver.java
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analyzer.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionTreeUtils.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/test/java/io/trino/metadata/AbstractMockMetadata.java
  core/trino-main/src/test/java/io/trino/metadata/CountingAccessMetadata.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed

#18150 Simplify version parsing from metadata file name
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractIcebergTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/RegisterTableProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergUtil.java
Labels: cla-signed, iceberg

#18167 Fix recursive listing from Hive partitions containing non-alphabetic values
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/HiveFileIterator.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestCachingDirectoryListerRecursiveFilesOnly.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestHiveFileIterator.java
Labels: cla-signed, tests:hive, hive

#18154 Fix Iceberg sorted writes on tables with time or uuid
  lib/trino-orc/src/main/java/io/trino/orc/metadata/OrcType.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/TempFileWriter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, tests:hive, iceberg, hive

#18147 Fix caching of expressions with like pattern
  core/trino-main/src/main/java/io/trino/likematcher/LikeMatcher.java
  core/trino-main/src/main/java/io/trino/sql/planner/ConnectorExpressionTranslator.java
  core/trino-main/src/main/java/io/trino/sql/planner/DomainTranslator.java
  core/trino-main/src/main/java/io/trino/sql/planner/ExpressionInterpreter.java
  core/trino-main/src/main/java/io/trino/type/LikeFunctions.java
  core/trino-main/src/main/java/io/trino/type/LikePattern.java
  core/trino-main/src/main/java/io/trino/type/LikePatternType.java
  core/trino-main/src/test/java/io/trino/likematcher/TestLikeMatcher.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestLikeFunctions.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDomainTranslator.java
  core/trino-main/src/test/java/io/trino/type/TestLikePatternType.java
Labels: cla-signed

#13595 Support for reading TIMESTAMP WITH LOCAL TIME ZONE in Hive connector
  docs/src/main/sphinx/connector/hive.rst
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveType.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveTypeTranslator.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, docs, tests:hive, hive

#17559 Make Trino types in connectors docs uppercase
  docs/src/main/sphinx/connector/atop.rst
  docs/src/main/sphinx/connector/blackhole.rst
  docs/src/main/sphinx/connector/delta-lake.rst
  docs/src/main/sphinx/connector/hive-azure.rst
  docs/src/main/sphinx/connector/hive-gcs-tutorial.rst
  docs/src/main/sphinx/connector/hive-s3.rst
  docs/src/main/sphinx/connector/hive.rst
  docs/src/main/sphinx/connector/hudi.rst
  docs/src/main/sphinx/connector/iceberg.rst
  docs/src/main/sphinx/connector/ignite.rst
  docs/src/main/sphinx/connector/kafka-tutorial.rst
  docs/src/main/sphinx/connector/kudu.rst
  docs/src/main/sphinx/connector/mongodb.rst
  docs/src/main/sphinx/connector/oracle.rst
  docs/src/main/sphinx/connector/prometheus.rst
  docs/src/main/sphinx/connector/sqlserver.rst
Labels: cla-signed, docs

#18202 Remove broken memory connector test
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryWorkerCrash.java
Labels: cla-signed

#18199 Migrate tests to JUnit
  core/trino-main/src/test/java/io/trino/TestHiddenColumns.java
  core/trino-main/src/test/java/io/trino/dispatcher/TestDecoratingListeningExecutorService.java
  core/trino-main/src/test/java/io/trino/exchange/TestExchangeSourceOutputSelector.java
  core/trino-main/src/test/java/io/trino/execution/TestDeallocateTask.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryStats.java
  core/trino-main/src/test/java/io/trino/execution/TestSetTimeZoneTask.java
  core/trino-main/src/test/java/io/trino/execution/resourcegroups/TestResourceGroups.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestArbitraryDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/policy/TestPhasedExecutionSchedule.java
  core/trino-main/src/test/java/io/trino/operator/TestHttpPageBufferClient.java
  core/trino-main/src/test/java/io/trino/operator/join/TestNestedLoopBuildOperator.java
  core/trino-main/src/test/java/io/trino/operator/output/TestSkewedPartitionRebalancer.java
  core/trino-main/src/test/java/io/trino/server/TestDynamicFilterService.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryResultRows.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestScope.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestSchedulingOrderVisitor.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestCardinalityExtractorPlanVisitor.java
  core/trino-main/src/test/java/io/trino/sql/planner/planprinter/TestJsonRepresentation.java
  core/trino-main/src/test/java/io/trino/sql/planner/rowpattern/TestRowPatternSerialization.java
  core/trino-main/src/test/java/io/trino/sql/planner/sanity/TestVerifyOnlyOneOutputNode.java
Labels: cla-signed

#18022 Simplify Alluxio docs with a redirect
  docs/src/main/sphinx/connector/hive-alluxio.rst
Labels: cla-signed, docs

#17879 Add recommended nproc setting
  docs/src/main/sphinx/installation/deployment.rst
Labels: cla-signed, docs

#13327 Add row pattern recognition functions to list of functions
  docs/src/main/sphinx/functions/list-by-topic.rst
  docs/src/main/sphinx/functions/list.rst
  docs/src/main/sphinx/sql/match-recognize.rst
Labels: cla-signed, docs

#18220 Remove invalid reference to Alluxio Catalog Service docs
  docs/src/main/sphinx/release/release-332.md
Labels: cla-signed

#18218 add hostnameInCertificate to JDBC Client Docs
  docs/src/main/sphinx/client/jdbc.rst
Labels: cla-signed, docs

#17760 Add support for varying JWT typ headers for OAuth2.0
  core/trino-main/src/main/java/io/trino/server/security/oauth2/NimbusOAuth2Client.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2Config.java
  core/trino-main/src/test/java/io/trino/server/security/oauth2/TestOAuth2Config.java
Labels: cla-signed

#18175 Ensure final task info set on worker node failure
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
Labels: cla-signed, RELEASE-BLOCKER

#18210 Ignore tokens without required principal claim
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2Authenticator.java
  core/trino-main/src/test/java/io/trino/server/security/TestResourceSecurity.java
Labels: cla-signed

#18227 Verify table information retrieval failure based on exception class
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogConnectorSmokeTest.java
Labels: cla-signed, no-release-notes

#18225 Avoid extreme undersizing of row groups in iceberg tests
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
Labels: cla-signed, iceberg

#18221 Remove unused onRetry method from RetryDriver
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/RetryDriver.java
Labels: cla-signed, tests:hive, hive

#18222 Simplify code in AcidOperation
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/acid/AcidOperation.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastoreClient.java
Labels: cla-signed, tests:hive, hive

#18224 Remove deprecated methods from EmptyPageSource
  core/trino-spi/src/main/java/io/trino/spi/connector/EmptyPageSource.java
Labels: cla-signed

#18046 Fix build inside git worktrees by working around git-commit-id #639
  pom.xml
Labels: cla-signed

#18233 Remove redundant Maven module name
  client/trino-cli/pom.xml
  client/trino-client/pom.xml
  client/trino-jdbc/pom.xml
  core/trino-main/pom.xml
  core/trino-parser/pom.xml
  core/trino-server-main/pom.xml
  core/trino-server-rpm/pom.xml
  core/trino-server/pom.xml
  core/trino-spi/pom.xml
  docs/pom.xml
  lib/trino-array/pom.xml
  lib/trino-cache/pom.xml
  lib/trino-filesystem-azure/pom.xml
  lib/trino-filesystem-manager/pom.xml
  lib/trino-filesystem-s3/pom.xml
  lib/trino-filesystem/pom.xml
  lib/trino-hadoop-toolkit/pom.xml
  lib/trino-hdfs/pom.xml
  lib/trino-hive-formats/pom.xml
  lib/trino-matching/pom.xml
  lib/trino-memory-context/pom.xml
  lib/trino-orc/pom.xml
  lib/trino-parquet/pom.xml
  lib/trino-phoenix5-patched/pom.xml
  lib/trino-plugin-toolkit/pom.xml
  lib/trino-record-decoder/pom.xml
  plugin/trino-base-jdbc/pom.xml
  plugin/trino-hive/pom.xml
  plugin/trino-thrift-testing-server/pom.xml
  pom.xml
  service/trino-verifier/pom.xml
  testing/trino-benchmark-queries/pom.xml
  testing/trino-benchmark/pom.xml
  testing/trino-benchto-benchmarks/pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-plugin-reader/pom.xml
  testing/trino-product-tests-launcher/pom.xml
  testing/trino-product-tests/pom.xml
  testing/trino-server-dev/pom.xml
  testing/trino-testing-containers/pom.xml
  testing/trino-testing-kafka/pom.xml
  testing/trino-testing-resources/pom.xml
  testing/trino-testing-services/pom.xml
  testing/trino-testing/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, docs, jdbc, tests:hive, hive

#17945 Support table comments on create table in Kudu
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduClientSession.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduMetadata.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/BaseKuduConnectorSmokeTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
Labels: cla-signed

#17863 Support iceberg `register_table` procedure to register hadoop tables
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergRegisterTableProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergUtil.java
Labels: cla-signed, tests:hive, iceberg

#18184 Add opentracing to DistributedQueryRunner
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/BaseTestContainer.java
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/OpenTracingCollector.java
  testing/trino-testing/pom.xml
  testing/trino-testing/src/main/java/io/trino/testing/DistributedQueryRunner.java
Labels: cla-signed, bigquery

#18258 Replace svg project icon with png
  .idea/icon.png
  .idea/icon.svg
Labels: cla-signed

#18260 Add missing write partitioning release note
  docs/src/main/sphinx/release/release-416.md
Labels: cla-signed

#18250 Update default file format in Iceberg docs
  docs/src/main/sphinx/connector/iceberg.rst
Labels: cla-signed, docs

#18249 Add Trino 422 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-422.md
Labels: cla-signed, release-notes, docs

#18282 Fix reporting of bytes read for compressed text files
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/text/TextLineReader.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/text/TextLineReaderFactory.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/text/TestLineReader.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/text/TestTextLineReaderWriter.java
Labels: cla-signed, RELEASE-BLOCKER, tests:hive

#18281 Fix reading concatenated GZIP streams
  pom.xml
Labels: cla-signed, ready to merge, RELEASE-BLOCKER

#18265 Fix TEXTFILE and RCTEXT string escape of an escape character
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/encodings/text/StringEncoding.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/simple/TestSimpleFormat.java
Labels: cla-signed, ready to merge, RELEASE-BLOCKER, tests:hive

#18285 Fix race condition in getTopRuleStats
  core/trino-main/src/main/java/io/trino/execution/querystats/PlanOptimizersStatsCollector.java
Labels: cla-signed

#18264 Fix error reporting when window functions are used in HAVING clause.
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed, ready to merge

#18286 Update Trino 422 release notes
  docs/src/main/sphinx/release/release-422.md
Labels: cla-signed, release-notes, docs

#18157 Simplify getRawSystemTable in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableName.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableName.java
Labels: cla-signed, delta-lake

#18276 Fix TASK_SCALE_WRITERS_MAX_WRITER_COUNT in test
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectionCreationTest.java
Labels: cla-signed

#18261 Remove unused Hive SERIALIZATION_DDL property
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/MetastoreUtil.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3select/S3SelectRecordCursor.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/SerdeConstants.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestMetastoreUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3select/TestS3SelectRecordCursor.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3select/TestS3SelectRecordCursorProvider.java
Labels: cla-signed, tests:hive, hive

#18263 Catch exceptions for initial call to state change listener
  core/trino-main/src/main/java/io/trino/execution/StateMachine.java
Labels: cla-signed

#18212 Increase maxLocalExchangeBufferSize to 128MB
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, performance, hive

#18257 Deduplicate symbols inside GroupIdNode grouping set
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/SymbolMapper.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestUnaliasSymbolReferences.java
Labels: cla-signed, no-release-notes

#18246 Update oauth2-oidc-sdk to 10.11
  core/trino-main/pom.xml
  plugin/trino-exchange-filesystem/pom.xml
  pom.xml
Labels: cla-signed

#18165 Fix updating PR comments from tests with secrets workflow
  .github/actions/update-check/action.yml
  .github/workflows/ci.yml
Labels: cla-signed

#18253 Reject invalid URIs in URI extract functions
  core/trino-main/src/main/java/io/trino/operator/scalar/UrlFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestUrlFunctions.java
Labels: cla-signed

#18251 Do not ignore unparseable URIs in node management
  core/trino-main/src/main/java/io/trino/connector/CatalogPruneTask.java
  core/trino-main/src/main/java/io/trino/failuredetector/HeartbeatFailureDetector.java
  core/trino-main/src/main/java/io/trino/metadata/DiscoveryNodeManager.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestImpersonation.java
Labels: cla-signed, tests:hive

#18205 Fix Iceberg MV failure after table roll back
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMaterializedViewTest.java
Labels: cla-signed, iceberg

#18195 Remove deprecated Alluxio metastore
  .github/workflows/ci.yml
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakePlugin.java
  plugin/trino-hive-hadoop2/bin/run_hive_alluxio_tests.sh
  plugin/trino-hive-hadoop2/conf/alluxio-docker.yml
  plugin/trino-hive-hadoop2/pom.xml
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/TestHiveAlluxioMetastore.java
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/TestHivePlugin.java
  plugin/trino-hive/pom.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/HiveMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/alluxio/AlluxioHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/alluxio/AlluxioHiveMetastoreConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/alluxio/AlluxioHiveMetastoreFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/alluxio/AlluxioMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/alluxio/ProtoUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/alluxio/TestAlluxioHiveMetastoreConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/alluxio/TestProtoUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/alluxio/TestingAlluxioMetastoreObjects.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiPlugin.java
  plugin/trino-session-property-managers/pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, tests:hive, hudi, delta-lake, hive

#18292 Simplify addDriverFactory params
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed

#18179 Reduce Hive file system listing
  lib/trino-hdfs/src/main/java/io/trino/filesystem/hdfs/HdfsFileSystem.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/BackgroundHiveSplitLoader.java
Labels: cla-signed, tests:hive, hive

#18297 Update openx serde used for testing.
  lib/trino-hive-formats/pom.xml
Labels: cla-signed, tests:hive

#18306 Reuse Page#getColumns in MemoryPagesStore
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryPageSourceProvider.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryPagesStore.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryPagesStore.java
Labels: cla-signed

#18300 Test Iceberg operations for information_schema.columns
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetadataFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetastoreAccessOperations.java
Labels: cla-signed, test, no-release-notes, iceberg

#18301 Add IntLogicalTypeAnnotation in parquet writer
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetSchemaConverter.java
Labels: cla-signed, tests:hive

#18311 Remove unused clone() method
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
Labels: cla-signed, no-release-notes

#18296 Fix HiveType.getRetainedSizeInBytes for caching removal
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveType.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/CharTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/DecimalTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/ListTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/MapTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/PrimitiveTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/StructTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/TypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/UnionTypeInfo.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/type/VarcharTypeInfo.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#18325 Fix broken `testDeletionVectors` in Delta Lake
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksDelete.java
Labels: cla-signed, tests:hive

#17592 Add Delta Lake $properties system table
  docs/src/main/sphinx/connector/delta-lake.rst
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePropertiesTable.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableType.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeSharedMetastoreWithTableRedirectionsTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSystemTables.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableName.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeSystemTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeRedirect.java
Labels: cla-signed, docs, tests:hive, delta-lake

#17934 Various precision for Oracle timestamp
  docs/src/main/sphinx/connector/oracle.rst
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/AbstractTestOracleTypeMapping.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleClient.java
Labels: cla-signed, docs

#18335 Add test for UPDATE with multiple columns check constraint
  core/trino-main/src/test/java/io/trino/sql/query/TestCheckConstraint.java
Labels: cla-signed

#18344 Remove unused code
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#18338 Add tracing for AccessControl
  core/trino-main/src/main/java/io/trino/security/AccessControlModule.java
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  core/trino-main/src/main/java/io/trino/tracing/TracingAccessControl.java
  core/trino-main/src/test/java/io/trino/tracing/TestTracingAccessControl.java
Labels: cla-signed, no-release-notes

#18346 Format CLI error messages
  client/trino-cli/src/main/java/io/trino/cli/ClientOptions.java
  client/trino-cli/src/main/java/io/trino/cli/Console.java
  client/trino-cli/src/main/java/io/trino/cli/Trino.java
Labels: cla-signed

#18326 Use `putIdentity` method to reduce code duplication
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushAggregationThroughOuterJoin.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushProjectionThroughExchange.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/HashGenerationOptimizer.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushProjectionThroughExchange.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushTopNThroughProject.java
Labels: cla-signed, no-release-notes

#18360 Test NULL handling compatibility for partition values
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksInsertCompatibility.java
Labels: cla-signed, tests:hive

#17502 Support reading `timestamp_ntz` type (`timestampNtz`) in Delta Lake
  docs/src/main/sphinx/connector/delta-lake.rst
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaHiveTypeTranslator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogParser.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/statistics/DeltaLakeJsonFileStatistics.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz/README.md
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz/part-00000-0ca99241-8aa7-4f33-981b-e6fd611fe062-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/README.md
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=-0001-01-01 00%3A00%3A00/part-00000-1028f6ea-23ab-4048-8ca6-ee602119a2b9.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=-9999-12-31 23%3A59%3A59.999999/part-00000-531c8750-ef01-49ca-92bf-f7af45a72ea0.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=0000-01-01 00%3A00%3A00/part-00000-7ea9d557-8828-4df3-bb78-928f47c623f7.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=1582-10-05 00%3A00%3A00/part-00000-464939d6-b83c-4e84-b4ce-42d784af9615.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=1582-10-14 23%3A59%3A59.999999/part-00000-0db54306-c35a-4d81-adbb-1e0600cda584.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=2020-12-31 01%3A02%3A03.123456/part-00000-a186173b-63f7-4c84-b9e9-ab9eb682df75.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=9999-12-31 23%3A59%3A59.999999/part-00000-3d5514b4-0b6f-47a5-83dd-5153056fe48f.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/timestamp_ntz_partition/part=__HIVE_DEFAULT_PARTITION__/part-00000-bd457a1b-4127-43e8-a7df-ef46a61f80f3.c000.snappy.parquet
Labels: cla-signed, docs, delta-lake

#18353 Support writing `timestamp with time zone` type on partitioned column in Delta
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveWriteUtils.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksInsertCompatibility.java
Labels: cla-signed, tests:hive, delta-lake, hive

#18378 Add dynamic filter before splits
  core/trino-main/src/main/java/io/trino/execution/SqlTask.java
Labels: cla-signed, no-release-notes

#18377 Simplify PhasedExecutionSchedule
  core/trino-main/src/main/java/io/trino/execution/scheduler/policy/PhasedExecutionSchedule.java
Labels: cla-signed, no-release-notes

#18373 Update Airlift to 235
  pom.xml
Labels: cla-signed

#18355 Disallow creating Delta tables partitioned by array, map or row type
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableAsSelectCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#18369 Support TINYINT and SMALLINT in migration proceure from hive to iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergProcedureCalls.java
Labels: cla-signed, tests:hive, iceberg

#18354 Disallow creating Delta tables partitioned by all columns
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableAsSelectCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#18357 Fix flaky BigQuery tests using snapshot tables
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#18359 Migrate redundant connector test to smoke test in Hudi
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/BaseHudiConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiConnectorTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiCopyOnWriteConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiCopyOnWriteMinioConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiMergeOnReadConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiMergeOnReadMinioConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/testing/HudiTestUtils.java
Labels: cla-signed, hudi

#18366 Test S3 request count in Hive connector
  plugin/trino-hive/pom.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/InternalHiveConnectorFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveQueryRunner.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestingHiveConnectorFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestingHivePlugin.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/TestTrinoS3FileSystemAccessOperations.java
Labels: cla-signed, tests:hive, hive

#17573 Add type mapping section
  docs/src/main/sphinx/connector/avro-decoder.fragment
  docs/src/main/sphinx/connector/csv-decoder.fragment
  docs/src/main/sphinx/connector/json-decoder.fragment
  docs/src/main/sphinx/connector/kinesis.rst
  docs/src/main/sphinx/connector/raw-decoder.fragment
  docs/src/main/sphinx/connector/redis.rst
Labels: cla-signed, docs

#18386 Remove unused line from TableChangesFunction
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesFunction.java
Labels: cla-signed, delta-lake

#16701 Update `first_tested_version` to 18 month ago in JDBC driver test
  testing/trino-test-jdbc-compatibility-old-driver/bin/run_tests.sh
Labels: cla-signed

#18394 Change heading level of case insensitive matching fragment
  docs/src/main/sphinx/connector/jdbc-case-insensitive-matching.fragment
Labels: cla-signed, docs

#18388 Disable task level writer scaling from TableExecute
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddLocalExchanges.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddLocalExchangesForTaskScaleWriters.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergOptimize.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18403 Use correct value for `partition_values` argument in `drop_stats` sample
  docs/src/main/sphinx/connector/hive.rst
Labels: docs

#18419 Run JDBC driver compatibility test since 352 with dynamic step
  testing/trino-test-jdbc-compatibility-old-driver/bin/run_tests.sh
Labels: cla-signed

#18415 Fix iceberg optimize tests
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#18410 Update Azure SDK to 1.2.14
  plugin/trino-exchange-filesystem/pom.xml
  pom.xml
Labels: cla-signed

#18417 Replace CountingAccessMetadata with OpenTelemetry
  core/trino-main/src/test/java/io/trino/metadata/CountingAccessMetadata.java
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergGetTableStatisticsOperations.java
  testing/trino-tests/pom.xml
  testing/trino-tests/src/test/java/io/trino/tests/TestGetTableStatisticsOperations.java
Labels: cla-signed, iceberg

#18401 Throw meaningful exception when intending to update statistics for missing partition
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseTestHiveOnDataLake.java
Labels: cla-signed, tests:hive, hive

#18431 Small clarification in materialized views docs.
  docs/src/main/sphinx/sql/create-materialized-view.rst
Labels: cla-signed

#18420 Remove support for legacy Hive Parquet writer
  docs/src/main/sphinx/connector/hive.rst
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetFileWriterFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetWriterConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveFileFormats.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestParquetPageSkipping.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestParquetPageSkippingWithOptimizedReader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestParquetWriterConfig.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCompression.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveSparkCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveStorageFormats.java
Labels: cla-signed, docs, tests:hive, hive

#18426 Remove unnecessary OperatorFactories interface
  core/trino-main/src/main/java/io/trino/operator/JoinOperatorType.java
  core/trino-main/src/main/java/io/trino/operator/OperatorFactories.java
  core/trino-main/src/main/java/io/trino/operator/TrinoOperatorFactories.java
  core/trino-main/src/main/java/io/trino/operator/join/LookupJoinOperatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/join/unspilled/LookupJoinOperatorFactory.java
  core/trino-main/src/main/java/io/trino/server/ServerMainModule.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/testing/LocalQueryRunner.java
  core/trino-main/src/test/java/io/trino/execution/TaskTestUtils.java
  core/trino-main/src/test/java/io/trino/operator/join/BenchmarkHashBuildAndJoinOperators.java
  core/trino-main/src/test/java/io/trino/operator/join/JoinTestUtils.java
  core/trino-main/src/test/java/io/trino/operator/join/TestHashJoinOperator.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/BenchmarkHashBuildAndJoinOperators.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/JoinTestUtils.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/TestHashJoinOperator.java
  testing/trino-benchmark/src/main/java/io/trino/benchmark/HashBuildAndJoinBenchmark.java
  testing/trino-benchmark/src/main/java/io/trino/benchmark/HashBuildBenchmark.java
  testing/trino-benchmark/src/main/java/io/trino/benchmark/HashJoinBenchmark.java
Labels: cla-signed

#18014 Add support for varchar to timestamp coercion in hive tables
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/TimestampCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestTimestampCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, tests:hive, hive

#18298 Disable buffering to disk for Azure output streams
  lib/trino-hdfs/src/main/java/io/trino/hdfs/azure/TrinoAzureConfigurationInitializer.java
Labels: cla-signed, ready to merge

#18435 Update airlift/discovery-server to 1.36
  pom.xml
Labels: cla-signed

#18317 Respect maxSize in TableChangesSplitSource.getNextBatch
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesSplitSource.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestCdfWithNumberOfSplitsGreaterThanMaxBatchSizeInSplitSource.java
Labels: cla-signed, delta-lake

#18121 Support optimized local scheduling of kudu splits
  docs/src/main/sphinx/connector/kudu.rst
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduClientConfig.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduClientSession.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduSecurityModule.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduSplit.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduClientConfig.java
Labels: cla-signed, docs, performance

#18444 Use shaded version of Coral
  plugin/trino-hive/pom.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/CoralSemiTransactionalHiveMSCAdapter.java
  plugin/trino-iceberg/pom.xml
  pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-product-tests/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, tests:hive, iceberg, hive

#18459 Ignore regular tests when mapping impacted modules for product tests
  .github/workflows/ci.yml
Labels: cla-signed

#18381 Disallow dropping last non-partition column in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18372 Improve tests for Iceberg handling of information_schema
  core/trino-main/src/main/java/io/trino/connector/DefaultCatalogFactory.java
  core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaConnector.java
  core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaMetadata.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/main/java/io/trino/testing/LocalQueryRunner.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/metadata/TestInformationSchemaMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreMetadataQueriesAccessOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetadataFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetastoreAccessOperations.java
Labels: cla-signed, test, tests:hive, no-release-notes, iceberg, hive

#18469 Remove redundant HashSet from Identity.Builder
  core/trino-spi/src/main/java/io/trino/spi/security/Identity.java
Labels: cla-signed
