Repository trinodb/trino, pull requests merged in 2023-05, with the labels that each got.

#17306 Remove unused HiveCoercionRecordCursor
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveCoercionRecordCursor.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSourceProvider.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
Labels: cla-signed, tests:hive, hive

#16876 Fix an edge case with Round function when the scaled number exceeds Double.MAX_VALUE
  core/trino-main/src/main/java/io/trino/operator/scalar/MathFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestMathFunctions.java
Labels: cla-signed

#17309 Improve Iceberg documentation for refresh new materialized view
  docs/src/main/sphinx/connector/iceberg.rst
Labels: cla-signed, docs, iceberg

#17292 Add AccessControl io.trino.spi.ptf.ConnectorTableFunction#analyze
  core/trino-main/src/main/java/io/trino/operator/table/ExcludeColumns.java
  core/trino-main/src/main/java/io/trino/operator/table/Sequence.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/connector/TestingTableFunctions.java
  core/trino-spi/src/main/java/io/trino/spi/ptf/AbstractConnectorTableFunction.java
  core/trino-spi/src/main/java/io/trino/spi/ptf/ConnectorTableFunction.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorTableFunction.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ptf/Procedure.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ptf/Query.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ptf/Query.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/ptf/Query.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ptf/RawQuery.java
  plugin/trino-google-sheets/src/main/java/io/trino/plugin/google/sheets/ptf/Sheet.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/ptf/Query.java
  testing/trino-tests/src/test/java/io/trino/tests/TestTableFunctionInvocation.java
Labels: cla-signed, bigquery, mongodb

#17305 Fix node allocation account leak on race condition
  core/trino-main/src/main/java/io/trino/execution/scheduler/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#17320 Remove left-over TODO comment
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#17315 Fix typo in CheckpointWriter
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
Labels: cla-signed, no-release-notes, delta-lake

#17324 Ignore draft PRs in stale action
  .github/workflows/stale.yml
Labels: cla-signed

#17321 Use standard TPCH configs in development server
  testing/trino-server-dev/etc/catalog/tpch.properties
Labels: cla-signed

#17317 Remove redundant invocation count in testParallel
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed

#17284 Remove `ANALYZE` call on materialized view
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftTableStatisticsReader.java
Labels: cla-signed, no-release-notes

#17233 Fix typo in HiveMetadata
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#17245 Improve docs for at_timezone and with_timezone
  docs/src/main/sphinx/functions/datetime.rst
Labels: cla-signed, docs

#17027 Upgrade alluxio to 2.9.3
  pom.xml
Labels: cla-signed

#17225 Upgrade okhttp to 4.11 (from 4.10)
  pom.xml
Labels: cla-signed

#17328 Add Trino 416 release notes
  docs/src/main/sphinx/release.rst
  docs/src/main/sphinx/release/release-416.md
Labels: cla-signed, release-notes, docs

#17340 Remove useless `getInfo()` override in Pinot
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotMetadata.java
Labels: cla-signed, no-release-notes

#17301 Remove hive record reader JMH benchmarks
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/benchmark/BenchmarkFileFormat.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/benchmark/BenchmarkHiveFileFormat.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/benchmark/StandardFileFormats.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/benchmark/TestHiveFileFormatBenchmark.java
Labels: cla-signed, tests:hive, hive

#17335 Fix potential failure when writing null min/max/null count into checkpoint
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
Labels: cla-signed, delta-lake

#17282 Refactor IrPathNodes to records
  core/trino-main/src/main/java/io/trino/json/PathEvaluationVisitor.java
  core/trino-main/src/main/java/io/trino/json/PathPredicateEvaluationVisitor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrAbsMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrArithmeticBinary.java
  core/trino-main/src/main/java/io/trino/json/ir/IrArithmeticUnary.java
  core/trino-main/src/main/java/io/trino/json/ir/IrArrayAccessor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrCeilingMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrComparisonPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrConjunctionPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrConstantJsonSequence.java
  core/trino-main/src/main/java/io/trino/json/ir/IrContextVariable.java
  core/trino-main/src/main/java/io/trino/json/ir/IrDatetimeMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrDescendantMemberAccessor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrDisjunctionPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrDoubleMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrExistsPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrFilter.java
  core/trino-main/src/main/java/io/trino/json/ir/IrFloorMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrIsUnknownPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrJsonNull.java
  core/trino-main/src/main/java/io/trino/json/ir/IrKeyValueMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrLastIndexVariable.java
  core/trino-main/src/main/java/io/trino/json/ir/IrLiteral.java
  core/trino-main/src/main/java/io/trino/json/ir/IrMemberAccessor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrNamedJsonVariable.java
  core/trino-main/src/main/java/io/trino/json/ir/IrNamedValueVariable.java
  core/trino-main/src/main/java/io/trino/json/ir/IrNegationPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrPathNode.java
  core/trino-main/src/main/java/io/trino/json/ir/IrPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrPredicateCurrentItemVariable.java
  core/trino-main/src/main/java/io/trino/json/ir/IrSizeMethod.java
  core/trino-main/src/main/java/io/trino/json/ir/IrStartsWithPredicate.java
  core/trino-main/src/main/java/io/trino/json/ir/IrTypeMethod.java
  core/trino-main/src/main/java/io/trino/sql/planner/JsonPathTranslator.java
  core/trino-main/src/test/java/io/trino/sql/planner/PathNodes.java
  core/trino-main/src/test/java/io/trino/type/TestJsonPath2016TypeSerialization.java
Labels: cla-signed, no-release-notes

#17336 Improve title for alter table limitation fragment
  docs/src/main/sphinx/connector/alter-table-limitation.fragment
Labels: cla-signed, docs

#17249 Print milestone command output for debug
  .github/workflows/milestone.yml
Labels: cla-signed

#17349 Make type names upper case
  core/trino-main/src/main/java/io/trino/execution/SetTimeZoneTask.java
  core/trino-main/src/main/java/io/trino/operator/scalar/DateTimeFunctions.java
  core/trino-main/src/main/java/io/trino/operator/scalar/time/TimeFunctions.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timetz/DateAdd.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timetz/DateDiff.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timetz/DateTrunc.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalyzer.java
  core/trino-main/src/main/java/io/trino/type/DateTimes.java
  core/trino-main/src/test/java/io/trino/execution/TestSetTimeZoneTask.java
  core/trino-main/src/test/java/io/trino/operator/scalar/interval/TestIntervalDayTime.java
  core/trino-main/src/test/java/io/trino/operator/scalar/interval/TestIntervalYearMonth.java
  core/trino-main/src/test/java/io/trino/operator/scalar/time/TestTime.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timestamp/TestTimestamp.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timestamptz/TestTimestampWithTimeZone.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timetz/TestTimeWithTimeZone.java
  core/trino-main/src/test/java/io/trino/type/TestDate.java
  core/trino-spi/src/main/java/io/trino/spi/type/Decimals.java
  core/trino-spi/src/test/java/io/trino/spi/type/TestDecimals.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
Labels: cla-signed

#17345 Document ConnectorSplitSource thread-safety requirements
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorSplitSource.java
Labels: cla-signed, no-release-notes

#17354 Use Transform#isVoid for filtering
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
Labels: cla-signed, iceberg

#17356 Fix Iceberg statistics loading after snapshot expiration
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TableStatisticsReader.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergStatistics.java
Labels: cla-signed, iceberg

#16670 Remove kill-switch to disable automatic fetch-size selection
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleConfig.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleConfig.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlConfig.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConfig.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftConfig.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConfig.java
Labels: cla-signed, no-release-notes

#17364 Fix over read in TEXTFILE struct reader
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/encodings/text/StructEncoding.java
Labels: cla-signed, tests:hive

#17370 Fix typo in ldap.rst
  docs/src/main/sphinx/security/ldap.rst
Labels: docs

#17362 Fix TestDbResourceGroupsPostgresqlFlywayMigration flakiness
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupsPostgresqlFlywayMigration.java
Labels: cla-signed, test, no-release-notes

#17385 Avoid creating new objects when region is same as original page
  core/trino-spi/src/main/java/io/trino/spi/Page.java
  core/trino-spi/src/test/java/io/trino/spi/TestPage.java
Labels: cla-signed, no-release-notes

#17085 Implement Dereference pushdown for the Delta Lake connector
  docs/src/main/sphinx/connector/delta-lake.rst
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeBucketFunction.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeColumnHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeColumnProjectionInfo.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConfig.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeOutputTableHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSinkProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSource.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/statistics/FileBasedTableStatisticsProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogParser.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/statistics/DeltaLakeJsonFileStatistics.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/statistics/DeltaLakeParquetFileStatistics.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeCreateTableStatistics.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakePageSink.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeProjectionPushdownPlans.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableStatistics.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/statistics/TestDeltaLakeFileBasedTableStatisticsProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestDeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/statistics/BenchmarkExtendedStatistics.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/statistics/TestDeltaLakeFileStatistics.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSourceProvider.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ReaderColumns.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, docs, tests:hive, delta-lake, hive

#17388 Fix reference to createTestingFileHiveMetastore in test
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeProjectionPushdownPlans.java
Labels: cla-signed

#17219 Improve writing style in top-level pages
  docs/.vale/Vocab/Base/accept.txt
  docs/src/main/sphinx/connector.rst
  docs/src/main/sphinx/functions.rst
  docs/src/main/sphinx/glossary.rst
  docs/src/main/sphinx/language.rst
  docs/src/main/sphinx/sql.rst
Labels: cla-signed, docs

#11334 Document DENY statement
  docs/src/main/sphinx/language/sql-support.rst
  docs/src/main/sphinx/sql.rst
  docs/src/main/sphinx/sql/deny.rst
  docs/src/main/sphinx/sql/grant.rst
  docs/src/main/sphinx/sql/revoke.rst
Labels: cla-signed, syntax-needs-review, docs

#17389 Remove unused bindings from DeltaLakeModule
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeModule.java
Labels: cla-signed, delta-lake

#17352 Make 'parquet_use_bloom_filter' session property descriptions consistent
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetReaderConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
Labels: cla-signed, tests:hive, iceberg, hive

#17285 Use data size for file listing cache
  docs/src/main/sphinx/connector/hive.rst
  lib/trino-collect/src/main/java/io/trino/collect/cache/EvictableCacheBuilder.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadataFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/BlockLocation.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/DirectoryListingCacheKey.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionScopeCachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TrinoFileStatus.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestBackgroundHiveSplitLoader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestCachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestCachingDirectoryListerRecursiveFilesOnly.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestTransactionScopeCachingDirectoryLister.java
Labels: cla-signed, docs, tests:hive, hive

#17407 Upgrade benchto version to 0.25
  pom.xml
Labels: cla-signed

#17404 Group small columns together in parquet files
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/writer/TestParquetWriter.java
Labels: cla-signed, tests:hive

#12776 Use Iceberg Metadata table's API for snapshot metadata table
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/SnapshotsTable.java
Labels: cla-signed, no-release-notes, iceberg

#17178 Re-cast Google Cloud Storage Tutorial as reference page
  docs/src/main/sphinx/connector/hive-gcs-tutorial.rst
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs

#17217 Expand details of per-connector FTE support
  docs/src/main/sphinx/admin/fault-tolerant-execution.rst
  docs/src/main/sphinx/connector/bigquery.rst
  docs/src/main/sphinx/connector/delta-lake.rst
  docs/src/main/sphinx/connector/hive.rst
  docs/src/main/sphinx/connector/iceberg.rst
  docs/src/main/sphinx/connector/mongodb.rst
  docs/src/main/sphinx/connector/mysql.rst
  docs/src/main/sphinx/connector/postgresql.rst
  docs/src/main/sphinx/connector/redshift.rst
  docs/src/main/sphinx/connector/sqlserver.rst
Labels: cla-signed, docs

#14807 Remove PTF mention from table function ordering fragment
  docs/src/main/sphinx/connector/bigquery.rst
  docs/src/main/sphinx/connector/cassandra.rst
  docs/src/main/sphinx/connector/druid.rst
  docs/src/main/sphinx/connector/elasticsearch.rst
  docs/src/main/sphinx/connector/mariadb.rst
  docs/src/main/sphinx/connector/mysql.rst
  docs/src/main/sphinx/connector/oracle.rst
  docs/src/main/sphinx/connector/polymorphic-table-function-ordering.fragment
  docs/src/main/sphinx/connector/postgresql.rst
  docs/src/main/sphinx/connector/query-table-function-ordering.fragment
  docs/src/main/sphinx/connector/redshift.rst
  docs/src/main/sphinx/connector/sqlserver.rst
Labels: cla-signed, docs

#17366 Add include-coordinator to node scheduler properties docs
  docs/src/main/sphinx/admin/properties-node-scheduler.rst
Labels: cla-signed, docs

#17376 Document example of `SHOW COLUMNS` result
  docs/src/main/sphinx/sql/show-columns.rst
Labels: cla-signed, docs

#17325 Document decimal type mapping in MongoDB connector
  docs/src/main/sphinx/connector/mongodb.rst
Labels: cla-signed, docs

#17420 Fix Mysql doc typo
  docs/src/main/sphinx/connector/mysql.rst
Labels: cla-signed

#17419 Fix Ignite connector test name typo
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed

#17421 Add sql merge support in Phoenix doc
  docs/src/main/sphinx/connector/phoenix.rst
Labels: cla-signed

#17377 Reorder schema string entry in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
Labels: cla-signed, no-release-notes, delta-lake

#17172 Add extra_properties to hive table properties
  docs/src/main/sphinx/connector/hive.rst
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTableProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, docs, tests:hive, hive

#17403 Use PlanNodeSearcher instead of custom visitor
  core/trino-main/src/main/java/io/trino/sql/planner/FragmentTableScanCounter.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddExchanges.java
Labels: cla-signed

#17410 Minor cleanup in Kudu tests
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/BaseKuduConnectorSmokeTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduIntegrationDecimalColumns.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduIntegrationDynamicFilter.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduIntegrationHashPartitioning.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduIntegrationIntegerColumns.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduIntegrationRangePartitioning.java
Labels: cla-signed

#17386 Avoid doubled getRegion calls in page sinks
  lib/trino-orc/src/main/java/io/trino/orc/OrcWriter.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSink.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSink.java
Labels: cla-signed, tests:hive, performance, no-release-notes, iceberg, delta-lake, hive

#17395 Add table functions to function list
  docs/src/main/sphinx/functions/list.rst
  docs/src/main/sphinx/functions/table.rst
Labels: cla-signed, docs

#17447 Add Trino 417 release notes
  docs/src/main/sphinx/release.rst
  docs/src/main/sphinx/release/release-417.md
Labels: cla-signed, release-notes, docs

#17425 Fix reporting of row group size by parquet writer
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
Labels: cla-signed, tests:hive

#17445 Update RoaringBitmap from 0.9.35 to 0.9.44
  pom.xml
Labels: cla-signed

#17441 Correct illegal import from shaded code
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/BasePinotConnectorSmokeTest.java
Labels: cla-signed

#17381 Fix TestRedshiftConnectorTest and deny adding not columns explicitly
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
Labels: cla-signed, no-release-notes

#17200 Add support for Oracle fault tolerant execution
  plugin/trino-oracle/pom.xml
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleFailureRecoveryTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/OracleQueryRunner.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleQueryFailureRecoveryTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleTaskFailureRecoveryTest.java
Labels: cla-signed

#17456 Document fault tolerant execution for Oracle connector
  docs/src/main/sphinx/admin/fault-tolerant-execution.rst
  docs/src/main/sphinx/connector/oracle.rst
Labels: cla-signed

#17332 Add documentation for Delta Lake configuration properties
  docs/src/main/sphinx/connector/delta-lake.rst
Labels: cla-signed, docs

#17127 Fetch all table/view names across schemas with one Hive metastore call (when Hive views enabled)
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetastoreClosure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/ForwardingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/HiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/alluxio/AlluxioHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/CachingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/SharedHiveMetastoreCache.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/file/FileHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/recording/HiveMetastoreRecording.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/recording/RecordingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/BridgingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/DefaultThriftMetastoreClientFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/FailureAwareThriftMetastoreClient.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastoreClient.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/CountingAccessHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/UnimplementedHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/cache/TestCachingHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/InMemoryThriftMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/MockThriftMetastoreClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreMetadataQueriesAccessOperations.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftHiveMetastoreClient.java
Labels: cla-signed, tests:hive, hive

#17469 Bump ClickHouse driver to 0.4.6 and fix broken link
  docs/src/main/sphinx/connector/clickhouse.rst
  pom.xml
Labels: cla-signed, docs

#17409 Add testTruncateTable in BaseConnectorSmokeTest
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/BaseKuduConnectorSmokeTest.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/BaseMongoConnectorSmokeTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorSmokeTest.java
Labels: cla-signed, no-release-notes, iceberg, delta-lake, bigquery, mongodb

#17390 Remove session property overrides for Hive staging location
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcConnection.java
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/s3select/S3SelectTestHelper.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveLocationService.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSinkProvider.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveWriterFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveWriteUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHiveFileSystem.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveLocationService.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHivePageSink.java
Labels: cla-signed, jdbc, tests:hive, delta-lake, hive

#17222 Upgrade Hudi version to 0.12.3
  docs/src/main/sphinx/connector/hudi.rst
  plugin/trino-hudi/pom.xml
  pom.xml
Labels: cla-signed, docs, hudi

#17365 Fix type of DeltaLakeTableHandle.projectedColumns
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableHandle.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#17482 Revert "Retry docker build"
  core/docker/build.sh
Labels: cla-signed

#17455 Fix current_timestamp failure due to improper rounding
  core/trino-main/src/main/java/io/trino/type/DateTimes.java
Labels: cla-signed

#17495 Update Oracle date type mapping test cases
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
Labels: cla-signed

#17449 Ensure statistics predicate only for base column in delta connector
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/statistics/FileBasedTableStatisticsProvider.java
Labels: cla-signed, delta-lake

#17378 Remove usages of Path from Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/TransactionLogSynchronizerManager.java
Labels: cla-signed, delta-lake

#17491 Put testing with with JDK 20 on hold
  .github/workflows/ci.yml
Labels: cla-signed, no-release-notes

#17483 Reduce per-row computations for time and timestamp in MySQL
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
Labels: cla-signed, performance, no-release-notes

#17470 Fix Iceberg $history table when using REST Catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/HistoryTable.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
Labels: cla-signed, iceberg

#17488 Clarify catalog property usage in Delta Lake docs
  docs/src/main/sphinx/connector/delta-lake.rst
Labels: cla-signed, docs

#17432 Use shared cache for per transaction file listing cache
  docs/src/main/sphinx/connector/hive.rst
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/s3select/S3SelectTestHelper.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadataFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionDirectoryListingCacheKey.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionScopeCachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionScopeCachingDirectoryListerFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHiveFileSystem.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestTransactionScopeCachingDirectoryLister.java
Labels: cla-signed, tests:hive, hive

#17503 Remove warning about experimental ARM support
  core/trino-main/src/main/java/io/trino/server/TrinoSystemRequirements.java
Labels: cla-signed

#17489 Update to Java 11/17 Oracle JDBC driver
  client/trino-jdbc/pom.xml
  plugin/trino-oracle/pom.xml
  plugin/trino-resource-group-managers/pom.xml
Labels: cla-signed, jdbc

#16600 Support DML operations on Delta Lake tables with `id` column mapping
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeCdfPageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSinkProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeParquetSchemaMapping.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeParquetSchemas.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeParquetSchemas.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#17417 Handle parsing of invalid S3 content type
  lib/trino-hdfs/src/main/java/io/trino/hdfs/s3/TrinoS3FileSystem.java
Labels: cla-signed

#17506 Oracle purges dropped temp tables
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
Labels: cla-signed

#17465 Prioritize non-speculative tasks in scheduler and node allocator
  core/trino-main/src/main/java/io/trino/execution/scheduler/BinPackingNodeAllocatorService.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/EventDrivenFaultTolerantQueryScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/NodeAllocator.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestBinPackingNodeAllocator.java
Labels: cla-signed

#17102 Fix Ignite schema change operation tests failure
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed, test

#17505 Rename CdfFileEntry to CdcEntry
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesSplitSource.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/CdcEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeTransactionLogEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/TransactionLogWriter.java
Labels: cla-signed, delta-lake

#17529 Use jvmkill Docker image when building Trino image
  core/docker/Dockerfile
Labels: cla-signed

#17526 Check table existence in Cassandra query table function tests
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed, no-release-notes

#17434 Update maven failsafe plugin to 3.1.0
  client/trino-jdbc/pom.xml
  core/trino-server-rpm/pom.xml
  pom.xml
Labels: cla-signed, jdbc, no-release-notes

#17533 Add dependency-reduced-pom.xml files to .gitignore
  .gitignore
Labels: cla-signed

#17534 Remove redundant version specification
  lib/trino-phoenix5-patched/pom.xml
Labels: cla-signed, no-release-notes

#17535 Fix improper maven plugin configuration
  pom.xml
Labels: cla-signed, no-release-notes

#17525 Fix handling of non-normalized paths for S3
  lib/trino-hdfs/src/main/java/io/trino/filesystem/hdfs/HadoopPaths.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestS3HadoopPaths.java
Labels: bug, cla-signed, correctness

#17511 Add rounding test for current_timestamp
  core/trino-main/src/test/java/io/trino/operator/scalar/timestamptz/TestCurrentTimestamp.java
Labels: cla-signed

#17541 Fix typo in Hive docs
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs

#17542 Change rebalancing log to debug
  core/trino-main/src/main/java/io/trino/operator/output/SkewedPartitionRebalancer.java
Labels: cla-signed

#17543 Add docs for EXECUTE IMMEDIATE
  docs/src/main/sphinx/language/sql-support.rst
  docs/src/main/sphinx/sql.rst
  docs/src/main/sphinx/sql/deallocate-prepare.rst
  docs/src/main/sphinx/sql/execute-immediate.rst
  docs/src/main/sphinx/sql/execute.rst
  docs/src/main/sphinx/sql/prepare.rst
Labels: cla-signed, docs

#17524 Rename catalog name in Delta Lake query runner
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/DeltaLakeQueryRunner.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFlushMetadataCacheProcedure.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeLegacyCreateTableWithExistingLocation.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakePartitioning.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/TestDeltaLakeMetastoreAccessOperations.java
Labels: cla-signed, no-release-notes, delta-lake

#16745 Use only latest Puffin files for Iceberg stats
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TableStatisticsReader.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TableStatisticsWriter.java
Labels: cla-signed, no-release-notes, iceberg

#17557 Update airlift to 231
  pom.xml
Labels: cla-signed

#17567 Update jackson to 2.15.1
  pom.xml
Labels: cla-signed

#17462 Attempt to close kudu scanner only one time
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduRecordCursor.java
Labels: cla-signed

#17570 Catch Throwable when Coral failed to convert views
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewReaderUtil.java
Labels: cla-signed, tests:hive, hive

#17552 Fix DeltaLake write operation when location is with trailing slash
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#17212 Avoid boxing booleans for equals on primitive types
  core/trino-main/src/main/java/io/trino/metadata/PolymorphicScalarFunction.java
  core/trino-main/src/main/java/io/trino/sql/gen/JoinCompiler.java
  core/trino-main/src/main/java/io/trino/type/BlockTypeOperators.java
  core/trino-main/src/test/java/io/trino/type/AbstractTestType.java
  core/trino-spi/src/main/java/io/trino/spi/function/InvocationConvention.java
  core/trino-spi/src/main/java/io/trino/spi/function/ScalarFunctionAdapter.java
  core/trino-spi/src/main/java/io/trino/spi/predicate/EquatableValueSet.java
  core/trino-spi/src/main/java/io/trino/spi/predicate/NullableValue.java
  core/trino-spi/src/main/java/io/trino/spi/predicate/SortedRangeSet.java
  core/trino-spi/src/test/java/io/trino/spi/function/TestScalarFunctionAdapter.java
Labels: cla-signed

#17574 Disable creation of reduced pom during shading
  testing/trino-product-tests-launcher/pom.xml
Labels: cla-signed

#17569 Cache AccumulatorFactory instances basing on last access time
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed

#17539 Make it easy to run all secrets-requiring tests
  .github/workflows/ci.yml
Labels: no-release-notes

#17581 Ensure FileSystem not GCed while RemoteIterator in use
  lib/trino-hdfs/src/main/java/io/trino/hdfs/TrinoFileSystemCache.java
Labels: cla-signed, RELEASE-BLOCKER

#17548 Use `Location` method for doing path concatenation
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
Labels: cla-signed, no-release-notes, delta-lake

#17584 Revert "Make it easy to run all secrets-requiring tests"
  .github/workflows/ci.yml
Labels: cla-signed, no-release-notes

#17578 Fix testIdentityColumn in Delta Lake product tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
Labels: cla-signed, tests:hive, no-release-notes

#17590 Add DeltaLakeInsertTableHandle.toString()
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeInsertTableHandle.java
Labels: cla-signed, delta-lake

#17591 Disable creation of reduced pom during shading
  testing/trino-product-tests/pom.xml
Labels: cla-signed, tests:hive

#16024 Add the `array_histogram` operator
  core/trino-main/src/main/java/io/trino/metadata/SystemFunctionBundle.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/histogram/SingleTypedHistogram.java
  core/trino-main/src/main/java/io/trino/operator/scalar/ArrayHistogramFunction.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestTypedHistogram.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestArrayHistogramFunction.java
  docs/src/main/sphinx/functions/array.rst
Labels: cla-signed, docs

#17603 Always report actual S3 key when operation fails
  lib/trino-hdfs/src/main/java/io/trino/hdfs/s3/TrinoS3FileSystem.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystem.java
Labels: cla-signed, no-release-notes

#17580 Add a note about TrinoFileSystemCache.cacheSize consistency
  lib/trino-hdfs/src/main/java/io/trino/hdfs/TrinoFileSystemCache.java
Labels: no-release-notes

#17550 Retry dropping Delta tables in product test
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeActiveFilesCache.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeRedirect.java
Labels: cla-signed, tests:hive, no-release-notes

#17609 Remove defunct write partitioning property
  docs/src/main/sphinx/admin/properties-write-partitioning.rst
Labels: cla-signed, docs

#17551 Migrate trino-base-jdbc to AssertJ
  plugin/trino-base-jdbc/pom.xml
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseCaseInsensitiveMappingTest.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/MetadataUtil.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestBaseJdbcConfig.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestDefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestDefaultJdbcQueryBuilder.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcDynamicFilteringSplitManager.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcRecordSet.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcRecordSetProvider.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcSplit.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcTableProperties.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJmxStats.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestRemoteTableName.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestRetryingConnectionFactory.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/credential/TestCredentialProvider.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/credential/TestExtraCredentialProvider.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/expression/TestExpressionMappingParser.java
Labels: cla-signed

#17585 Set default file format in Iceberg migrate procedure
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
Labels: cla-signed, iceberg

#17587 Deny array, map and row types in Iceberg migrate procedure
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
Labels: cla-signed, iceberg

#17599 Add parquet writer session property validations
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
Labels: cla-signed, iceberg, delta-lake

#17615 Fix TrinoS3FileSystem.close when initialization fails
  lib/trino-hdfs/src/main/java/io/trino/hdfs/s3/TrinoS3FileSystem.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/TestFSDataInputStreamTail.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystem.java
Labels: cla-signed

#17612 Improve integer and short decimal decoders in parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/IntBitUnpackers.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/ShortDecimalFixedWidthByteArrayBatchDecoder.java
Labels: cla-signed, tests:hive

#17014 Add error handling for saturated floor cast
  core/trino-main/src/main/java/io/trino/sql/planner/DomainTranslator.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDomainTranslator.java
Labels: cla-signed

#17458 Cache symbols and subexpressions for expression
  core/trino-main/src/main/java/io/trino/sql/planner/EffectivePredicateExtractor.java
  core/trino-main/src/main/java/io/trino/sql/planner/EqualityInference.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ReorderJoins.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/PredicatePushDown.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestEffectivePredicateExtractor.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestEqualityInference.java
Labels: cla-signed

#17252 Add doc for table_changes function
  docs/src/main/sphinx/connector/delta-lake.rst
Labels: cla-signed, docs

#17625 Remove PARQUET_WRITER_MIN_BLOCK_SIZE config validation
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetWriterConfig.java
Labels: cla-signed, tests:hive, delta-lake, hive

#17630 Update log properties documentation
  docs/src/main/sphinx/admin/properties-logging.rst
Labels: cla-signed, docs

#17638 Rename BigQueryProxyConfig properties names
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryProxyConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryProxyConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryWithProxyConnectorSmokeTest.java
Labels: cla-signed, bigquery

#17629 Make GC prevention logic in TrinoFileSystemCache more obvious
  lib/trino-hdfs/src/main/java/io/trino/hdfs/TrinoFileSystemCache.java
Labels: cla-signed

#17617 Refactor HudiPageSourceProvider#createPageSource
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiPageSourceProvider.java
Labels: cla-signed, hudi

#17645 Remove unused field
  core/trino-main/src/main/java/io/trino/execution/executor/TaskExecutor.java
Labels: cla-signed

#17560 Use Location API for path concatenation when cleaning extra output files after DML in Delta
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#17650 Fix incorrect @BeforeTest usages
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcTableProperties.java
  plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleSmoke.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/util/TestCassandraClusteringPredicatesExtractor.java
  testing/trino-testing-services/src/test/java/io/trino/testng/services/TestReportPrivateMethods.java
Labels: cla-signed, test, no-release-notes

#17596 Create tasks all at once on first assignment of HashDistributionSplitAssigner
  core/trino-main/src/main/java/io/trino/execution/scheduler/HashDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestHashDistributionSplitAssigner.java
Labels: cla-signed

#17360 Allow web ui authentication type in uppercase
  core/trino-main/src/main/java/io/trino/server/ui/WebUiAuthenticationModule.java
  core/trino-main/src/test/java/io/trino/server/ui/TestWebUi.java
Labels: cla-signed

#17652 Fix rendering json_table column properties in SqlFormatter
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
Labels: no-release-notes

#17633 Refactor BaseConnectorTest#testComment* to reduce queries
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#17414 Add projection pushdown tests in BaseConnectorTest
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-druid/src/test/java/io/trino/plugin/druid/BaseDruidConnectorTest.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/BaseElasticsearchConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/BaseHudiConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaConnectorTest.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryConnectorTest.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoConnectorTest.java
  plugin/trino-redis/src/test/java/io/trino/plugin/redis/BaseRedisConnectorTest.java
  plugin/trino-thrift/src/test/java/io/trino/plugin/thrift/integration/TestThriftConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingConnectorBehavior.java
Labels: cla-signed, tests:hive, no-release-notes, hudi, iceberg, delta-lake, hive, bigquery, mongodb

#17653 Fix testSelectAllDatatypesParquetFile flakiness
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestAllDatatypesFromHiveConnector.java
Labels: cla-signed, tests:hive

#14246 Simplify Accumulator
  core/trino-main/src/main/java/io/trino/operator/aggregation/AccumulatorCompiler.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/AccumulatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/AggregationMaskBuilder.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/AggregationMaskCompiler.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/Aggregator.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/AggregatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/CompiledAccumulatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/DistinctAccumulatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/GroupedAggregator.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/OrderedAccumulatorFactory.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/BenchmarkAggregationMaskBuilder.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/InterpretedAggregationMaskBuilder.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestAccumulatorCompiler.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestAggregationMaskCompiler.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestingAggregationFunction.java
  testing/trino-benchmark/src/main/java/io/trino/benchmark/BenchmarkAggregationFunction.java
Labels: cla-signed

#17655 Improve migrate procedure docs for Iceberg
  docs/src/main/sphinx/connector/iceberg.rst
Labels: cla-signed, docs

#17691 Use `containsExactlyInOrder` in `TestDeltaLakeDatabricksUpdates`
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksUpdates.java
Labels: cla-signed, tests:hive, no-release-notes

#17699 Upgrade antlr version to 4.13.0
  pom.xml
Labels: cla-signed

#17695 Avoid ThreadLocalRandom in BenchmarkDecimalAggregation
  core/trino-main/src/test/java/io/trino/operator/aggregation/BenchmarkDecimalAggregation.java
Labels: cla-signed

#17698 Disable creation of reduced pom during shading
  testing/trino-plugin-reader/pom.xml
Labels: cla-signed
