Repository trinodb/trino, pull requests merged in 2023-11, with the labels that each got.

#19601 Fix handling of inline functions in pushdown
  core/trino-main/src/main/java/io/trino/sql/planner/ConnectorExpressionTranslator.java
Labels: cla-signed

#19592 Fix kafka protoc compile error
  plugin/trino-kafka/pom.xml
  pom.xml
Labels: cla-signed

#19603 Support register_table and unregister_table procedure in Iceberg REST catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergTrinoRestCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#19562 Add tests for inline function
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#19547 Remove redundant ORDER BY in CREATE TABLE AS queries
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
Labels: cla-signed

#19606 Update JLine to 3.24.1
  client/trino-cli/pom.xml
Labels: cla-signed, RELEASE-BLOCKER

#19608 Move inline function test to dedicated class
  core/trino-main/src/test/java/io/trino/sql/query/TestInlineFunctions.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#19584 Static import type constants in CheckpointSchemaManager
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointSchemaManager.java
Labels: cla-signed, no-release-notes, delta-lake

#17725 Support additional configurations for Nessie catalog
  docs/src/main/sphinx/connector/metastores.md
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/IcebergNessieCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/IcebergNessieCatalogModule.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergPlugin.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestIcebergNessieCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestIcebergNessieCatalogWithBearerAuth.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/containers/KeycloakContainer.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/containers/NessieContainer.java
Labels: cla-signed, docs, iceberg

#19611 Remove late materialization support
  core/trino-main/src/main/java/io/trino/FeaturesConfig.java
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/operator/FilterAndProjectOperator.java
  core/trino-main/src/main/java/io/trino/operator/ScanFilterAndProjectOperator.java
  core/trino-main/src/main/java/io/trino/operator/TableScanOperator.java
  core/trino-main/src/main/java/io/trino/operator/TableScanWorkProcessorOperator.java
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorOperatorAdapter.java
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorPipelineSourceOperator.java
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorSourceOperatorAdapter.java
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessor.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/test/java/io/trino/operator/TestWorkProcessorPipelineSourceOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestWorkProcessorSourceOperatorAdapter.java
  core/trino-main/src/test/java/io/trino/operator/project/TestPageProcessor.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestFeaturesConfig.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
  testing/trino-tests/src/test/java/io/trino/tests/TestLateMaterializationQueries.java
Labels: cla-signed, release-notes

#18151 Fix formatting of json_table columns in SqlFormatter
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
Labels: cla-signed

#19616 Remove unnecessary logging
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/containers/KeycloakContainer.java
Labels: cla-signed, iceberg

#19599 Add Trino 432 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-432.md
Labels: cla-signed, release-notes, docs

#19571 Add boolean to varchar coercion for hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/BooleanCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestBooleanCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, tests:hive, hive

#19617 Update arrow to 14.0.0
  pom.xml
Labels: cla-signed

#19568 Always use lowercase Hive types
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestMetastoreUtil.java
Labels: cla-signed, tests:hive, hive

#19622 Add filename to metadata missing exception in parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
Labels: cla-signed, tests:hive

#19619 Update usage of deprecated APIs
  core/trino-main/src/main/java/io/trino/operator/scalar/CharacterStringCasts.java
Labels: cla-signed

#19635 Move Hadoop S3 filesystem tests to HDFS module
  .github/workflows/ci.yml
  lib/trino-hdfs/pom.xml
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/AbstractTestTrinoS3FileSystem.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystemAwsS3.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystemMinio.java
  plugin/trino-hive/pom.xml
Labels: cla-signed, tests:hive, hive

#19630 Update the developer guide after last SPI changes
  docs/src/main/sphinx/develop/connectors.md
Labels: cla-signed, docs

#19642 Remove outdated TODO comment
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, no-release-notes, delta-lake

#19426 Remove usage of deprecated methods in elasticsearch client
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/BackpressureRestClient.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/BackpressureRestHighLevelClient.java
Labels: cla-signed

#19589 Fix PartitionedOutputOperator metrics
  core/trino-main/src/main/java/io/trino/operator/output/PagePartitioner.java
  core/trino-main/src/main/java/io/trino/operator/output/PartitionedOutputOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestOperatorStats.java
  core/trino-main/src/test/java/io/trino/operator/output/TestPagePartitioner.java
  core/trino-main/src/test/java/io/trino/operator/output/TestPartitionedOutputOperator.java
Labels: cla-signed

#19612 Document create/drop catalog
  docs/src/main/sphinx/admin/properties-catalog.md
  docs/src/main/sphinx/admin/properties.md
  docs/src/main/sphinx/language/sql-support.md
  docs/src/main/sphinx/sql.md
  docs/src/main/sphinx/sql/create-catalog.md
  docs/src/main/sphinx/sql/drop-catalog.md
Labels: cla-signed, docs

#19646 Fix incorrect activation of HDFS file system tests
  .github/workflows/ci.yml
Labels: cla-signed

#19647 Sort plugins in server provisio configuration
  core/trino-server/src/main/provisio/trino.xml
Labels: cla-signed

#19648 Add missing Test annotation for Redshift test
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftAutomaticJoinPushdown.java
Labels: cla-signed

#19653 Increase timeout when scaling cluster in test
  testing/trino-testing/src/main/java/io/trino/testing/DistributedQueryRunner.java
Labels: cla-signed

#19607 Update airbase to 148
  client/trino-jdbc/pom.xml
  core/trino-spi/pom.xml
  lib/trino-parquet/pom.xml
  plugin/trino-base-jdbc/pom.xml
  plugin/trino-bigquery/pom.xml
  plugin/trino-cassandra/pom.xml
  plugin/trino-clickhouse/pom.xml
  plugin/trino-delta-lake/pom.xml
  plugin/trino-druid/pom.xml
  plugin/trino-hive-hadoop2/pom.xml
  plugin/trino-hudi/pom.xml
  plugin/trino-ignite/pom.xml
  plugin/trino-kafka/pom.xml
  plugin/trino-kinesis/pom.xml
  plugin/trino-kudu/pom.xml
  plugin/trino-mariadb/pom.xml
  plugin/trino-memory/pom.xml
  plugin/trino-mysql/pom.xml
  plugin/trino-oracle/pom.xml
  plugin/trino-phoenix5/pom.xml
  plugin/trino-pinot/pom.xml
  plugin/trino-postgresql/pom.xml
  plugin/trino-prometheus/pom.xml
  plugin/trino-raptor-legacy/pom.xml
  plugin/trino-redis/pom.xml
  plugin/trino-redshift/pom.xml
  plugin/trino-session-property-managers/pom.xml
  plugin/trino-singlestore/pom.xml
  plugin/trino-sqlserver/pom.xml
  plugin/trino-thrift-testing-server/pom.xml
  pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-testing/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, jdbc, tests:hive, hudi, delta-lake, hive, bigquery

#18143 Add GCS filesystem
  .github/workflows/ci.yml
  lib/trino-filesystem-gcs/pom.xml
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/DefaultGcsStorageFactory.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileIterator.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystem.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystemConfig.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystemFactory.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystemModule.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsInput.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsInputFile.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsInputStream.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsLocation.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsOutputFile.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsOutputStream.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsStorageFactory.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsUtils.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/AbstractTestGcsFileSystem.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemConfig.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemGcs.java
  lib/trino-filesystem-manager/pom.xml
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemConfig.java
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemModule.java
  lib/trino-filesystem-manager/src/test/java/io/trino/filesystem/manager/TestFileSystemConfig.java
  pom.xml
Labels: cla-signed, tests:hive

#19517 Add varchar to double coercion for hive tables
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/VarcharToDoubleCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestVarcharToDoubleCoercer.java
  plugin/trino-hive/src/test/sql/create-test.sql
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, tests:hive, hive

#19520 Add tinyint/smallint/integer/bigint to double coercion for hive tables
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/IntegerNumberToDoubleCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestIntegerNumberToDoubleCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, release-notes, tests:hive, hive

#19666 Fix trino-filesystem-gcs tests
  lib/trino-filesystem-gcs/pom.xml
Labels: cla-signed, tests:hive

#19668 Rerder fields and methods in MemoryManagerConfig
  core/trino-main/src/main/java/io/trino/memory/MemoryManagerConfig.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryManagerConfig.java
Labels: cla-signed

#19538 Fix long planning times for LocalExchange plans
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/PropertyDerivations.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/StreamPropertyDerivations.java
Labels: cla-signed

#19658 Increase tolerance in MariaDB testBasic stats tests
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/BaseMariaDbTableStatisticsTest.java
Labels: cla-signed

#19665 Migrate tests to JUnit
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/AbstractTestTrinoS3FileSystem.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystemAwsS3.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystemMinio.java
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/TestHiveThriftMetastoreWithS3.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestDateCoercer.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/BaseCachingDirectoryListerTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestCachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestCachingDirectoryListerRecursiveFilesOnly.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestTransactionScopeCachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/orc/TestOrcWriterOptions.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestTimestamp.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/TestHiveS3MinioQueries.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergGetTableStatisticsOperations.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteJdbcConfig.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgnitePlugin.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestInternalFieldConflict.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaConfig.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaFilterManager.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaIntegrationPushDown.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaInternalFieldManager.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaPlugin.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaSslConfig.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestMinimalFunctionality.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/encoder/json/TestCustomJsonDateTimeFormatter.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/encoder/json/TestISO8601JsonDateTimeFormatter.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/encoder/json/TestJsonEncoder.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/encoder/json/TestRFC2822JsonDateTimeFormatter.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/encoder/raw/TestRawEncoderMapping.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/protobuf/TestKafkaProtobufWithSchemaRegistryMinimalFunctionality.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestAvroConfluentContentSchemaProvider.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestAvroConfluentRowDecoder.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestAvroSchemaConverter.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestClassLoaderSafeSchemaRegistryClient.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestConfluentSchemaRegistryConfig.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestConfluentSchemaRegistryTableDescriptionSupplier.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestForwardingSchemaParser.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestKafkaWithConfluentSchemaRegistryMinimalFunctionality.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/file/TestFileTableDescriptionSupplierConfig.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/utils/TestPropertiesUtils.java
  plugin/trino-kinesis/pom.xml
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisConfig.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisPlugin.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisTableDescriptionSupplier.java
Labels: cla-signed, tests:hive, iceberg, hive

#19682 Improve breaking change release notes render
  docs/src/main/sphinx/conf.py
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-432.md
Labels: cla-signed, release-notes, docs

#19623 Expose EventListenerManager benchmarks through JMX
  core/trino-main/src/main/java/io/trino/eventlistener/EventListenerManager.java
  core/trino-main/src/main/java/io/trino/eventlistener/EventListenerModule.java
Labels: cla-signed

#19626 Fix resource group keep setting incorrect softMemoryLimit
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/AbstractResourceConfigurationManager.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/TestQueuesDb.java
Labels: cla-signed

#19690 Add `@Execution(SAME_THREAD)` to TestDeltaLakeMetastoreAccessOperations
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/TestDeltaLakeMetastoreAccessOperations.java
Labels: cla-signed, no-release-notes, delta-lake

#19645 Convert source for tables in connector docs to markdown
  docs/src/main/sphinx/connector/accumulo.md
  docs/src/main/sphinx/connector/atop.md
  docs/src/main/sphinx/connector/avro-decoder.fragment
  docs/src/main/sphinx/connector/bigquery.md
  docs/src/main/sphinx/connector/cassandra.md
  docs/src/main/sphinx/connector/clickhouse.md
  docs/src/main/sphinx/connector/csv-decoder.fragment
  docs/src/main/sphinx/connector/delta-lake.md
  docs/src/main/sphinx/connector/druid.md
  docs/src/main/sphinx/connector/elasticsearch.md
  docs/src/main/sphinx/connector/googlesheets.md
  docs/src/main/sphinx/connector/hive-azure.md
  docs/src/main/sphinx/connector/hive-caching.md
  docs/src/main/sphinx/connector/hive-gcs-tutorial.md
  docs/src/main/sphinx/connector/hive-s3.md
  docs/src/main/sphinx/connector/hive-security.md
  docs/src/main/sphinx/connector/hive.md
  docs/src/main/sphinx/connector/hudi.md
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/connector/ignite.md
  docs/src/main/sphinx/connector/kafka.md
  docs/src/main/sphinx/connector/kudu.md
  docs/src/main/sphinx/connector/mariadb.md
  docs/src/main/sphinx/connector/metastores.md
  docs/src/main/sphinx/connector/mongodb.md
  docs/src/main/sphinx/connector/mysql.md
  docs/src/main/sphinx/connector/object-storage-file-formats.md
  docs/src/main/sphinx/connector/oracle.md
  docs/src/main/sphinx/connector/phoenix.md
  docs/src/main/sphinx/connector/pinot.md
  docs/src/main/sphinx/connector/postgresql.md
  docs/src/main/sphinx/connector/prometheus.md
  docs/src/main/sphinx/connector/singlestore.md
  docs/src/main/sphinx/connector/sqlserver.md
  docs/src/main/sphinx/connector/system.md
  docs/src/main/sphinx/develop/client-protocol.md
  docs/src/main/sphinx/develop/connectors.md
Labels: cla-signed, docs

#19694 Fix routine example for case
  docs/src/main/sphinx/routines/case.md
  docs/src/main/sphinx/routines/function.md
  docs/src/main/sphinx/routines/return.md
Labels: cla-signed

#19685 Fix ARRAY hash code when array value uses a dictionary block
  core/trino-spi/src/main/java/io/trino/spi/type/ArrayType.java
Labels: cla-signed

#19697 Fix reads of 0 length on parquet decoders
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/DeltaByteArrayDecoders.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/ShortDecimalFixedWidthByteArrayBatchDecoder.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/decoders/AbstractValueDecodersTest.java
Labels: bug, cla-signed, tests:hive

#19696 Rename `gcs.projectId` to `gcs.project-id` config property
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystemConfig.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemConfig.java
Labels: cla-signed, tests:hive

#19698 Fix incorrect result of query table function with projection in BigQuery
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryQueryPageSource.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: bug, cla-signed, correctness, bigquery

#19343 Use dedicated schemas in Delta Lake smoke tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
Labels: cla-signed, delta-lake

#19701 Improve routine docs for loop and begin
  docs/src/main/sphinx/routines/begin.md
  docs/src/main/sphinx/routines/loop.md
Labels: cla-signed, docs

#19660 Add Trino 433 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-433.md
Labels: cla-signed, release-notes, docs

#19705 Restore release preparation goals
  pom.xml
Labels: cla-signed, RELEASE-BLOCKER

#19692 Ensure cleanupQuery gets called for procedures
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/util/UncheckedCloseable.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesFunction.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/DropExtendedStatsProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/RegisterTableProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/UnregisterTableProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaLakeGlueMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/CreateEmptyPartitionProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/DropStatsProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/RegisterPartitionProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/SyncPartitionMetadataProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/UnregisterPartitionProcedure.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseS3AndGlueMetastoreTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveS3AndGlueMetastoreTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergS3AndGlueMetastoreTest.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#19703 Fix non-deterministic construction of Kafka plugin
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaConnectorFactory.java
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaPlugin.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/KafkaQueryRunner.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/KafkaQueryRunnerBuilder.java
Labels: cla-signed

#19691 Remove redundant synchronization around cleanupQuery
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
Labels: cla-signed

#19513 Add timestamp to date schema evolution for hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/TimestampCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestTimestampCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, release-notes, ready to merge, tests:hive, hive

#19709 Migrate tests to JUnit
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcFailureRecoveryTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryFailureRecoveryTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaFailureRecoveryTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveFailureRecoveryTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveQueryFailureRecoveryTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveTaskFailureRecoveryTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergFailureRecoveryTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergQueryFailureRecoveryTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergTaskFailureRecoveryTest.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/BaseMongoFailureRecoveryTest.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlFailureRecoveryTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleFailureRecoveryTest.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/BasePostgresFailureRecoveryTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/BaseRedshiftFailureRecoveryTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftQueryFailureRecoverySmokeTest.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerFailureRecoveryTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
  testing/trino-testing/src/main/java/io/trino/testing/ExtendedFailureRecoveryTest.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive, bigquery, mongodb

#19713 Add missing `@Test` annotation
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryFailureRecoveryTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/BaseRedshiftFailureRecoveryTest.java
Labels: cla-signed, bigquery

#19714 Increase Spark memory in Delta product test
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-oss/spark-defaults.conf
Labels: cla-signed

#19683 Fix possible race condition in Worker SqlTaskManager
  core/trino-main/src/main/java/io/trino/connector/CatalogPruneTask.java
  core/trino-main/src/main/java/io/trino/connector/CoordinatorDynamicCatalogManager.java
  core/trino-main/src/main/java/io/trino/connector/StaticCatalogManager.java
  core/trino-main/src/main/java/io/trino/connector/WorkerDynamicCatalogManager.java
  core/trino-main/src/main/java/io/trino/execution/SqlTaskManager.java
  core/trino-main/src/main/java/io/trino/metadata/CatalogManager.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanFragment.java
  core/trino-main/src/test/java/io/trino/connector/TestingLocalCatalogPruneTask.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskManagerRaceWithCatalogPrune.java
Labels: cla-signed

#19655 Add cause of failures in ThriftHiveMetastore
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/SchemaAlreadyExistsException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TableAlreadyExistsException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
Labels: cla-signed, tests:hive, no-release-notes, iceberg, hive

#19718 Remove testCreateTableIfNotExists in BigQuery
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#19728 Use SslUtils.createSSLContext in Hive connector
  plugin/trino-hive/pom.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/DefaultThriftMetastoreClientFactory.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#19734 Remove outdated SPI revapi exclusions
  core/trino-spi/pom.xml
Labels: cla-signed

#19736 Do not require all sinks to be finished in FileSystemExchange
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/FileSystemExchange.java
Labels: cla-signed

#19742 Add missing Test annotations
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#19732 Remove storing TableSnapshot when multiple tables queried
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#19746 Remove unnecessary override method in PhoenixMetadata
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
Labels: cla-signed

#19739 Skip archiving in Glue an old table version during a table update operation
  docs/src/main/sphinx/connector/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/IcebergGlueCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogSkipArchive.java
Labels: cla-signed, docs, iceberg

#19750 Deprecate old ConstraintApplicationResult constructor
  core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaMetadata.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemTablesMetadata.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestTableScanRedirectionWithPushdown.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushPredicateIntoTableScan.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestRemoveEmptyUnionBranches.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConstraintApplicationResult.java
  plugin/trino-accumulo/src/main/java/io/trino/plugin/accumulo/AccumuloMetadata.java
  plugin/trino-atop/src/main/java/io/trino/plugin/atop/AtopMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiMetadata.java
  plugin/trino-jmx/src/main/java/io/trino/plugin/jmx/JmxMetadata.java
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaMetadata.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduMetadata.java
  plugin/trino-local-file/src/main/java/io/trino/plugin/localfile/LocalFileMetadata.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoMetadata.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotMetadata.java
  plugin/trino-prometheus/src/main/java/io/trino/plugin/prometheus/PrometheusMetadata.java
  plugin/trino-raptor-legacy/src/main/java/io/trino/plugin/raptor/legacy/RaptorMetadata.java
  plugin/trino-redis/src/main/java/io/trino/plugin/redis/RedisMetadata.java
  plugin/trino-thrift/src/main/java/io/trino/plugin/thrift/ThriftMetadata.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchMetadata.java
Labels: cla-signed, tests:hive, hudi, delta-lake, hive, bigquery, mongodb

#19756 Migrate TestHivePlugin to JUnit
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/TestHivePlugin.java
Labels: cla-signed, tests:hive, hive

#19720 Expand docs for Hive schema evolution type conversions
  docs/src/main/sphinx/connector/hive.md
Labels: cla-signed, docs

#19712 Add TracingHiveMetastore
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
  plugin/trino-hive/pom.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/DecoratedHiveMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/HiveMetastoreDecorator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/tracing/MetastoreAttributes.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/tracing/Tracing.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/tracing/TracingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/tracing/TracingHiveMetastoreDecorator.java
Labels: cla-signed, tests:hive, delta-lake, hive

#19752 Fix broken link in doc
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#19588 Add support for partition pruning in Delta checkpoint iterator
  docs/src/main/sphinx/connector/delta-lake.md
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConfig.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointSchemaManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestingDeltaLakeUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTableSnapshot.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointEntryIterator.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/statistics/TestDeltaLakeFileStatistics.java
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000001.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000002.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000003.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/int_part=10/string_part=part1/part-00000-383afb1a-87de-4e70-86ab-c21ae44c7f3f.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/int_part=20/string_part=part2/part-00000-e0b4887e-95f6-4ce1-b96c-32c5cf472476.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed/int_part=__HIVE_DEFAULT_PARTITION__/string_part=__HIVE_DEFAULT_PARTITION__/part-00000-dcb29d13-eeca-4fa6-a8bf-860da0131a5c.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/_delta_log/00000000000000000003.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/part_boolean=__HIVE_DEFAULT_PARTITION__/part_tinyint=__HIVE_DEFAULT_PARTITION__/part_smallint=__HIVE_DEFAULT_PARTITION__/part_int=__HIVE_DEFAULT_PARTITION__/part_bigint=__HIVE_DEFAULT_PARTITION__/part_short_decimal=__HIVE_DEFAULT_PARTITION__/part_long_decimal=__HIVE_DEFAULT_PARTITION__/part_double=__HIVE_DEFAULT_PARTITION__/part_float=__HIVE_DEFAULT_PARTITION__/part_varchar=__HIVE_DEFAULT_PARTITION__/part_date=__HIVE_DEFAULT_PARTITION__/part_timestamp=__HIVE_DEFAULT_PARTITION__/part_timestamp_ntz=__HIVE_DEFAULT_PARTITION__/part-00000-194b12f4-b133-4363-81b6-aeaea00fff6d.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/part_boolean=false/part_tinyint=2/part_smallint=20/part_int=200/part_bigint=2000/part_short_decimal=223.12/part_long_decimal=223456789012345678.123/part_double=10.2/part_float=30.4/part_varchar=b/part_date=2020-08-22/part_timestamp=2020-10-22 01%3A00%3A00.123/part_timestamp_ntz=2023-01-03 01%3A02%3A03.456/part-00000-b0b98900-4fe4-4c22-ad51-909b9600e221.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/partition_values_parsed_all_types/part_boolean=true/part_tinyint=1/part_smallint=10/part_int=100/part_bigint=1000/part_short_decimal=123.12/part_long_decimal=123456789012345678.123/part_double=1.2/part_float=3.4/part_varchar=a/part_date=2020-08-21/part_timestamp=2020-10-21 01%3A00%3A00.123/part_timestamp_ntz=2023-01-02 01%3A02%3A03.456/part-00000-0c74f71e-bb8b-4156-8560-bd819942f7fd.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/README.md
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000001.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000002.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000003.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/_delta_log/_trino_meta/extended_stats.json
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/int_part=10/string_part=part1/20231109_020343_00032_9eakg_302b745a-59c0-4fce-8ca7-fed724196b93
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/int_part=20/string_part=part2/20231109_020344_00033_9eakg_e6448c08-9b43-4fa1-8288-823fd3d692b9
  plugin/trino-delta-lake/src/test/resources/trino432/partition_values_parsed/int_part=__HIVE_DEFAULT_PARTITION__/string_part=__HIVE_DEFAULT_PARTITION__/20231109_020350_00034_9eakg_2a008dd8-da7f-496a-b404-ca455732578e
Labels: cla-signed, docs, delta-lake

#19776 Add table functions to hive connector
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConnector.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/InternalHiveConnectorFactory.java
Labels: cla-signed, tests:hive, hive

#19699 Pushdown predicates fully in BigQuery connector
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryColumnHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryFilterQueryBuilder.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryPseudoColumn.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryType.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ColumnMapping.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/Conversions.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#19774 Fix announcement delay for TestingTrinoServer
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcExternalAuthentication.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcPreparedStatement.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcWarnings.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDatabaseMetaData.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriver.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriverAuth.java
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  core/trino-main/src/test/java/io/trino/server/security/oauth2/BaseOAuth2WebUiAuthenticationFilterTest.java
  core/trino-main/src/test/java/io/trino/server/security/oauth2/TestOAuth2WebUiAuthenticationFilterWithRefreshTokens.java
  testing/trino-testing/src/main/java/io/trino/testing/DistributedQueryRunner.java
Labels: cla-signed, jdbc

#19773 Migrate tests to JUnit
  lib/trino-hdfs/pom.xml
  lib/trino-hdfs/src/test/java/io/trino/hdfs/TestFSDataInputStreamTail.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/TestFileSystemCache.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/cache/TestCachingHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestTimestampMicros.java
  plugin/trino-kinesis/pom.xml
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisPlugin.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisTableDescriptionSupplier.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestMinimalFunctionality.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestRecordAccess.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/s3config/TestS3TableConfigClient.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/util/TestUtils.java
Labels: cla-signed, tests:hive, hive

#19767 Run BigQuery Arrow and FTE tests in a separated profile
  .github/workflows/ci.yml
  plugin/trino-bigquery/pom.xml
Labels: cla-signed, bigquery

#19782 Remove obsoleted config from doc
  docs/src/main/sphinx/admin/session-property-managers.md
Labels: cla-signed, docs

#19786 Disable TestGcsFileSystemGcs temporarily
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemGcs.java
Labels: cla-signed, tests:hive

#19777 Verify negative SUPPORTS_CREATE_FUNCTION declarations
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#19763 Fix X-Trino-Authorization-User typo
  core/trino-main/src/test/java/io/trino/server/security/TestResourceSecurity.java
  docs/src/main/sphinx/develop/client-protocol.md
Labels: cla-signed, docs

#19727 Extract fields by names in CheckpointEntryIterator
  lib/trino-parquet/src/main/java/io/trino/parquet/Column.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/ParquetTestUtils.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointFieldReader.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
Labels: cla-signed, tests:hive, no-release-notes, iceberg, delta-lake, hive

#19791 Remove unused fields from BigQueryColumnHandle
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryColumnHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryPseudoColumn.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/Conversions.java
Labels: cla-signed, bigquery

#19797 Add junit-extensions to test classpaths
  client/trino-client/pom.xml
  core/trino-server/pom.xml
  lib/trino-filesystem-gcs/pom.xml
  plugin/trino-atop/pom.xml
  testing/trino-benchmark-queries/pom.xml
Labels: cla-signed, test, tests:hive, no-release-notes

#19787 Document schema evolution for Iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs, iceberg

#19812 Document missing extended-statistics properties in Iceberg connector
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#19803 Remove support for pre-Puffin Iceberg stats
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TableStatisticsReader.java
Labels: cla-signed, iceberg

#19824 Remove flaky assertion in SQL Server testCreateTableAsSelectWriteBulkiness
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/TestSqlServerConnectorTest.java
Labels: cla-signed

#19793 Change property from `max_writer_tasks_count` to `max_writer_task_count`
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestLimitMaxWriterNodesCount.java
  docs/src/main/sphinx/admin/properties-query-management.md
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/hive/TestHiveFaultTolerantExecutionConnectorTest.java
Labels: cla-signed, docs, tests:hive, hive

#19759 Refactor RunLengthEncodedBlock hash combination logic
  core/trino-main/src/main/java/io/trino/operator/FlatHashStrategyCompiler.java
  core/trino-main/src/main/java/io/trino/operator/scalar/CombineHashFunction.java
Labels: cla-signed

#19693 Catch all "not found" exceptions
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TrinoViewHiveMetastore.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
Labels: cla-signed, tests:hive, iceberg, hive

#19831 Fix loop index range in CombineHashFunction
  core/trino-main/src/main/java/io/trino/operator/scalar/CombineHashFunction.java
Labels: bug, cla-signed

#19710 Improve docs for MERGE
  docs/src/main/sphinx/sql/merge.md
Labels: cla-signed, docs

#19768 Convert more docs to markdown source
  docs/src/main/sphinx/client/jdbc.md
  docs/src/main/sphinx/conf.py
  docs/src/main/sphinx/connector/jdbc-common-configurations.fragment
  docs/src/main/sphinx/connector/join-pushdown-enabled-true.fragment
  docs/src/main/sphinx/connector/json-decoder.fragment
  docs/src/main/sphinx/connector/mongodb.md
  docs/src/main/sphinx/connector/raw-decoder.fragment
  docs/src/main/sphinx/connector/system.md
  docs/src/main/sphinx/sql/reset-session-authorization.md
  docs/src/main/sphinx/sql/reset-session-authorization.rst
  docs/src/main/sphinx/sql/set-session-authorization.md
  docs/src/main/sphinx/sql/set-session-authorization.rst
Labels: cla-signed, docs

#19802 Update s3mock-testcontainers to 3.2.0
  pom.xml
Labels: cla-signed

#18507 Improve doc for Window functions
  docs/src/main/sphinx/functions/window.md
Labels: cla-signed, docs

#19838 Move testNonDeltaTablesCannotBeAccessed in Delta Lake
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeSharedMetastoreViewsTest.java
Labels: cla-signed, no-release-notes, delta-lake

#19852 Simplify MetadataManager::getMaterializedView
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
Labels: cla-signed

#19851 Downgrade Oracle JDBC driver to LTS 19.21.0.0
  client/trino-jdbc/pom.xml
  plugin/trino-oracle/pom.xml
  plugin/trino-resource-group-managers/pom.xml
  pom.xml
Labels: cla-signed, jdbc

#18897 Use Storage write API in BigQuery connector
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConnectorModule.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryErrorCode.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryGrpcOptionsConfigurer.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryOptionsConfigurer.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryPageSink.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryPageSinkProvider.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryTypeManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryTypeUtils.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryWriteClientFactory.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/CredentialsOptionsConfigurer.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/RemoteTableName.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/RetryOptionsConfigurer.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryTypeMapping.java
Labels: cla-signed, bigquery

#19845 Fix TestShardOrganizer.testShardOrganizerInProgress flakiness
  plugin/trino-raptor-legacy/src/test/java/io/trino/plugin/raptor/legacy/storage/organization/TestShardOrganizationManager.java
  plugin/trino-raptor-legacy/src/test/java/io/trino/plugin/raptor/legacy/storage/organization/TestShardOrganizer.java
Labels: cla-signed, test, no-release-notes

#19765 Change latest connector test to smoke test in MariaDB
  docs/src/main/sphinx/connector/mariadb.md
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestMariaDbConnectorTest.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestMariaDbLatestConnectorSmokeTest.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestingMariaDbServer.java
Labels: cla-signed, docs

#19762 Fix partitioned output page flushing
  core/trino-main/src/main/java/io/trino/operator/output/PositionsAppenderPageBuilder.java
  core/trino-main/src/main/java/io/trino/operator/output/PositionsAppenderSizeAccumulator.java
  core/trino-main/src/main/java/io/trino/operator/output/UnnestingPositionsAppender.java
  core/trino-main/src/test/java/io/trino/operator/output/TestPositionsAppenderPageBuilder.java
Labels: cla-signed

#19858 Allow specifying custom JDK version for docker image build
  core/docker/build.sh
Labels: cla-signed

#19856 Fix invalid boolean expression in ScalarFunctionAdapter.adaptParameter
  core/trino-spi/src/main/java/io/trino/spi/function/ScalarFunctionAdapter.java
Labels: cla-signed

#19868 Remove duplicate 'are' in docs for sql routine examples
  docs/src/main/sphinx/routines/examples.md
Labels: cla-signed, docs

#19867 Update testcontainers to 1.19.3
  pom.xml
Labels: cla-signed

#19855 Properly finish stage on noMorePartitions signal
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#19862 Respect hive.metastore-stats-cache-ttl is explicitly set
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/CachingHiveMetastoreConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/SharedHiveMetastoreCache.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/cache/TestCachingHiveMetastoreConfig.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#19872 Remove testReadMetadataWithRelationsConcurrentModifications test
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, bigquery

#19761 Fix ArrayIndexOutOfBoundsException when parquet statistics are ignored
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#19866 Fix incorrect comparison for negative zero
  core/trino-spi/src/main/java/io/trino/spi/type/DoubleType.java
  core/trino-spi/src/main/java/io/trino/spi/type/RealType.java
  core/trino-spi/src/test/java/io/trino/spi/predicate/TestTupleDomain.java
Labels: cla-signed

#19878 Fix failure from reading parquet column index for INT96
  lib/trino-parquet/src/main/java/io/trino/parquet/predicate/TupleDomainParquetPredicate.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestParquetPageSkipping.java
  plugin/trino-hive/src/test/resources/parquet_page_skipping/unsupported_column_index/issue-16801.parquet
Labels: cla-signed, tests:hive, hive

#19891 Move a comment to its right place
  pom.xml
Labels: cla-signed, no-release-notes

#19881 Add docs for JDBC metadata caching props
  docs/src/main/sphinx/connector/jdbc-common-configurations.fragment
Labels: cla-signed, docs

#19894 Add missing `@Test` annotations
  lib/trino-cache/src/test/java/io/trino/cache/TestEvictableCache.java
Labels: cla-signed, no-release-notes

#19875 Add document for array_join(x, delimiter)
  docs/src/main/sphinx/functions/array.md
Labels: cla-signed, docs

#19901 Fix TestMySqlTypeMapping.testTimeFromMySql
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlTypeMapping.java
Labels: cla-signed

#19877 Partial revert of increase split scheduling config
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
Labels: cla-signed

#19848 Prune unused stats columns when reading Delta checkpoint
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/statistics/FileBasedTableStatisticsProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointSchemaManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTableSnapshot.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointEntryIterator.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/statistics/TestDeltaLakeFileStatistics.java
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/README.txt
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/_delta_log/00000000000000000002.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/part=100/part-00000-c707739f-45c0-4722-9837-4b11599ea66d.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/part=200/part-00000-9cfa2c9c-efae-4e0a-bf25-eba86bfdce11.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/part=300/part-00000-7b5e9086-abfc-4a58-8c2c-d775a1203dd3.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_case_sensitive/part=400/part-00000-e90e48ef-2b52-4d32-be2f-9051e90920ce.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/README.txt
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/_delta_log/00000000000000000002.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/part=100/part-00000-7d5755b3-20b1-4039-920b-d1f24022685e.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/part=200/part-00000-22aeb477-f838-44b1-a897-4b0e7d009ae4.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/part=300/part-00000-d9fc223e-4feb-4848-9d25-03962fc0e540.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks133/parsed_stats_struct/part=400/part-00000-da80387a-f286-4848-9853-f82afd408710.c000.snappy.parquet
Labels: cla-signed, delta-lake

#19883 Correct secret usage with dynamic catalogs
  docs/src/main/sphinx/sql/create-catalog.md
Labels: cla-signed, docs

#19922 Convert left correlated join to inner join during transformation
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/TransformUncorrelatedSubqueryToJoin.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestTransformUncorrelatedSubqueryToJoin.java
Labels: cla-signed

#19893 Minor code docs in EventDrivenFaultTolerantQueryScheduler
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed, no-release-notes

#19921 Fix diststyle check in redshift test to include AUTO(KEY) kind
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
Labels: cla-signed

#19857 Remove misleading header in Iceberg docs
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#19927 Fix typo in pom.xml
  plugin/trino-cassandra/pom.xml
  pom.xml
Labels: cla-signed

#19925 Fix flaky TestIcebergFileMetastoreCreateTableFailure
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/file/TestIcebergFileMetastoreCreateTableFailure.java
Labels: cla-signed, iceberg

#19928 Use CassandraQueryWaitStrategy in CassandraServer
  plugin/trino-cassandra/pom.xml
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/CassandraServer.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestDatastaxConnectorSmokeTest.java
  plugin/trino-cassandra/src/test/resources/cassandra-dse.yaml
  plugin/trino-cassandra/src/test/resources/cu-cassandra-latest.yaml
  plugin/trino-cassandra/src/test/resources/cu-cassandra.yaml
Labels: cla-signed

#19789 Disable compaction in Raptor connector test
  plugin/trino-raptor-legacy/src/test/java/io/trino/plugin/raptor/legacy/BaseRaptorConnectorTest.java
  plugin/trino-raptor-legacy/src/test/java/io/trino/plugin/raptor/legacy/TestRaptorBucketedConnectorTest.java
  plugin/trino-raptor-legacy/src/test/java/io/trino/plugin/raptor/legacy/TestRaptorConnectorTest.java
  plugin/trino-raptor-legacy/src/test/java/io/trino/plugin/raptor/legacy/TestRaptorMySqlConnectorTest.java
Labels: cla-signed

#19814 Remove HiveMetastoreDecorator and simplify metastore creation
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/DeltaLakeMetastoreModule.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/TestingDeltaLakeMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/CachingHiveMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/HiveMetastoreDecorator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/HiveMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/tracing/TracingHiveMetastoreDecorator.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/file/IcebergFileMetastoreCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/IcebergHiveMetastoreCatalogModule.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/file/TestingIcebergFileMetastoreCatalogModule.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestingIcebergHiveMetastoreCatalogModule.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#19930 Run BigQuery connector test concurrently
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#19933 Close BigQueryWriteClient in BigQueryPageSink
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryPageSink.java
Labels: cla-signed, bigquery

#19890 Fix timestamp precision in Iceberg testTableChangesFunction
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
Labels: cla-signed, test, no-release-notes, iceberg

#19916 Remove redundant ORDER BY in INSERT queries
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
Labels: cla-signed

#19681 Don't set materialized view owner for IcebergGlueCatalog for system security
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalogFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestTrinoGlueCatalog.java
Labels: cla-signed, iceberg

#19951 Remove useless `@Flaky` from JUnit tests
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryConnectorTest.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerConnectorTest.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/TestSqlServerConnectorTest.java
  testing/trino-tests/src/test/java/io/trino/tests/TestQuerySerializationFailures.java
Labels: cla-signed, test, no-release-notes

#19961 Annotate more TestHiveTransactionalTable methods for retries
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveTransactionalTable.java
Labels: cla-signed, tests:hive

#19880 Improve SQL routine docs
  docs/src/main/sphinx/routines/function.md
  docs/src/main/sphinx/routines/introduction.md
Labels: cla-signed, docs

#19837 Link to custom types and functions
  docs/src/main/sphinx/functions.md
  docs/src/main/sphinx/language/types.md
Labels: cla-signed, docs

#19836 Clarify json_path requirement
  docs/src/main/sphinx/functions/json.md
Labels: cla-signed, docs

#19833 Fix vertical alignment for anchor links
  docs/src/main/sphinx/static/trino.css
Labels: cla-signed, docs

#19764 Add Trino 434 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-434.md
Labels: cla-signed, release-notes, docs

#19942 [pinot connector]Support pinot connector to read DataTableV4 bytes
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotSegmentPageSource.java
  plugin/trino-pinot/src/test/resources/pinot-server/pinot-server.conf
Labels: cla-signed

#19970 Enhance description for `delta.checkpoint-filtering.enabled`
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs, delta-lake

#19957 Add shutdown to EventListener
  core/trino-main/src/main/java/io/trino/eventlistener/EventListenerManager.java
  core/trino-main/src/test/java/io/trino/eventlistener/TestEventListenerManager.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/EventListener.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeEventListener.java
Labels: cla-signed
