Repository trinodb/trino, pull requests merged in 2023-09, with the labels that each got.

#18887 Fix incorrect symbol resolution during predicate pushdown
  core/trino-main/src/main/java/io/trino/sql/planner/LookupSymbolResolver.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18880 Fix for Flaky TestIcebergParquet*TpcdsCostPlan for Q85
  testing/trino-tests/src/test/java/io/trino/sql/planner/BaseCostBasedPlanTest.java
Labels: cla-signed

#18893 Test DESCRIBE communication cost
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetadataFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetastoreAccessOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogAccessOperations.java
Labels: cla-signed, test, no-release-notes, iceberg

#18888 Add support for 13.3 LTS in Delta Lake connector
  .github/workflows/ci.yml
  docs/src/main/sphinx/connector/delta-lake.md
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeDeltaLakeDatabricks133.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteDeltaLakeDatabricks133.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableAsSelectCompatibility.java
Labels: cla-signed, docs, tests:hive

#18803 Move slow Delta Lake product tests to integration tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_column_mapping_id/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_column_mapping_id/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_column_mapping_name/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_column_mapping_name/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_column_mapping_none/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_column_mapping_none/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_partition_column_mapping_id/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_partition_column_mapping_id/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_partition_column_mapping_name/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_partition_column_mapping_name/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_partition_column_mapping_none/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/write_stats_as_json_partition_column_mapping_none/_delta_log/00000000000000000000.json
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18890 Add causing exception to Hudi metadata parsing error
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/table/HudiTableFileSystemView.java
Labels: cla-signed, hudi

#18895 Implement schemaExists for Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreAccessOperations.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#18894 Simplify assertion in testSelectColumnsFilterByTableName
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreMetadataQueriesAccessOperations.java
Labels: cla-signed, test, tests:hive, no-release-notes, hive

#18886 Recommend Eclipse Temurin as Java runtime
  docs/src/main/sphinx/installation/deployment.md
Labels: cla-signed, docs

#18902 Use 'contains' method in deletion vector tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, tests:hive

#18915 Update actions/checkout to v4
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/milestone.yml
Labels: cla-signed

#18917 Test checkpoint parquet file access count in Delta
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, delta-lake

#18896 Remove redundant case from Cassandra and MongoDB tests
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/BaseCassandraConnectorSmokeTest.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoConnectorTest.java
Labels: cla-signed, mongodb

#18903 Reduce column mapping mode usage in CDF tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
Labels: cla-signed, tests:hive

#18908 Do not serialize addresses in HiveSplit when sending to workers
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSplit.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveSplit.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#18899 Pass OpenTelemetry to SystemAccessControl
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/testing/TestingAccessControlManager.java
  core/trino-main/src/test/java/io/trino/dispatcher/TestLocalDispatchQuery.java
  core/trino-main/src/test/java/io/trino/execution/TestCommitTask.java
  core/trino-main/src/test/java/io/trino/execution/TestDeallocateTask.java
  core/trino-main/src/test/java/io/trino/execution/TestPrepareTask.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryStateMachine.java
  core/trino-main/src/test/java/io/trino/execution/TestStartTransactionTask.java
  core/trino-main/src/test/java/io/trino/security/TestAccessControlManager.java
  core/trino-main/src/test/java/io/trino/security/TestFileBasedSystemAccessControl.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
  core/trino-spi/src/main/java/io/trino/spi/security/SystemAccessControlFactory.java
Labels: cla-signed, no-release-notes

#18929 Retry Hive/map reduce failures in TestReadUniontype
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestReadUniontype.java
Labels: cla-signed, tests:hive

#18927 Fix BigQuery metadata listing for ambiguous table names
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryCaseInsensitiveMapping.java
Labels: cla-signed, bigquery

#18181 Expand docs for lexical structure
  docs/src/main/sphinx/language/reserved.md
  docs/src/main/sphinx/language/types.md
  docs/src/main/sphinx/sql.md
  docs/src/main/sphinx/sql/comment.md
  docs/src/main/sphinx/sql/comments.md
Labels: cla-signed, syntax-needs-review, docs

#18936 Update Redshift and Kinesis logos
  docs/src/main/sphinx/static/img/kinesis.png
  docs/src/main/sphinx/static/img/redshift.png
Labels: cla-signed

#18801 Document ALTER TABLE RENAME TO limitations
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#18867 Add Trino 426 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-426.md
Labels: cla-signed, release-notes, docs

#18921 Add coercion test coverage for Sequence file
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
Labels: cla-signed, tests:hive

#18940 Fix compile issue
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSplit.java
Labels: cla-signed

#14214 Retrieve snapshot id from temporal date version
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergReadVersionedTableByTemporal.java
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/README.md
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/data/20230701_050241_00000_yfcmj-a9a22770-6b17-458d-995f-b15e5cce5d67.parquet
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/data/20230702_050337_00000_6kfs7-2ec0f5f9-d16d-4147-8810-e9e2ae44d5a4.parquet
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/data/20230703_050340_00000_tides-1a95a95b-9dd7-4604-8d65-6d1448179007.parquet
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/00000-e57ff5b7-992d-4030-a592-0cac0f224830.metadata.json
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/00001-c95e08ca-c369-43d0-9f52-dd2b76f131c3.metadata.json
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/00002-0cdac1f8-55a5-4dc1-bd1d-c3f6bde749c8.metadata.json
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/00003-7a5fe997-d8a4-4446-98e1-f6c8128d5c53.metadata.json
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/45793deb-f275-4821-8a19-70d710cc6982-m0.avro
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/9652064e-0fca-47ae-b0a6-5e1a0beea45a-m0.avro
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/a0d84333-b282-4e0e-b0ee-817cc56d98dc-m0.avro
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/snap-3669526782178248824-1-cde47a04-b45e-4057-b872-aca0841fe99c.avro
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/snap-583816926071139654-1-45793deb-f275-4821-8a19-70d710cc6982.avro
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/snap-6153714018221937993-1-9652064e-0fca-47ae-b0a6-5e1a0beea45a.avro
  plugin/trino-iceberg/src/test/resources/iceberg/timetravel/metadata/snap-8471224892810331394-1-a0d84333-b282-4e0e-b0ee-817cc56d98dc.avro
Labels: cla-signed, docs, iceberg

#18650 Use access control to filter out redirected tables
  core/trino-main/src/main/java/io/trino/connector/system/TableCommentSystemTable.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-main/src/test/java/io/trino/connector/MockConnectorFactory.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
Labels: cla-signed

#18942 Add getCurrentLeafSplitsSize metric
  core/trino-main/src/main/java/io/trino/execution/executor/timesharing/TimeSharingTaskExecutor.java
Labels: cla-signed, no-release-notes

#18920 Handle null value min/max statistics in Delta Lake tables
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestDeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/_delta_log/00000000000000000002.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/part-00000-0199254b-146e-48bb-afe8-a7e9be067d2c-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/part-00000-6951e6ec-f8d3-4d17-9154-621a959a63d1-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/part-00000-8f59e289-fc7e-4ed9-9eff-83850a495126-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/stats_with_minmax_nulls/part-00000-c5c7f285-c008-4bc9-897e-5e6296ca92fa-c000.snappy.parquet
Labels: cla-signed, delta-lake

#18958 Remove split when finished
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/ThreadPerDriverTaskExecutor.java
Labels: cla-signed

#18875 Use OkHttp client in AzureFileSystem
  lib/trino-filesystem-azure/pom.xml
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureFileSystemFactory.java
Labels: cla-signed

#18952 Change Hive CSV escape character to backslash when set to double quote
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/csv/CsvDeserializerFactory.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/csv/TestCsvFormat.java
Labels: cla-signed, tests:hive

#18970 Ignore external errors when listing table columns/comments
  core/trino-main/src/main/java/io/trino/connector/system/TableCommentSystemTable.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
Labels: cla-signed, iceberg

#18972 Simplify redirection handling code in column listing
  core/trino-main/src/main/java/io/trino/metadata/MetadataListing.java
Labels: cla-signed

#18968 Introduce MongoMetadataFactory to create MongoMetadata
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/DefaultMongoMetadataFactory.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoClientModule.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoConnector.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoMetadataFactory.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/ptf/Query.java
Labels: cla-signed, mongodb

#18956 Filter table columns in bulk
  core/trino-main/src/main/java/io/trino/metadata/MetadataListing.java
  core/trino-main/src/main/java/io/trino/security/AccessControl.java
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/security/AllowAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/DenyAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/ForwardingAccessControl.java
  core/trino-main/src/main/java/io/trino/security/InjectedConnectorAccessControl.java
  core/trino-main/src/main/java/io/trino/security/ViewAccessControl.java
  core/trino-main/src/main/java/io/trino/testing/AllowAllAccessControlManager.java
  core/trino-main/src/main/java/io/trino/testing/TestingAccessControlManager.java
  core/trino-main/src/main/java/io/trino/tracing/TracingAccessControl.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorAccessControl.java
  core/trino-spi/src/main/java/io/trino/spi/security/SystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingConnectorAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ReadOnlyAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ReadOnlySystemAccessControl.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/security/LegacyAccessControl.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/security/SqlStandardAccessControl.java
Labels: cla-signed, tests:hive, delta-lake, hive

#18924 Multi-join pushdown appends recursively _<number> to column names so that they exceed maximum alias length
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadataFactory.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcModule.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/SyntheticColumnHandleBuilder.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/SyntheticColumnHandleBuilderModule.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestDefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestSyntheticColumnHandleBuilder.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteJdbcMetadataFactory.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteMetadata.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleConnectorTest.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClientModule.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
Labels: cla-signed

#18973 Distinguish SystemAccessControl methods not exposing query id
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/security/SecurityContext.java
  core/trino-main/src/test/java/io/trino/security/TestAccessControlManager.java
  core/trino-main/src/test/java/io/trino/server/security/TestResourceSecurity.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/security/SystemAccessControl.java
  core/trino-spi/src/main/java/io/trino/spi/security/SystemSecurityContext.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/DefaultSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ReadOnlySystemAccessControl.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/security/BaseFileBasedSystemAccessControlTest.java
Labels: cla-signed

#18954 Test file access count on partitioned tables in Iceberg
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetadataFileOperations.java
Labels: cla-signed, iceberg

#18951 Extract utility class for creating partition values in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/util/DeltaLakeWriteUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/util/TestDeltaLakeWriteUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveWriteUtils.java
Labels: cla-signed, tests:hive, delta-lake, hive

#18996 Define separate profile for Azure cloud tests
  .github/workflows/ci.yml
  lib/trino-filesystem-azure/pom.xml
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureFileSystemBlob.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureFileSystemGen2Flat.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureFileSystemGen2Hierarchical.java
Labels: cla-signed

#19001 Fix metastores doc
  docs/src/main/sphinx/connector/metastores.md
Labels: cla-signed, docs

#19006 Fix broken Azure FileSystem Cloud Tests
  .github/workflows/ci.yml
Labels: cla-signed

#17477 Support reading deletion vectors in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeColumnHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSource.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplit.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/delete/PageFilter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/delete/PositionDeleteFilter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesFunctionProcessor.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/AddFileEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/Transaction.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointSchemaManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TransactionLogTail.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTableSnapshot.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointBuilder.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointEntryIterator.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointWriter.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#18919 Reduce access count of checkpoint parquet file in Delta
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, delta-lake

#19014 Fix compilation issue
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
Labels: cla-signed, delta-lake

#19009 Release split source memory when finished
  core/trino-main/src/main/java/io/trino/split/ConnectorAwareSplitSource.java
Labels: cla-signed

#19021 Temporarily disable telemetry for JDBC connections
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DriverConnectionFactory.java
Labels: cla-signed

#19008 Do not set partition count if it's close to the number of workers
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/DeterminePartitionCount.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestDeterminePartitionCount.java
Labels: cla-signed

#19024 Lower KRB ticket lifetime in EnvMultinodeTlsKerberosDelegation
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/HadoopKerberos.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeTlsKerberosDelegation.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-tls-kerberos-delegation/krb5_client.conf
Labels: cla-signed

#19013 Use uniform Assertions AssertJ class
  core/trino-main/src/test/java/io/trino/spiller/TestFileSingleStreamSpiller.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestS3HadoopPaths.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/TestHiveFormatUtils.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestAvroBase.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestAvroPageDataReaderWithAvroNativeTypeManagement.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestAvroPageDataReaderWithoutTypeManager.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestAvroPageDataWriterWithoutTypeManager.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestLongFromBigEndian.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/TestLineBuffer.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/sequence/TestSequenceFileReaderWriter.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/rcfile/RcFileTester.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestParquetReaderMemoryUsage.java
  lib/trino-parquet/src/test/java/org/apache/parquet/column/values/dictionary/TestDictionaryWriter.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/logging/TestFormatInterpolator.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestReusableConnectionFactory.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestStaticCredentialsConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaFailureRecoveryTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/expression/TestSparkExpressionParser.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestDeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestProtocolEntry.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/orc/TestOrcWriterOptions.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestAcidBucketCodec.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestHiveBucketing.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergBucketing.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestPartitionFields.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduKerberosConfig.java
  plugin/trino-redis/src/test/java/io/trino/plugin/redis/TestMinimalFunctionalityWithoutKeyPrefix.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerTransactionIsolationTest.java
  testing/trino-product-tests-launcher/src/test/java/io/trino/tests/product/launcher/util/TestConsoleTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/jdbc/TestLdapTrinoJdbc.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive, bigquery

#19026 Increase GCLocker retry allocation count to avoid OOM too early
  core/docker/default/etc/jvm.config
  core/trino-server-rpm/src/main/resources/dist/config/jvm.config
  docs/src/main/sphinx/installation/deployment.md
Labels: cla-signed, docs, performance

#19011 Fix releasing query scheduler on query completion
  core/trino-main/src/main/java/io/trino/execution/SqlQueryExecution.java
Labels: cla-signed

#18967 Fix elasticsearch like operator get utf8 character length error
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchMetadata.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/BaseElasticsearchConnectorTest.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestElasticsearchMetadata.java
Labels: cla-signed

#19000 Rework SQL support section
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#19028 Use MISSING_CATALOG_NAME error code
  core/trino-main/src/main/java/io/trino/metadata/FunctionResolver.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
Labels: cla-signed

#19033 Test read FLAT to block builder
  core/trino-main/src/test/java/io/trino/type/AbstractTestType.java
  core/trino-main/src/test/java/io/trino/type/TestArrayOfMapOfBigintVarcharType.java
Labels: cla-signed

#18845 Read delta lake table history when initial transaction logs are deleted
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeHistoryTable.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, delta-lake

#19037 Allow AbstractTestQueryFramework to run with JUnit
  plugin/trino-singlestore/pom.xml
Labels: cla-signed

#19046 Harden testMetadataOnlyQueries
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/TestDistributedFaultTolerantEngineOnlyQueries.java
Labels: cla-signed

#19032 Fix dictionary encoded page offsets in parquet writer
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ColumnWriter.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/PrimitiveColumnWriter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/writer/TestParquetWriter.java
Labels: cla-signed, tests:hive

#18882 Optimize column mapping mode tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18423 Add support for writer version 7 in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeInsertTableHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSinkProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeParquetSchemas.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/DeltaTableOptimizeHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/statistics/FileBasedTableStatisticsProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/MetadataEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/ProtocolEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointSchemaManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMinioAndHmsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointEntryIterator.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/statistics/TestDeltaLakeFileStatistics.java
  plugin/trino-delta-lake/src/test/resources/databricks122/invariants_writer_feature/README.md
  plugin/trino-delta-lake/src/test/resources/databricks122/invariants_writer_feature/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks122/invariants_writer_feature/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks122/invariants_writer_feature/part-00001-3e38bdb2-fccc-4bd0-8f60-4ce39aa50ef9-c000.snappy.parquet
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCheckConstraintCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCheckpointsCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeIdentityColumnCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeWriteDatabricksCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/util/DeltaLakeTestUtils.java
Labels: cla-signed, tests:hive, delta-lake

#18997 Handle IPv4 mapped addresses in IP contains function
  core/trino-main/src/main/java/io/trino/operator/scalar/IpAddressFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestIpAddressFunctions.java
Labels: cla-signed

#19048 Fix delta-lake cloud tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeAwsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAdlsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeGcsConnectorSmokeTest.java
Labels: cla-signed, delta-lake

#19047 Fix the wrong time unit used for reporting elapsed time in query planing
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/IterativeOptimizer.java
Labels: cla-signed

#19041 Improve printing of join criteria in PlanPrinter
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
  core/trino-main/src/test/java/io/trino/sql/planner/planprinter/TestJsonRepresentation.java
Labels: cla-signed

#18994 Include enabled roles in QueryContext for event listeners
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryContext.java
  plugin/trino-http-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpEventListener.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
Labels: cla-signed

#18811 Coerce column type varchar0 to varchar1 for hive table
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#19057 Migrate testMetadataOnlyQueries to blackhole connector
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/TestDistributedFaultTolerantEngineOnlyQueries.java
Labels: cla-signed

#19058 Use exact math in flat hash estimated size
  core/trino-main/src/main/java/io/trino/operator/FlatGroupByHash.java
  core/trino-main/src/main/java/io/trino/operator/FlatHash.java
  core/trino-main/src/main/java/io/trino/operator/VariableWidthData.java
Labels: cla-signed

#19059 Add FlatHashStrategyCompiler
  core/trino-main/src/main/java/io/trino/operator/FlatHash.java
  core/trino-main/src/main/java/io/trino/operator/FlatHashStrategy.java
  core/trino-main/src/main/java/io/trino/operator/FlatHashStrategyCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/JoinCompiler.java
Labels: cla-signed

#19055 Do not list all tables in testHideDeltaLakeTables
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
Labels: cla-signed, tests:hive, hive

#18989 Add missing serde/inputFormat combination for Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveStorageFormat.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-spark-hive/hive.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveSparkCompatibility.java
Labels: cla-signed, tests:hive, hive

#18755 Treat overflow error in DATE_ADD as user error
  core/trino-main/src/main/java/io/trino/operator/scalar/timestamp/DateAdd.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timestamptz/DateAdd.java
Labels: cla-signed

#19074 Remove unnecessary QualifiedFunctionName
  core/trino-main/src/main/java/io/trino/metadata/FunctionResolver.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-spi/src/main/java/io/trino/spi/function/QualifiedFunctionName.java
Labels: cla-signed

#19080 Correct header level of inequality pushdown fragment
  docs/src/main/sphinx/connector/no-inequality-pushdown-text-type.fragment
Labels: cla-signed, docs

#19064 Move special character column mapping mode product tests to integration
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#19081 Update OpenTelemetry to 1.30.1
  lib/trino-filesystem/pom.xml
  lib/trino-filesystem/src/main/java/io/trino/filesystem/tracing/Tracing.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DriverConnectionFactory.java
  pom.xml
Labels: cla-signed

#19039 Add hive label to trino-filesystem-* changes
  .github/config/labeler-config.yml
Labels: cla-signed

#19071 Avoid quadratic traversal when many columns accessible
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
Labels: cla-signed, performance, no-release-notes

#19063 Optimize Delta files with deletions
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
Labels: cla-signed, delta-lake

#19088 Collapse repeated surefire plugin entries
  lib/trino-parquet/pom.xml
  plugin/trino-kinesis/pom.xml
Labels: cla-signed, tests:hive

#18850 Execute `testDynamicFiltering*` exclusively
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
Labels: cla-signed

#18944 Reduce the test coverage for compatibility against Databricks
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteDeltaLakeDatabricks104.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteDeltaLakeDatabricks113.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteDeltaLakeDatabricks122.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCaseInsensitiveMapping.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCheckpointsCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableAsSelectCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksInsertCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksUpdates.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeIdentityColumnCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeSelectCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeSystemTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeWriteDatabricksCompatibility.java
Labels: cla-signed, tests:hive

#18913 Add support for writing timestamp_ntz type in Delta
  docs/src/main/sphinx/connector/delta-lake.md
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeParquetSchemas.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/util/DeltaLakeWriteUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksInsertCompatibility.java
Labels: cla-signed, docs, tests:hive, delta-lake

#19068 Fix inferring type of decimals with leading zeros in MongoDB
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoTypeMapping.java
Labels: cla-signed, mongodb

#18938 Don't rewrite single small file per partition during Optimize
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableHandle.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#19083 Extract constants for table feature names in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
Labels: cla-signed, no-release-notes, delta-lake

#19095 Enable testJoinDynamicFilteringMultiJoinOnBucketedTables in Iceberg
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergDynamicPartitionPruningTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseDynamicPartitionPruningTest.java
Labels: cla-signed, iceberg

#19101 Skip dropping testing Glue database when create time is within threshold
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDatabricksWithGlueMetastoreCleanUp.java
Labels: cla-signed, test, tests:hive, no-release-notes

#19109 Ensure ConnectorSplitSource#close() is called
  core/trino-main/src/main/java/io/trino/split/ConnectorAwareSplitSource.java
Labels: cla-signed, RELEASE-BLOCKER

#18213 Fix instant file name path retrieval in Hudi Active Timeline
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/model/HudiReplaceCommitMetadata.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/timeline/HudiActiveTimeline.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hudi/TestHudiSparkCompatibility.java
Labels: cla-signed, tests:hive, hudi

#19098 Don't start minio for Deltalake's ADLS and GCS smoke test
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeAwsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAdlsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeGcsConnectorSmokeTest.java
Labels: cla-signed, tests:hive, delta-lake, hive

#19105 Fix comment in `DeltaLakePageSourceProvider.createPageSource`
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
Labels: cla-signed, delta-lake

#19116 Retry on "HTTP Response code: 504" in Databricks tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/util/DeltaLakeTestUtils.java
Labels: cla-signed, test, tests:hive, no-release-notes

#19099 Disable pre-computed hashes by default
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryPools.java
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestAddDynamicFilterSource.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDereferencePushDown.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDynamicFilter.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestInsert.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestPredicatePushdown.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestPredicatePushdownWithoutDynamicFilter.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestQuantifiedComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestTableScanNodePartitioning.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddExchangesPlans.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddLocalExchangesForPartitionedInsertAndMerge.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddLocalExchangesForTaskScaleWriters.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestColocatedJoin.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestDeterminePartitionCount.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestEliminateCrossJoins.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestFullOuterJoinWithCoalesce.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestLimitMaxWriterNodesCount.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestMergeWindows.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestWindow.java
  core/trino-main/src/test/java/io/trino/sql/query/TestJoin.java
  core/trino-main/src/test/java/io/trino/sql/query/TestSubqueries.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeDynamicFiltering.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveDistributedJoinQueries.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/optimizer/TestHivePlans.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduIntegrationDynamicFilter.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlLegacyConnectorTest.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/BasePinotConnectorSmokeTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveMerge.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseDynamicPartitionPruningTest.java
  testing/trino-testing/src/main/java/io/trino/testing/ExtendedFailureRecoveryTest.java
Labels: cla-signed, tests:hive, delta-lake, hive

#19118 Add session timezone to QueryCompletedEvent
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryContext.java
  plugin/trino-http-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpEventListener.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
Labels: cla-signed

#19120 Close ConnectorPageSource when exhausted in CheckpointEntryIterator
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
Labels: cla-signed, no-release-notes, delta-lake

#19129 Upgrade Error Prone to 2.22.0
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  pom.xml
  testing/trino-product-tests-launcher/src/test/java/io/trino/tests/product/launcher/cli/TestInvocations.java
Labels: cla-signed

#19076 Support altering column comments in Hive Glue catalogs
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestHiveGlueMetastore.java
Labels: cla-signed, tests:hive, hive

#19123 Handle empty positions in getAddressIndex
  core/trino-main/src/main/java/io/trino/operator/join/DefaultPagesHash.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveMerge.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, tests:hive, iceberg

#18937 Update docs readme for Myst Markdown
  docs/README.md
Labels: cla-signed, docs

#19019 Document PEM format as file format
  docs/src/main/sphinx/security/inspect-pem.md
Labels: cla-signed, docs

#19111 Support Iceberg version travel by reference name
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, docs, iceberg

#19140 Cosmetic enhancements in DeltaLakeWriter
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
Labels: cla-signed, no-release-notes, delta-lake

#19134 Remove SyntheticColumnHandleBuilder
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadataFactory.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcModule.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/SyntheticColumnHandleBuilder.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/SyntheticColumnHandleBuilderModule.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestDefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestSyntheticColumnHandleBuilder.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteJdbcMetadataFactory.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteMetadata.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleConnectorTest.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClientModule.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
Labels: cla-signed

#19122 Avoid re-reading parquet footer for delta stats in writer
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/MetadataReader.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, tests:hive, delta-lake

#19150 Avoid exponential DFA in LIKE matcher
  core/trino-main/src/main/java/io/trino/likematcher/LikeMatcher.java
  core/trino-main/src/test/java/io/trino/likematcher/TestLikeMatcher.java
Labels: cla-signed

#17115 Improve performance of reading iceberg table with many delete files
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/EqualityDeleteFilter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#19023 Add Trino 427 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-427.md
Labels: cla-signed, release-notes, docs

#19159 Move cache invalidation by CREATE TABLE to TestDeltaLakeConnectorTest
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCreateTableAsSelectCompatibility.java
Labels: cla-signed, tests:hive, no-release-notes, delta-lake

#19135 Simplify writer count properties
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddLocalExchanges.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestInsert.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddLocalExchangesForPartitionedInsertAndMerge.java
  docs/src/main/sphinx/admin/properties-task.md
  docs/src/main/sphinx/admin/properties-writer-scaling.md
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectionCreationTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakePreferredPartitioning.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergOrcMetricsCollection.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestMetadataQueryOptimization.java
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/BaseFaultTolerantExecutionTest.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/common/standard-multinode/multinode-master-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/common/standard-multinode/multinode-worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/common/standard/config.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveStorageFormats.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveTransactionalTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergOptimize.java
Labels: cla-signed, docs, tests:hive, iceberg, delta-lake, hive

#19181 Disable Jackson's read constraints
  client/trino-client/src/main/java/io/trino/client/JsonCodec.java
  client/trino-client/src/test/java/io/trino/client/TestQueryResults.java
Labels: cla-signed

#19170 Truncate class names in CompilerUtils
  core/trino-main/src/main/java/io/trino/util/CompilerUtils.java
  core/trino-main/src/test/java/io/trino/type/TestSingleAccessMethodCompiler.java
Labels: cla-signed

#19183 Mark parse-decimal-literals-as-double as defunct
  core/trino-main/src/main/java/io/trino/FeaturesConfig.java
Labels: cla-signed

#19185 Fix numeric overflow computing temp rehash size
  core/trino-main/src/main/java/io/trino/operator/FlatHash.java
Labels: cla-signed

#19182 Update redshift-jdbc42 to 2.1.0.19
  plugin/trino-redshift/pom.xml
Labels: cla-signed

#19187 Incremental rehash for group by hash
  core/trino-main/src/main/java/io/trino/operator/FlatHash.java
  core/trino-main/src/test/java/io/trino/operator/GroupByHashYieldAssertion.java
Labels: cla-signed

#19060 Create empty bucket to run s3 filesystem cloud tests
  .github/bin/s3/delete-s3-bucket.sh
  .github/bin/s3/setup-empty-s3-bucket.sh
  .github/workflows/ci.yml
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemAwsS3.java
Labels: cla-signed, tests:hive

#19192 Add requirement for Blob Storage instead of ALDS for FTE
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#19133 Document tpch.column-naming
  docs/src/main/sphinx/connector/tpch.md
Labels: cla-signed, docs

#19196 Fix broken resource reference in test
  core/trino-main/src/test/java/io/trino/security/TestFileBasedSystemAccessControl.java
Labels: cla-signed

#14447 Added documentation for a query config
  docs/src/main/sphinx/admin/properties-query-management.md
Labels: cla-signed, docs

#19152 EvictableCacheBuilder code cleanup
  lib/trino-cache/src/main/java/io/trino/cache/EvictableCacheBuilder.java
Labels: cla-signed

#19202 Fix test flakiness
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, no-release-notes, delta-lake

#19212 Update airbase and dependencies
  pom.xml
Labels: cla-signed
