Repository trinodb/trino, pull requests merged in 2023-04, with the labels that each got.

#16830 Make construction parameters final
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeMinioConnectorTest.java
Labels: delta-lake

#16734 Support arithmetic predicate pushdown for Phoenix
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClient.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
Labels: enhancement, cla-signed

#16793 Make LeafTableFunctionOperator handle EmptySplit correctly
  core/trino-main/src/main/java/io/trino/operator/LeafTableFunctionOperator.java
  core/trino-main/src/test/java/io/trino/connector/TestingTableFunctions.java
  testing/trino-tests/src/test/java/io/trino/tests/TestTableFunctionInvocation.java
Labels: cla-signed

#16794 Remove CatalogHandle from TableFunctionProcessorNode
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ImplementTableFunctionSource.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PruneTableFunctionProcessorColumns.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PruneTableFunctionProcessorSourceColumns.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddLocalExchanges.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/SymbolMapper.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/UnaliasSymbolReferences.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableFunctionProcessorNode.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/test/TableFunctionProcessorBuilder.java
Labels: cla-signed

#16838 Exclude snakeyaml from elasticsearch dependencies
  plugin/trino-elasticsearch/pom.xml
Labels: cla-signed, no-release-notes

#16829 Regenerate expected test plans with one-click
  testing/trino-tests/src/test/java/io/trino/sql/planner/UpdateExpectedPlans.java
Labels: cla-signed, test, no-release-notes

#16311 Document avro.schema.literal property use for interpreting table data
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs

#16817 Update Oracle JDBC driver version to 21.9.0.0
  client/trino-jdbc/pom.xml
  plugin/trino-oracle/pom.xml
  plugin/trino-resource-group-managers/pom.xml
  pom.xml
Labels: cla-signed, jdbc

#16366 Document predicate pushdown support for string-type columns in SQL Se…
  docs/src/main/sphinx/connector/sqlserver.rst
Labels: cla-signed, docs

#16818 Enable `oracle.remarks-reporting.enabled` in connector test
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleConnectorTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOraclePoolConnectorSmokeTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOraclePoolRemarksReportingConnectorSmokeTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#16703 Translate `The specified key does not exist` to FileNotFoundException
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TransactionLogTail.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/S3NativeTransactionLogSynchronizer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3/TrinoS3FileSystem.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/MockAmazonS3.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/TestTrinoS3FileSystem.java
Labels: cla-signed, tests:hive, delta-lake, hive

#16804 Relax test assertion
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed

#16852 Remove obsolete assertion
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed

#16647 Allow configuring a custom DNS resolver for the JDBC driver
  client/trino-jdbc/src/main/java/io/trino/jdbc/ConnectionProperties.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/DnsResolver.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoDriverUri.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriver.java
Labels: cla-signed, jdbc

#16834 Reorganize Hudi connector documentation
  docs/src/main/sphinx/connector/hudi.rst
Labels: cla-signed, docs

#16819 Migrate some deprecated `assertExpression` method in `TestSqlParser`
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
Labels: cla-signed, no-release-notes

#16832 Update ASM to 9.5
  pom.xml
Labels: cla-signed

#16835 Reorganize Iceberg connector documentation
  docs/src/main/sphinx/connector/iceberg.rst
Labels: cla-signed, docs

#16481 Reorganize Delta Lake connector documentation
  docs/src/main/sphinx/connector/delta-lake.rst
Labels: cla-signed, docs

#16773 Fix handling of Hive ACID tables with hidden directories
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/AcidTables.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestAcidTables.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestHiveAcidUtils.java
Labels: cla-signed, tests:hive, hive

#16423 Test `CREATE TABLE AS SELECT` in Ignite type mapping
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteTypeMapping.java
Labels: cla-signed

#16851 Bump spotbugs-annotations version
  pom.xml
Labels: cla-signed

#16831 Remove ValidateLimitWithPresortedInput
  core/trino-main/src/main/java/io/trino/sql/planner/sanity/PlanSanityChecker.java
  core/trino-main/src/main/java/io/trino/sql/planner/sanity/ValidateLimitWithPresortedInput.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestPartialTopNWithPresortedInput.java
  core/trino-main/src/test/java/io/trino/sql/planner/sanity/TestValidateLimitWithPresortedInput.java
Labels: cla-signed

#16858 Use OrcReader#MAX_BATCH_SIZE = 8 * 1024
  lib/trino-orc/src/main/java/io/trino/orc/OrcReader.java
  lib/trino-orc/src/test/java/io/trino/orc/TestReadBloomFilter.java
Labels: cla-signed, tests:hive

#16883 Fix `testTableWithNonNullableColumns` to update NOT NULL column in Delta Lake connector
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeMinioConnectorTest.java
Labels: cla-signed, test, no-release-notes, delta-lake

#16135 Add for support creating table with comment for more Jdbc based connectors
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
Labels: enhancement, cla-signed

#16460 Support sum(distinct) pushdown for jdbc connectors
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/aggregation/ImplementSum.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteClient.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestMariaDbClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlClient.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlClient.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/TestSqlServerClient.java
Labels: enhancement, cla-signed

#16881 Add Trino 412 release notes
  docs/src/main/sphinx/release.rst
  docs/src/main/sphinx/release/release-412.md
Labels: cla-signed, release-notes, docs

#16896 Add doc for ignite join pushdown
  docs/src/main/sphinx/connector/ignite.rst
Labels: cla-signed, docs

#16808 Add missing config properties to Hive docs
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs

#16880 Add docs for property to skip glue archive
  docs/src/main/sphinx/connector/iceberg.rst
Labels: cla-signed, docs

#16485 Add test for duplicated partition statistics on Thrift metastore
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveAnalyzeCorruptStatistics.java
Labels: cla-signed, test, tests:hive, no-release-notes, hive

#16899 Support table comment for oracle connector
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
Labels: cla-signed

#16693 Support SQL MERGE for Phoenix connector
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcPageSink.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClient.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClientModule.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConnector.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMergeSink.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMergeTableHandle.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixPageSinkProvider.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixPageSource.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixPageSourceProvider.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
Labels: enhancement, cla-signed

#16849 Remove unused class FallbackToFullNodePartitionMemoryEstimator.
  core/trino-main/src/main/java/io/trino/execution/scheduler/FallbackToFullNodePartitionMemoryEstimator.java
Labels: cla-signed

#16902 Early stop searching when meet the condition in visitor
  core/trino-main/src/main/java/io/trino/sql/planner/DeterminismEvaluator.java
Labels: cla-signed

#16870 Drop redundant CacheFactory interface
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/CachingHiveMetastore.java
Labels: cla-signed, tests:hive, hive

#16918 Replace lambda with identity function
  lib/trino-orc/src/main/java/io/trino/orc/TupleDomainOrcPredicate.java
  plugin/trino-blackhole/src/main/java/io/trino/plugin/blackhole/BlackHoleMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/Statistics.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#16124 Fix failure when creating a schema with non-lowercase username on Iceberg Glue catalog
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConnectorSmokeTest.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/BaseKuduWithDisabledInferSchemaConnectorSmokeTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorSmokeTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, tests:hive, iceberg, hive

#16901 Simplify the QueryId code
  core/trino-spi/src/main/java/io/trino/spi/QueryId.java
Labels: cla-signed

#16906 Adjust MV GRACE tests for case when freshness cannot be determined
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingConnectorBehavior.java
Labels: cla-signed, test, no-release-notes

#16914 Hoist a creating MethodHandle to PageProjection constructor
  core/trino-main/src/main/java/io/trino/sql/gen/PageFunctionCompiler.java
Labels: cla-signed

#16748 Optimize partition end search for small partitions
  core/trino-main/src/main/java/io/trino/operator/PositionSearcher.java
  core/trino-main/src/main/java/io/trino/operator/TableFunctionOperator.java
  core/trino-main/src/main/java/io/trino/operator/WindowOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestWindowOperator.java
Labels: cla-signed

#16935 Update testcontainers to 1.18.0
  pom.xml
Labels: cla-signed

#16943 Remove unused method in TestPushProjectionIntoTableScan
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushProjectionIntoTableScan.java
Labels: cla-signed

#16861 Add Iceberg query runner with MinIO and file metastore
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
Labels: cla-signed, iceberg

#16939 Update AWS SDK to 1.12.445
  pom.xml
Labels: cla-signed

#16936 Update JDBI to 3.37.1
  pom.xml
Labels: cla-signed

#16917 Document compression configuration for server log
  docs/src/main/sphinx/admin/properties-logging.rst
Labels: cla-signed, docs

#16856 Change all glossary entries to sentence case
  docs/src/main/sphinx/glossary.rst
Labels: cla-signed, docs

#16501 Add missing connector renames to 408 release notes
  docs/src/main/sphinx/release/release-408.md
Labels: cla-signed, release-notes, docs

#16937 Update oshi to 6.4.1
  core/trino-main/pom.xml
  pom.xml
Labels: cla-signed

#16938 Fix reading parquet INT32 values as short decimal
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/Int32ShortDecimalColumnReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/TransformingValueDecoders.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestingColumnReader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/AbstractTestParquetReader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/ParquetTester.java
Labels: cla-signed, tests:hive, hive

#16930 Update shading rules for jdbc
  .github/workflows/ci.yml
  client/trino-jdbc/pom.xml
  client/trino-jdbc/src/test/java/io/trino/jdbc/JdbcDriverIT.java
  testing/trino-product-tests/pom.xml
Labels: cla-signed, jdbc, tests:hive

#16889 Test Iceberg ANALYZE fixing stats drifting over time
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergStatistics.java
Labels: cla-signed, test, no-release-notes, iceberg

#16958 Don't retry table metadata read when cause is FileNotFoundException
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractIcebergTableOperations.java
Labels: cla-signed, iceberg

#16952 Run SPI Revapi separately in non-offline mode
  .github/workflows/ci.yml
  core/trino-spi/pom.xml
Labels: cla-signed

#16932 Avoid ignoring files visible in Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/HiveFileIterator.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestHiveFileIterator.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveHiddenFiles.java
Labels: cla-signed, tests:hive, hive

#16953 Disallow using reserved column names for Delta CDF tables
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeMinioConnectorTest.java
Labels: cla-signed, delta-lake

#16957 Update docker-images to version 79
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIcebergRest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergPartitionEvolution.java
Labels: cla-signed, tests:hive

#16963 Fix flaky testAddColumnConcurrently Ignite test
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed

#16978 Set min validation to 1 for config 'hive.fs.cache.max-size'
  lib/trino-hdfs/src/main/java/io/trino/hdfs/HdfsConfig.java
Labels: cla-signed

#16392 Remove flaky test
  testing/trino-tests/src/test/java/io/trino/tests/TestDistributedSpilledQueries.java
Labels: cla-signed

#16866 Fix query failure when unsupported check constraint exists in Delta
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionParser.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/expression/TestSparkExpressions.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCheckConstraintCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#16997 Add Trino 413 release notes
  docs/src/main/sphinx/release.rst
  docs/src/main/sphinx/release/release-413.md
Labels: cla-signed, release-notes, docs

#16992 Remove filtering of unsupported column names in Delta
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeMinioConnectorTest.java
Labels: cla-signed, delta-lake

#16738 Add test for access count in Hive metastore
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/CountingAccessHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreAccessOperations.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#17018 Remove unnecessary TODO comments
  core/trino-main/src/test/java/io/trino/operator/scalar/TestStringFunctions.java
Labels: cla-signed

#16854 Add recursive member accessor `..<field>` to JSON path language
  core/trino-main/src/main/java/io/trino/json/PathEvaluationVisitor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrDescendantMemberAccessor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrJsonPathVisitor.java
  core/trino-main/src/main/java/io/trino/json/ir/IrPathNode.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/JsonPathAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/JsonPathTranslator.java
  core/trino-main/src/test/java/io/trino/json/TestJsonPathEvaluator.java
  core/trino-main/src/test/java/io/trino/sql/planner/PathNodes.java
  core/trino-main/src/test/java/io/trino/sql/query/TestJsonQueryFunction.java
  core/trino-main/src/test/java/io/trino/type/TestJsonPath2016TypeSerialization.java
  core/trino-parser/src/main/antlr4/io/trino/jsonpath/JsonPath.g4
  core/trino-parser/src/main/java/io/trino/sql/jsonpath/PathTreeBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/jsonpath/tree/DescendantMemberAccessor.java
  core/trino-parser/src/main/java/io/trino/sql/jsonpath/tree/JsonPathTreeVisitor.java
  core/trino-parser/src/test/java/io/trino/sql/jsonpath/TestPathParser.java
  docs/src/main/sphinx/functions/json.rst
Labels: cla-signed, docs

#16998 Update Migrate Table section on Iceberg doc
  docs/src/main/sphinx/connector/iceberg.rst
Labels: cla-signed, docs

#16850 Fix Kudu merge error between two CTAS table
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduPageSink.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#16962 Kafka tombstone message support
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaRecordSet.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestKafkaWithConfluentSchemaRegistryMinimalFunctionality.java
Labels: cla-signed

#17028 Update Benchto dependency to 0.24 ver
  pom.xml
Labels: cla-signed

#16988 Rewrite lambda arguments in ExpressionTreeRewriter
  core/trino-main/src/test/java/io/trino/sql/query/TestRecursiveCte.java
  core/trino-parser/src/main/java/io/trino/sql/tree/ExpressionTreeRewriter.java
Labels: cla-signed

#17029 Update TPCH generator library version
  pom.xml
Labels: cla-signed

#16877 Collect uncompressed data size for output statistics
  core/trino-main/src/main/java/io/trino/execution/buffer/PagesSerdeUtil.java
  core/trino-main/src/main/java/io/trino/execution/buffer/SpoolingExchangeOutputBuffer.java
Labels: cla-signed

#16716 Add table function sequence
  core/trino-main/src/main/java/io/trino/connector/system/GlobalSystemConnector.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemConnectorModule.java
  core/trino-main/src/main/java/io/trino/metadata/GlobalFunctionCatalog.java
  core/trino-main/src/main/java/io/trino/operator/table/Sequence.java
  docs/src/main/sphinx/functions/table.rst
  testing/trino-tests/src/test/java/io/trino/tests/TestSequenceFunction.java
Labels: cla-signed, docs

#16036 Add progress bar support for fault tolerant execution
  client/trino-cli/src/main/java/io/trino/cli/FormatUtils.java
  client/trino-cli/src/main/java/io/trino/cli/StatusPrinter.java
  client/trino-cli/src/test/java/io/trino/cli/TestQueryRunner.java
  client/trino-client/src/main/java/io/trino/client/StatementStats.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/QueryStats.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestProgressMonitor.java
  core/trino-main/src/main/java/io/trino/dispatcher/FailedDispatchQuery.java
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
  core/trino-main/src/main/java/io/trino/execution/BasicStageStats.java
  core/trino-main/src/main/java/io/trino/execution/QueryInfo.java
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/QueryStats.java
  core/trino-main/src/main/java/io/trino/execution/StageState.java
  core/trino-main/src/main/java/io/trino/execution/StageStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/StageStats.java
  core/trino-main/src/main/java/io/trino/server/BasicQueryStats.java
  core/trino-main/src/main/java/io/trino/server/protocol/ProtocolUtil.java
  core/trino-main/src/test/java/io/trino/execution/MockManagedQueryExecution.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryInfo.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryStats.java
  core/trino-main/src/test/java/io/trino/server/TestBasicQueryInfo.java
  core/trino-main/src/test/java/io/trino/server/TestQueryStateInfo.java
  testing/trino-tests/src/test/java/io/trino/memory/TestClusterMemoryLeakDetector.java
Labels: cla-signed, jdbc

#17036 Show `partitioned_by` property only for partitioned tables
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeMinioConnectorTest.java
Labels: cla-signed, no-release-notes, delta-lake

#17030 Add `toString()` method for `ForwardingInputFile` and `ForwardingOutputFile`
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/fileio/ForwardingInputFile.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/fileio/ForwardingOutputFile.java
Labels: cla-signed, no-release-notes, iceberg

#17039 Update tempto
  pom.xml
Labels: cla-signed

#16815 Skip literal vs round tripped comparison for non-orderable types in UnwrapCastInComparison
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapCastInComparison.java
  core/trino-main/src/test/java/io/trino/sql/query/TestUnwrapCastInComparison.java
Labels: cla-signed

#17000 Update Avro Deps
  plugin/trino-hive/pom.xml
  plugin/trino-hudi/pom.xml
  plugin/trino-iceberg/pom.xml
  pom.xml
  testing/trino-product-tests/pom.xml
Labels: cla-signed, tests:hive, hudi, iceberg, hive

#16704 Allow migrating external tables in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergProcedureCalls.java
Labels: cla-signed, tests:hive, iceberg

#17044 Update Postgres JDBC driver to 42.6.0
  pom.xml
Labels: cla-signed

#16183 Support DML operations on Delta tables with `name` column mapping
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/HiveMetastoreBackedDeltaLakeMetastore.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#17034 Remove duplicate ChunkedSliceOutput class
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/compression/ChunkedSliceOutput.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/compression/MemoryCompressedSliceOutput.java
  lib/trino-orc/pom.xml
  lib/trino-orc/src/main/java/io/trino/orc/OrcOutputBuffer.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/io/ChunkedSliceOutput.java
Labels: cla-signed, tests:hive, no-release-notes

#17083 Disable testInsertRowConcurrently in BigQuery
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, no-release-notes, bigquery

#17099 Update nimbus dependencies
  pom.xml
Labels: cla-signed

#17098 Update and pin json-smart to 2.4.10
  pom.xml
Labels: cla-signed

#16843 Minor PrioritizedSplitRunner cleanups
  core/trino-main/src/main/java/io/trino/execution/executor/PrioritizedSplitRunner.java
Labels: cla-signed

#17084 Reduce Page#getBlock calls in page projection
  core/trino-main/src/main/java/io/trino/sql/gen/PageFunctionCompiler.java
Labels: cla-signed

#17086 Increase TypedSet expectedSize in DynamicFilterSourceOperator
  core/trino-main/src/main/java/io/trino/operator/DynamicFilterSourceOperator.java
Labels: cla-signed

#16867 Fix long overflow for scalar function sequence
  core/trino-main/src/main/java/io/trino/operator/scalar/SequenceFunction.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timestamp/SequenceIntervalDayToSecond.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timestamp/SequenceIntervalYearToMonth.java
  core/trino-main/src/test/java/io/trino/type/TestArrayOperators.java
Labels: bug, cla-signed, correctness

#17066 Returns empty stats for table without stats on Postgres 14+
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
Labels: cla-signed

#17111 Remove unnecessary enforcer configuration for Iceberg
  plugin/trino-iceberg/pom.xml
Labels: cla-signed, iceberg

#17097 Validate nodeCount in DistributedQueryRunner
  testing/trino-testing/src/main/java/io/trino/testing/DistributedQueryRunner.java
Labels: cla-signed, no-release-notes

#16860 Add support for Redshift fault tolerant execution
  .github/workflows/ci.yml
  plugin/trino-redshift/pom.xml
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/BaseRedshiftFailureRecoveryTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/RedshiftQueryRunner.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftQueryFailureRecoveryTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftTaskFailureRecoveryTest.java
Labels: cla-signed

#17042 Change Int96ArrayBlock to use a single values array
  core/trino-main/src/main/java/io/trino/metadata/BlockEncodingManager.java
  core/trino-main/src/main/java/io/trino/operator/output/Fixed12PositionsAppender.java
  core/trino-main/src/main/java/io/trino/operator/output/PositionsAppenderFactory.java
  core/trino-main/src/test/java/io/trino/block/TestFixed12Block.java
  core/trino-main/src/test/java/io/trino/execution/buffer/BenchmarkBlockSerde.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestAccumulatorCompiler.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/block/Fixed12Block.java
  core/trino-spi/src/main/java/io/trino/spi/block/Fixed12BlockBuilder.java
  core/trino-spi/src/main/java/io/trino/spi/block/Fixed12BlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/Int96ArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/type/LongTimeWithTimeZoneType.java
  core/trino-spi/src/main/java/io/trino/spi/type/LongTimestampType.java
  core/trino-spi/src/main/java/io/trino/spi/type/LongTimestampWithTimeZoneType.java
  core/trino-spi/src/test/java/io/trino/spi/block/TestFixed12BlockEncoding.java
  core/trino-spi/src/test/java/io/trino/spi/block/TestingBlockEncodingSerde.java
  lib/trino-orc/src/main/java/io/trino/orc/reader/TimestampColumnReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/PlainValueDecoders.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/TransformingValueDecoders.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/ValueDecoders.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/flat/Fixed12ColumnAdapter.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/flat/Int96ColumnAdapter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/AbstractColumnReaderTest.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/BenchmarkFixed12ColumnReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestColumnReaderBenchmark.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestingColumnReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/decoders/TestInt96ValueDecoder.java
Labels: cla-signed, tests:hive

#17107 Minor FileCatalogStore improvements
  core/trino-main/src/main/java/io/trino/connector/FileCatalogStore.java
Labels: cla-signed

#17046 Improve nulls and offsets calculations in parquet reader
  core/trino-spi/src/main/java/io/trino/spi/block/MapBlock.java
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetTypeUtils.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ListColumnReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/StructColumnReader.java
Labels: cla-signed, tests:hive

#17116 Add missing Tracer binding in Delta Lake Glue tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaLakeGlueMetastore.java
Labels: cla-signed, delta-lake

#17060 Increase timeouts in Cassandra product test environment
  pom.xml
  testing/trino-product-tests/src/main/resources/tempto-configuration.yaml
Labels: cla-signed, tests:hive, no-release-notes

#17112 Verify artifacts in separate CI job
  .github/workflows/ci.yml
Labels: cla-signed

#17118 Update airbase to 136
  .github/bin/download-maven-dependencies.sh
  pom.xml
Labels: cla-signed

#17106 Fix testFilterWithUdf
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestDynamicTable.java
Labels: cla-signed

#16778 Upgrade Phoenix to 5.1.3
  lib/trino-phoenix5-patched/pom.xml
  plugin/trino-phoenix5/pom.xml
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixTypeMapping.java
Labels: cla-signed

#15562 Add warning for query passthrough
  docs/src/main/sphinx/connector/bigquery.rst
  docs/src/main/sphinx/connector/druid.rst
  docs/src/main/sphinx/connector/elasticsearch.rst
  docs/src/main/sphinx/connector/mariadb.rst
  docs/src/main/sphinx/connector/mysql.rst
  docs/src/main/sphinx/connector/oracle.rst
  docs/src/main/sphinx/connector/postgresql.rst
  docs/src/main/sphinx/connector/query-passthrough-warning.fragment
  docs/src/main/sphinx/connector/redshift.rst
  docs/src/main/sphinx/connector/sqlserver.rst
Labels: cla-signed, docs

#16994 Update Coral
  pom.xml
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/AbstractTestHiveViews.java
Labels: cla-signed, tests:hive

#17144 Remove flaky race-prone assertions in TestDriver
  core/trino-main/src/test/java/io/trino/operator/TestDriver.java
Labels: cla-signed

#17141 Fix comparison documentation for BETWEEN and NULL
  core/trino-main/src/test/java/io/trino/sql/TestExpressionInterpreter.java
  docs/src/main/sphinx/functions/comparison.rst
Labels: cla-signed, docs

#17152 Include exception when failed to parse filter in MongoDB
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/ptf/Query.java
Labels: cla-signed, no-release-notes, mongodb

#17137 Extract a test to verify Databricks and OSS Delta TPCH tables and merge connector tests into one
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeCompatibility.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeDatabricksCompatibility.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeOssDeltaLakeCompatibility.java
Labels: cla-signed, no-release-notes, delta-lake

#17121 Remove apparent correctness issue with calculatePrefixesWithTableName
  core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaMetadata.java
Labels: cla-signed, no-release-notes

#17147 Use Page#getColumns in TableWriterOperator
  core/trino-main/src/main/java/io/trino/operator/TableWriterOperator.java
Labels: cla-signed

#17181 Document unsigned numeric type MySQL/MariaDB to Trino mapping
  docs/src/main/sphinx/connector/mariadb.rst
  docs/src/main/sphinx/connector/mysql.rst
Labels: cla-signed, docs

#17108 Add Vale setup for writing style checks
  docs/.vale.ini
  docs/.vale/Google/AMPM.yml
  docs/.vale/Google/Acronyms.yml
  docs/.vale/Google/Colons.yml
  docs/.vale/Google/Contractions.yml
  docs/.vale/Google/DateFormat.yml
  docs/.vale/Google/Ellipses.yml
  docs/.vale/Google/EmDash.yml
  docs/.vale/Google/EnDash.yml
  docs/.vale/Google/Exclamation.yml
  docs/.vale/Google/FirstPerson.yml
  docs/.vale/Google/Gender.yml
  docs/.vale/Google/GenderBias.yml
  docs/.vale/Google/HeadingPunctuation.yml
  docs/.vale/Google/Headings.yml
  docs/.vale/Google/Latin.yml
  docs/.vale/Google/LyHyphens.yml
  docs/.vale/Google/OptionalPlurals.yml
  docs/.vale/Google/Ordinal.yml
  docs/.vale/Google/OxfordComma.yml
  docs/.vale/Google/Parens.yml
  docs/.vale/Google/Passive.yml
  docs/.vale/Google/Periods.yml
  docs/.vale/Google/Quotes.yml
  docs/.vale/Google/Ranges.yml
  docs/.vale/Google/Semicolons.yml
  docs/.vale/Google/Slang.yml
  docs/.vale/Google/Spacing.yml
  docs/.vale/Google/Spelling.yml
  docs/.vale/Google/Units.yml
  docs/.vale/Google/We.yml
  docs/.vale/Google/Will.yml
  docs/.vale/Google/WordList.yml
  docs/.vale/Google/meta.json
  docs/.vale/Google/vocab.txt
  docs/.vale/Vocab/Base/accept.txt
  docs/README.md
Labels: cla-signed, docs

#17163 Remove trino-main tests against JDK 19 since we already test against JDK 20
  .github/workflows/ci.yml
Labels: cla-signed

#17168 Use standard error code for non-Hudi table in Hudi connector
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiErrorCode.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiMetadata.java
Labels: cla-signed, hudi

#17184 Fix spurious failure for Raptor system.shards table
  plugin/trino-raptor-legacy/src/main/java/io/trino/plugin/raptor/legacy/systemtables/ShardMetadataRecordCursor.java
Labels: cla-signed

#17169 Remove `AbstractDeltaLakePageSink.addSpecialColumns` method
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeCdfPageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSinkProvider.java
Labels: cla-signed, no-release-notes, delta-lake

#17185 Fix broken Iceberg Glue access count test
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogAccessOperations.java
Labels: cla-signed, no-release-notes, iceberg

#17145 Showcase dereference pushdown limited effectiveness in Iceberg
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#17188 Remove unused codepath in AvroColumnDecoder
  lib/trino-record-decoder/src/main/java/io/trino/decoder/avro/AvroColumnDecoder.java
  lib/trino-record-decoder/src/test/java/io/trino/decoder/avro/TestAvroDecoder.java
Labels: cla-signed

#17186 Use bulk merging of TDigestHistogram
  core/trino-main/src/main/java/io/trino/execution/StageStateMachine.java
  core/trino-main/src/main/java/io/trino/operator/DirectExchangeClientStatus.java
  core/trino-main/src/main/java/io/trino/operator/OperatorStats.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/metrics/TDigestHistogram.java
Labels: cla-signed

#17153 Document changes in default access control
  docs/src/main/sphinx/admin/graceful-shutdown.rst
  docs/src/main/sphinx/release/release-414.md
  docs/src/main/sphinx/security/built-in-system-access-control.rst
  docs/src/main/sphinx/security/file-system-access-control.rst
Labels: cla-signed, release-notes, docs

#17206 Improve code readability with QueryTracker#hasQuery
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
  core/trino-main/src/main/java/io/trino/execution/QueryManager.java
  core/trino-main/src/main/java/io/trino/execution/QueryTracker.java
  core/trino-main/src/main/java/io/trino/execution/SqlQueryManager.java
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
Labels: cla-signed

#17197 Use enhanced routine when dropping Delta tables backed by AWS Glue on Databricks
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDropTableCompatibility.java
Labels: cla-signed, tests:hive, no-release-notes, delta-lake

#17160 Add file pruning test for predicate using primitive fields in ROW column in Delta Lake Connector
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestSplitPruning.java
  plugin/trino-delta-lake/src/test/resources/databricks/pruning/nested_fields/README.md
  plugin/trino-delta-lake/src/test/resources/databricks/pruning/nested_fields/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks/pruning/nested_fields/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks/pruning/nested_fields/part-00000-8e3f6979-c368-4f48-b389-9b4dbf46de93-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks/pruning/nested_fields/part-00001-dd006b0f-93c6-4f87-801f-a8b7153a72ae-c000.snappy.parquet
Labels: cla-signed, delta-lake

#17176 Use MetadataEntry#getSchemaString in DeltaLakeMetadata#setTableComment
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#17198 Fail the build if a non-existent Maven profile is used
  pom.xml
Labels: cla-signed

#17211 Test JDBC flush_metadata_cache sequentially
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcCachingConnectorSmokeTest.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcFlushMetadataCacheProcedure.java
Labels: cla-signed

#13777 Make functionNullability property consistent in ResolvedFunction
  core/trino-main/src/main/java/io/trino/metadata/ResolvedFunction.java
Labels: cla-signed

#17100 Update Azure & AWS SDKs in exchange filesystem
  plugin/trino-delta-lake/pom.xml
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/containers/MinioStorage.java
  pom.xml
Labels: cla-signed, delta-lake

#17218 Add property type links to fault-tolerant execution properties
  docs/src/main/sphinx/admin/fault-tolerant-execution.rst
Labels: cla-signed, docs

#17120 Support BETWEEN in Delta check constraints
  plugin/trino-delta-lake/src/main/antlr4/io/trino/plugin/deltalake/expression/SparkExpressionBase.g4
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/BetweenPredicate.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/NullLiteral.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionBuilder.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionConverter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionTreeVisitor.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/expression/TestSparkExpressions.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCheckConstraintCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#16929 Bump calcite-core
  pom.xml
Labels: cla-signed, tests:hive, hive

#17187 Refactor internal http client usage
  core/trino-main/src/main/java/io/trino/failuredetector/FailureDetectorModule.java
  core/trino-main/src/main/java/io/trino/server/CoordinatorModule.java
  core/trino-main/src/main/java/io/trino/server/InternalCommunicationHttpClientModule.java
  core/trino-main/src/main/java/io/trino/server/InternalCommunicationModule.java
  core/trino-main/src/main/java/io/trino/server/ServerMainModule.java
  core/trino-main/src/main/java/io/trino/server/security/jwt/JwtAuthenticatorSupportModule.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2ServiceModule.java
  core/trino-main/src/test/java/io/trino/failuredetector/TestHeartbeatFailureDetector.java
  core/trino-main/src/test/java/io/trino/server/TestGenerateTokenFilter.java
Labels: cla-signed

#17227 Test Iceberg stats on write to unanalyzed table
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergStatistics.java
Labels: cla-signed, iceberg

#16841 Expose planning CPU time for MYSQL event listener
  plugin/trino-mysql-event-listener/src/main/java/io/trino/plugin/eventlistener/mysql/MysqlEventListener.java
  plugin/trino-mysql-event-listener/src/main/java/io/trino/plugin/eventlistener/mysql/QueryDao.java
  plugin/trino-mysql-event-listener/src/main/java/io/trino/plugin/eventlistener/mysql/QueryEntity.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
Labels: cla-signed, ui

#16551 OAuth refresh token clarification
  docs/src/main/sphinx/security/oauth2.rst
Labels: cla-signed, docs

#16920 Documentation copy and style edits Delta Lake
  docs/src/main/sphinx/connector/delta-lake.rst
Labels: cla-signed, docs

#17193 Remove deprecated getStartTime method from ConnectorSession
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorSession.java
Labels: cla-signed

#17253 Add missing discovery client TLS configuration
  core/trino-main/src/main/java/io/trino/server/InternalCommunicationModule.java
Labels: cla-signed, RELEASE-BLOCKER

#17240 Upgrade Ignite test container version to 2.9
  docs/src/main/sphinx/connector/ignite.rst
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestingIgniteContainer.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeIgnite.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, docs

#17202 Allow accessing external environments in Delta Lake query runner
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/DeltaLakeQueryRunner.java
Labels: cla-signed, no-release-notes, delta-lake

#17258 Remove doc reference to $data metadata table
  docs/src/main/sphinx/connector/delta-lake.rst
  docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#17257 Avoid starting thread if no file systems were created
  lib/trino-hdfs/src/main/java/io/trino/hdfs/FileSystemFinalizerService.java
  lib/trino-hdfs/src/main/java/io/trino/hdfs/HdfsEnvironment.java
Labels: cla-signed

#17255 Update to Airbase 137 and Airlift 230
  pom.xml
Labels: cla-signed

#17224 Small improvements on `HiveColumnProjectionInfo`
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveColumnProjectionInfo.java
Labels: cla-signed, tests:hive, no-release-notes, hive
