Repository trinodb/trino, pull requests merged in 2023-08, with the labels that each got.

#18140 MySql case sensitive collation varchar push down support
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
Labels: cla-signed

#18484 Fix code style error
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
Labels: cla-signed

#18473 Fix scalar function adapter
  core/trino-spi/src/main/java/io/trino/spi/function/ScalarFunctionAdapter.java
  core/trino-spi/src/test/java/io/trino/spi/function/TestScalarFunctionAdapter.java
Labels: cla-signed

#18474 Mark SPI function annotations with Error Prone keep
  core/trino-spi/src/main/java/io/trino/spi/function/AggregationFunction.java
  core/trino-spi/src/main/java/io/trino/spi/function/InputFunction.java
  core/trino-spi/src/main/java/io/trino/spi/function/OutputFunction.java
  core/trino-spi/src/main/java/io/trino/spi/function/RemoveInputFunction.java
  core/trino-spi/src/main/java/io/trino/spi/function/ScalarFunction.java
  core/trino-spi/src/main/java/io/trino/spi/function/ScalarOperator.java
Labels: cla-signed

#18269 Add helper classes for deletion vector in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/delete/Base85Codec.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/delete/DeletionVectors.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeletionVectorEntry.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/delete/TestBase85Codec.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/delete/TestDeletionVectors.java
  plugin/trino-delta-lake/src/test/resources/databricks/deletion_vectors/README.md
  plugin/trino-delta-lake/src/test/resources/databricks/deletion_vectors/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks/deletion_vectors/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks/deletion_vectors/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/databricks/deletion_vectors/deletion_vector_a52eda8c-0a57-4636-814b-9c165388f7ca.bin
  plugin/trino-delta-lake/src/test/resources/databricks/deletion_vectors/part-00000-0aa47759-3062-4e53-94c8-2e20a0796fee-c000.snappy.parquet
Labels: cla-signed, no-release-notes, delta-lake

#18460 Check type of filter expression at statement analysis
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed

#18441 MySQL LIKE predicate pushdown for varchar/nvarchar columns.
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/expression/RewriteLikeEscapeWithCaseSensitivity.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/expression/RewriteLikeWithCaseSensitivity.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/expression/BaseTestRewriteLikeWithCaseSensitivity.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/expression/TestRewriteLikeEscapeWithCaseSensitivity.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/expression/TestRewriteLikeWithCaseSensitivity.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
Labels: cla-signed

#18488 Reduce max task writer scaling defaults
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
Labels: cla-signed

#18478 Record CASCADE when tracing ConnectorMetadata.dropSchema
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TrinoAttributes.java
Labels: cla-signed, no-release-notes

#18345 Optional check for query partition filter for Delta
  docs/src/main/sphinx/connector/delta-lake.rst
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConfig.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableHandle.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeRequireQueryPartitionsFilter.java
Labels: cla-signed, docs, tests:hive, delta-lake

#18503 Document session property value consistently
  docs/src/main/sphinx/admin/properties-general.md
  docs/src/main/sphinx/admin/properties-optimizer.md
  docs/src/main/sphinx/admin/properties-spilling.md
  docs/src/main/sphinx/admin/properties-task.md
  docs/src/main/sphinx/admin/properties-write-partitioning.md
  docs/src/main/sphinx/admin/properties-writer-scaling.md
Labels: cla-signed, docs

#18323 Mitigate testDynamicFiltering* flakiness
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
Labels: cla-signed

#18480 Create a fault tolerant execution smoke test for `trino-redshift`
  plugin/trino-redshift/pom.xml
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftQueryFailureRecoverySmokeTest.java
Labels: cla-signed, no-release-notes

#18524 Remove redundant copy in ConnectorIdentity.Builder
  core/trino-spi/src/main/java/io/trino/spi/security/ConnectorIdentity.java
Labels: cla-signed

#18528 Remove redundant dependency
  pom.xml
Labels: cla-signed

#18532 Update JMH to 1.37
  pom.xml
Labels: cla-signed

#18374 Suppress warning generated by WebUiStaticResource#getRoot
  core/trino-main/src/main/java/io/trino/server/ui/WebUiStaticResource.java
Labels: cla-signed

#18523 Remove redundant lowercasing in Delta error messages
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18501 Estimate row count when BETWEEN value is an expression
  core/trino-main/src/main/java/io/trino/cost/FilterStatsCalculator.java
  core/trino-main/src/test/java/io/trino/cost/TestFilterStatsCalculator.java
  testing/trino-tests/src/test/resources/sql/presto/tpcds/hive/partitioned/q85.plan.txt
Labels: cla-signed

#18531 Increase PAGE_SIZE_IN_BYTES limits in PageProcessor
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessor.java
  core/trino-main/src/test/java/io/trino/operator/project/TestPageProcessor.java
Labels: cla-signed

#18548 Change wording to clear any misunderstanding
  .github/pull_request_template.md
Labels: cla-signed

#18560 Fix typo
  testing/trino-product-tests/src/main/java/io/trino/tests/product/kudu/TestKuduConnectorKerberosSmokeTest.java
Labels: cla-signed, tests:hive

#18123 Fix bug Delta column operations erases its properties on uppercase names
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeColumnMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesFunction.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/statistics/FileBasedTableStatisticsProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/AddFileEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/MetadataEntry.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogUtil.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/resources/deltalake/case_sensitive/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/case_sensitive/_delta_log/00000000000000000000.json
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCaseInsensitiveMapping.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18543 Glue catalog cleanup
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
Labels: cla-signed, no-release-notes, iceberg

#18552 Update error-prone to 2.21.1
  pom.xml
Labels: cla-signed

#18529 Update oauth2-oidc-sdk to 10.13
  pom.xml
Labels: cla-signed

#18549 Use single tablet server replica for Kudu tests
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/BaseKuduConnectorSmokeTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestingKuduServer.java
Labels: cla-signed

#18534 Update SQL support docs for Blackhole
  docs/src/main/sphinx/connector/blackhole.md
Labels: cla-signed, docs

#18567 Add metastore-level test for column properties
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/TestHive.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveInMemoryMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestHiveGlueMetastore.java
Labels: cla-signed, test, tests:hive, no-release-notes, hive

#18319 Increase writerScalingMinDataProcessed threshold for scaling test
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18577 Fix default file format in Iceberg doc
  docs/src/main/sphinx/connector/iceberg.rst
Labels: docs

#18576 Add `@Flaky` annotation to testNonTransactionalMetadataDelete
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveTransactionalTable.java
Labels: cla-signed, tests:hive, no-release-notes

#18575 Extract a method to decide deleting database data in Hive metastore
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#18530 Update roaringbitmap to 0.9.47
  pom.xml
Labels: cla-signed

#18527 Update JDBI to 3.40.0
  pom.xml
Labels: cla-signed

#18541 Rename experimental config
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreMetadataQueriesAccessOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetadataFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMetastoreAccessOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogAccessOperations.java
Labels: cla-signed, test, tests:hive, no-release-notes, iceberg, hive

#18571 Add example for RESTRICT keyword
  docs/src/main/sphinx/sql/drop-schema.md
Labels: cla-signed, docs

#18583 Fix Delta ANALYZE for mixed case columns
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
Labels: cla-signed, delta-lake

#18540 Drop deprecated optimizer.use-mark-distinct
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanFragmenter.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestMultipleDistinctAggregationToMarkDistinct.java
  core/trino-main/src/test/java/io/trino/sql/query/TestDistinctAggregationsNoMarkDistinct.java
  docs/src/main/sphinx/admin/properties-optimizer.md
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestAggregations.java
Labels: cla-signed, docs

#18547 Update maven to 3.9.4
  .mvn/wrapper/maven-wrapper.properties
Labels: cla-signed

#18533 Do not use metadata deletes during Iceberg writes
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/CommitTaskData.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergColumnHandle.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMergeSink.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSink.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplit.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/IcebergPositionDeletePageSink.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergNodeLocalDynamicSplitPruning.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergStatistics.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#18551 Coerce boolean type for filter expression
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed

#18604 Simplify boolean expression in QueryPlanner
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
Labels: cla-signed

#18256 Show original characters for string literals instead of escaping
  core/trino-parser/src/main/java/io/trino/sql/ExpressionFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/TestExpressionFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/TestSqlFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestStatementBuilder.java
Labels: cla-signed

#18612 Restore original behavior for URI extract functions
  core/trino-main/src/main/java/io/trino/operator/scalar/UrlFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestUrlFunctions.java
Labels: cla-signed, RELEASE-BLOCKER

#18614 Use Antlr's built-in case insensitive lexing support
  core/trino-parser/src/main/antlr4/io/trino/sql/parser/SqlBase.g4
  core/trino-parser/src/main/antlr4/io/trino/type/TypeCalculation.g4
  core/trino-parser/src/main/java/io/trino/sql/parser/CaseInsensitiveStream.java
  core/trino-parser/src/main/java/io/trino/sql/parser/SqlParser.java
  core/trino-parser/src/main/java/io/trino/sql/parser/StatementSplitter.java
  core/trino-parser/src/main/java/io/trino/type/TypeCalculation.java
  plugin/trino-delta-lake/src/main/antlr4/io/trino/plugin/deltalake/expression/SparkExpressionBase.g4
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/CaseInsensitiveStream.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionParser.java
Labels: cla-signed, delta-lake

#18465 Rename variable in Glue catalog modules
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/IcebergGlueCatalogModule.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestingIcebergGlueCatalogModule.java
Labels: cla-signed, iceberg

#18619 Revert "Reduce redundant code in procedure declarations"
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/util/Reflection.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/procedure/FlushJdbcMetadataCacheProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/DropExtendedStatsProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/FlushMetadataCacheProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/RegisterTableProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/UnregisterTableProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/procedure/FlushMetadataCacheProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/recording/WriteHiveMetastoreRecordingProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/CreateEmptyPartitionProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/DropStatsProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/RegisterPartitionProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/SyncPartitionMetadataProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/UnregisterPartitionProcedure.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/RollbackToSnapshotProcedure.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/RegisterTableProcedure.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/UnregisterTableProcedure.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/procedures/RangePartitionProcedures.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18607 Remove redundant QualifiedTablePrefix.matches checks
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
Labels: cla-signed, no-release-notes

#18602 Get result iterator in PinotBrokerPageSource constructor
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotBrokerPageSource.java
Labels: cla-signed

#18305 Add support for DROP SCHEMA CASCADE in JDBC connectors
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestCachingJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcClient.java
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-druid/src/main/java/io/trino/plugin/druid/DruidJdbcClient.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClient.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
  plugin/trino-singlestore/src/main/java/io/trino/plugin/singlestore/SingleStoreClient.java
  plugin/trino-sqlserver/src/main/java/io/trino/plugin/sqlserver/SqlServerClient.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerConnectorTest.java
Labels: cla-signed

#18617 Remove supportsReportingWrittenBytes from SPI
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/test/java/io/trino/metadata/AbstractMockMetadata.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingConnectorBehavior.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18609 Update kafka connector documentation
  docs/src/main/sphinx/connector/kafka.md
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/schema/confluent/ConfluentSchemaRegistryConfig.java
Labels: cla-signed, docs

#18622 Remove unused method from DeltaLakeMetadata
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#18594 Fix structure and execution of type tests
  core/trino-main/src/test/java/io/trino/type/AbstractTestType.java
  core/trino-main/src/test/java/io/trino/type/TestBigintArrayType.java
  core/trino-main/src/test/java/io/trino/type/TestBigintType.java
  core/trino-main/src/test/java/io/trino/type/TestBigintVarcharMapType.java
  core/trino-main/src/test/java/io/trino/type/TestBooleanType.java
  core/trino-main/src/test/java/io/trino/type/TestBoundedVarcharType.java
  core/trino-main/src/test/java/io/trino/type/TestCharType.java
  core/trino-main/src/test/java/io/trino/type/TestColorArrayType.java
  core/trino-main/src/test/java/io/trino/type/TestColorType.java
  core/trino-main/src/test/java/io/trino/type/TestDateType.java
  core/trino-main/src/test/java/io/trino/type/TestDoubleType.java
  core/trino-main/src/test/java/io/trino/type/TestIntegerArrayType.java
  core/trino-main/src/test/java/io/trino/type/TestIntegerType.java
  core/trino-main/src/test/java/io/trino/type/TestIntegerVarcharMapType.java
  core/trino-main/src/test/java/io/trino/type/TestIntervalDayTimeType.java
  core/trino-main/src/test/java/io/trino/type/TestIntervalYearMonthType.java
  core/trino-main/src/test/java/io/trino/type/TestIpAddressType.java
  core/trino-main/src/test/java/io/trino/type/TestJsonType.java
  core/trino-main/src/test/java/io/trino/type/TestLongDecimalType.java
  core/trino-main/src/test/java/io/trino/type/TestLongTimestampType.java
  core/trino-main/src/test/java/io/trino/type/TestLongTimestampWithTimeZoneType.java
  core/trino-main/src/test/java/io/trino/type/TestRealType.java
  core/trino-main/src/test/java/io/trino/type/TestShortDecimalType.java
  core/trino-main/src/test/java/io/trino/type/TestShortTimestampType.java
  core/trino-main/src/test/java/io/trino/type/TestShortTimestampWithTimeZoneType.java
  core/trino-main/src/test/java/io/trino/type/TestSimpleRowType.java
  core/trino-main/src/test/java/io/trino/type/TestSmallintArrayType.java
  core/trino-main/src/test/java/io/trino/type/TestSmallintType.java
  core/trino-main/src/test/java/io/trino/type/TestSmallintVarcharMapType.java
  core/trino-main/src/test/java/io/trino/type/TestTimeType.java
  core/trino-main/src/test/java/io/trino/type/TestTimeWithTimeZoneType.java
  core/trino-main/src/test/java/io/trino/type/TestTinyintArrayType.java
  core/trino-main/src/test/java/io/trino/type/TestTinyintType.java
  core/trino-main/src/test/java/io/trino/type/TestTinyintVarcharMapType.java
  core/trino-main/src/test/java/io/trino/type/TestUnboundedVarcharType.java
  core/trino-main/src/test/java/io/trino/type/TestUnknownType.java
  core/trino-main/src/test/java/io/trino/type/TestUuidType.java
  core/trino-main/src/test/java/io/trino/type/TestVarbinaryType.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestKdbTreeType.java
Labels: cla-signed

#18496 Add Trino 423 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-423.md
Labels: cla-signed, release-notes, docs

#18633 Do not fail on Docker architecture mismatch
  .github/workflows/ci.yml
  testing/trino-testing-containers/pom.xml
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/PlatformChecks.java
  testing/trino-testing-containers/src/main/resources/testcontainers.properties
Labels: cla-signed

#18640 Update parent version in trino-grammar pom
  core/trino-grammar/pom.xml
Labels: cla-signed

#18592 Remove unused checkCanShowRoleAuthorizationDescriptors
  core/trino-main/src/main/java/io/trino/security/AccessControl.java
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/security/AllowAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/DenyAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/ForwardingAccessControl.java
  core/trino-main/src/main/java/io/trino/security/InjectedConnectorAccessControl.java
  core/trino-main/src/main/java/io/trino/testing/AllowAllAccessControlManager.java
  core/trino-main/src/main/java/io/trino/tracing/TracingAccessControl.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorAccessControl.java
  core/trino-spi/src/main/java/io/trino/spi/security/SystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingConnectorAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ReadOnlyAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ReadOnlySystemAccessControl.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/security/BaseFileBasedConnectorAccessControlTest.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/security/LegacyAccessControl.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/security/SqlStandardAccessControl.java
Labels: cla-signed, tests:hive, hive

#18559 Update dropwizard metrics to 4.2.19
  pom.xml
Labels: cla-signed

#18641 Remove unused methods in CachingHiveMetastore
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/CachingHiveMetastore.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#18646 423 release notes fixes
  docs/src/main/sphinx/release/release-423.md
Labels: cla-signed, release-notes, docs, no-release-notes

#18648 Fix assertion in BaseIcebergConnectorSmokeTest
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
Labels: cla-signed, iceberg

#18624 Update Azure SDK to 1.2.15
  plugin/trino-exchange-filesystem/pom.xml
  pom.xml
Labels: cla-signed

#18657 Require the JVM default charset is UTF-8
  core/trino-main/src/main/java/io/trino/server/TrinoSystemRequirements.java
  docs/src/main/sphinx/installation/deployment.md
Labels: cla-signed, docs

#18656 Remove redundant character range in TypeCalculation
  core/trino-grammar/src/main/antlr4/io/trino/grammar/type/TypeCalculation.g4
Labels: cla-signed

#18057 Add a simple optimization of LambdaExpression
  core/trino-main/src/main/java/io/trino/sql/planner/ExpressionInterpreter.java
  core/trino-main/src/test/java/io/trino/sql/TestExpressionInterpreter.java
Labels: cla-signed

#18663 Add support for DROP SCHEMA CASCADE in PostgreSQL
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
Labels: cla-signed

#18558 Update snakeyaml to 2.1
  pom.xml
Labels: cla-signed

#18675 Use Hive native writers for creating empty bucket files
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/s3select/S3SelectTestHelper.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadataFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHiveFileSystem.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18658 Add physicalWrittenBytes to StatementStats
  client/trino-client/src/main/java/io/trino/client/StatementStats.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestProgressMonitor.java
  core/trino-main/src/main/java/io/trino/server/protocol/ProtocolUtil.java
Labels: cla-signed, jdbc

#18542 Avoid unnecessary nested loop O(N*N) on DiscoveryNodeManager#refreshNodesInternal
  core/trino-main/src/main/java/io/trino/metadata/DiscoveryNodeManager.java
Labels: cla-signed

#18689 Add support for DROP SCHEMA CASCADE in Iceberg connector
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#18684 Add JMX jvm config info to docs
  docs/src/main/sphinx/admin/jmx.md
Labels: cla-signed, docs

#17510 Create object storage file formats page
  docs/src/main/sphinx/connector/delta-lake.rst
  docs/src/main/sphinx/connector/hive.rst
  docs/src/main/sphinx/connector/hudi.rst
  docs/src/main/sphinx/connector/iceberg.rst
  docs/src/main/sphinx/connector/object-storage-file-formats.rst
Labels: cla-signed, release-notes, docs

#18701 Fix Hive written bytes reporting for uncompressed text
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/text/TextLineWriter.java
Labels: cla-signed, tests:hive

#18703 Improve performance for line-oriented Hive formats
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/avro/AvroPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/MonitoredInput.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/MonitoredInputFile.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/MonitoredInputStream.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/CsvPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/JsonPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/LinePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/OpenXJsonPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/RegexPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/SimpleSequenceFilePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/SimpleTextFilePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/rcfile/RcFilePageSourceFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveTestUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveFileFormats.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/benchmark/StandardFileFormats.java
Labels: cla-signed, tests:hive, hive

#17509 Create object storage metastore page
  docs/src/main/sphinx/connector/delta-lake.rst
  docs/src/main/sphinx/connector/hive.rst
  docs/src/main/sphinx/connector/hudi.rst
  docs/src/main/sphinx/connector/iceberg.rst
  docs/src/main/sphinx/connector/metastores.rst
Labels: cla-signed, release-notes, docs

#18707 Remove Event listeners from main docs navigation
  docs/src/main/sphinx/admin.md
Labels: cla-signed, docs

#18686 Migrate mysql-event-listener tests to JUnit
  plugin/trino-mysql-event-listener/pom.xml
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListenerConfig.java
Labels: cla-signed

#18692 Exclude TestParquetReader from default test profile
  plugin/trino-hive/pom.xml
Labels: cla-signed, tests:hive, hive

#18696 Update tests to oldest supported Postgres version
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcVendorCompatibility.java
  docs/src/main/sphinx/connector/postgresql.md
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestingPostgreSqlServer.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupsPostgresqlFlywayMigration.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodePostgresql.java
Labels: cla-signed, docs, jdbc

#18681 Migrate exchange-filesystem to JUnit
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/AbstractTestExchangeManager.java
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/TestFileSystemExchangeConfig.java
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/TestFileSystemExchangeSource.java
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/azure/TestExchangeAzureConfig.java
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/s3/TestExchangeS3Config.java
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/s3/TestS3FileSystemExchangeManager.java
Labels: cla-signed

#18680 Migrate exchange-hdfs to JUnit
  plugin/trino-exchange-hdfs/pom.xml
  plugin/trino-exchange-hdfs/src/test/java/io/trino/plugin/exchange/hdfs/TestExchangeHdfsConfig.java
Labels: cla-signed

#18679 Migrate blackhole tests to JUnit
  plugin/trino-blackhole/pom.xml
  plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleMetadata.java
  plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleSmoke.java
Labels: cla-signed

#18677 Migrate atop tests to JUnit
  plugin/trino-atop/pom.xml
  plugin/trino-atop/src/test/java/io/trino/plugin/atop/TestAtopConnectorConfig.java
  plugin/trino-atop/src/test/java/io/trino/plugin/atop/TestAtopHang.java
  plugin/trino-atop/src/test/java/io/trino/plugin/atop/TestAtopPlugin.java
  plugin/trino-atop/src/test/java/io/trino/plugin/atop/TestAtopSecurity.java
  plugin/trino-atop/src/test/java/io/trino/plugin/atop/TestAtopSmoke.java
  plugin/trino-atop/src/test/java/io/trino/plugin/atop/TestAtopSplit.java
Labels: cla-signed

#18676 Migrate Elasticsearch tests to JUnit
  plugin/trino-elasticsearch/pom.xml
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestAwsSecurityConfig.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestElasticsearchConfig.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestElasticsearchMetadata.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestElasticsearchQueryBuilder.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestPasswordAuthentication.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestPasswordConfig.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/client/TestExtractAddress.java
Labels: cla-signed

#18678 Migrate accumulo-iterators to JUnit
  plugin/trino-accumulo-iterators/pom.xml
  plugin/trino-accumulo-iterators/src/test/java/io/trino/server/TestDummy.java
Labels: cla-signed

#18700 Remove writer config overrides in scale writer tests
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18709 Improve performance of native Hive JSON reader
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/json/JsonDeserializer.java
Labels: cla-signed, tests:hive

#18713 Fix typo in the element name
  pom.xml
Labels: cla-signed

#18561 Add connector SPI for scale writers options
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddExchanges.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddLocalExchanges.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/BeginTableWrite.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableWriterNode.java
  core/trino-main/src/main/java/io/trino/sql/planner/sanity/ValidateScaledWritersUsage.java
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-main/src/test/java/io/trino/connector/MockConnectorFactory.java
  core/trino-main/src/test/java/io/trino/metadata/AbstractMockMetadata.java
  core/trino-main/src/test/java/io/trino/operator/TestTableWriterOperator.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestingWriterTarget.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestRemoveEmptyMergeWriterRuleSet.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/test/PlanBuilder.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddExchangesScaledWriters.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddLocalExchangesForTaskScaleWriters.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestLimitMaxWriterNodesCount.java
  core/trino-main/src/test/java/io/trino/sql/planner/sanity/TestValidateScaledWritersUsage.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  core/trino-spi/src/main/java/io/trino/spi/connector/WriterScalingOptions.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18685 Migrate jmx connector tests to JUnit
  core/trino-main/src/test/java/io/trino/sql/query/QueryAssertions.java
  plugin/trino-jmx/pom.xml
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxColumnHandle.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxConnectorConfig.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxHistoricalData.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxMetadata.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxQueries.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxSplit.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxSplitManager.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxTableHandle.java
Labels: cla-signed

#18688 Simplify Hive connector scale writers test
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/hive/TestHiveFaultTolerantExecutionConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18606 Close Input Streams in HDFS and Local Exchange storage
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/local/LocalFileSystemExchangeStorage.java
  plugin/trino-exchange-hdfs/src/main/java/io/trino/plugin/exchange/hdfs/HadoopFileSystemExchangeStorage.java
Labels: cla-signed

#18705 Add documentation for MySQL event listener
  docs/src/main/sphinx/admin.md
  docs/src/main/sphinx/admin/event-listeners-mysql.md
Labels: cla-signed, docs

#18611 Make CDF compatible with column mapping
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18704 Add Trino 424 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-424.md
Labels: cla-signed, release-notes, docs

#18714 Initialize lastTaskStatCallNanos correctly
  core/trino-main/src/main/java/io/trino/operator/TaskContext.java
Labels: cla-signed

#18737 Mark fields of CsvPrinter.CsvOutputFormat as final
  client/trino-cli/src/main/java/io/trino/cli/CsvPrinter.java
Labels: cla-signed

#18683 Improve Hive JSON writer performance
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/json/JsonSerializer.java
Labels: cla-signed, tests:hive

#18740 Remove outdated comment
  pom.xml
Labels: cla-signed

#18741 Update OTEL instrumentation to 1.29.0
  client/trino-jdbc/pom.xml
  pom.xml
Labels: cla-signed, jdbc

#18736 Add support for OpenTelemetry in Cassandra connector
  plugin/trino-cassandra/pom.xml
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraClientModule.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraConnectorFactory.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/ptf/Query.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed

#18746 Add support for OpenTelemetry in MongoDB connector
  plugin/trino-mongodb/pom.xml
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoClientModule.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoConnectorFactory.java
Labels: cla-signed, mongodb

#18724 Fix testWriterTasksCountLimitUnpartitioned test
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18574 Document `postgresql.include-system-tables` config property
  docs/src/main/sphinx/connector/postgresql.md
Labels: cla-signed, docs

#18759 Bind GrpcChannelOptionsConfigurer in BigQuery connector
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConnectorModule.java
Labels: cla-signed, bigquery

#18757 Use smaller scale factor in writer tests
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#18774 Allow re-using Oracle container in tests
  plugin/trino-oracle/pom.xml
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleConnectorTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOraclePoolConnectorSmokeTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestingOracleServer.java
Labels: cla-signed

#18320 Support `CASCADE` option for `DROP SCHEMA` statement in Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseTestHiveOnDataLake.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18761 Use random table names in tests
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, tests:hive, iceberg, hive

#18763 Migrate Accumulo tests to JUnit
  plugin/trino-accumulo/pom.xml
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/TestAccumuloClient.java
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/index/TestIndexer.java
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/model/TestAccumuloSplit.java
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/model/TestField.java
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/model/TestRow.java
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/model/TestSerializedRange.java
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/serializers/AbstractTestAccumuloRowSerializer.java
Labels: cla-signed

#18777 Support reading negative zero in MongoDB
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoPageSource.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoConnectorTest.java
Labels: cla-signed, mongodb

#18789 Check if DELETE pushdown write operation is feasible
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, delta-lake

#17920 Create external table location for Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHiveFileSystem.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveCreateExternalTable.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveS3AndGlueMetastoreTest.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/Suite2.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-hdfs-impersonation/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-hive-impersonation/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hdfs-impersonation-cross-realm/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hdfs-impersonation-with-wire-encryption/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hdfs-impersonation/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hdfs-no-impersonation/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hive-impersonation-with-credential-cache/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hive-impersonation/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-kerberos-hive-no-impersonation-with-credential-cache/hive.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestImpersonation.java
Labels: cla-signed, docs, tests:hive, hive

#18796 Update Arrow to 13.0.0
  pom.xml
Labels: cla-signed

#18654 Set defaultTaskMmeory to 0 for REFRESH MATERIALIZED VIEW
  core/trino-main/src/main/java/io/trino/execution/scheduler/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#18782 Add Trino 425 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-425.md
Labels: cla-signed, release-notes, docs

#18807 Update testcontainers to 1.19.0
  pom.xml
Labels: cla-signed

#18804 Disable function deprecation checks on workers
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalyzer.java
Labels: cla-signed

#18813 Use more descriptive variable names in CLI table printers
  client/trino-cli/src/main/java/io/trino/cli/AlignedTablePrinter.java
  client/trino-cli/src/main/java/io/trino/cli/MarkdownTablePrinter.java
  client/trino-cli/src/test/java/io/trino/cli/TestAlignedTablePrinter.java
  client/trino-cli/src/test/java/io/trino/cli/TestMarkdownTablePrinter.java
Labels: cla-signed

#18825 Update iceberg to 1.3.1
  pom.xml
Labels: cla-signed

#18834 Update Temurin JDK 21-ea to first RC
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/jdk/Temurin21RcJdkProvider.java
Labels: cla-signed

#18717 Increase page delay in runOptimizeDuringWriteOperations
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#18827 Remove obsolete config/session property
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
Labels: cla-signed

#18836 Increase default response/request buffer size for OAuth2 client
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2ServiceModule.java
Labels: cla-signed

#18729 Test unpartitioned Delta table access costs
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, test, no-release-notes, delta-lake

#18662 Store physical partition name in Delta CREATE TABLE AS SELECT
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#18788 Add support for TRUNCATE TABLE statement in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#18333 Support `CASCADE` option for `DROP SCHEMA` statement in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#18840 Remove unused hudi.metadata-enabled config property
  docs/src/main/sphinx/connector/hudi.md
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiConfig.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiSessionProperties.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiConfig.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiConnectorMetadataTest.java
Labels: cla-signed, docs, hudi

#18706 Approximate written bytes in Hive and Iceberg sorted writers
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/SortingFileWriter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, tests:hive, iceberg, hive

#18815 Fix column lineage for UPDATE statements with subqueries
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerBasic.java
Labels: cla-signed

#18837 Fix reading large SequenceFile, RCFile, or Avro files
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/TrinoDataInputStream.java
Labels: cla-signed, tests:hive

#18852 Fix parser fallback to LL mode
  core/trino-parser/src/main/java/io/trino/sql/jsonpath/PathParser.java
  core/trino-parser/src/main/java/io/trino/sql/parser/SqlParser.java
  core/trino-parser/src/main/java/io/trino/type/TypeCalculation.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/expression/ExpressionMappingParser.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionParser.java
Labels: cla-signed, delta-lake

#18708 Remove duplicate property documentation
  docs/src/main/sphinx/connector/delta-lake.md
  docs/src/main/sphinx/connector/object-storage-file-formats.md
Labels: cla-signed, docs

#18792 Fix wrong scheduling policy name from weight to weighted
  docs/src/main/sphinx/admin/resource-groups.md
Labels: cla-signed, docs

#18828 Fix hive ANALYZE when row count stats are missing
  plugin/trino-hive-hadoop2/src/test/java/io/trino/plugin/hive/TestHive.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveBasicStatistics.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/PartitionStatistics.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestHiveGlueMetastore.java
Labels: cla-signed, tests:hive, hive

#18730 Skip getTableHandle call in information_schema.columns with table filter
  core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaMetadata.java
  testing/trino-tests/src/test/java/io/trino/tests/TestInformationSchemaConnector.java
Labels: cla-signed

#18806 Don't run TestDeltaLakeTransactionLogCache in Databricks
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeTransactionLogCache.java
Labels: cla-signed, tests:hive

#18866 Fix NPE for spatial left join
  core/trino-main/src/main/java/io/trino/operator/PagesRTreeIndex.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestSpatialJoins.java
Labels: cla-signed

#18870 Document batch fetch config property
  docs/src/main/sphinx/connector/metastores.md
Labels: cla-signed, docs

#16067 Support SET SESSION AUTHORIZATION and RESET SESSION AUTHORIZATION
  client/trino-cli/src/main/java/io/trino/cli/Console.java
  client/trino-cli/src/main/java/io/trino/cli/Query.java
  client/trino-client/src/main/java/io/trino/client/ClientSession.java
  client/trino-client/src/main/java/io/trino/client/ProtocolHeaders.java
  client/trino-client/src/main/java/io/trino/client/StatementClient.java
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriver.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoResultSet.java
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-main/src/main/java/io/trino/Session.java
  core/trino-main/src/main/java/io/trino/SessionRepresentation.java
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
  core/trino-main/src/main/java/io/trino/dispatcher/FailedDispatchQuery.java
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-main/src/main/java/io/trino/execution/QueryInfo.java
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/ResetSessionAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/execution/SetSessionAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/server/HttpRequestSessionContextFactory.java
  core/trino-main/src/main/java/io/trino/server/QueryExecutionFactoryModule.java
  core/trino-main/src/main/java/io/trino/server/QuerySessionSupplier.java
  core/trino-main/src/main/java/io/trino/server/SessionContext.java
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryResultsResponse.java
  core/trino-main/src/main/java/io/trino/server/security/InsecureAuthenticator.java
  core/trino-main/src/main/java/io/trino/server/security/PasswordAuthenticator.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/testing/LocalQueryRunner.java
  core/trino-main/src/main/java/io/trino/testing/TestingSession.java
  core/trino-main/src/main/java/io/trino/util/StatementUtils.java
  core/trino-main/src/test/java/io/trino/execution/MockManagedQueryExecution.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryInfo.java
  core/trino-main/src/test/java/io/trino/execution/TestSetSessionAuthorizationTask.java
  core/trino-main/src/test/java/io/trino/server/TestBasicQueryInfo.java
  core/trino-main/src/test/java/io/trino/server/TestQueryStateInfo.java
  core/trino-main/src/test/java/io/trino/server/TestSessionPropertyDefaults.java
  core/trino-main/src/test/java/io/trino/server/security/TestResourceSecurity.java
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/tree/AstVisitor.java
  core/trino-parser/src/main/java/io/trino/sql/tree/ResetSessionAuthorization.java
  core/trino-parser/src/main/java/io/trino/sql/tree/SetSessionAuthorization.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestStatementBuilder.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryContext.java
  docs/src/main/sphinx/develop/client-protocol.md
  docs/src/main/sphinx/sql.md
  docs/src/main/sphinx/sql/reset-session-authorization.rst
  docs/src/main/sphinx/sql/set-session-authorization.rst
  plugin/trino-http-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpEventListener.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
  plugin/trino-session-property-managers/src/test/java/io/trino/plugin/session/db/TestDbSessionPropertyManagerIntegration.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingSessionContext.java
  testing/trino-testing/src/test/java/io/trino/testing/TestTestingTrinoClient.java
  testing/trino-tests/src/test/java/io/trino/execution/TestSetSessionAuthorization.java
  testing/trino-tests/src/test/resources/set_session_authorization_permissions.json
Labels: cla-signed, docs, jdbc

#18868 Avoid Slice allocations in decimal aggregation
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowAndLongStateSerializer.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowStateSerializer.java
Labels: cla-signed

#18538 Stop testing compatibility against Databricks 7.3
  .github/workflows/ci.yml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeDeltaLakeDatabricks73.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteDeltaLakeDatabricks73.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCaseInsensitiveMapping.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeChangeDataFeedCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCheckConstraintCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksCheckpointsCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksInsertCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeIdentityColumnCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeSystemTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeTimeTravelCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeWriteDatabricksCompatibility.java
Labels: cla-signed, test, docs, tests:hive, no-release-notes, delta-lake

#18876 Flip the `TABLE_COMMENT` table parameter value comparison
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewReaderUtil.java
Labels: cla-signed, tests:hive, hive

#18883 Fix javadoc links
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
Labels: cla-signed

#18197 Throw exceptions when pinot grpc query incomplete
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotGrpcDataFetcher.java
Labels: cla-signed, no-release-notes

#18878 Do not run Hive and Delta compatibility tests on Databricks
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeRedirect.java
Labels: cla-signed, tests:hive, no-release-notes
