Repository trinodb/trino, pull requests merged in 2023-03, with the labels that each got.

#16313 Use text blocks to define `SCHEMA_LITERAL`
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestAvroSchemaLiteral.java
Labels: cla-signed, tests:hive, no-release-notes

#16318 Remove ClickHouse test 'testAddColumn' by override the 'tableDefinitionForAddColumn'
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseConnectorTest.java
Labels: cla-signed, test

#16251 Migrate to TrinoFileSystem
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeTableWithCustomLocation.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/FileTestingTransactionLogSynchronizer.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeGcsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableWithCustomLocationUsingGlueMetastore.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableWithCustomLocationUsingHiveMetastore.java
Labels: cla-signed

#16305 Allow the check-commits to be marked as success instead of skipped
  .github/bin/prepare-check-commits-matrix.py
  .github/workflows/ci.yml
Labels: cla-signed

#16322 Update ClickHouse 'testDropColumn' test
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseConnectorTest.java
Labels: cla-signed, test

#16312 Fix typo in TestIcebergV2
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#16326 Increase timeout to 1 minute for BigQuery access policy tests
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#16338 Remove note about legacy Clickhouse driver
  docs/src/main/sphinx/connector/clickhouse.rst
Labels: cla-signed

#16201 Show stats in EXPLAIN/EXPLAIN ANALYZE with partial aggregation
  core/trino-main/src/main/java/io/trino/cost/AggregationStatsRule.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestShowStats.java
  testing/trino-tests/src/test/java/io/trino/tests/tpch/TestTpchDistributedStats.java
  testing/trino-tests/src/test/java/io/trino/tests/tpch/TestTpchLocalStats.java
Labels: cla-signed, tests:hive, hive

#15927 Use MarkDistinct only in limited cases
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/MultipleDistinctAggregationToMarkDistinct.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestMultipleDistinctAggregationToMarkDistinct.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddExchangesPlans.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestOptimizeMixedDistinctAggregations.java
  docs/src/main/sphinx/admin/properties-optimizer.rst
Labels: cla-signed, docs, performance

#16334 Remove unnecessary override method testColumnName in ClickHouse
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseConnectorTest.java
Labels: cla-signed, test

#16344 Remove supports join pushdown doc in Ignite
  docs/src/main/sphinx/connector/ignite.rst
Labels: cla-signed, docs

#16264 Support reading FIXED_LEN_BYTE_ARRAY as varchar/varbinary columns
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/PlainValueDecoders.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/ValueDecoders.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestData.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestingColumnReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/decoders/BinaryApacheParquetValueDecoder.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/decoders/TestByteArrayValueDecoders.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/decoders/TestFixedWidthByteArrayValueDecoders.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/AbstractTestParquetReader.java
Labels: cla-signed, tests:hive

#16327 Support inserting default values in BigQuery
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#16331 Download dependencies ones when compiling individual commits
  .github/actions/compile-commit/action.yml
Labels: cla-signed

#16345 Remove extra space in DeltaLakeMetadata
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, no-release-notes, delta-lake

#16339 Update Ignite 'ImplementAvgBigint' implementation
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/ImplementAvgBigint.java
Labels: cla-signed

#16351 Fix typo in access control properties title
  docs/src/main/sphinx/security/kerberos.rst
Labels: cla-signed

#16350 Make stale action only run in Trino repo
  .github/workflows/stale.yml
Labels: cla-signed

#16329 Expose top level statistics in EXPLAIN ANALYZE
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
  docs/src/main/sphinx/sql/explain-analyze.rst
  testing/trino-testing/src/main/java/io/trino/testing/AbstractDistributedEngineOnlyQueries.java
Labels: cla-signed, docs, tests:hive, hive

#16341 Extend retry policy for dropping delta tables backed by AWS Glue on Databricks
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/util/DeltaLakeTestUtils.java
Labels: cla-signed, tests:hive

#15892 fix estimatedWrittenBytes bug
  core/trino-main/src/main/java/io/trino/operator/exchange/UniformPartitionRebalancer.java
  core/trino-main/src/test/java/io/trino/operator/exchange/TestUniformPartitionRebalancer.java
Labels: cla-signed

#16330 Add tests for trailing space in location in delta lake
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeMinioConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeRegisterTableProcedureTest.java
  plugin/trino-delta-lake/src/test/resources/io/trino/plugin/deltalake/hdp3.1-core-site.xml.gcs-template
Labels: cla-signed, delta-lake

#15802 Add support for time type in Cassandra
  docs/src/main/sphinx/connector/cassandra.rst
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraPageSink.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraRecordCursor.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraType.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraTypeManager.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraTypes.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraTypeMapping.java
Labels: cla-signed, docs

#16090 Allow different jdbc metadata cache ttls for schema and tables lists
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcConfig.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestBaseJdbcConfig.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestCachingJdbcClient.java
Labels: cla-signed

#16335 Add Trino 409 release notes
  docs/src/main/sphinx/release.rst
  docs/src/main/sphinx/release/release-408.md
  docs/src/main/sphinx/release/release-409.md
Labels: cla-signed, release-notes, docs

#16362 Allow reading TimeLogicalTypeAnnotation as BIGINT in parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestingColumnReader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestReadingTimeLogicalAnnotation.java
  plugin/trino-hive/src/test/resources/parquet_file_with_time_logical_annotation/time-micros.parquet
Labels: cla-signed, tests:hive, hive

#16368 Removed reference to Presto in Hive performance tuning configuration …
  docs/src/main/sphinx/connector/hive.rst
Labels: docs

#16347 Add tests for trailing space in location for iceberg
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/resources/hdp3.1-core-site.xml.gcs-template
Labels: cla-signed, iceberg

#16372 Prefer qualified builder to static import
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestCachingJdbcClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/InMemoryThriftMetastore.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/S3HudiQueryRunner.java
Labels: cla-signed, tests:hive, hudi, hive

#16348 Remove reference to AST in RefreshMaterializedViewReference
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableWriterNode.java
Labels: cla-signed

#16364 Fix get tables not escape the wildcard chars in IgniteClient
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed

#16359 Update Ignite getTableProperties implementation
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
Labels: cla-signed

#16349 Fix Partition Projection storage location
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/aws/athena/PartitionProjectionService.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseTestHiveOnDataLake.java
Labels: cla-signed, tests:hive, hive

#16343 Support pushdown count(distinct) in Ignite
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed

#16019 Remove empty values node after predicate-expression based pruning
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDatabaseMetaData.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushPredicateIntoTableScan.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushPredicateIntoTableScan.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestRemoveEmptyUnionBranches.java
  core/trino-main/src/test/java/io/trino/sql/planner/planprinter/TestJsonRepresentation.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/optimizer/TestConnectorPushdownRulesWithHive.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/optimizer/TestConnectorPushdownRulesWithIceberg.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerBasic.java
Labels: cla-signed, jdbc, tests:hive

#16376 Improve Hive documentation
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs, no-release-notes

#15750 Add Support AWS STS for S3 Select
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/s3select/TrinoS3ClientFactory.java
Labels: cla-signed, tests:hive

#16324 Add TestAddColumnTask and TestDropColumnTask
  core/trino-main/src/test/java/io/trino/execution/BaseDataDefinitionTaskTest.java
  core/trino-main/src/test/java/io/trino/execution/TestAddColumnTask.java
  core/trino-main/src/test/java/io/trino/execution/TestDropColumnTask.java
Labels: cla-signed

#16258 Respect `hive.timestamp-precision` in Hive views
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadataFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewReaderUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/AbstractTestHiveViews.java
Labels: cla-signed, tests:hive, hive

#15945 Drop the check regarding the presence of all computed partition statistics
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
Labels: cla-signed, tests:hive, no-release-notes

#16400 Update Aircompressor to 0.24
  pom.xml
Labels: cla-signed

#16080 Filter `information_schema` within engine
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDatabaseMetaData.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalog.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-tests/src/test/java/io/trino/tests/TestInformationSchemaConnector.java
Labels: cla-signed, jdbc, tests:hive, iceberg, delta-lake, hive, bigquery

#16425 Rearrange connectorBeahvior branch order in TestIgniteConnectorTest
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed, test

#16434 Fix formatting
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushPartialAggregationThroughJoin.java
Labels: cla-signed

#16439 Fix formatting
  core/trino-main/src/main/java/io/trino/sql/planner/EqualityInference.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
Labels: cla-signed

#16444 [FIX] Coerce NullLiteral to boolean in UnwrapCastInComparison
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapCastInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapCastInComparison.java
Labels: cla-signed

#16422 Add Trino 410 release notes
  docs/src/main/sphinx/release.rst
  docs/src/main/sphinx/release/release-409.md
  docs/src/main/sphinx/release/release-410.md
Labels: cla-signed, release-notes, docs

#16136 Support inserting into Delta Lake table having invariants
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorSmokeTest.java
Labels: cla-signed, delta-lake

#16443 Add ConnectorSession to TableFunctionProcessorProvider#getSplitProcessor
  core/trino-main/src/main/java/io/trino/operator/LeafTableFunctionOperator.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ImplementTableFunctionSource.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AddLocalExchanges.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/SymbolMapper.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/UnaliasSymbolReferences.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableFunctionNode.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableFunctionProcessorNode.java
  core/trino-main/src/test/java/io/trino/connector/TestingTableFunctions.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/test/PlanBuilder.java
  core/trino-spi/src/main/java/io/trino/spi/ptf/TableFunctionProcessorProvider.java
Labels: cla-signed

#16440 Use deterministic map in equality inference
  core/trino-main/src/main/java/io/trino/sql/planner/EqualityInference.java
Labels: cla-signed

#16398 Support predicate pushdown with like in Ignite
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed

#13390 Remove deprecated Elasticsearch passthrough query
  docs/src/main/sphinx/connector/elasticsearch.rst
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchConfig.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchMetadata.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/BaseElasticsearchConnectorTest.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestDisabledLegacyPassThroughQuery.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestElasticsearchConfig.java
Labels: cla-signed, docs

#16467 Use lambda
  core/trino-main/src/main/java/io/trino/sql/planner/EqualityInference.java
Labels: cla-signed

#16463 Use air.test.jvm.additional-arguments in BigQuery
  plugin/trino-bigquery/pom.xml
Labels: cla-signed, bigquery

#16142 Add CI infrastructure for `trino-redshift`
  .github/bin/redshift/delete-aws-redshift.sh
  .github/bin/redshift/setup-aws-redshift.sh
  .github/workflows/ci.yml
  .gitignore
  plugin/trino-redshift/README.md
  plugin/trino-redshift/pom.xml
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/RedshiftQueryRunner.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorSmokeTest.java
Labels: cla-signed

#16471 Update action-surefire-report
  .github/workflows/annotate.yml
Labels: cla-signed

#16487 Throw `TableNotFoundException` when SQLServer error is 208
  plugin/trino-sqlserver/src/main/java/io/trino/plugin/sqlserver/SqlServerClient.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerConnectorTest.java
Labels: cla-signed

#16493 Fix variable name
  core/trino-main/src/main/java/io/trino/sql/planner/EqualityInference.java
Labels: cla-signed

#16498 Update action-surefire-report to fix processing large report files
  .github/workflows/annotate.yml
Labels: cla-signed

#16505 Avoid CI log spam when downloading dependencies
  .github/bin/download-maven-dependencies.sh
Labels: cla-signed

#16482 Fix generation of JSON path keyvalue() IDs
  core/trino-main/src/main/java/io/trino/json/PathEvaluationVisitor.java
  core/trino-main/src/test/java/io/trino/json/TestJsonPathEvaluator.java
Labels: bug, cla-signed, correctness

#16506 Avoid CI log spam when downloading dependencies
  .github/bin/download-maven-dependencies.sh
Labels: cla-signed

#16490 Remove bogus overload in tests
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveTestUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/rubix/TestRubixCaching.java
Labels: cla-signed, tests:hive, hive

#16486 Don't enforce top-level repo name in BaseCostBasedPlanTest
  testing/trino-tests/src/test/java/io/trino/sql/planner/BaseCostBasedPlanTest.java
Labels: cla-signed

#16513 Correct misuse of Description annotation in Config
  core/trino-main/src/main/java/io/trino/sql/planner/CompilerConfig.java
Labels: cla-signed

#16388 Deserialize partition value by physical name for Delta connector
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeColumnMappingMode.java
Labels: cla-signed, tests:hive, delta-lake

#16509 Add test for SharedResource
  testing/trino-testing-services/src/test/java/io/trino/testng/services/TestSharedResource.java
Labels: cla-signed, test

#16381 Enable colocated join by default
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddExchangesPlans.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestColocatedJoin.java
  docs/src/main/sphinx/admin/properties-optimizer.rst
Labels: cla-signed, docs

#16442 Add spilled data size to QueryStatistics
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryStatistics.java
  plugin/trino-http-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpEventListener.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerBasic.java
Labels: cla-signed

#16429 Support Ignite (inner, left, right) join pushdown
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: enhancement, cla-signed

#16353 reorder azure storage
  docs/src/main/sphinx/connector/hive-azure.rst
Labels: cla-signed, docs

#13493 Add support for `migrate` procedure in Iceberg
  docs/src/main/sphinx/connector/iceberg.rst
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractIcebergTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/file/IcebergFileMetastoreCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/IcebergGlueCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/IcebergHiveMetastoreCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergProcedureCalls.java
Labels: cla-signed, docs, tests:hive, iceberg, delta-lake, hive

#16517 Expose JMX RMI in product tests
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/Standard.java
Labels: cla-signed

#16519 Fix FilesTable for non-null key_metadata, split_offsets, equality_ids
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/FilesTable.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#16535 Add `sinh` function to return hyperbolic sine
  core/trino-main/src/main/java/io/trino/operator/scalar/MathFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestMathFunctions.java
  docs/src/main/sphinx/functions/list-by-topic.rst
  docs/src/main/sphinx/functions/list.rst
  docs/src/main/sphinx/functions/math.rst
  testing/trino-product-tests/src/main/resources/sql-tests/testcases/math_functions/checkMathFunctionsRegistered.result
Labels: cla-signed, docs, tests:hive

#16499 Fix BaseFailureRecoveryTest temp table checking flakiness #16277
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed

#16073 Add native OpenX JSON format
  lib/trino-hive-formats/pom.xml
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/HiveFormatUtils.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/InvalidJsonException.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/JsonReader.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/JsonString.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/JsonWriter.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/OpenXJsonDeserializer.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/OpenXJsonDeserializerFactory.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/OpenXJsonOptions.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/OpenXJsonSerializer.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/OpenXJsonSerializerFactory.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/README.md
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/FormatTestUtils.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/openxjson/JsonReaderTest.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/openxjson/TestOpenxJsonFormat.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveFormatsConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveStorageFormat.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/OpenXJsonFileWriterFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/OpenXJsonPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveClassNames.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveTestUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveFileFormats.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveFormatsConfig.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveStorageFormats.java
Labels: cla-signed, tests:hive, hive

#14406 Update airlift units to 1.8
  client/trino-cli/pom.xml
  client/trino-client/pom.xml
  client/trino-jdbc/pom.xml
  pom.xml
Labels: cla-signed, jdbc

#16556 Deprecate MISSING_DATA error codes and cleanup error handling
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveErrorCode.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/LinePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/HdfsOrcDataSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcDeleteDeltaPageSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/rcfile/RcFilePageSourceFactory.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiErrorCode.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergErrorCode.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
Labels: cla-signed, tests:hive, hudi, iceberg, hive

#16548 Upgrade jsonwebtoken to 0.11.5
  pom.xml
Labels: cla-signed

#16563 Fix validation of session variable MAX_HASH_PARTITION_COUNT
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
Labels: cla-signed

#16560 Fix spelling mistake
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
Labels: cla-signed

#16518 Do not inline non-deterministic expressions as projection
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ReplaceJoinOverConstantWithProject.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestReplaceJoinOverConstantWithProject.java
  core/trino-main/src/test/java/io/trino/sql/query/TestJoin.java
Labels: cla-signed, RELEASE-BLOCKER

#16537 Remove unused methods from `DeltaLakeTableHandle`
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableHandle.java
Labels: cla-signed, no-release-notes, delta-lake

#16564 Restore skip archive handler in Iceberg Glue catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueClientProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/IcebergGlueCatalogModule.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestingIcebergGlueCatalogModule.java
Labels: cla-signed, iceberg

#16576 Add REFS to TestIcebergGlueCatalogAccessOperations.testSelectSystemTable
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogAccessOperations.java
Labels: cla-signed, no-release-notes, iceberg

#16586 Fix stage scheduling logic in FTE mode
  core/trino-main/src/main/java/io/trino/execution/scheduler/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#16588 Remove Iceberg connector tests for REST and JDBC catalogs
  .github/workflows/ci.yml
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/jdbc/TestIcebergJdbcConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalogConnectorTest.java
Labels: cla-signed, test, no-release-notes, iceberg

#16554 Improve docs for skewness function
  docs/src/main/sphinx/functions/aggregate.rst
Labels: cla-signed, docs

#16590 Add clean up for DeltaLake ANALYZE tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAnalyze.java
Labels: cla-signed, delta-lake

#16106 Simplify predicates involving year function
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapYearInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapYearInComparison.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/ConstraintExtractor.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestConstraintExtractor.java
Labels: cla-signed, iceberg

#16390 Add example for TRINO_PASSWORD usage
  docs/src/main/sphinx/client/cli.rst
Labels: cla-signed, docs

#16595 Avoid deserialization when no columns are needed
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/GenericHiveRecordCursor.java
Labels: cla-signed, tests:hive, performance, hive

#16432 Update documentation for table functions
  docs/src/main/sphinx/develop/table-functions.rst
  docs/src/main/sphinx/functions/table.rst
Labels: cla-signed, docs

#16610 Print diagnostic messages to stderr when testing docker image
  core/docker/container-test.sh
Labels: cla-signed, test, no-release-notes

#16605 Prevent Hive from returning table handles for Hudi tables
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveUtil.java
Labels: cla-signed, tests:hive, hive

#16447 Avoid extra allocation in OrderByOperator#getOutput()
  core/trino-main/src/main/java/io/trino/operator/OrderByOperator.java
Labels: cla-signed

#16614 Allow to disable transactional directory listing cache
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadataFactory.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#16314 Remove language codes from external URLs
  docs/src/main/sphinx/admin/spill.rst
  docs/src/main/sphinx/client/cli.rst
  docs/src/main/sphinx/client/jdbc.rst
  docs/src/main/sphinx/connector/bigquery.rst
  docs/src/main/sphinx/connector/hive-azure.rst
  docs/src/main/sphinx/connector/sqlserver.rst
  docs/src/main/sphinx/functions/binary.rst
  docs/src/main/sphinx/functions/datetime.rst
  docs/src/main/sphinx/functions/geospatial.rst
  docs/src/main/sphinx/functions/hyperloglog.rst
  docs/src/main/sphinx/functions/setdigest.rst
  docs/src/main/sphinx/functions/string.rst
  docs/src/main/sphinx/glossary.rst
  docs/src/main/sphinx/installation/kubernetes.rst
  docs/src/main/sphinx/language/types.rst
  docs/src/main/sphinx/security/jwt.rst
  docs/src/main/sphinx/security/tls.rst
Labels: cla-signed, docs

#16477 Update Hive catalog example name documentation
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs

#16307 Eagerly discard FileSingleStreamSpiller encryption keys
  core/trino-main/src/main/java/io/trino/spiller/FileSingleStreamSpiller.java
  core/trino-main/src/test/java/io/trino/spiller/TestFileSingleStreamSpiller.java
Labels: cla-signed

#16578 Fix merge doc written demo value error
  docs/src/main/sphinx/develop/supporting-merge.rst
Labels: cla-signed, docs

#16604 Set maxOutputLength correctly
  core/trino-main/src/main/java/io/trino/execution/buffer/PageDeserializer.java
  core/trino-main/src/test/java/io/trino/execution/buffer/TestPagesSerde.java
Labels: cla-signed

#16360 Add FixedSplitSource constructors
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-spi/src/main/java/io/trino/spi/connector/FixedSplitSource.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchSplitManager.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSplitManager.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitManager.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSplitManager.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotSplitManager.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive, bigquery, mongodb

#16625 Make hive.metastore-stats-cache-ttl >= to hive.metastore-cache-ttl
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/SharedHiveMetastoreCache.java
Labels: cla-signed, tests:hive, hive

#16624 Improve LongSumAggregation and DoubleSumAggregation serde
  core/trino-main/src/main/java/io/trino/operator/aggregation/LongDoubleState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/LongLongState.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerWithSplits.java
Labels: cla-signed

#16448 Use existing variable for file length
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/rcfile/RcFileReader.java
Labels: cla-signed, tests:hive

#16601 Remove unused method from QueryManagerStats
  core/trino-main/src/main/java/io/trino/execution/QueryManagerStats.java
Labels: cla-signed

#16256 Replace usage of hadoop.fs.Path with String in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/HiveMetastoreBackedDeltaLakeMetastore.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/RegisterTableProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/statistics/MetaDirStatisticsAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/MissingTransactionLogException.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogParser.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogUtil.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TransactionLogTail.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/TransactionLogWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeRegisterTableProcedureTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakePageSink.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestingDeltaLakeUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTableSnapshot.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTransactionLogParser.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestTransactionLogTail.java
Labels: cla-signed, no-release-notes, delta-lake

#16109 Add statistics collection for added column
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAnalyze.java
Labels: cla-signed, delta-lake

#16266 [trino-ignite] Ensure primary_key columns exist while creating table
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed

#16461 Refactor PredicatePushdown test with simpler query
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
Labels: cla-signed

#16631 Add generated expression to extra info in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#16635 Avoid boxing in DeltaLakeBucketFunction
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeBucketFunction.java
Labels: cla-signed, delta-lake

#16636 Fix BaseFailureRecoveryTest temp table checking message pattern
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed, test, no-release-notes

#16632 Add test for identity column in Delta Lake connector
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
Labels: cla-signed, tests:hive

#16402 Support coercing char types of different lengths in hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CharCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, tests:hive, hive

#16626 Fix incorrect result when MongoDB `query` table function contains helper functions
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoTableHandle.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/ptf/Query.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoConnectorTest.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoTableHandle.java
Labels: cla-signed, mongodb

#16638 Add link to duration prop type in JDBC config fragment
  docs/src/main/sphinx/connector/jdbc-common-configurations.fragment
Labels: cla-signed, docs

#16613 Fix BigQuery tests for column names with special characters
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryAvroConnectorTest.java
Labels: cla-signed, bigquery

#16246 Add version requirement for Hudi connector
  docs/src/main/sphinx/connector/hudi.rst
Labels: cla-signed, docs

#16659 Disable testReadMetadataWithRelationsConcurrentModifications on H2 because of flakes
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcConnectorTest.java
Labels: cla-signed, test, no-release-notes

#16666 Fix test class name in BigQuery cloud-tests profile
  plugin/trino-bigquery/pom.xml
Labels: cla-signed, bigquery

#16668 Remove extra digest copy during Digest merge
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/metrics/TDigestHistogram.java
Labels: cla-signed

#16627 Fix import of wrong Preconditions class
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
  core/trino-main/src/main/java/io/trino/metadata/OperatorNameUtil.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ImplementLimitWithTies.java
Labels: cla-signed

#16623 Upgrade to Pinot 0.12.1
  docs/src/main/sphinx/connector/pinot.rst
  plugin/trino-pinot/pom.xml
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotDataFetcher.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotDataTableWithSize.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotGrpcDataFetcher.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotLegacyDataFetcher.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotExpressionRewriter.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotPatterns.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotSqlFormatter.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotTransformFunctionTypeResolver.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/BasePinotIntegrationConnectorSmokeTest.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestingPinotCluster.java
  pom.xml
Labels: cla-signed, docs

#16675 Simplify MaxDataSizeForStats and SumDataSizeForStats
  core/trino-main/src/main/java/io/trino/operator/aggregation/MaxDataSizeForStats.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/SumDataSizeForStats.java
Labels: cla-signed

#16687 Exclude all synthetic columns in applyProjection validation
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
Labels: cla-signed

#16694 Add retries in TestImpersonation
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestImpersonation.java
Labels: cla-signed, test, tests:hive, no-release-notes

#16684 Decrease number of old JDBC drivers tested
  testing/trino-test-jdbc-compatibility-old-driver/bin/run_tests.sh
Labels: cla-signed

#16698 Test parquet column mapping using name based and index based mapping
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestParquetPageSourceFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/predicate/TestParquetPredicateUtils.java
Labels: cla-signed, tests:hive, hive

#16688 Change t_char of AbstractTestHiveFileFormats from partition key to general column
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHiveFileFormats.java
Labels: cla-signed, tests:hive, hive

#16651 Refactor Delta's DROP TABLE support for corrupted tables
  core/trino-spi/src/main/java/io/trino/spi/TrinoException.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/CorruptedDeltaLakeTableHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeTableHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/DeltaLakeMetastore.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/HiveMetastoreBackedDeltaLakeMetastore.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/TestDeltaLakeMetastoreStatistics.java
Labels: cla-signed, delta-lake

#16706 Remove unnecessary override method in phoenix metadata
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
Labels: cla-signed

#16708 Make queryModifier final
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcPageSinkProvider.java
Labels: cla-signed

#16692 Fix TestIcebergInsert.testIcebergConcurrentInsert timeout on CI
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergInsert.java
Labels: cla-signed, test, tests:hive, no-release-notes

#16705 Make setup of bucketed tables in HiveQueryRunner optional
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveQueryRunner.java
  plugin/trino-session-property-managers/src/test/java/io/trino/plugin/session/TestSessionPropertyManagerInTransaction.java
Labels: cla-signed, tests:hive, hive

#16711 Remove superfluous accumulator add function
  core/trino-spi/src/main/java/io/trino/spi/metrics/Metrics.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/metrics/TestMetrics.java
Labels: cla-signed

#16699 Remove duplicate getParquetType method from ParquetPageSourceFactory
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
Labels: cla-signed, tests:hive, hive

#16667 Remove redundant boolean state from LongDecimalWithOverflowAndLongState
  core/trino-main/src/main/java/io/trino/operator/aggregation/DecimalAverageAggregation.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowAndLongState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowAndLongStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowAndLongStateSerializer.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowStateFactory.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestDecimalAverageAggregation.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/state/TestLongDecimalWithOverflowAndLongStateSerializer.java
  lib/trino-array/src/main/java/io/trino/array/LongBigArray.java
Labels: cla-signed

#16717 Reduce synchronization on PipelinedStageExecution
  core/trino-main/src/main/java/io/trino/execution/scheduler/PipelinedStageExecution.java
Labels: cla-signed

#16726 Add NullablePosition to SumDataSizeForStats
  core/trino-main/src/main/java/io/trino/operator/aggregation/SumDataSizeForStats.java
Labels: cla-signed

#14652 Remove unused `HiveHudiPartitionInfo.getTable` method
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/partition/HiveHudiPartitionInfo.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/partition/HudiPartitionInfo.java
Labels: cla-signed, no-release-notes, hudi

#16720 Support DELETE statement in Ignite connector
  docs/src/main/sphinx/connector/ignite.rst
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteClient.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
Labels: cla-signed, docs

#15004 Add an example JDBC connector plugin
  docs/src/main/sphinx/develop.rst
  docs/src/main/sphinx/develop/example-jdbc.rst
  plugin/trino-example-jdbc/pom.xml
  plugin/trino-example-jdbc/src/main/java/io/trino/plugin/example/ExampleClient.java
  plugin/trino-example-jdbc/src/main/java/io/trino/plugin/example/ExampleClientModule.java
  plugin/trino-example-jdbc/src/main/java/io/trino/plugin/example/ExamplePlugin.java
  plugin/trino-example-jdbc/src/test/java/io/trino/plugin/example/ExampleQueryRunner.java
  plugin/trino-example-jdbc/src/test/java/io/trino/plugin/example/TestExampleQueries.java
  pom.xml
Labels: cla-signed, docs

#16740 Fix typo
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/AbstractTestHive.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#16608 Split createPartitionedDriverRunner for partitioned and upartitioned …
  core/trino-main/src/main/java/io/trino/execution/SqlTaskExecution.java
Labels: cla-signed

#15979 Fix bad parameter count in code generator when column uses double slots
  core/trino-main/src/main/java/io/trino/sql/gen/BytecodeUtils.java
Labels: cla-signed

#16367 Add max-outstanding-splits-size to Hive configuration doc
  docs/src/main/sphinx/connector/hive.rst
Labels: cla-signed, docs
