Repository trinodb/trino, pull requests merged in 2024-10, with the labels that each got.

#23612 Merge BaseOracleCastPushdownTest into TestOracleCastPushdown
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleCastPushdownTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleCastPushdown.java
Labels: cla-signed

#23623 Extend wait time of Alluxio master in tests
  lib/trino-filesystem-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioFileSystem.java
Labels: cla-signed

#23627 Fix master error-prone and checkstyle violations
  lib/trino-filesystem-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioFileSystem.java
Labels: cla-signed

#23625 Remove domain compaction from iceberg split source
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
Labels: cla-signed, iceberg

#23629 Add Nessie query runner in Iceberg
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
Labels: cla-signed, iceberg

#23591 Improve ClickHouse LIKE pushdown for complex expression
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/expression/RewriteLike.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
Labels: cla-signed

#23633 Allow skipping docker image tests
  core/docker/build.sh
Labels: cla-signed

#23614 Group disk cleanup output
  .github/bin/free-disk-space.sh
Labels: cla-signed

#23636 Improve pull request description template
  .github/pull_request_template.md
Labels: cla-signed, release-notes, docs

#23644 Add missing `changeDataFeed` writer feature when table version supports reader/writer features in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#23548 Add support for WASBS to native Azure file system implementation
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureLocation.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureLocation.java
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemModule.java
Labels: cla-signed

#23635 Update queryType list in selector rules docs
  docs/src/main/sphinx/admin/resource-groups.md
Labels: cla-signed, docs

#23650 Do not retrieve Blob metadata on batch delete
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystem.java
Labels: cla-signed

#21236 Avoid populating _schema if the collection is empty in MongoDB connector
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java
Labels: cla-signed, release-notes, docs, iceberg, delta-lake, hive, bigquery, mongodb, stale-ignore

#22248 Handle Delta Lake vacuum file system error
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
Labels: cla-signed, delta-lake, stale-ignore

#23589 Store metadata when listing columns/comments in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
Labels: cla-signed, delta-lake

#23653 Disallow write operations for Delta CDF and deletion vectors
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#23649 Extract outer symbols from lambda expressions
  core/trino-main/src/main/java/io/trino/sql/planner/SymbolsExtractor.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestInlineProjections.java
Labels: cla-signed, release-notes

#23659 Migrate optimize product test to integration test in Delta Lake
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeIdentityColumnCompatibility.java
Labels: cla-signed, delta-lake

#23656 Remove deprecated constructs from ConnectorIdentity
  core/trino-spi/src/main/java/io/trino/spi/security/ConnectorIdentity.java
Labels: cla-signed

#23658 Update aircompressor v3 to 3.1
  core/trino-main/src/main/java/io/trino/execution/buffer/PageSerializer.java
  pom.xml
Labels: cla-signed

#23571 Add Trino 460 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-460.md
Labels: cla-signed, release-notes, docs

#23668 Add support for more BCrypt versions
  plugin/trino-password-authenticators/src/main/java/io/trino/plugin/password/file/EncryptionUtil.java
  plugin/trino-password-authenticators/src/test/java/io/trino/plugin/password/file/TestEncryptionUtil.java
Labels: cla-signed

#23672 Enable ErrorProne TraditionalSwitchExpression
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/expression/SparkExpressionBuilder.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/compaction/HudiCompactionOperation.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/compaction/HudiCompactionPlan.java
  pom.xml
Labels: cla-signed, hudi, delta-lake

#23663 Cleanup jvm.config selection for compatibility tests
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeCompatibility.java
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/trino/etc/jvm.config
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/trino/etc/jvm.config-initial-jdk-22
Labels: cla-signed

#23676 Reduce usage of deprecated `Locations.appendPath` method in Delta Lake connector
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTransactionLogParser.java
Labels: cla-signed, delta-lake

#23585 Fix config property name to match semantics
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
  testing/trino-testing/src/main/java/io/trino/testing/FaultTolerantExecutionConnectorTestHelper.java
Labels: cla-signed, docs

#23675 Remove redundant Cassandra product tests
  testing/trino-product-tests/pom.xml
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/DataTypesTableDefinition.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestInsertIntoCassandraTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestSelect.java
Labels: cla-signed

#23680 Remove some product tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestAlterTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestCreateDropView.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestCreateTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestFunctions.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestSimpleQuery.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/functions/TestFunctions.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/functions/operators/TestComparison.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/functions/operators/TestLogical.java
Labels: cla-signed

#23671 Improve development process links
  .github/DEVELOPMENT.md
  README.md
Labels: cla-signed

#23693 Migrate TestSystemConnector to integration test
  testing/trino-product-tests/src/main/java/io/trino/tests/product/TestSystemConnector.java
  testing/trino-tests/src/test/java/io/trino/connector/system/metadata/TestSystemMetadataConnector.java
  testing/trino-tests/src/test/java/io/trino/connector/system/runtime/TestSystemRuntimeConnector.java
Labels: cla-signed

#23690 Update airbase, airlift, parquet and AWS SDK v2
  pom.xml
Labels: cla-signed

#23695 Remove redundant Iceberg product tests
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseSharedMetastoreTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hudi/TestHudiHiveTablesCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergCreateTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergHiveTablesCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergHiveViewsCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergInsert.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergRedirectionToHive.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergRenameTable.java
Labels: cla-signed, iceberg

#23687 Use dynamic filters to reduce hive partitions metadata listing
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSplitManager.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreAccessOperations.java
Labels: cla-signed, performance, hive

#23702 Expose number of FINISHING queries
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
Labels: cla-signed, no-release-notes

#23701 Update confluent schema registry to 7.7.1
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/schema/confluent/ClassLoaderSafeSchemaRegistryClient.java
  pom.xml
Labels: cla-signed

#23417 Convert range predicates to discrete set in Redshift
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/PredicatePushdownController.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
Labels: cla-signed, performance

#23657 Normalize TestNG reports uploaded to S3 as JSON
  .github/workflows/upload-test-results.yml
Labels: cla-signed

#23662 Add new error code and handling: QUERY_EXCEEDED_COMPILER_LIMIT
  core/trino-main/src/main/java/io/trino/sql/gen/PageFunctionCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/ColumnarFilterCompiler.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLocalExecutionPlanner.java
  core/trino-spi/src/main/java/io/trino/spi/StandardErrorCode.java
Labels: cla-signed

#23699 Update openlineage-java to 1.23.0
  plugin/trino-openlineage/pom.xml
  plugin/trino-openlineage/src/main/java/io/trino/plugin/openlineage/OpenLineageListener.java
Labels: cla-signed

#23707 Update Kubernetes installation instructions
  docs/src/main/sphinx/installation/kubernetes.md
Labels: cla-signed, docs

#23072 Add support for CombineTextInputFormat from Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveStorageFormat.java
Labels: cla-signed, hive

#23716 Document accessing multiple azure storage accounts in single catalog
  docs/src/main/sphinx/object-storage/file-system-azure.md
Labels: cla-signed, docs

#23717 Improve docs for add file procedures in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#23720 Reduce size of generated PagesHashStrategy constructor
  core/trino-main/src/main/java/io/trino/sql/gen/JoinCompiler.java
Labels: cla-signed

#23728 Check permission when registering tables in Iceberg and Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/RegisterTableProcedure.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/RegisterTableProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergRegisterTableProcedure.java
Labels: cla-signed, iceberg, delta-lake

#23696 Migrate Hudi product tests to integration tests
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiSharedMetastore.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hudi/TestHudiHiveTablesCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hudi/TestHudiHiveViewsCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergHiveViewsCompatibility.java
Labels: cla-signed, hudi

#23732 Fix typo in property name in FTE docs
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: docs

#23710 Correctly cache S3 client in S3 native FS with security mapping
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SecurityMappingFileSystemFactory.java
Labels: cla-signed

#23713 Simplify JDBC result set iterator implementation
  client/trino-jdbc/src/main/java/io/trino/jdbc/AbstractTrinoResultSet.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/AsyncResultIterator.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/CancellableIterator.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/CancellableLimitingIterator.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/InMemoryTrinoResultSet.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/ResultUtils.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoResultSet.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoStatement.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestAsyncResultIterator.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoResultSet.java
Labels: cla-signed, jdbc

#23694 Tweak validation of missing data columns in Iceberg `add_files_from_table` procedure
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrationUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergAddFilesProcedure.java
Labels: cla-signed, iceberg

#23738 Update airbase, airlift and AWS SDK v2
  pom.xml
Labels: cla-signed

#23721 Split construction of large rows into separate methods
  core/trino-main/src/main/java/io/trino/sql/gen/BytecodeGeneratorContext.java
  core/trino-main/src/main/java/io/trino/sql/gen/CursorProcessorCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/JoinFilterFunctionCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/LambdaBytecodeGenerator.java
  core/trino-main/src/main/java/io/trino/sql/gen/PageFunctionCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/RowConstructorCodeGenerator.java
  core/trino-main/src/main/java/io/trino/sql/gen/RowExpressionCompiler.java
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutineCompiler.java
Labels: cla-signed

#23669 Add Trino 461 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-461.md
Labels: cla-signed, release-notes, docs

#23748 Adjust height of query display box
  core/trino-web-ui/src/main/resources/webapp/assets/trino.css
Labels: cla-signed, ui

#23751 Simplify ResultRowsDecoder
  client/trino-client/src/main/java/io/trino/client/ResultRowsDecoder.java
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  core/trino-main/src/test/java/io/trino/server/TestQueryResource.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryDataSerialization.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryResultsSerialization.java
  testing/trino-tests/src/test/java/io/trino/tests/TestServer.java
Labels: cla-signed

#23737 Cast pushdown test case refactoring
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcCastPushdownTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleCastPushdown.java
Labels: cla-signed

#23754 Unify JSON decoding between the direct and spooled protocols
  client/trino-client/src/main/java/io/trino/client/FixJsonDataUtils.java
  client/trino-client/src/main/java/io/trino/client/JsonDecodingUtils.java
  client/trino-client/src/main/java/io/trino/client/JsonQueryData.java
  client/trino-client/src/main/java/io/trino/client/JsonResultRows.java
  client/trino-client/src/main/java/io/trino/client/QueryDataClientJacksonModule.java
  client/trino-client/src/main/java/io/trino/client/RawQueryData.java
  client/trino-client/src/main/java/io/trino/client/ResultRowsDecoder.java
  client/trino-client/src/main/java/io/trino/client/spooling/encoding/JsonQueryDataDecoder.java
  client/trino-client/src/test/java/io/trino/client/TestFixJsonDataUtils.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryDataSerialization.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryResultsSerialization.java
Labels: cla-signed

#23757 Avoid reading min/max/null statistics for planning iceberg inserts
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TableStatisticsReader.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergAlluxioCacheFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMemoryCacheFileOperations.java
Labels: cla-signed, performance, iceberg

#23774 Fix test and move it to proper package
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpooledBlock.java
  core/trino-main/src/test/java/io/trino/server/protocol/spooling/TestSpooledBlock.java
Labels: cla-signed

#23772 Fix handling failures while creating catalogs
  core/trino-main/src/main/java/io/trino/connector/CoordinatorDynamicCatalogManager.java
  core/trino-main/src/test/java/io/trino/execution/TestCreateCatalogTask.java
Labels: cla-signed

#23752 Update docker image version to 102
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestingPolarisCatalog.java
  pom.xml
Labels: cla-signed, iceberg

#22632 Add support for reading from Unity catalog with Iceberg REST
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergUnityRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/containers/UnityCatalogContainer.java
Labels: cla-signed, docs, iceberg

#23782 Document sign behavior for floating point negative zero
  docs/src/main/sphinx/functions/math.md
Labels: cla-signed, docs, no-release-notes

#23767 Add module info to SPI
  core/trino-spi/src/main/java/module-info.java
Labels: cla-signed

#23790 Remove redundant code
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/containers/UnityCatalogContainer.java
Labels: cla-signed, iceberg

#23784 Add configurable spooling filesystem layout implementations
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemLayout.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSegmentPruner.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpooledSegmentHandle.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpoolingConfig.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpoolingManager.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpoolingModule.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/PartitionedFileSystemLayout.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/PartitionedLayoutConfig.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/SimpleFileSystemLayout.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/AbstractFileSystemSegmentPrunerTest.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/AbstractFileSystemSpoolingManagerTest.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestFileSystemSpooledSegmentHandle.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestFileSystemSpoolingConfig.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestFileSystemSpoolingManagerLocalStack.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestFileSystemSpoolingManagerMinio.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestPartitionedFileSystemLayout.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestPartitionedLayoutConfig.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestPartitionedLayoutFileSystemSegmentPruner.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestSimpleFileSystemLayout.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestSimpleLayoutFileSystemSegmentPruner.java
Labels: cla-signed

#23794 Cleanup SPI Java module dependencies
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  core/trino-spi/src/main/java/module-info.java
Labels: cla-signed

#22951 Support integral cast projection pushdown in redshift
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcCastPushdownTest.java
  plugin/trino-redshift/pom.xml
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RewriteCast.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftCastPushdown.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
Labels: cla-signed

#23786 Make message friendly for parametrized test
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#23776 Remove redundant check
  core/trino-main/src/main/java/io/trino/sql/planner/plan/AggregationNode.java
Labels: cla-signed

#23796 Fix incorrect simplification of CASE with constant boolean results
  core/trino-main/src/main/java/io/trino/sql/ir/optimizer/rule/SimplifyRedundantCase.java
  core/trino-main/src/test/java/io/trino/sql/ir/optimizer/TestSimplifyRedundantCase.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue23787.java
Labels: cla-signed

#23811 Correct docs about key format
  docs/src/main/sphinx/connector/elasticsearch.md
  docs/src/main/sphinx/connector/opensearch.md
Labels: cla-signed, docs

#23809 More page builder cleanup
  core/trino-main/src/test/java/io/trino/block/TestBlockBuilder.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/PageBuilder.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/LinePageSource.java
Labels: cla-signed, hive

#23564 Extract IANA timezone ID from timestamp(p) and time(p) with tz
  core/trino-main/src/main/java/io/trino/metadata/SystemFunctionBundle.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timestamptz/TimeZone.java
  core/trino-main/src/main/java/io/trino/operator/scalar/timetz/TimeZone.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timestamptz/TestTimestampWithTimeZone.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timetz/TestExtract.java
  docs/src/main/sphinx/functions/datetime.md
Labels: cla-signed, docs, needs-docs

#23816 Update airbase to 188
  pom.xml
Labels: cla-signed

#23459 Improve IS NULL pushdown for ClickHouse complex expression
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/NullPushdownDataTypeTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
Labels: cla-signed

#23801 Clean up position deletes when optimizing a subset of partitions
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#23821 Improve docs for timezone functions
  docs/src/main/sphinx/functions/datetime.md
  docs/src/main/sphinx/functions/list-by-topic.md
  docs/src/main/sphinx/functions/list.md
  docs/src/main/sphinx/language/types.md
Labels: cla-signed, docs

#23744 Move timestamp to the left
  core/trino-web-ui/src/main/resources/webapp/assets/trino.css
Labels: cla-signed, ui

#23806 Cleanup AggreggationNode#producesDistinctRows
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/RemoveRedundantDistinctAggregation.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/AggregationNode.java
Labels: cla-signed

#23393 Add table functions to `SHOW FUNCTIONS` result
  core/trino-main/src/main/java/io/trino/metadata/CatalogTableFunctions.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/metadata/TableFunctionRegistry.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowQueriesRewrite.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
  core/trino-main/src/test/java/io/trino/sql/query/TestShowQueries.java
  core/trino-spi/src/main/java/io/trino/spi/function/FunctionMetadata.java
Labels: cla-signed

#21000 Add retry and jmx metrics while generating Thrift's delegation token
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHttpMetastoreFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreAuthenticationModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreStats.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/TokenFetchingMetastoreClientFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/RetryDriver.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftMetastoreConfig.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeJmx.java
Labels: cla-signed, no-release-notes, hive, stale-ignore

#15337 Fix test for invalid rate in FormatUtils.formatDataRate()
  client/trino-cli/src/main/java/io/trino/cli/FormatUtils.java
  client/trino-cli/src/test/java/io/trino/cli/TestFormatUtils.java
Labels: cla-signed

#23840 Update airbase to 189 and airlift to 276
  pom.xml
Labels: cla-signed

#23453 Add support for nested namespaces in Iceberg REST catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/TrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/SchemaInitializer.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogNestedNamespaceConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/rest/DelegatingRestSessionCatalog.java
Labels: cla-signed, iceberg

#23830 Clarify CLI docs for default catalog and schema
  docs/src/main/sphinx/client/cli.md
Labels: cla-signed, docs

#23834 Add link to js client in docs
  docs/src/main/sphinx/client.md
Labels: cla-signed, docs

#23841 Correct error code for analyze column mask
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
Labels: cla-signed

#23856 Disallow window framing clause for certain window functions
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/query/TestRowPatternMatchingInWindow.java
  docs/src/main/sphinx/functions/window.md
Labels: cla-signed, docs

#23831 Add node to concepts docs
  docs/src/main/sphinx/overview/concepts.md
Labels: cla-signed, docs

#23827 Fix change data feed with delete vectors
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, delta-lake

#23863 Enable errorprone PatternMatchingInstanceof
  pom.xml
Labels: cla-signed

#23723 Add session property to configure ORC rowGroupMaxRowCount in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileWriterFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
Labels: cla-signed, iceberg

#23868 Separate sql statements in code block
  docs/src/main/sphinx/security/file-system-access-control.md
Labels: cla-signed, docs

#23844 Replace airlift assertion with AssertJ
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestProgressMonitor.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDatabaseMetaData.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriver.java
  core/trino-main/src/test/java/io/trino/execution/TestPageSplitterUtil.java
  core/trino-main/src/test/java/io/trino/execution/executor/timesharing/TestTimeSharingTaskExecutor.java
  core/trino-main/src/test/java/io/trino/execution/resourcegroups/TestResourceGroups.java
  core/trino-main/src/test/java/io/trino/execution/resourcegroups/TestStochasticPriorityQueue.java
  core/trino-main/src/test/java/io/trino/metadata/TestDiscoveryNodeManager.java
  core/trino-main/src/test/java/io/trino/operator/GroupByHashYieldAssertion.java
  core/trino-main/src/test/java/io/trino/operator/OperatorAssertion.java
  core/trino-main/src/test/java/io/trino/operator/TestDirectExchangeClient.java
  core/trino-main/src/test/java/io/trino/operator/TestDistinctLimitOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestHashAggregationOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestHttpPageBufferClient.java
  core/trino-main/src/test/java/io/trino/operator/TestIncrementalLoadFactorHashArraySizeSupplier.java
  core/trino-main/src/test/java/io/trino/operator/TestMarkDistinctOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestOrderByOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestRowNumberOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestTopNRankingOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestWindowOperator.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/AbstractTestApproximateCountDistinct.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/AbstractTestApproximateSetGeneric.java
  core/trino-main/src/test/java/io/trino/operator/join/TestHashJoinOperator.java
  core/trino-main/src/test/java/io/trino/operator/output/TestPositionsAppender.java
  core/trino-main/src/test/java/io/trino/operator/project/TestDictionaryAwarePageFilter.java
  core/trino-main/src/test/java/io/trino/operator/project/TestDictionaryAwarePageProjection.java
  core/trino-main/src/test/java/io/trino/operator/window/WindowAssertions.java
  core/trino-main/src/test/java/io/trino/server/remotetask/TestHttpRemoteTask.java
  core/trino-main/src/test/java/io/trino/sql/gen/TestDictionaryAwareColumnarFilter.java
  core/trino-main/src/test/java/io/trino/sql/query/QueryAssertions.java
  core/trino-main/src/test/java/io/trino/type/AbstractTestType.java
  core/trino-spi/src/test/java/io/trino/spi/TestStandardErrorCode.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/cos/TestHiveCosServiceConfigurationProvider.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystem.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/compression/TestBufferedOutputStreamSliceOutput.java
  lib/trino-orc/src/test/java/io/trino/orc/TestCachingOrcDataSource.java
  lib/trino-orc/src/test/java/io/trino/orc/TestDictionaryCompressionOptimizer.java
  lib/trino-orc/src/test/java/io/trino/orc/TestOrcReaderMemoryUsage.java
  lib/trino-orc/src/test/java/io/trino/orc/TestOrcWriter.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestDefaultJdbcQueryBuilder.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryPlugin.java
  plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleSmoke.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnector.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeDynamicFiltering.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConnectorFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHivePageSink.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestOrcPageSourceMemoryTracking.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestHiveTypeTranslator.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiConnectorFactory.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaPlugin.java
  plugin/trino-redis/src/test/java/io/trino/plugin/redis/TestRedisPlugin.java
  plugin/trino-thrift/src/test/java/io/trino/plugin/thrift/TestThriftPlugin.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlluxioCaching.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveAlluxioCaching.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergAlluxioCaching.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/TestResourceGroupIntegration.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/TestQueuesDb.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
Labels: cla-signed, jdbc, hudi, delta-lake, hive, bigquery

#23873 Rename `iceberg.add_files-procedure.enabled` to `iceberg.add-files-procedure.enabled`
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergAddFilesProcedure.java
Labels: cla-signed, docs, iceberg

#23874 Print peak memory usage in EXPLAIN ANALYZE output
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
Labels: cla-signed

#23684 Simplify planning of MERGE
  core/trino-main/src/main/java/io/trino/operator/ChangeOnlyUpdatedColumnsMergeProcessor.java
  core/trino-main/src/main/java/io/trino/operator/DeleteAndInsertMergeProcessor.java
  core/trino-main/src/main/java/io/trino/operator/MergeRowChangeProcessor.java
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDeleteAndInsertMergeProcessor.java
Labels: cla-signed

#23810 Add Trino 463 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-463.md
Labels: cla-signed, release-notes, docs

#23876 Replace `_` with `-` in config property names
  core/trino-main/src/main/java/io/trino/memory/MemoryManagerConfig.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryManagerConfig.java
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
Labels: cla-signed, docs, iceberg

#23870 Keep table location when updating Glue tables in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueIcebergTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueIcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogSkipArchive.java
Labels: cla-signed, iceberg

#23883 Add modernizer rule to disallow Glue `Table.getStorageDescriptor` method
  .mvn/modernizer/violations.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/v1/converter/GlueInputConverter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/v1/converter/GlueToTrinoConverter.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/v1/TestGlueToTrinoConverter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueIcebergTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueIcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg, hive

#23887 Remove workaround for JDK-8059299
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreApiStats.java
Labels: cla-signed, hive

#23878 Fix categerization of partitioning handles for writer stage
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenTaskSourceFactory.java
Labels: cla-signed

#23892 Add `@ConfigSecuritySensitive` to mysql-event-listener.db.url
  plugin/trino-mysql-event-listener/src/main/java/io/trino/plugin/eventlistener/mysql/MysqlEventListenerConfig.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListenerConfig.java
Labels: cla-signed

#23890 Reduce synchronization for metadata calls in SemiTransactionalHiveMetastore
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
Labels: cla-signed, hive

#23762 Add note about removed *.http-client.max-connections properties
  docs/src/main/sphinx/release/release-440.md
Labels: cla-signed, release-notes, docs

#23903 Improve docs for at_timezone
  docs/src/main/sphinx/functions/datetime.md
Labels: cla-signed, docs

#23895 Use `hive.metastore.partition-batch-size.max` config property in Hive `sync_partition_metadata` procedure
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/SyncPartitionMetadataProcedure.java
Labels: cla-signed, hive

#23912 Fix flaky Faker test
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerSplitManager.java
Labels: cla-signed

#23914 Rename Ssl to Tls in MongoDB connector
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoClientModule.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoTlsConfig.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoTlsModule.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoTlsConfig.java
Labels: cla-signed, mongodb

#23916 Run testDeleteRowsConcurrently sequentially for better reliability
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
Labels: cla-signed, iceberg

#23906 Pass in request payer for ListObjectsV2Request
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystem.java
Labels: cla-signed

#23667 Set length of avro and rc input file after memory input file is created
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/avro/AvroPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/line/LinePageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/rcfile/RcFilePageSourceFactory.java
Labels: cla-signed, hive

#23902 Add 463 release notes entries
  docs/src/main/sphinx/release/release-463.md
Labels: cla-signed, release-notes, docs

#23925 Pass in requestPayer for ListObjectsV2Request in listObjects method
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystem.java
Labels: cla-signed

#23918 Re-enable Iceberg JDBC testDeleteRowsConcurrently
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/jdbc/TestIcebergJdbcCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#23928 Fix iceberg migrate to use nullable columns
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergMigrateProcedure.java
Labels: bug, cla-signed, iceberg

#23939 Re-enable Iceberg Nessie and Polaris testDeleteRowsConcurrently
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestIcebergNessieCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergPolarisCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#23942 Disable testDeleteRowsConcurrently for Iceberg Polaris
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergPolarisCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#23926 Add redirect for removed connectors
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/removed.md
  docs/src/main/sphinx/redirects.txt
Labels: cla-signed, docs

#23951 Sort trino.xml alphabetically
  core/trino-server/src/main/provisio/trino.xml
Labels: cla-signed

#23949 Remove DataStax test from Cassandra because of license issue
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestDatastaxConnectorSmokeTest.java
  plugin/trino-cassandra/src/test/resources/cassandra-dse.yaml
Labels: cla-signed

#23884 Add Glue metastore query runner to Hive connector
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveQueryRunner.java
Labels: cla-signed, hive

#23946 Never spool non-select queries
  core/trino-main/src/main/java/io/trino/Session.java
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/testing/MaterializedResult.java
  core/trino-main/src/main/java/io/trino/testing/TestingDirectTrinoClient.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestingTrinoClient.java
  testing/trino-testing/src/main/java/io/trino/testing/ResultsSession.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingTrinoClient.java
  testing/trino-tests/src/test/java/io/trino/server/protocol/AbstractSpooledQueryDataDistributedQueries.java
Labels: cla-signed

#23952 Update Cloud SDKs + airbase + airlift
  pom.xml
Labels: cla-signed

#23953 Improve exception logging when serializing invalid pages
  core/trino-main/src/main/java/io/trino/server/protocol/JsonArrayResultsIterator.java
Labels: cla-signed

#23959 Report file system error as external error
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
Labels: cla-signed, iceberg

#23938 Report invalid topic description file path in Kafka
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/schema/file/FileTableDescriptionSupplier.java
Labels: cla-signed

#23948 Add Vertica connector
  core/trino-server/src/main/provisio/trino.xml
  plugin/trino-vertica/pom.xml
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaClient.java
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaClientModule.java
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaDriver.java
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaPlugin.java
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaTableStatisticsReader.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/BaseVerticaConnectorSmokeTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaConnectorSmokeTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaConnectorTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaLatestConnectorSmokeTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaPlugin.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaTableStatistics.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaTypeMapping.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestingVerticaServer.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/VerticaQueryRunner.java
  plugin/trino-vertica/src/test/resources/vmart_define_schema.sql
  plugin/trino-vertica/src/test/resources/vmart_load_data.sql
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeAllConnectors.java
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-all/vertica.properties
Labels: cla-signed

#23965 Simplify toString of BigQuery table and column
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryColumnHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryNamedRelationHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryTableHandle.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#23976 Update airlift to 279
  core/trino-main/src/main/java/io/trino/execution/SqlQueryExecution.java
  core/trino-main/src/main/java/io/trino/execution/SqlQueryManager.java
  core/trino-main/src/main/java/io/trino/execution/SqlTask.java
  core/trino-main/src/main/java/io/trino/execution/SqlTaskExecution.java
  core/trino-main/src/main/java/io/trino/execution/SqlTaskExecutionFactory.java
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/SplitProcessor.java
  core/trino-main/src/main/java/io/trino/execution/executor/timesharing/TimeSharingTaskExecutor.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/PipelinedQueryScheduler.java
  core/trino-main/src/main/java/io/trino/server/remotetask/ContinuousTaskStatusFetcher.java
  core/trino-main/src/main/java/io/trino/server/remotetask/DynamicFiltersFetcher.java
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
  core/trino-main/src/main/java/io/trino/server/remotetask/TaskInfoFetcher.java
  pom.xml
Labels: cla-signed

#23979 Remove the random_string function from the Faker connector
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerFunctions.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerPlugin.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed

#23901 Document the Faker connector
  docs/.vale/config/vocabularies/Base/accept.txt
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/faker.md
Labels: cla-signed, docs

#23980 Fix permissions of the upload results workflow
  .github/workflows/upload-test-results.yml
Labels: cla-signed

#23967 Add docs for Vertica connector
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/vertica.md
  docs/src/main/sphinx/static/img/vertica.png
Labels: cla-signed, docs

#23983 Fix table stats docs for Vertica
  docs/src/main/sphinx/connector/vertica.md
Labels: cla-signed, docs

#23879 Update docs for internal communication
  docs/src/main/sphinx/admin/properties-http-server.md
  docs/src/main/sphinx/security/internal-communication.md
Labels: cla-signed, docs

#23881 Add Trino 464 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-464.md
Labels: cla-signed, release-notes, docs

#23985 Add BigQuery release notes entry for 464
  docs/src/main/sphinx/release/release-464.md
Labels: cla-signed, release-notes, docs

#23973 Remove unused method from HashGenerationOptimizer
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/HashGenerationOptimizer.java
Labels: cla-signed

#23991 Use AWS S3 v2 client for testing
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#23990 Add a function for testing Faker expressions
  docs/src/main/sphinx/connector/faker.md
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerConnector.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerFunctionProvider.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerFunctions.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerMetadata.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerModule.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed, docs

#23989 Fix example query with IN
  docs/src/main/sphinx/functions/comparison.md
Labels: cla-signed, docs

#23964 Add cosine_similarity(array(double), array(double))
  core/trino-main/src/main/java/io/trino/operator/scalar/ArrayVectorFunctions.java
Labels: cla-signed

#23998 Fix logical merge conflict in VerticaClient
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaClient.java
Labels: cla-signed

#23994 Increase allowed timeouts for BigQuery service
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryRpcConfig.java
Labels: cla-signed, bigquery

#23999 Small extra properties fixups
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergTableProperties.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg
