Repository trinodb/trino, pull requests merged in 2024-06, with the labels that each got.

#22225 Add junit-extensions to OpenLineage
  plugin/trino-openlineage/pom.xml
Labels: cla-signed

#22224 Document OpenLineage plugin in 449 release note
  docs/src/main/sphinx/release/release-449.md
Labels: cla-signed, release-notes, docs

#22226 Add TestPinotPlugin
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotPlugin.java
Labels: cla-signed

#22228 fix open lineage runtime failure with HTTP transport
  plugin/trino-openlineage/pom.xml
Labels: cla-signed

#22234 Simplify write methods in PinotSegmentPageSource
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotSegmentPageSource.java
Labels: cla-signed

#22237 Pull repeated computation outside loop in BigQuerySplitManager
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
Labels: cla-signed, no-release-notes, bigquery

#22239 Use URI type in OpenLineage config
  plugin/trino-openlineage/src/main/java/io/trino/plugin/openlineage/config/http/OpenLineageClientHttpTransportConfig.java
  plugin/trino-openlineage/src/main/java/io/trino/plugin/openlineage/transport/OpenLineageTransport.java
  plugin/trino-openlineage/src/main/java/io/trino/plugin/openlineage/transport/http/OpenLineageHttpTransport.java
  plugin/trino-openlineage/src/test/java/io/trino/plugin/openlineage/TestOpenLineageClientHttpTransportConfig.java
Labels: cla-signed

#22242 Convert QueryRunner to an ordinary class
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/ServerIT.java
Labels: cla-signed, test, no-release-notes

#21940 Make cassandra.partition-size-for-batch-select work expectedly
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraSplitManager.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraSplitManager.java
Labels: cla-signed

#22105 Add optimizer rule to push filter into values
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushFilterIntoValues.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDereferencePushDown.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestRemoveDuplicatePredicates.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestSimplifyIn.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapCastInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestUnwrapYearInComparison.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushFilterIntoValues.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAddExchangesPlans.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestPartialTopNWithPresortedInput.java
  core/trino-main/src/test/java/io/trino/sql/query/TestJoin.java
  core/trino-main/src/test/java/io/trino/sql/query/TestSubqueries.java
Labels: cla-signed

#22243 Add reproducible builds info to README
  README.md
Labels: cla-signed

#22251 Add missing exchange prefix in docs
  docs/src/main/sphinx/installation/query-resiliency.md
Labels: cla-signed, docs

#22252 Add docs for OpenX_JSON serde
  docs/src/main/sphinx/connector/hive.md
  docs/src/main/sphinx/object-storage/file-formats.md
Labels: cla-signed, docs

#22253 Minor fixes in Pinot connector
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotPageSourceProvider.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotDataFetcher.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotGrpcDataFetcher.java
Labels: cla-signed

#22241 Bulk fetch all columns from all tables in JDBC connectors
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/FailingExecutor.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcMetadataConfig.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcMetadataSessionProperties.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcMetadataConfig.java
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClient.java
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClientModule.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClientModule.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClientModule.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/RedshiftQueryRunner.java
  plugin/trino-singlestore/src/main/java/io/trino/plugin/singlestore/SingleStoreClient.java
  plugin/trino-singlestore/src/main/java/io/trino/plugin/singlestore/SingleStoreClientModule.java
Labels: cla-signed

#22039 Fix a hot loop in DirectExchangeClient
  core/trino-main/src/main/java/io/trino/operator/DirectExchangeClient.java
Labels: cla-signed

#22257 Add non-null check in MongoPageSink
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoPageSink.java
Labels: cla-signed, mongodb

#22266 fix postgresql connector doc typo
  docs/src/main/sphinx/connector/postgresql.md
Labels: docs

#22269 Fix expected message in TestingPinotCluster
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestingPinotCluster.java
Labels: cla-signed

#22263 Inline method in TestPinotConnectorSmokeTest
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotConnectorSmokeTest.java
Labels: cla-signed

#22049 Extend automatic type coercion support in Delta table creation to char
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#22275 Simplify createEmptyProjection in BigQuery
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
Labels: cla-signed, bigquery

#22214 Enable enableNullHandling query options in Pinot
  plugin/trino-pinot/pom.xml
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotMetadata.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotSegmentPageSource.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotTableHandle.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotQueryBuilder.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotConnectorSmokeTest.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotSplitManager.java
  plugin/trino-pinot/src/test/resources/alltypes_nullable_realtimeSpec.json
  plugin/trino-pinot/src/test/resources/alltypes_nullable_schema.json
Labels: cla-signed

#21375 Columnar evaluation of filter sub-expressions
  core/trino-main/src/main/java/io/trino/FeaturesConfig.java
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/metadata/FunctionManager.java
  core/trino-main/src/main/java/io/trino/operator/index/DynamicTupleFilterFactory.java
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessor.java
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessorMetrics.java
  core/trino-main/src/main/java/io/trino/operator/project/SelectedPositions.java
  core/trino-main/src/main/java/io/trino/server/ServerMainModule.java
  core/trino-main/src/main/java/io/trino/sql/gen/ExpressionCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/AndFilterEvaluator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/BetweenInlineColumnarFilterGenerator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/CallColumnarFilterGenerator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/ColumnarFilter.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/ColumnarFilterCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/ColumnarFilterEvaluator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/DictionaryAwareColumnarFilter.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/FilterEvaluator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/InColumnarFilterGenerator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/IsNotNullColumnarFilter.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/IsNullColumnarFilter.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/OrFilterEvaluator.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/PageFilterEvaluator.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
  core/trino-main/src/test/java/io/trino/block/AbstractTestBlock.java
  core/trino-main/src/test/java/io/trino/execution/TaskTestUtils.java
  core/trino-main/src/test/java/io/trino/metadata/TestingFunctionResolution.java
  core/trino-main/src/test/java/io/trino/operator/BenchmarkScanFilterAndProjectOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestColumnarPageProcessor.java
  core/trino-main/src/test/java/io/trino/operator/TestScanFilterAndProjectOperator.java
  core/trino-main/src/test/java/io/trino/operator/project/TestPageProcessor.java
  core/trino-main/src/test/java/io/trino/operator/project/TestSelectedPositions.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestFeaturesConfig.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkAndColumnarFilterTpchData.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkColumnarFilter.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkInCodeGenerator.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkPageProcessor2.java
  core/trino-main/src/test/java/io/trino/sql/gen/TestBenchmarkColumnarFilter.java
  core/trino-main/src/test/java/io/trino/sql/gen/TestColumnarFilters.java
  core/trino-main/src/test/java/io/trino/sql/gen/TestDictionaryAwareColumnarFilter.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/block/ArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/BlockUtil.java
  core/trino-spi/src/main/java/io/trino/spi/block/ByteArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/Fixed12Block.java
  core/trino-spi/src/main/java/io/trino/spi/block/Int128ArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/IntArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/LongArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/MapBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/RowBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/ShortArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/ValueBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/VariableWidthBlock.java
  lib/trino-parquet/pom.xml
  lib/trino-parquet/src/test/java/io/trino/parquet/BenchmarkColumnarFilterParquetData.java
  lib/trino-parquet/src/test/java/io/trino/parquet/BenchmarkFileFormatsUtils.java
  lib/trino-parquet/src/test/java/io/trino/parquet/TestBenchmarkColumnarFilterParquetData.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestOrcPageSourceMemoryTracking.java
Labels: cla-signed, performance, hive

#22295 Merge Hudi query runners into one
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/HudiQueryRunner.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/S3HudiQueryRunner.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiCopyOnWriteMinioConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiMergeOnReadMinioConnectorSmokeTest.java
Labels: cla-signed, hudi

#21988 Add support for case insensitive name cache in BigQuery
  docs/src/main/sphinx/connector/bigquery.md
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClientFactory.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryCaseInsensitiveMapping.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
Labels: cla-signed, docs, bigquery

#22290 Fix failure when reading signed timestamp with time zone stats in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogParser.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#22301 Avoid org.locationtech.jts:jts-core exclusion in Pinot
  plugin/trino-pinot/pom.xml
Labels: cla-signed

#22262 Improve 449 release notes
  docs/src/main/sphinx/release/release-449.md
Labels: cla-signed, release-notes, docs

#21875 Add docs for Hive metadata caching config
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, docs, stale

#21904 Throw relevent error when query didn't match any selection rule
  core/trino-main/src/main/java/io/trino/execution/resourcegroups/InternalResourceGroupManager.java
Labels: cla-signed

#22298 Gracefully handle missing spooling output stats in FTE scheduler
  core/trino-main/src/main/java/io/trino/execution/RemoteTask.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
  core/trino-main/src/main/java/io/trino/server/remotetask/TaskInfoFetcher.java
  core/trino-main/src/test/java/io/trino/execution/MockRemoteTaskFactory.java
  core/trino-main/src/test/java/io/trino/execution/TestingRemoteTaskFactory.java
Labels: cla-signed

#20866 Add JDBC connection current catalog fallback parameter
  client/trino-client/src/main/java/io/trino/client/uri/ConnectionProperties.java
  client/trino-client/src/main/java/io/trino/client/uri/PropertyName.java
  client/trino-client/src/main/java/io/trino/client/uri/TrinoUri.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoDatabaseMetaData.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDatabaseMetaData.java
Labels: cla-signed, needs-docs, jdbc, stale-ignore

#22307 Remove unnecessary exclusions from Pinot
  plugin/trino-pinot/pom.xml
Labels: cla-signed

#22292 Update airbase to 157
  pom.xml
Labels: cla-signed

#22313 Fix grammar error in error message
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
Labels: cla-signed, no-release-notes, delta-lake

#22299 Allow char to varchar coercion for hive tables
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CharToVarcharCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestCharToVarcharCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, docs, iceberg, hive

#22166 Improve docs for HTTP server config
  docs/src/main/sphinx/admin/properties-http-server.md
  docs/src/main/sphinx/admin/properties.md
  docs/src/main/sphinx/installation/deployment.md
  docs/src/main/sphinx/security/authentication-types.md
  docs/src/main/sphinx/security/internal-communication.md
  docs/src/main/sphinx/security/ldap.md
  docs/src/main/sphinx/security/tls.md
Labels: cla-signed, docs

#22286 Verify spark compatibility in native-fs special chars test
  testing/trino-product-tests/src/main/java/io/trino/tests/product/BaseTestTableFormats.java
Labels: cla-signed

#22287 Use Identifier.getValue when analyzing table function arguments
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed

#22338 Avoid redundant null check before sizeOf()
  core/trino-main/src/main/java/io/trino/operator/aggregation/AbstractMapAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/arrayagg/FlatArrayBuilder.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/histogram/TypedHistogram.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/listagg/AbstractListaggAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/multimapagg/AbstractMultimapAggregationState.java
  lib/trino-orc/src/main/java/io/trino/orc/stream/AbstractDiskOrcDataReader.java
Labels: cla-signed

#22333 Remove unused method from BigQueryClient
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
Labels: cla-signed, bigquery

#22330 Test reading liquid clustering tables in Delta Lake
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/part-00000-ba4afeda-e581-4193-879d-12f07682e4d1-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/part-00000-be853604-1a95-499c-8bd3-0817e117e934-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/liquid_clustering/part-00000-dbbc308b-0878-4d8e-a814-d0b55ec894d4-c000.snappy.parquet
Labels: cla-signed, no-release-notes, delta-lake

#22311 Add support for reading UniForm with Iceberg in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/README.md
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/metadata/00000-a6f70674-5338-4b57-b07e-cd4b3253fa44.metadata.json
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/metadata/00001-15a4900d-0b87-4ca8-93cf-ebde86de39aa.metadata.json
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/metadata/00002-883053ee-6748-4e23-8f68-8e86dd34d1dd.metadata.json
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/metadata/2dc6572c-92dd-4786-80d0-324b424124b3-m0.avro
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/metadata/snap-3448407241734536873-1-2dc6572c-92dd-4786-80d0-324b424124b3.avro
  plugin/trino-delta-lake/src/test/resources/databricks133/uniform_iceberg_v1/vL/part-00000-a3b8b550-b0f5-4585-beef-fc82aea5d233-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/OZ/part-00000-01da98d5-5186-49d7-bd68-477cd393b4d4-c000.zstd.parquet
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/README.md
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/metadata/00000-1c11bf2f-fa7e-4f77-98f9-1a0fe2f7111c.metadata.json
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/metadata/00001-74fcef63-c175-44e6-a759-f2aaedf99415.metadata.json
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/metadata/00002-5c9433c3-0d7b-4cd6-a425-ec87d24fd797.metadata.json
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/metadata/8aea465e-89c9-48d2-9013-0cedaeb4bd18-m0.avro
  plugin/trino-delta-lake/src/test/resources/databricks143/uniform_iceberg_v2/metadata/snap-7207733986607086756-1-8aea465e-89c9-48d2-9013-0cedaeb4bd18.avro
Labels: cla-signed, delta-lake

#22310 Skip unsupported variant type in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/README.md
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/part-00000-38ffb03f-2761-4a76-ae81-d0f39c47852f-c000.snappy.parquet
Labels: cla-signed, delta-lake

#22346 Remove unnecessary override method isRemotelyAccessible in IcebergSplit
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplit.java
Labels: cla-signed, iceberg

#22345 Add non-null check in MemoryConnector
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryConnector.java
Labels: cla-signed

#22343 Fix example in test guideline
  docs/src/main/sphinx/develop/tests.md
Labels: cla-signed, docs

#22337 Add support for TRUNCATE statement in memory connector
  docs/src/main/sphinx/connector/memory.md
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryMetadata.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryConnectorTest.java
Labels: cla-signed, docs

#21773 Remove unsupported version changes in Cassandra
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraSession.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraSessionProperties.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/util/TestCassandraClusteringPredicatesExtractor.java
Labels: cla-signed, stale

#22340 Add support for truncate statement in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#22174 Enable TopN for non-textual types for clickhouse-connector
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
Labels: cla-signed

#22190 Make scheduling of remote accessible splits with addresses more strict
  core/trino-main/src/main/java/io/trino/execution/scheduler/UniformNodeSelector.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/ArbitraryDistributionSplitAssigner.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/BinPackingNodeAllocatorService.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/HashDistributionSplitAssigner.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/NodeRequirements.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/SingleDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/TestNodeScheduler.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestUniformNodeSelector.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestArbitraryDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestBinPackingNodeAllocator.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestEventDrivenTaskSource.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestSingleDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestTaskDescriptorStorage.java
Labels: cla-signed, release-notes

#22328 Enable query and task retries in MariaDbClient
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
  docs/src/main/sphinx/connector/mariadb.md
  plugin/trino-mariadb/pom.xml
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClient.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/BaseMariaDbFailureRecoveryTest.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestMariaDbQueryFailureRecovery.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestMariaDbTaskFailureRecovery.java
Labels: cla-signed, docs

#22162 Allow pinning to WebIdentityTokenCredentialsProvider in legacy S3 client
  docs/src/main/sphinx/object-storage/legacy-s3.md
  lib/trino-hdfs/src/main/java/io/trino/hdfs/s3/TrinoS3FileSystem.java
  lib/trino-hdfs/src/test/java/io/trino/hdfs/s3/TestTrinoS3FileSystem.java
Labels: cla-signed, docs

#22163 Allow pinning to WebIdentityTokenCredentialsProvider in native S3 client
  docs/src/main/sphinx/object-storage/file-system-s3.md
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemFactory.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
Labels: cla-signed, docs

#22270 Using constant to represent Hudi empty partition
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiSplitManager.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/partition/HiveHudiPartitionInfo.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/partition/HudiPartitionInfoLoader.java
Labels: cla-signed, hudi

#22363 Small fixes
  core/trino-main/src/test/java/io/trino/execution/TestNodeScheduler.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestArbitraryDistributionSplitAssigner.java
Labels: cla-signed

#22348 Improve performance of json functions
  core/trino-main/src/main/java/io/trino/util/JsonUtil.java
Labels: cla-signed, release-notes

#22364 Fix broken testTruncateTable in Iceberg Snowflake catalog
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
Labels: cla-signed, no-release-notes, iceberg

#22320 Verify body in doScheduleAsyncCleanupRequest
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
Labels: cla-signed

#22296 Fix uncheckedCacheGet javadoc
  lib/trino-cache/src/main/java/io/trino/cache/CacheUtils.java
Labels: cla-signed, no-release-notes

#22354 Add Iceberg query runner with TASK retries enabled
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
Labels: cla-signed, iceberg

#22218 Add `exchange.azure.endpoint` configuration option
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/azure/AzureBlobFileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/azure/ExchangeAzureConfig.java
  plugin/trino-exchange-filesystem/src/test/java/io/trino/plugin/exchange/filesystem/azure/TestExchangeAzureConfig.java
Labels: cla-signed, docs

#22367 Fix failure when reading non-primitive Parquet fields in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#22159 Add support for stats on timestamp type in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeParquetStatisticsUtils.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSystemTables.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestDeltaLakeParquetStatisticsUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointWriter.java
Labels: cla-signed, delta-lake

#22335 Fix format of `@DefunctConfig` values in Cassandra
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraClientConfig.java
Labels: cla-signed

#22142 Add support for typeWidening(-preview) reader feature in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/_delta_log/00000000000000000004.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/_delta_log/00000000000000000005.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/part-00000-564b0b78-9796-45f9-8f3d-6f36fb01929b-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/part-00000-9dc5a505-e7ae-4958-901d-f05b8f6a5209-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening/part-00000-e15d8e8c-2e34-4d76-bacf-6315428daba0-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000004.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000005.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000006.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000007.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000008.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000009.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000010.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000010.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/00000000000000000011.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/part-00000-0fd35e0f-1dcc-4601-bbbd-0275e970c9a2-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/part-00000-801608ec-3a0b-4cf0-a345-d861448a9146-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_nested/part-00000-aa99b42e-b5ca-4faf-a9ff-cbcd951cc1b7-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_unsupported/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_unsupported/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_unsupported/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_unsupported/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/type_widening_unsupported/part-00000-564b0b78-9796-45f9-8f3d-6f36fb01929b-c000.snappy.parquet
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
Labels: cla-signed, delta-lake

#22365 Add test for HudiPlugin
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiPlugin.java
Labels: cla-signed, hudi

#22372 Run TestPhoenixConnectorTest in parallel
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/PhoenixQueryRunner.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
Labels: cla-signed

#22215 Nessie: Support APIv2 client
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/IcebergNessieCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/IcebergNessieCatalogModule.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergPlugin.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestIcebergNessieCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestTrinoNessieCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/containers/NessieContainer.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-spark-iceberg-nessie/iceberg.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-spark-iceberg-nessie/spark-defaults.conf
Labels: cla-signed, docs, iceberg

#22302 Fix evictable cache invalidation race condition
  lib/trino-cache/src/main/java/io/trino/cache/EvictableCache.java
Labels: cla-signed

#22360 Pin 3rd party CI action versions
  .github/workflows/annotate.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup.yml
  .github/workflows/docs.yml
  testing/trino-tests/src/test/java/io/trino/tests/ci/TestWorkflows.java
Labels: cla-signed

#22380 Add encoding to error code in OAuth2 callback handler
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2CallbackResource.java
  core/trino-main/src/test/java/io/trino/server/security/TestResourceSecurity.java
Labels: cla-signed

#22378 Enable Dependabot for GitHub Actions
  .github/dependabot.yml
Labels: cla-signed

#22370 Avoid abort in testing helper method or for-loop
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoConnectorTest.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, mongodb

#22396 Convert ResourceGroupInfo to a record class
  core/trino-main/src/main/java/io/trino/server/ResourceGroupInfo.java
  core/trino-main/src/test/java/io/trino/execution/resourcegroups/TestResourceGroups.java
  core/trino-main/src/test/java/io/trino/server/TestQueryStateInfo.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/TestResourceGroupIntegration.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/TestQueuesDb.java
Labels: cla-signed

#22395 Make sure expression type does not change after processing with rule
  core/trino-main/src/main/java/io/trino/sql/ir/optimizer/IrExpressionOptimizer.java
Labels: cla-signed, no-release-notes

#22350 Modify alluxio version to stable 2.9.5
  lib/trino-filesystem-cache-alluxio/pom.xml
  pom.xml
Labels: cla-signed

#22389 Include detailed error in S3 batch delete message
  lib/trino-hdfs/src/main/java/io/trino/hdfs/s3/TrinoS3FileSystem.java
Labels: cla-signed

#22400 Clarify the default value of iceberg.catalog.type in Iceberg docs
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, docs

#22401 Remove unused argument from getSparkTableStatistics
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SparkMetastoreUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestSparkMetastoreUtil.java
Labels: cla-signed, hive

#22192 Optimize DATE_TRUNC, DATE_ADD and DATE_DIFF functions for DATE and TIMESTAMP types
  core/trino-main/src/main/java/io/trino/operator/scalar/DateTimeFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/BenchmarkDateTimeFunctions.java
Labels: cla-signed

#22294 Set hive.metastore.catalog.dir in Iceberg and Delta query runners
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/DeltaLakeQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
Labels: cla-signed, iceberg, delta-lake

#22405 Remove redundant annotation
  core/trino-main/src/main/java/io/trino/metadata/ResolvedFunction.java
Labels: cla-signed

#22217 Migrate iceberg caching product test to native filesystem
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeIcebergMinioCaching.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-iceberg-minio-cached/iceberg.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergAlluxioCaching.java
Labels: cla-signed

#22314 Fix argument order in ST_Point() function docs
  docs/src/main/sphinx/functions/geospatial.md
Labels: docs

#22418 Update docker-image version to 97
  pom.xml
Labels: cla-signed

#22414 Test allowColumnDefaults writer feature in Delta Lake
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/deltalake/allow_column_defaults/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/allow_column_defaults/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/allow_column_defaults/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/allow_column_defaults/part-00000-42b7bd7e-34ab-4981-b4ae-51f9b3421a9f-c000.snappy.parquet
Labels: cla-signed, delta-lake

#22409 Check duplicated field names in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TypeConverter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMinioOrcConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetConnectorTest.java
Labels: cla-signed, iceberg

#22435 Clean up code comments in JdbcJoinPushdownUtil
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcJoinPushdownUtil.java
Labels: cla-signed

#22446 Clarify required configuration for fs caching
  docs/src/main/sphinx/object-storage/file-system-cache.md
Labels: cla-signed, docs

#22438 Install plugins in testing server before startup completes
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  testing/trino-testing/src/main/java/io/trino/testing/DistributedQueryRunner.java
Labels: cla-signed, no-release-notes

#22444 Use correct isolation level in writing the commit info for DELETE
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#22440 Make AsyncResponse aware of the client disconnection
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
  core/trino-main/src/main/java/io/trino/server/DisconnectionAwareAsyncResponse.java
  core/trino-main/src/main/java/io/trino/server/TaskResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2TokenExchangeResource.java
Labels: cla-signed

#22449 Retain authorization during client redirects for basic auth
  client/trino-client/src/main/java/io/trino/client/uri/TrinoUri.java
Labels: cla-signed

#22447 Create tables under volatile directory in TestDeltaLakeBasic
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
Labels: cla-signed, delta-lake

#22450 Fix wrong entry in 450 release note
  docs/src/main/sphinx/release/release-450.md
Labels: cla-signed, release-notes, docs

#22429 Check duplicated field names in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#20959 Implement incremental refresh for single-table, predicate-only MVs
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/planner/IncrementalRefreshVisitor.java
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/BeginTableWrite.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableWriterNode.java
  core/trino-main/src/main/java/io/trino/testing/TestingMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-main/src/test/java/io/trino/metadata/AbstractMockMetadata.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestIncrementalRefreshVisitor.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestMaterializedViews.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/RefreshType.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitManager.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMaterializedViewTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
Labels: cla-signed, iceberg

#22457 Update airlift to 249
  core/trino-main/pom.xml
  pom.xml
  testing/trino-testing/pom.xml
Labels: cla-signed

#22423 Fix product tests previously migrated to native fs to not use legacy fs
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeMinioDataLake.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeMinioDataLakeCaching.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake-cached/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake/iceberg.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-oss/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-oss/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-hive-hudi-redirections/hudi.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-hudi/hudi.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlluxioCaching.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeJmx.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestHiveAndDeltaLakeCompatibility.java
Labels: cla-signed

#22464 Add non-null check in SortingFileWriter
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/SortingFileWriter.java
Labels: cla-signed, hive

#22466 Refactor TestJsonStringArrayExtractScalar
  core/trino-main/src/test/java/io/trino/operator/scalar/TestJsonStringArrayExtractScalar.java
Labels: cla-signed

#22469 Fix reading empty files when using native S3 FS
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3InputStream.java
  lib/trino-filesystem/src/test/java/io/trino/filesystem/AbstractTestTrinoFileSystem.java
Labels: cla-signed

#22456 Fix configuration mistake
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#22477 Optimize IntegerNumberToDoubleCoercer#applyCoercedValue to avoid repeated reading of Block values
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/IntegerNumberToDoubleCoercer.java
Labels: cla-signed, hive

#22441 Add support for prefix configuration in Iceberg REST catalog
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
Labels: cla-signed, docs, iceberg

#22472 Reschedule replacement tasks in case of artificial failure due to missing spooling output size
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#22485 Update Azure SDK
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureFileSystem.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/AbstractTestAzureFileSystem.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAdlsConnectorSmokeTest.java
  pom.xml
Labels: cla-signed, delta-lake

#22502 Disable caching of /ui responses
  core/trino-main/src/main/java/io/trino/server/DisableHttpCache.java
  core/trino-main/src/main/java/io/trino/server/DisableHttpCacheDynamicFeature.java
  core/trino-main/src/main/java/io/trino/server/ServerMainModule.java
  core/trino-main/src/main/java/io/trino/server/ui/UiQueryResource.java
Labels: cla-signed

#22500 Add clarifying javadoc
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#22207 Add more http proxy configs for native S3 filesystem implementation
  docs/src/main/sphinx/object-storage/file-system-s3.md
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemFactory.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
Labels: cla-signed, docs, stale-ignore

#22509 Push filter through TopNRankingNode
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/PredicatePushDown.java
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
Labels: cla-signed

#22495 Add support for uppercase characters in `partitioning` table property
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionFields.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestPartitionFields.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestSortFieldUtils.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
Labels: cla-signed, iceberg

#22476 Add special characters missing test coverage for native-fs s3 path
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/TestHiveS3MinioQueries.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMinioConnectorSmokeTest.java
Labels: cla-signed, iceberg, hive

#22496 Fix failure when filter operation is applied on varbinary column in Kudu
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduClientSession.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/KuduCreateAndInsertDataSetup.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduTypeMapping.java
Labels: cla-signed

#22497 Add date data type support for Kudu
  docs/src/main/sphinx/connector/kudu.md
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduPageSink.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/TypeHelper.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduTypeMapping.java
Labels: cla-signed, docs

#22507 Add t_cdf, t_distribution scalar functions
  core/trino-main/src/main/java/io/trino/operator/scalar/MathFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestMathFunctions.java
  docs/src/main/sphinx/functions/math.md
Labels: cla-signed, syntax-needs-review, docs

#22371 Fix spelling errors in documentation
  docs/src/main/sphinx/functions/json.md
  docs/src/main/sphinx/optimizer/pushdown.md
Labels: cla-signed, docs

#22531 Fix incorrect case optimization
  core/trino-main/src/main/java/io/trino/sql/ir/optimizer/rule/SimplifyRedundantCase.java
  core/trino-main/src/test/java/io/trino/sql/ir/optimizer/TestSimplifyRedundantCase.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestRemoveRedundantPredicateAboveTableScan.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue22530.java
Labels: cla-signed

#22197 allocate specific memory for each connector
  core/trino-main/src/main/java/io/trino/connector/CatalogConnector.java
  core/trino-main/src/main/java/io/trino/connector/DefaultCatalogFactory.java
  core/trino-main/src/main/java/io/trino/memory/MemoryPool.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskManagerRaceWithCatalogPrune.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryPools.java
  core/trino-spi/src/main/java/io/trino/spi/connector/Connector.java
Labels: cla-signed

#22504 Add Trino 451 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-451.md
Labels: cla-signed, release-notes, docs

#22534 Fix method order in IcebergRestCatalogConfig
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
Labels: cla-signed, iceberg

#22539 Extract order table columns definition to separate method
  plugin/trino-druid/src/test/java/io/trino/plugin/druid/TestDruidConnectorTest.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed
