Repository trinodb/trino, pull requests merged in 2024-11, with the labels that each got.

#24002 Synchronize AutoCloseableCloser
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/util/AutoCloseableCloser.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/util/TestAutoCloseableCloser.java
Labels: cla-signed

#23843 Replace "fail() + catch" pattern in HiveType testing
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestHiveTypeTranslator.java
Labels: cla-signed, hive

#23847 Add oauth2-server-uri support to Iceberg REST catalog
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/OAuth2SecurityConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/OAuth2SecurityProperties.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestOAuth2SecurityConfig.java
Labels: cla-signed, docs, iceberg

#24013 Update airbase and couple of other dependencies
  pom.xml
Labels: cla-signed

#23894 Support reading geometries in EWKB format.
  docs/src/main/sphinx/functions/geospatial.md
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/GeoFunctions.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestGeoFunctions.java
Labels: cla-signed, docs

#24023 Airbase 196 and Airlift 280
  pom.xml
Labels: cla-signed

#24025 Update airlift to 281
  pom.xml
Labels: cla-signed

#24005 Add docs for cosine_distance
  docs/src/main/sphinx/functions/array.md
  docs/src/main/sphinx/functions/list-by-topic.md
  docs/src/main/sphinx/functions/list.md
  docs/src/main/sphinx/functions/math.md
Labels: cla-signed, docs

#24026 Remove unused class
  core/trino-main/src/main/java/io/trino/sql/planner/IrTypeAnalyzer.java
Labels: cla-signed

#24018 Migrate Cassandra product test to integration test
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/CassandraTpchTableDefinitions.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestSelect.java
Labels: cla-signed

#24028 Disable server http request logs in product tests
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/hadoop-kerberos/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/standard-multinode/multinode-master-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/standard-multinode/multinode-worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/standard/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/task-retries-multinode/multinode-master-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/task-retries-multinode/multinode-worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-postgresql-spooling/coordinator-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-postgresql-spooling/worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls-kerberos/config-master.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls-kerberos/config-worker.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls/config-master.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls/config-worker.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-authenticated-http-proxy/trino/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-authenticated-https-proxy/trino/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-https-proxy/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-refresh/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oidc-refresh/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oidc/config.properties
Labels: cla-signed

#24033 Update benchto to 0.31
  pom.xml
Labels: cla-signed

#24010 Use drop and create to replace a function on Hive Metastore
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastoreClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHive3OnDataLake.java
Labels: cla-signed, hive

#24008 Make Faker deterministic
  docs/src/main/sphinx/connector/faker.md
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerPageSourceProvider.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerSplit.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerSplitManager.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed, docs

#24039 Migrate Cassandra product test to integration test
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/MultiColumnKeyTableDefinition.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestSelectMultiColumnKey.java
Labels: cla-signed

#24038 Remove Airlift's event client from verifier
  service/trino-verifier/pom.xml
  service/trino-verifier/src/main/java/io/trino/verifier/DatabaseEventClient.java
  service/trino-verifier/src/main/java/io/trino/verifier/EventConsumer.java
  service/trino-verifier/src/main/java/io/trino/verifier/HumanReadableEventClient.java
  service/trino-verifier/src/main/java/io/trino/verifier/JsonEventClient.java
  service/trino-verifier/src/main/java/io/trino/verifier/TrinoVerifierModule.java
  service/trino-verifier/src/main/java/io/trino/verifier/Verifier.java
  service/trino-verifier/src/main/java/io/trino/verifier/VerifierQueryEvent.java
  service/trino-verifier/src/main/java/io/trino/verifier/VerifyCommand.java
  service/trino-verifier/src/test/java/io/trino/verifier/TestDatabaseEventClient.java
Labels: cla-signed

#24042 Throw TrinoException when Iceberg commit fails
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
Labels: cla-signed, iceberg

#24048 Fix Iceberg exception assertion
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueTableOperationsInsertFailure.java
Labels: cla-signed, iceberg

#24047 Update airlift to 282
  core/trino-main/pom.xml
  core/trino-main/src/main/java/io/trino/server/Server.java
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  plugin/trino-http-server-event-listener/pom.xml
  plugin/trino-http-server-event-listener/src/main/java/io/trino/plugin/httpquery/HttpServerEventListenerFactory.java
  pom.xml
  service/trino-proxy/pom.xml
  service/trino-proxy/src/main/java/io/trino/proxy/TrinoProxy.java
Labels: cla-signed

#24045 WKBReader is not thread-safe. Remove static field
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/GeoFunctions.java
Labels: cla-signed

#24049 Fix failure when using uppercase characters in UPDATE assignments
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, hive

#24016 Move nested namespace support in REST catalog behind a config
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogNestedNamespaceConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
Labels: cla-signed, docs, iceberg

#23785 Fix insert to Clickhouse TimestampWithTimeZone
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseTypeMapping.java
Labels: cla-signed

#24040 Add support for random prefix with deletion vector in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSinkProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/delete/DeletionVectors.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_random_prefix/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_random_prefix/_delta_log/00000000000000000000.json
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, delta-lake

#24059 Fix failure of Delta Lake testCaseUpdatePartitionColumnFails
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeWriteDatabricksCompatibility.java
Labels: cla-signed

#24057 Migrate Cassandra product test to integration test
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/CassandraTpchTableDefinitions.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestCassandra.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestConstants.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestSelect.java
Labels: cla-signed

#24072 Implement `toString()` method in `MongoTableHandle` and `RemoteTableName` classes
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoTableHandle.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/RemoteTableName.java
Labels: cla-signed, mongodb

#24070 Reduce repeated operations for a table in testCommentTable
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, Flaky Tests

#24065 Enable ErrorProne CanonicalDuration
  lib/trino-filesystem-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioFileSystem.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraClientModule.java
  plugin/trino-kafka-event-listener/src/test/java/io/trino/plugin/eventlistener/kafka/TestUtils.java
  plugin/trino-openlineage/src/test/java/io/trino/plugin/openlineage/MarquezServer.java
  plugin/trino-prometheus/src/test/java/io/trino/plugin/prometheus/PrometheusServer.java
  pom.xml
Labels: cla-signed

#24064 Remove redundant TestComments product test
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHive3OnDataLake.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestComments.java
Labels: cla-signed, hive

#24044 Prevent IllegalArgumentException if no pending node acquires
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/BinPackingNodeAllocatorService.java
Labels: cla-signed

#24046 Remove unnecessary digests from queryinfo
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-main/src/main/java/io/trino/execution/QueryInfo.java
  core/trino-main/src/main/java/io/trino/execution/StageInfo.java
  core/trino-main/src/main/java/io/trino/execution/StageStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/StageStats.java
  core/trino-main/src/main/java/io/trino/execution/TaskInfo.java
  core/trino-main/src/main/java/io/trino/operator/PipelineStats.java
  core/trino-main/src/main/java/io/trino/operator/TaskStats.java
  core/trino-main/src/main/java/io/trino/server/ui/UiQueryResource.java
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryInfo.java
  core/trino-main/src/test/java/io/trino/execution/TestStageStats.java
Labels: cla-signed

#24084 Update table statistics description in Iceberg doc
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#24079 Faker: Fix comments on generator table
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerMetadata.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed

#24091 Remove unused FailingExecutor
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/FailingExecutor.java
Labels: cla-signed

#23986 Update Iceberg to 1.7.0
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionData.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TypeConverter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/HiveSchemaUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/OrcTypeConverter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergFileOperations.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIcebergRest.java
Labels: cla-signed, iceberg

#24077 Remove deprecated TableScanNode.newInstance()
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableScanNode.java
  core/trino-main/src/test/java/io/trino/cost/TestRemoteSourceStatsRule.java
  core/trino-main/src/test/java/io/trino/execution/MockRemoteTaskFactory.java
  core/trino-main/src/test/java/io/trino/execution/TaskTestUtils.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestMultiSourcePartitionedScheduler.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestScaledWriterScheduler.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestSourcePartitionedScheduler.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/policy/PlanUtils.java
  core/trino-main/src/test/java/io/trino/server/TestDynamicFilterService.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestEffectivePredicateExtractor.java
Labels: cla-signed

#24058 Ensure module instances are not shared by multiple JDBC catalogs
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcConnectorFactory.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcPlugin.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/H2QueryRunner.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcPlugin.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJmxStats.java
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHousePlugin.java
  plugin/trino-druid/src/main/java/io/trino/plugin/druid/DruidJdbcPlugin.java
  plugin/trino-example-jdbc/src/main/java/io/trino/plugin/example/ExamplePlugin.java
  plugin/trino-exasol/src/main/java/io/trino/plugin/exasol/ExasolPlugin.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgnitePlugin.java
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbPlugin.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlPlugin.java
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OraclePlugin.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlPlugin.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlJdbcConnectionAccesses.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlJdbcConnectionCreation.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftPlugin.java
  plugin/trino-singlestore/src/main/java/io/trino/plugin/singlestore/SingleStorePlugin.java
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakePlugin.java
  plugin/trino-sqlserver/src/main/java/io/trino/plugin/sqlserver/SqlServerPlugin.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/TestSqlServerJdbcConnectionAccesses.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/TestSqlServerJdbcConnectionCreation.java
  plugin/trino-vertica/src/main/java/io/trino/plugin/vertica/VerticaPlugin.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
  testing/trino-tests/src/test/java/io/trino/tests/TestQueryAssertions.java
Labels: cla-signed

#24035 Update iceberg connector to be created by guice
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConnector.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConnectorFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSchemaProperties.java
Labels: cla-signed, iceberg

#24082 Correct name for TPC-H and TPC-DS connectors
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/tpcds.md
  docs/src/main/sphinx/connector/tpch.md
  docs/src/main/sphinx/optimizer/pushdown.md
  docs/src/main/sphinx/overview/concepts.md
  docs/src/main/sphinx/release/release-0.148.md
  docs/src/main/sphinx/release/release-0.183.md
  docs/src/main/sphinx/release/release-0.184.md
  docs/src/main/sphinx/release/release-0.60.md
Labels: cla-signed, release-notes, docs

#24125 Allow disabling client segment acknowledgment
  client/trino-client/src/main/java/io/trino/client/spooling/Segment.java
  client/trino-client/src/main/java/io/trino/client/spooling/SegmentLoader.java
  client/trino-client/src/main/java/io/trino/client/spooling/SpooledSegment.java
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/CoordinatorSegmentResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpooledBlock.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpooledQueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingConfig.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryDataSerialization.java
  core/trino-main/src/test/java/io/trino/server/protocol/spooling/TestSpooledBlock.java
  core/trino-main/src/test/java/io/trino/server/protocol/spooling/TestSpoolingConfig.java
Labels: cla-signed

#24128 Enhance DevelopmentPluginsProvider to handle plugin directories
  README.md
  testing/trino-server-dev/src/main/java/io/trino/server/DevelopmentPluginsProvider.java
Labels: cla-signed

#24133 Use coarser units in test to make it less dependent on environment
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestTaskDescriptorStorage.java
Labels: cla-signed

#23808 Add varchar/char cast pushdown support in Redshift
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RewriteCast.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftCastPushdown.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
Labels: cla-signed

#24140 Check if data is read in chunks
  client/trino-client/src/test/java/io/trino/client/TestResultRowsDecoder.java
Labels: cla-signed

#24143 Remove wrong TODO
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
Labels: cla-signed

#24144 Improve random_string catalog function docs
  docs/src/main/sphinx/connector/faker.md
  docs/src/main/sphinx/functions/list-by-topic.md
  docs/src/main/sphinx/functions/list.md
Labels: cla-signed, docs

#24066 Add iceberg.jdbc-catalog.retryable-status-codes configuration property
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/IcebergJdbcCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalogFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/jdbc/TestIcebergJdbcCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/jdbc/TestIcebergJdbcCatalogConnectorSmokeTest.java
Labels: cla-signed, docs, iceberg

#24146 Fix generating real numbers from predicate list
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerPageSource.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed

#24102 Add spec_id, partition, sort_order_id, readable_metrics columns to Iceberg $files table
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/FilesTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPartitionColumn.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionTable.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/DataFileRecord.java
Labels: cla-signed, docs, iceberg

#24154 Improve Vertica docs
  docs/src/main/sphinx/connector/vertica.md
  docs/src/main/sphinx/static/img/vertica.png
Labels: cla-signed, docs

#24152 Allow configuring locale in the Faker connector
  docs/src/main/sphinx/connector/faker.md
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerConfig.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerPageSourceProvider.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/FakerQueryRunner.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerConfig.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed, docs

#24151 Rename `PartitionTable` to `PartitionsTable` in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/FilesTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionsTable.java
Labels: cla-signed, iceberg

#24142 Make ackUri always required client-side
  client/trino-client/src/main/java/io/trino/client/OkHttpSegmentLoader.java
  client/trino-client/src/main/java/io/trino/client/spooling/Segment.java
  client/trino-client/src/main/java/io/trino/client/spooling/SpooledSegment.java
  client/trino-client/src/test/java/io/trino/client/TestResultRowsDecoder.java
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/CoordinatorSegmentResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpooledBlock.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpooledQueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingConfig.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryDataSerialization.java
  core/trino-main/src/test/java/io/trino/server/protocol/spooling/TestSpooledBlock.java
  core/trino-main/src/test/java/io/trino/server/protocol/spooling/TestSpoolingConfig.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpoolingConfig.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpoolingManager.java
  plugin/trino-spooling-filesystem/src/test/java/io/trino/spooling/filesystem/TestFileSystemSpoolingConfig.java
Labels: cla-signed

#23867 Add support for case-insensitive object names in Iceberg REST catalog
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergPolarisCatalogCaseInsensitiveMapping.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
Labels: cla-signed, docs, iceberg

#24162 Update dependencies nov 18th
  pom.xml
Labels: cla-signed

#24157 Add comment about planning window frame RANGE
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed

#24166 Settle bounds for two dependencies
  plugin/trino-pinot/pom.xml
  pom.xml
Labels: cla-signed

#22870 Allow specifying bigint type in repeat function
  core/trino-main/src/main/java/io/trino/operator/scalar/RepeatFunction.java
  core/trino-main/src/test/java/io/trino/type/TestArrayOperators.java
Labels: cla-signed, stale-ignore

#24176 Fix formatting and code ordering
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/TaskDescriptorStorage.java
Labels: cla-signed

#24174 Use UNKNOWN state instead of null
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/BinPackingNodeAllocatorService.java
Labels: cla-signed

#24178 Add compressionActive flag in TaskDescriptorStorage stats
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/TaskDescriptorStorage.java
Labels: cla-signed

#22992 Enable SSE with customer key for S3
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3Context.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystem.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3InputFile.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3OutputStream.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SseCustomerKey.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SseRequestConfigurator.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemAwsS3WithSseCustomerKey.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
Labels: cla-signed

#24169 Minor improvements in Faker connector docs
  docs/src/main/sphinx/connector/faker.md
Labels: cla-signed, docs

#23832 Improve docs for query history and event listeners
  docs/src/main/sphinx/admin.md
  docs/src/main/sphinx/admin/properties-query-management.md
  docs/src/main/sphinx/admin/web-interface.md
Labels: cla-signed, docs

#23882 Specify default value for task.concurrency in docs for FTE mode
  docs/src/main/sphinx/admin/properties-task.md
Labels: cla-signed, docs

#24185 Correct memory connector docs
  docs/src/main/sphinx/connector/memory.md
Labels: cla-signed, docs

#24184 Correct docs for add_files in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#24188 Deny duplicate files in Iceberg `add_files` & `add_files_from_table` procedure
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrationUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergAddFilesProcedure.java
Labels: cla-signed, docs, iceberg

#24053 Add support for PostGIS
  docs/src/main/sphinx/connector/postgresql.md
  plugin/trino-postgresql/pom.xml
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/PostgreSqlQueryRunner.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlGeometryType.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlPlugin.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestingPostgreSqlConnectorContext.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestingPostgreSqlServer.java
Labels: cla-signed, docs

#24014 Add --extra-credential option to CLI doc
  docs/src/main/sphinx/client/cli.md
Labels: cla-signed, docs

#23984 Add StartedQueries stat to InternalResourceGroup for tracking query start rate
  core/trino-main/src/main/java/io/trino/execution/resourcegroups/InternalResourceGroup.java
  core/trino-main/src/test/java/io/trino/execution/resourcegroups/TestResourceGroups.java
Labels: cla-signed

#24197 Support post JDK 17 Subject.current
  client/trino-client/src/main/java/io/trino/client/auth/kerberos/DelegatedUnconstrainedContextProvider.java
Labels: cla-signed

#23427 change client_info column_type to MEDIUMTEXT
  plugin/trino-mysql-event-listener/src/main/java/io/trino/plugin/eventlistener/mysql/QueryDao.java
Labels: cla-signed, stale

#24186 Doc entries for S3 server side encryption with customer key (SSE-C)
  docs/src/main/sphinx/object-storage/file-system-s3.md
Labels: cla-signed, docs

#24203 Update release notes with Java requirements change
  docs/src/main/sphinx/release/release-436.md
  docs/src/main/sphinx/release/release-447.md
  docs/src/main/sphinx/release/release-464.md
Labels: cla-signed, release-notes, docs

#24182 Indicate certain string functions cannot fail
  core/trino-main/src/main/java/io/trino/sql/ir/IrExpressions.java
Labels: cla-signed, performance

#24189 Add docs for array and map creation
  docs/src/main/sphinx/functions/array.md
  docs/src/main/sphinx/functions/map.md
  docs/src/main/sphinx/language/types.md
Labels: cla-signed, syntax-needs-review, docs

#24201 Treat empty encoding header as no encoders
  core/trino-main/src/main/java/io/trino/server/HttpRequestSessionContextFactory.java
Labels: cla-signed

#24207 Clarify Phoenix requirement
  docs/src/main/sphinx/connector/phoenix.md
  docs/src/main/sphinx/installation/deployment.md
  docs/src/main/sphinx/release/release-464.md
Labels: release-notes, docs

#24193 Move DirectTrinoClient to a non-testing package
  core/trino-main/src/main/java/io/trino/client/direct/DirectTrinoClient.java
  core/trino-main/src/main/java/io/trino/testing/TestingDirectTrinoClient.java
Labels: cla-signed

#20555 Add support for creating and dropping tables using Iceberg object store
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergTableProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/TrinoNessieCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergTableWithObjectStore.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
Labels: cla-signed, docs, iceberg, stale-ignore

#24223 Set object_store_enabled as false by default in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergTableProperties.java
Labels: iceberg

#24159 Parallelize tables retrieval from multiple catalogs
  core/trino-main/src/main/java/io/trino/connector/system/MaterializedViewSystemTable.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemPageSourceProvider.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemSplit.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemSplitManager.java
  core/trino-main/src/main/java/io/trino/connector/system/jdbc/TableJdbcTable.java
  core/trino-main/src/test/java/io/trino/connector/system/TestSystemSplit.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/SystemTable.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeSystemTable.java
Labels: cla-signed, performance

#24221 Throw better error message when replacing corrupted iceberg table
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: iceberg

#22675 Add Apache Ranger authorizer plugin
  .github/workflows/ci.yml
  core/trino-server/src/main/provisio/trino.xml
  docs/src/main/sphinx/security.md
  docs/src/main/sphinx/security/apache-ranger-access-control.md
  docs/src/main/sphinx/security/built-in-system-access-control.md
  docs/src/main/sphinx/security/overview.md
  plugin/trino-apache-ranger/pom.xml
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/ApacheRangerPlugin.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerConfig.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerSystemAccessControl.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerSystemAccessControlFactory.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerTrinoAccessRequest.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerTrinoAccessType.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerTrinoEventListener.java
  plugin/trino-apache-ranger/src/main/java/io/trino/plugin/ranger/RangerTrinoResource.java
  plugin/trino-apache-ranger/src/test/java/io/trino/plugin/ranger/RangerAdminClientImpl.java
  plugin/trino-apache-ranger/src/test/java/io/trino/plugin/ranger/TestRangerSystemAccessControl.java
  plugin/trino-apache-ranger/src/test/resources/ranger-trino-security.xml
  plugin/trino-apache-ranger/src/test/resources/trino-policies.json
  pom.xml
  testing/trino-product-tests-groups/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeApacheRanger.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteApacheRanger.java
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-apache-ranger/access-control.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-apache-ranger/mariadb.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-apache-ranger/ranger-policymgr-ssl.xml
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-apache-ranger/ranger-trino-audit.xml
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-apache-ranger/ranger-trino-security.xml
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-apache-ranger/trino-policies.json
  testing/trino-product-tests/src/main/java/io/trino/tests/product/ranger/TestApacheRanger.java
Labels: cla-signed, release-notes, docs, ui, jdbc, hudi, iceberg, delta-lake, hive, bigquery, mongodb, stale-ignore

#24237 Persist the Trino user into Iceberg snapshot summary
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: iceberg

#24191 Document caching impersonation configuration options
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, docs

#24212 Update docker-image version to 105
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergUnityRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestingPolarisCatalog.java
  pom.xml
Labels: cla-signed, iceberg

#24248 Allow changing field type in records wrapped in a map
  core/trino-main/src/main/java/io/trino/execution/SetColumnTypeTask.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingConnectorBehavior.java
Labels: cla-signed, iceberg

#24271 Switch to go based launcher
  core/docker/Dockerfile
  core/trino-server-rpm/pom.xml
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/ServerIT.java
  core/trino-server/src/main/provisio/trino.xml
  docs/src/main/sphinx/installation/deployment.md
  pom.xml
Labels: cla-signed, docs

#24262 Include query id in log message
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AdaptivePartitioning.java
Labels: no-release-notes

#24273 Prune launcher binaries for other archs
  core/docker/Dockerfile
  core/docker/build.sh
Labels: cla-signed

#24270 Add SUPPORTS_MAP_TYPE to TestingConnectorBehavior
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolConnectorTest.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/BaseMariaDbConnectorTest.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotConnectorTest.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
  plugin/trino-redis/src/test/java/io/trino/plugin/redis/BaseRedisConnectorTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
  plugin/trino-singlestore/src/test/java/io/trino/plugin/singlestore/TestSingleStoreConnectorTest.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerConnectorTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/TestingConnectorBehavior.java
  testing/trino-tests/src/test/java/io/trino/tests/tpch/TestTpchConnectorTest.java
Labels: cla-signed, bigquery

#24243 Fix failure when reading missing fields in Parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#24277 Add small delay for dynamic filters in iceberg scans
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
Labels: cla-signed, docs, performance, iceberg

#24268 Fix and improve loop example
  docs/src/main/sphinx/routines/loop.md
Labels: cla-signed, docs

#24283 Update airbase to 201 and airlift to 287
  pom.xml
Labels: cla-signed

#24208 Add Trino 466 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-466.md
Labels: cla-signed, release-notes, docs

#24290 Fix typo
  core/trino-spi/src/test/java/io/trino/spi/function/TestScalarFunctionAdapter.java
Labels: cla-signed

#24281 Use Ubi 9 micro image for docker
  core/docker/Dockerfile
Labels: cla-signed

#24299 Disable HTTP/2 for internal communication
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/main/java/io/trino/server/InternalCommunicationConfig.java
  core/trino-main/src/main/java/io/trino/server/ServerMainModule.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/server/TestInternalCommunicationConfig.java
Labels: cla-signed

#24288 Clarify requirements for CLI and JDBC driver
  docs/src/main/sphinx/client/cli.md
  docs/src/main/sphinx/client/jdbc.md
Labels: cla-signed, docs

#24160 Add support for concurrent write on Iceberg transformed column
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergLocalConcurrentWrites.java
Labels: cla-signed, iceberg

#24311 Special handling of 503 in HttpRemoteTask
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
Labels: cla-signed, no-release-notes

#24279 Cleanup manifest and metadata files when any createTable fails
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/CreateTableException.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/AbstractMetastoreTableOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/file/TestIcebergFileMetastoreCreateTableFailure.java
Labels: cla-signed, iceberg

#24314 Fix BaseConnectorTest.testRenameMaterializedView
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#24318 GCS filesystem cleanups
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsLocation.java
Labels: cla-signed
