Repository trinodb/trino, pull requests merged in 2024-02, with the labels that each got.

#20246 Add docs for OPA access control
  docs/src/main/sphinx/security.md
  docs/src/main/sphinx/security/opa-access-control.md
  docs/src/main/sphinx/security/overview.md
  plugin/trino-opa/README.md
Labels: cla-signed, docs

#20527 Fix TypedKeyValueHeap compaction
  core/trino-main/src/main/java/io/trino/operator/aggregation/minmaxbyn/TypedKeyValueHeap.java
Labels: cla-signed

#20535 Skip hive tests if module was not impacted
  .github/workflows/ci.yml
Labels: cla-signed

#20536 Restore getLoadedBlock methods (for dictionary and RLE)
  core/trino-spi/src/main/java/io/trino/spi/block/DictionaryBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/RunLengthEncodedBlock.java
Labels: bug, cla-signed

#20538 Handle timeouts on initial query request
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  client/trino-client/src/test/java/io/trino/client/TestRetry.java
Labels: cla-signed

#20529 Propagate RowPositionsAppender reset to fields
  core/trino-main/src/main/java/io/trino/operator/output/RowPositionsAppender.java
Labels: cla-signed

#20491 Add support for `ALTER COLUMN ... DROP NOT NULL` statement in Delta Lake connector
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeAlterTableCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#16589 use default fpp for writing in Hive connector if not provided in table metadata
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/orc/TestOrcWriterOptions.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileWriterFactory.java
Labels: cla-signed, tests:hive, iceberg, hive, stale

#20545 Fix Alluxio POM version
  lib/trino-filesystem-cache-alluxio/pom.xml
Labels: cla-signed, tests:hive

#20537 Add SystemSecurityMetadata interface method for column type change
  core/trino-main/src/main/java/io/trino/metadata/DisabledSystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/metadata/SystemSecurityMetadata.java
  testing/trino-tests/src/test/java/io/trino/security/TestingSystemSecurityMetadata.java
Labels: cla-signed

#20547 Increase test metadata server startup delay
  core/trino-main/src/test/java/io/trino/server/security/oauth2/TestOidcDiscovery.java
Labels: cla-signed

#20541 Add more options to S3FileSystemConfig
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemFactory.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
Labels: cla-signed, tests:hive

#20553 Add missing 438 release note
  docs/src/main/sphinx/release/release-438.md
Labels: cla-signed, release-notes, docs

#19717 Added docs link for Kerberos authentication with Iceberg connector
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs, stale

#19132 Fix type mapping documentation error.
  docs/src/main/sphinx/develop/connectors.md
Labels: cla-signed, docs, stale

#20559 Add OPA to built-in system access control doc
  docs/src/main/sphinx/security/built-in-system-access-control.md
Labels: cla-signed, docs

#20549 Reduce assertThatThrownBy scope in TestOidcDiscovery
  core/trino-main/src/test/java/io/trino/server/security/oauth2/TestOidcDiscovery.java
Labels: cla-signed, test, no-release-notes

#20563 Upgrade dependencies [feb 3]
  pom.xml
Labels: cla-signed

#20568 Decouple ApplyNode expressions from AST
  core/trino-main/src/main/java/io/trino/sql/planner/ExpressionExtractor.java
  core/trino-main/src/main/java/io/trino/sql/planner/SubqueryPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PruneApplyColumns.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PruneApplySourceColumns.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/RemoveRedundantExists.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/TransformCorrelatedInPredicateToJoin.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/TransformExistsApplyToCorrelatedJoin.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/TransformUncorrelatedInPredicateSubqueryToSemiJoin.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapSingleColumnRowInApply.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/SymbolMapper.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/TransformQuantifiedComparisonApplyToCorrelatedJoin.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/UnaliasSymbolReferences.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/ApplyNode.java
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
  core/trino-main/src/main/java/io/trino/sql/planner/sanity/ValidateDependenciesChecker.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/ExpressionMatcher.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/PlanMatchPattern.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/SetExpressionMatcher.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/StrictAssignedSymbolsMatcher.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPruneApplyColumns.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPruneApplyCorrelation.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPruneApplySourceColumns.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestRemoveRedundantExists.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestRemoveUnreferencedScalarApplyNodes.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestTransformExistsApplyToCorrelatedJoin.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestTransformUncorrelatedInPredicateSubqueryToSemiJoin.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestUnwrapSingleColumnRowInApply.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/test/PlanBuilder.java
Labels: cla-signed

#20186 Support vended s3 credentials in the Iceberg REST catalog
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3Context.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystem.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemFactory.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3InputFile.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3OutputStream.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/s3/S3FileSystemConstants.java
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileSystemFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadataFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSinkProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplit.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitManager.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergWritableTableHandle.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/DefaultIcebergFileSystemFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogFileSystemFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/fileio/ForwardingFileIo.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tablechanges/TableChangesFunctionProcessor.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tablechanges/TableChangesSplit.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tablechanges/TableChangesSplitSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/IcebergTableExecuteHandle.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergNodeLocalDynamicSplitPruning.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergPlugin.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergSplitSource.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/BaseTrinoCatalogTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestTrinoGlueCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestTrinoNessieCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergTrinoRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergVendingRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/IcebergRestCatalogBackendContainer.java
Labels: cla-signed, tests:hive, iceberg

#20572 Remove unused sqlite-jdbc from Iceberg
  plugin/trino-iceberg/pom.xml
Labels: cla-signed, iceberg

#20571 Add support for OpenTelemetry in BigQuery
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConnectorFactory.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConnectorModule.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ProxyTransportFactory.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/TracingOptionsConfigurer.java
Labels: cla-signed, bigquery

#20569 Update alluxio to 308
  pom.xml
Labels: cla-signed

#18871 Add view text and reference chain information to TableInfo
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/BaseViewReferenceInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/ColumnMaskReferenceInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/FilterMaskReferenceInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/MaterializedViewReferenceInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/RowFilterReferenceInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/TableInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/TableReferenceInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/ViewReferenceInfo.java
  testing/trino-tests/src/test/java/io/trino/common/assertions/BaseViewReferenceInfoAssert.java
  testing/trino-tests/src/test/java/io/trino/common/assertions/FilterMaskReferenceInfoAssert.java
  testing/trino-tests/src/test/java/io/trino/common/assertions/TableInfoAssert.java
  testing/trino-tests/src/test/java/io/trino/common/assertions/TableReferenceInfoAssert.java
  testing/trino-tests/src/test/java/io/trino/common/assertions/TrinoAssertions.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerBasic.java
Labels: cla-signed

#20579 Add toString for DelayedSplitSource
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemorySplitManager.java
Labels: cla-signed, no-release-notes

#20581 Update joda-time to 2.12.7
  pom.xml
Labels: cla-signed

#20576 Expose actual failure when not the expected one
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/TestQueuesDb.java
Labels: cla-signed, test, no-release-notes

#18463 Add missing test case to TestBlockAndPositionNullConvention
  core/trino-main/src/test/java/io/trino/operator/scalar/TestBlockAndPositionNullConvention.java
Labels: cla-signed, stale

#20586 Reduce memory consumption of scale writers tests
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/hive/TestHiveFaultTolerantExecutionConnectorTest.java
Labels: cla-signed, tests:hive, hive

#20589 Fix error when writing huge chunk in ORC
  lib/trino-orc/src/main/java/io/trino/orc/OrcWriter.java
  lib/trino-orc/src/test/java/io/trino/orc/TestOrcWriter.java
Labels: cla-signed, tests:hive

#20590 Fix incorrect deny message in FileBasedSystemAccessControl
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedSystemAccessControl.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/security/BaseFileBasedSystemAccessControlTest.java
Labels: cla-signed

#20592 Use configuration aware module as a wrapper for another module
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestingHiveConnectorFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestingIcebergConnectorFactory.java
Labels: cla-signed, tests:hive, iceberg, hive

#20594 Remove unused method
  core/trino-main/src/main/java/io/trino/operator/OperationTimer.java
Labels: cla-signed

#20596 Fix typo in REST API docs
  docs/src/main/sphinx/develop/client-protocol.md
Labels: cla-signed, docs

#20300 Add docs for filesystem caching
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/delta-lake.md
  docs/src/main/sphinx/connector/filesystem-cache.md
Labels: cla-signed, docs

#20598 Update iceberg access delegation header to REST spec
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
Labels: cla-signed, iceberg

#20588 Remove unused TransactionalMetadataFactory in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeModule.java
Labels: cla-signed, delta-lake

#20585 Treat error in cast to varchar(x) as USER_ERROR
  core/trino-main/src/main/java/io/trino/sql/planner/LiteralEncoder.java
Labels: cla-signed

#20609 Disable slow test temporarily in BigQuery
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#20612 Close tested connector instances
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorFactory.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJmxStats.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHousePlugin.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConnectorFactory.java
Labels: cla-signed, no-release-notes, iceberg

#20615 Switch to io.trino.re2j usage
  client/trino-jdbc/pom.xml
  core/trino-main/pom.xml
  core/trino-main/src/main/java/io/trino/operator/scalar/Re2JRegexpFunctions.java
  core/trino-main/src/main/java/io/trino/operator/scalar/Re2JRegexpReplaceLambdaFunction.java
  core/trino-main/src/main/java/io/trino/type/Re2JRegexp.java
  plugin/trino-bigquery/pom.xml
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-geospatial/pom.xml
  plugin/trino-hudi/pom.xml
  plugin/trino-session-property-managers/pom.xml
  pom.xml
Labels: cla-signed, jdbc, hudi, bigquery

#15366 Add support for grants on new entity kinds
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-main/src/main/java/io/trino/execution/DenyTask.java
  core/trino-main/src/main/java/io/trino/execution/GrantTask.java
  core/trino-main/src/main/java/io/trino/execution/PrivilegeUtilities.java
  core/trino-main/src/main/java/io/trino/execution/RevokeTask.java
  core/trino-main/src/main/java/io/trino/metadata/DisabledSystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataUtil.java
  core/trino-main/src/main/java/io/trino/metadata/SystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/security/AccessControl.java
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/security/AllowAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/DenyAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/ForwardingAccessControl.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowQueriesRewrite.java
  core/trino-main/src/main/java/io/trino/tracing/TracingAccessControl.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TrinoAttributes.java
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Deny.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Grant.java
  core/trino-parser/src/main/java/io/trino/sql/tree/GrantObject.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Revoke.java
  core/trino-parser/src/main/java/io/trino/sql/tree/ShowGrants.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  core/trino-spi/src/main/java/io/trino/spi/connector/EntityKindAndName.java
  core/trino-spi/src/main/java/io/trino/spi/connector/EntityPrivilege.java
  core/trino-spi/src/main/java/io/trino/spi/security/AccessDeniedException.java
  core/trino-spi/src/main/java/io/trino/spi/security/SystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingSystemAccessControl.java
Labels: cla-signed

#20597 Remove redundant PositionsAppender reset loop
  core/trino-main/src/main/java/io/trino/operator/output/RowPositionsAppender.java
Labels: cla-signed

#20631 Update aircompressor to 0.26
  pom.xml
Labels: cla-signed

#20633 Move dependencies to provided scope for HDFS
  lib/trino-hdfs/pom.xml
Labels: cla-signed

#20636 Use existing createSchemaSql method for creating schema
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorSmokeTest.java
Labels: cla-signed

#20644 Make driver blocked timeout tests less flaky
  core/trino-main/src/test/java/io/trino/operator/TestDriver.java
Labels: cla-signed

#20628 Specify Java regex in selector rules
  docs/src/main/sphinx/admin/resource-groups.md
Labels: cla-signed, docs

#20645 Fix column name typo in Iceberg MV example
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#20649 Update takari-lifecycle to 2.1.3
  pom.xml
Labels: cla-signed

#20648 Update for scheduler http client timeouts
  core/trino-main/src/main/java/io/trino/server/CoordinatorModule.java
Labels: cla-signed

#20655 Add table functions to list page
  docs/src/main/sphinx/functions/list-by-topic.md
  docs/src/main/sphinx/functions/table.md
Labels: cla-signed, docs

#20646 Clarify decimal type handling behavior
  docs/src/main/sphinx/connector/decimal-type-handling.fragment
Labels: cla-signed, docs

#20556 Remove parameterization on trino-opa tests
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/AccessControlMethodHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/FilteringTestHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/FunctionalHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/RequestTestUtilities.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestConstants.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControl.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlFiltering.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlPermissionManagementOperations.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlSystem.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaBatchAccessControlFiltering.java
Labels: cla-signed

#20653 Update airbase to 150
  core/trino-main/src/test/java/io/trino/json/TestJsonPathEvaluator.java
  pom.xml
Labels: cla-signed

#20635 Hive bucket version
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/BackgroundHiveSplitLoader.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveBucketHandle.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveBucketProperty.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveInsertTableHandle.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveOutputTableHandle.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSink.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSinkProvider.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTableExecuteHandle.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTableProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveWritableTableHandle.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/converter/GlueToTrinoConverter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveBucketing.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestBackgroundHiveSplitLoader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestTransactionScopeCachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestGlueToTrinoConverter.java
Labels: cla-signed, tests:hive, hive

#20650 Remove ResolvedFunctionCallRewriter
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionInterpreter.java
  core/trino-main/src/main/java/io/trino/sql/planner/ResolvedFunctionCallRewriter.java
Labels: cla-signed

#20445 Change IO metadata output for refresh materialized view operation
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerBasic.java
Labels: cla-signed

#20639 Use native S3 file system in product tests
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake-cached/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake/iceberg.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-databricks/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-databricks/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-oss/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-delta-lake-oss/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-hive-hudi-redirections/hudi.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/singlenode-hudi/hudi.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeJmx.java
  testing/trino-server-dev/etc/catalog/delta.properties
  testing/trino-server-dev/etc/catalog/hudi.properties
Labels: cla-signed, test, tests:hive, no-release-notes

#20660 Fix possible race condition when reading noMoreDrivers
  core/trino-main/src/main/java/io/trino/operator/DriverFactory.java
Labels: cla-signed, no-release-notes

#20666 Limit the max number of drivers per task in thread-per-driver scheduler
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/ConcurrencyController.java
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/TaskEntry.java
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/ThreadPerDriverTaskExecutor.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskManagerThreadPerDriver.java
  core/trino-main/src/test/java/io/trino/execution/executor/dedicated/TestThreadPerDriverTaskExecutor.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergOrcMetricsCollection.java
Labels: cla-signed, iceberg

#20668 Remove deprecated JdbcClient.getTableStatistics overload
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClient.java
Labels: cla-signed

#20671 Fix failure with predicate pushdown on BigQuery views
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#20678 Exclude amqp-client from alluxio-core-common
  lib/trino-filesystem-cache-alluxio/pom.xml
  plugin/trino-delta-lake/pom.xml
  pom.xml
Labels: cla-signed, tests:hive, delta-lake

#20682 Remove aspectj from tests
  plugin/trino-prometheus/pom.xml
  plugin/trino-raptor-legacy/pom.xml
Labels: cla-signed

#20681 Update provisio to 1.0.21
  pom.xml
Labels: cla-signed

#20675 Move RN entry to connector
  docs/src/main/sphinx/release/release-437.md
Labels: cla-signed, release-notes, docs

#20676 Remove optimize failure RN entry
  docs/src/main/sphinx/release/release-438.md
Labels: cla-signed, release-notes, docs

#20679 Update google auth libraries
  plugin/trino-google-sheets/pom.xml
  pom.xml
Labels: cla-signed

#20684 Remove TestReadRowsHelper test
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestReadRowsHelper.java
  pom.xml
Labels: cla-signed, bigquery

#20446 Parallel Task Catalog Loading
  core/trino-main/src/main/java/io/trino/connector/WorkerDynamicCatalogManager.java
Labels: cla-signed

#20688 Remove ignite-patched and update to 2.16.0
  lib/trino-ignite-patched/pom.xml
  lib/trino-ignite-patched/src/main/java/org/apache/ignite/shaded/internal/util/GridUnsafe.java
  lib/trino-ignite-patched/src/test/java/org/apache/ignite/TestDummy.java
  plugin/trino-ignite/pom.xml
  pom.xml
Labels: cla-signed

#20602 Extend Alluxio support to Iceberg connector
  lib/trino-filesystem/src/main/java/io/trino/filesystem/cache/CacheFileSystem.java
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplit.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitManager.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/cache/IcebergCacheKeyProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMinioConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergAlluxioCacheFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMinioParquetCachingConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergSplitSource.java
  testing/trino-product-tests-groups/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeIcebergMinioCaching.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteIceberg.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-iceberg-minio-cached/iceberg.properties
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergAlluxioCaching.java
Labels: cla-signed, tests:hive, performance, iceberg, delta-lake

#20599 Add docs for fs caching with Iceberg
  docs/src/main/sphinx/connector/filesystem-cache.md
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#20674 Remove type-only coercion from planner layer
  core/trino-main/src/main/java/io/trino/json/CachingResolver.java
  core/trino-main/src/main/java/io/trino/json/JsonPathEvaluator.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalysis.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionInterpreter.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/Coercer.java
  core/trino-main/src/main/java/io/trino/sql/planner/IrExpressionInterpreter.java
  core/trino-main/src/main/java/io/trino/sql/planner/LiteralEncoder.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/NullabilityAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/ParameterRewriter.java
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/SubqueryPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ApplyTableScanRedirection.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushCastIntoRow.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapCastInComparison.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/UnwrapRowSubscript.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/ExpressionEquivalence.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/PredicatePushDown.java
  core/trino-main/src/main/java/io/trino/sql/planner/sanity/TypeValidator.java
  core/trino-main/src/main/java/io/trino/sql/relational/SqlToRowExpressionTranslator.java
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutineAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutinePlanner.java
  core/trino-main/src/test/java/io/trino/json/TestJsonPathEvaluator.java
  core/trino-main/src/test/java/io/trino/operator/BenchmarkScanFilterAndProjectOperator.java
  core/trino-main/src/test/java/io/trino/operator/project/TestPageFieldsToInputParametersRewriter.java
  core/trino-main/src/test/java/io/trino/sql/ExpressionTestUtils.java
  core/trino-main/src/test/java/io/trino/sql/TestSqlToRowExpressionTranslator.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkPageProcessor2.java
  core/trino-main/src/test/java/io/trino/sql/planner/AbstractPredicatePushdownTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestConnectorExpressionTranslator.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestDynamicFilter.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestTypeValidator.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestSimplifyExpressions.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestExpressionEquivalence.java
  core/trino-main/src/test/java/io/trino/type/BenchmarkDecimalOperators.java
  core/trino-main/src/test/java/io/trino/type/TestTypeCoercion.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Cast.java
  core/trino-parser/src/main/java/io/trino/sql/tree/ExpressionTreeRewriter.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestSpatialJoinPlanning.java
Labels: cla-signed

#20685 Clean up exclusions on alluxio dep
  lib/trino-filesystem-cache-alluxio/pom.xml
  plugin/trino-delta-lake/pom.xml
Labels: cla-signed, tests:hive, delta-lake

#20691 Do not copy node_modules in trino-main
  core/trino-main/pom.xml
Labels: cla-signed

#20689 Update gib to 4.5.2
  pom.xml
Labels: cla-signed

#20683 Fix fetching statistics for table with partition
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/DefaultGlueColumnStatisticsProvider.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveS3AndGlueMetastoreTest.java
Labels: cla-signed, tests:hive, hive

#20693 Return DatasetId and TableId in BigQueryClient
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
Labels: cla-signed, bigquery

#20703 Revert "Update gib to 4.5.2"
  pom.xml
Labels: cla-signed

#20694 Implement global target concurrency for thread-per-driver scheduler
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/ConcurrencyController.java
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/TaskEntry.java
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/ThreadPerDriverTaskExecutor.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskManagerThreadPerDriver.java
  core/trino-main/src/test/java/io/trino/execution/executor/dedicated/TestThreadPerDriverTaskExecutor.java
Labels: cla-signed

#20702 Downgrade (update?) gcs-connector to 2.2.19
  lib/trino-hdfs/src/main/java/io/trino/hdfs/gcs/GcsAccessTokenProvider.java
  lib/trino-hdfs/src/main/java/io/trino/hdfs/gcs/GcsStorageFactory.java
  lib/trino-hdfs/src/main/java/io/trino/hdfs/gcs/GoogleGcsConfigurationInitializer.java
  pom.xml
Labels: cla-signed

#20704 Update kudu to 1.17.0
  plugin/trino-kudu/pom.xml
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestingKuduServer.java
Labels: cla-signed

#20707 Fix formatting
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
Labels: cla-signed, iceberg

#20634 Add object storage documentation
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/delta-lake.md
  docs/src/main/sphinx/connector/hive.md
  docs/src/main/sphinx/connector/hudi.md
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/index.md
  docs/src/main/sphinx/object-storage.md
  docs/src/main/sphinx/object-storage/file-system-azure.md
  docs/src/main/sphinx/object-storage/file-system-cache.md
  docs/src/main/sphinx/object-storage/file-system-gcs.md
  docs/src/main/sphinx/object-storage/file-system-s3.md
Labels: cla-signed, docs

#20713 Update doc for metastore
  docs/src/main/sphinx/connector/metastores.md
Labels: cla-signed, docs

#20712 Hide object storage cache implementation detail
  docs/src/main/sphinx/object-storage/file-system-cache.md
  lib/trino-filesystem-cache-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioFileSystemCacheConfig.java
  lib/trino-filesystem-cache-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioFileSystemCacheConfig.java
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemConfig.java
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemModule.java
  lib/trino-filesystem-manager/src/test/java/io/trino/filesystem/manager/TestFileSystemConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAlluxioCacheFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAlluxioCacheMinioAndHmsConnectorSmokeTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveAlluxioCacheFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergAlluxioCacheFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMinioParquetCachingConnectorSmokeTest.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-hive-cached/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-iceberg-minio-cached/iceberg.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-minio-data-lake-cached/delta.properties
Labels: cla-signed, docs, tests:hive, iceberg, delta-lake, hive

#20709 Ensure complete TaskInfo/Status for FINISHED tasks
  core/trino-main/src/main/java/io/trino/execution/SqlTask.java
Labels: cla-signed

#20717 Enable impact analysis for product tests on PRs in this repo
  .github/workflows/ci.yml
Labels: cla-signed

#20715 Remove non-existing config property
  testing/trino-server-dev/etc/catalog/delta.properties
  testing/trino-server-dev/etc/catalog/hudi.properties
Labels: cla-signed, no-release-notes

#20710 Improve speed when listing BigQuery columns
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
Labels: cla-signed, bigquery

#20718 Remove unused method
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetastoreClosure.java
Labels: tests:hive, no-release-notes, hive

#20721 Set desired test JVM flags for BigQuery, Ignite, Phoenix
  plugin/trino-bigquery/pom.xml
  plugin/trino-ignite/pom.xml
  plugin/trino-phoenix5/pom.xml
  pom.xml
Labels: cla-signed, bigquery

#20724 Remove Rubix leftovers
  plugin/trino-delta-lake/pom.xml
  pom.xml
  testing/trino-faulttolerant-tests/pom.xml
Labels: cla-signed, no-release-notes, delta-lake

#20716 Update opencsv to 5.9
  client/trino-cli/pom.xml
  client/trino-cli/src/main/java/io/trino/cli/CsvPrinter.java
  lib/trino-record-decoder/pom.xml
  lib/trino-record-decoder/src/main/java/io/trino/decoder/csv/CsvRowDecoder.java
  plugin/trino-kafka/pom.xml
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/encoder/csv/CsvRowEncoder.java
  pom.xml
Labels: cla-signed, no-release-notes

#20706 Test incomplete stream reads in Alluxio caching
  lib/trino-filesystem-cache-alluxio/src/test/java/io/trino/filesystem/alluxio/IncompleteStreamMemoryFileSystem.java
  lib/trino-filesystem-cache-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioCacheFileSystem.java
  lib/trino-filesystem-cache-alluxio/src/test/java/io/trino/filesystem/alluxio/TestFuzzAlluxioCacheFileSystem.java
Labels: cla-signed, tests:hive

#20604 Add Trino 439 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-439.md
Labels: cla-signed, release-notes, docs

#20454 Factor out TestExponentialGrowthPartitionMemoryEstimator.makeFactory
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestExponentialGrowthPartitionMemoryEstimator.java
Labels: cla-signed

#20705 Remove Alluxio page
  docs/src/main/sphinx/connector/hive-alluxio.md
  docs/src/main/sphinx/connector/hive.md
Labels: cla-signed, docs

#20690 Update HTTP client config doc
  docs/src/main/sphinx/admin/properties-exchange.md
  docs/src/main/sphinx/admin/properties-http-client.md
Labels: cla-signed, docs

#20730 Remove unused constructor from StaticTokenAwareMetastoreClientFactory
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/StaticTokenAwareMetastoreClientFactory.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#20638 Mark RE2J as deprecated regex engine
  core/trino-main/src/main/java/io/trino/FeaturesConfig.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestFeaturesConfig.java
Labels: cla-signed

#20647 Prevent view owner from being set when system security is used
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestTrinoGlueCatalog.java
Labels: cla-signed, iceberg

#20719 Add varchar to real coercion for hive tables
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/VarcharToFloatCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestVarcharToFloatCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, docs, tests:hive, hive

#20732 Use Guava Base64 decoder for BigQuery credential
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/StaticBigQueryCredentialsSupplier.java
Labels: cla-signed, bigquery

#20722 Fix request partitions from Glue logic
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
Labels: cla-signed, tests:hive, hive

#19564 Update docker-images version to 89
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeHiveHudiRedirections.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkHive.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkHiveNoStatsFallback.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIceberg.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIcebergJdbcCatalog.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIcebergNessie.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIcebergRest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveSparkCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
  testing/trino-product-tests/src/main/resources/tempto-configuration.yaml
Labels: cla-signed, tests:hive

#20731 Fix character type truncation Hive LazySimpleSerDe
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/ReadWriteUtils.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/TestReadWriteUtils.java
Labels: cla-signed, tests:hive

#20737 Cleanup node when installing JDK 22-ea
  .github/workflows/ci.yml
Labels: cla-signed, no-release-notes

#20723 Add varchar to char coercion for hive tables
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/VarcharToCharCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestVarcharToCharCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, docs, tests:hive, hive

#20744 Supplement HiveBlockEncodingSerde
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveBlockEncodingSerde.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestHiveBlockEncodingSerde.java
Labels: cla-signed, tests:hive, hive

#20748 Fix formatting
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
Labels: cla-signed

#20745 Remove deprecation from Standard environment extender
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/Standard.java
Labels: cla-signed, test, no-release-notes

#20750 Do not append groupId/artifactId to the url in children
  pom.xml
Labels: cla-signed

#20751 Switch to "only script" Maven wrapper
  .mvn/wrapper/maven-wrapper.jar
  mvnw
Labels: cla-signed

#20727 Use RPM builder instead of redlinerpm
  core/trino-server-rpm/pom.xml
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/ServerIT.java
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/TestDummy.java
Labels: cla-signed

#20762 Fix builds with maven daemon
  .github/workflows/ci.yml
  .mvn/extensions.xml
  .mvn/maven.config
Labels: cla-signed

#20768 Remove redundant prefix
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/hive/TestHiveFaultTolerantExecutionConnectorTest.java
Labels: cla-signed

#20770 Do not use smart builder for compile-commit
  .github/actions/compile-commit/action.yml
Labels: cla-signed

#20526 Suppress NoSuchFileException in LocalFileIterator
  lib/trino-filesystem/src/main/java/io/trino/filesystem/local/LocalFileIterator.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/file/FileHiveMetastore.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#20764 Add tenantId to azure oauth2 native fs auth
  docs/src/main/sphinx/object-storage/file-system-azure.md
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureAuthOAuthConfig.java
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureAuthOauth.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureAuthOAuthConfig.java
Labels: cla-signed, docs, tests:hive

#20761 Mark secrets presence once
  .github/workflows/ci.yml
Labels: cla-signed

#20771 Utilize Metadata.isView in more places
  core/trino-main/src/main/java/io/trino/execution/CommentTask.java
  core/trino-main/src/main/java/io/trino/execution/DropNotNullConstraintTask.java
  core/trino-main/src/main/java/io/trino/execution/SetColumnTypeTask.java
  core/trino-main/src/main/java/io/trino/execution/SetPropertiesTask.java
  core/trino-main/src/main/java/io/trino/execution/SetViewAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
Labels: cla-signed

#20769 Add cache invalidation for testHiveViewsCannotBeAccessed
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
Labels: cla-signed, delta-lake

#20779 Update docker-images version to 91
  pom.xml
Labels: cla-signed, no-release-notes

#20786 Test locations with `?` or `#`
  lib/trino-filesystem/src/test/java/io/trino/filesystem/TestLocations.java
Labels: cla-signed, tests:hive, no-release-notes

#20790 Refactor MBean server binding in Pinot
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotConnectorFactory.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/PinotModule.java
Labels: cla-signed

#20746 Kudu code refactoring
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduClientConfig.java
Labels: cla-signed

#20792 Add documentation for monitoring filesystem caching
  docs/src/main/sphinx/object-storage/file-system-cache.md
Labels: cla-signed, docs, no-release-notes

#20785 Remove unused deny methods
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/security/AccessDeniedException.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#20765 Remove redundant explicit runtime dependencies
  plugin/trino-delta-lake/pom.xml
  plugin/trino-hive/pom.xml
  plugin/trino-iceberg/pom.xml
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#20801 Update maven-exec-plugin to 3.2.0
  pom.xml
Labels: cla-signed

#20805 Remove redundant exclusions for pinot
  plugin/trino-pinot/pom.xml
Labels: cla-signed

#20809 Remove maven offline from development docs
  .github/DEVELOPMENT.md
Labels: cla-signed

#20796 Make single-threaded-ness checker field volatile
  core/trino-main/src/main/java/io/trino/testing/StandaloneQueryRunner.java
  testing/trino-testing/src/main/java/io/trino/testing/DistributedQueryRunner.java
Labels: cla-signed

#20414 Verify the file presense for cached directory lister and retry
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/BackgroundHiveSplitLoader.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TableInvalidationCallback.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionScopeCachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestBackgroundHiveSplitLoader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/FileSystemDirectoryLister.java
Labels: cla-signed, tests:hive, hive

#20826 Update pattern for Flaky ACID tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveTransactionalTable.java
Labels: cla-signed, tests:hive

#20833 Handle TrinoException in CachingIdentifierMapping
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/mapping/CachingIdentifierMapping.java
Labels: cla-signed

#20766 Fix varchar to numeric coercion for hive tables
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/VarcharToIntegerNumberCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/VarcharToIntegralNumericCoercers.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/coercions/TestVarcharToIntegralNumericCoercer.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/BaseTestHiveCoercion.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnPartitionedTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, docs, tests:hive, hive

#20839 Remove redundant lambdas from test
  core/trino-main/src/test/java/io/trino/sql/query/TestFilterHideInacessibleColumnsSession.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemGcs.java
  testing/trino-product-tests-launcher/src/test/java/io/trino/tests/product/launcher/local/TestManuallyJdbcOauth2.java
  testing/trino-testing-services/src/test/java/io/trino/testng/services/TestReportAfterMethodNotAlwaysRun.java
Labels: cla-signed, tests:hive

#20827 Add application default credentials to GcsStorageFactory
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsStorageFactory.java
Labels: cla-signed, tests:hive

#20847 Clarify semantics for Trino filesystem
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3OutputFile.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/TrinoFileSystem.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/TrinoOutputFile.java
Labels: cla-signed, tests:hive

#20832 Handle BigQuery error when listing tables
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryErrorCode.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
Labels: cla-signed, no-release-notes, bigquery

#20856 Remove TestBigQueryArrowConnectorSmokeTest
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowConnectorSmokeTest.java
Labels: cla-signed, no-release-notes, bigquery

#20855 Run minimum test for BigQuery proxy
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryWithProxyTest.java
Labels: cla-signed, no-release-notes, bigquery

#20870 Move dynamic catalog mgt
  docs/src/main/sphinx/language/sql-support.md
Labels: cla-signed, docs

#20665 Expand MV doc around grace period
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/sql/create-materialized-view.md
Labels: cla-signed, docs

#19447 Enable writing to full ACID tables in Hive connector when the table has no partitions
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestWriteToHiveTransactionalTableInTrino.java
Labels: cla-signed, tests:hive, hive, stale

#20865 Update mongodb client to 5.0.0
  plugin/trino-mongodb/pom.xml
Labels: cla-signed, mongodb
