Repository trinodb/trino, pull requests merged in 2024-07, with the labels that each got.

#22546 Fix incorrect coercion of INT32 to decimal in parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/ValueDecoders.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestingColumnReader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/AbstractTestParquetReader.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, hive

#22475 Improve determinism by preserving split order
  core/trino-main/src/main/java/io/trino/execution/SplitAssignment.java
  core/trino-main/src/main/java/io/trino/execution/SqlTaskExecution.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/NodeScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/SourcePartitionedScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/TopologyAwareNodeSelector.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/UniformNodeSelector.java
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
Labels: cla-signed

#22399 Add test cases for integer type changes
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#22558 Fix NullPointerException when adding decimal columns in Kudu
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/KuduClientSession.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
Labels: cla-signed

#22326 Allow coercion on complex types for unpartitioned ORC tables
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/CoercionUtils.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcTypeTranslator.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveCoercionOnUnpartitionedTable.java
Labels: cla-signed, docs, hive

#22550 Throw TrinoException when creating Iceberg table that already exists
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
Labels: cla-signed, iceberg

#22549 Add documentation for Iceberg incremental MV refresh
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#22561 Increase the max number of http connections in Azure native FS
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureFileSystemFactory.java
Labels: cla-signed

#22551 Set Azure read block size to ranged read size
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureInput.java
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureInputFile.java
Labels: cla-signed

#22555 Use Scan#includeColumnStats to restrict metadata in IcebergSplitSource
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, iceberg

#22499 Support type coercion when adding new columns
  core/trino-main/src/main/java/io/trino/execution/AddColumnTask.java
  core/trino-main/src/test/java/io/trino/execution/BaseDataDefinitionTaskTest.java
  core/trino-main/src/test/java/io/trino/execution/TestCreateAndAlterTableColumnTypeCoercion.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg, delta-lake, hive

#22567 Rename `createDestinationTable` to `buildDestinationTable`
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ViewMaterializationCache.java
Labels: cla-signed, bigquery

#22564 Exclude logback backend from benchto
  pom.xml
Labels: cla-signed

#22562 Remove usages of ParseException without location
  core/trino-main/src/main/java/io/trino/execution/QueryPreparer.java
  core/trino-parser/src/main/java/io/trino/sql/jsonpath/PathParser.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/parser/ParsingException.java
  core/trino-parser/src/main/java/io/trino/sql/parser/SqlParser.java
  core/trino-parser/src/main/java/io/trino/sql/tree/LongLiteral.java
  core/trino-parser/src/main/java/io/trino/type/TypeCalculation.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParserErrorHandling.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
Labels: cla-signed

#22392 Drop table should not clean the folder for Nessie catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/TrinoNessieCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestIcebergNessieCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#22227 Add support for path prefix routing using "X-Forwarded-Prefix" header
  core/trino-main/src/main/java/io/trino/dispatcher/CoordinatorLocation.java
  core/trino-main/src/main/java/io/trino/dispatcher/LocalCoordinatorLocation.java
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
  core/trino-main/src/main/java/io/trino/server/ExternalUriInfo.java
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryInfoUrlFactory.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2CallbackResource.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2Service.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2TokenExchangeResource.java
  core/trino-main/src/main/java/io/trino/server/ui/DisabledWebUiAuthenticationFilter.java
  core/trino-main/src/main/java/io/trino/server/ui/FormWebUiAuthenticationFilter.java
  core/trino-main/src/main/java/io/trino/server/ui/LoginResource.java
  core/trino-main/src/main/java/io/trino/server/ui/OAuth2WebUiAuthenticationFilter.java
  core/trino-main/src/main/java/io/trino/server/ui/WebUiStaticResource.java
Labels: cla-signed, stale-ignore

#22366 Fix failure when hidden partition column name conflicted in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionFields.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestPartitionFields.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
Labels: cla-signed, docs, iceberg

#22587 Remove unnecessary variable assignment
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
Labels: cla-signed, bigquery

#22588 Add toString method to FailureInfo
  client/trino-client/src/main/java/io/trino/client/FailureInfo.java
Labels: cla-signed

#22594 Extract protoc maven config to pluginManagement
  plugin/trino-kafka/pom.xml
Labels: cla-signed

#22592 Isolate selected test from TestCassandraConnectorTest
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed

#22601 Add support for not null constraint in Memory connector
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/ColumnInfo.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryConnector.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryMetadata.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryConnectorTest.java
Labels: cla-signed

#22598 Suppress failure when listing unsupported dialect views in Iceberg REST
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergTrinoRestCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#22607 Add support for renaming columns in Memory connector
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryMetadata.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryConnectorTest.java
Labels: cla-signed

#22608 Update docker-images version to 98
  plugin/trino-password-authenticators/src/test/java/io/trino/plugin/password/ldap/TestingOpenLdapServer.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/Standard.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/StandardMultinode.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/AbstractEnvSinglenodeLdap.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeTls.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeLdapReferrals.java
Labels: cla-signed

#22611 Report exception in GlueToTrinoConverter.convertType failure
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/v1/converter/GlueToTrinoConverter.java
Labels: cla-signed, hive

#22432 Add storage api support for reading table for query function in bigquery
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryQueryRelationHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryTableHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ViewMaterializationCache.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ptf/Query.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, docs, bigquery

#22300 Allowing users to provide additional http headers for Prometheus Client.
  docs/src/main/sphinx/connector/prometheus.md
  plugin/trino-prometheus/src/main/java/io/trino/plugin/prometheus/PrometheusClient.java
  plugin/trino-prometheus/src/main/java/io/trino/plugin/prometheus/PrometheusConnectorConfig.java
  plugin/trino-prometheus/src/test/java/io/trino/plugin/prometheus/TestPrometheusConnectorConfig.java
Labels: cla-signed, docs

#22617 Mark source stages as finished when parent finishes
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#22522 Fix bug on `query_partition_filter_required_schemas` config property in Hive connector
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, docs, hive

#22629 Update google cloud sdk
  pom.xml
Labels: cla-signed

#22585 Extend BaseSystemTable in Iceberg refs table
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/RefsTable.java
Labels: cla-signed, iceberg

#22631 Always cleanup node in Maven check jobs
  .github/workflows/ci.yml
Labels: cla-signed

#22636 Expand OPA docs
  docs/src/main/sphinx/security/opa-access-control.md
Labels: cla-signed, docs

#22397 Add support for `euclidean_distance`, `dot_product`, `cosine_distance` functions
  core/trino-main/src/main/java/io/trino/metadata/SystemFunctionBundle.java
  core/trino-main/src/main/java/io/trino/operator/scalar/ArrayVectorFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/BenchmarkArrayDotProduct.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestArrayVectorFunctions.java
  docs/src/main/sphinx/functions/array.md
Labels: cla-signed, syntax-needs-review, docs

#22624 Use the correct scheme for azure native-fs location
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureLocation.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureLocation.java
Labels: cla-signed

#22638 Update SQL support docs for memory connector
  docs/src/main/sphinx/connector/memory.md
Labels: cla-signed

#22637 Remove invalid syntax hint in docs
  docs/src/main/sphinx/security/opa-access-control.md
Labels: cla-signed, docs

#22515 Clarify log annotation docs
  docs/src/main/sphinx/admin/properties-logging.md
Labels: cla-signed, docs

#20753 Make OIDC end_session_endpoint optional
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OidcDiscovery.java
  core/trino-main/src/test/java/io/trino/server/security/oauth2/TestOidcDiscovery.java
  core/trino-main/src/test/resources/oidc/openid-configuration-without-end-session-url.json
Labels: cla-signed, stale-ignore

#22644 Migrate some product tests to integration tests in Cassandra
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestInsertIntoCassandraTable.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/cassandra/TestInvalidSelect.java
Labels: cla-signed

#22610 Add support for adding new columns in Memory connector
  docs/src/main/sphinx/connector/memory.md
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryColumnHandle.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryMetadata.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryPageSourceProvider.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryPagesStore.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryConnectorTest.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryPagesStore.java
Labels: cla-signed, docs

#22647 Simplify onRemoteDatabase in PostgreSQL
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
Labels: cla-signed

#22565 Improve test coverage for assumeNullCatalogMeansCurrent
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDatabaseMetaData.java
Labels: cla-signed, jdbc

#22645 Propagate USER_ERROR when alayzing function call
  core/trino-main/src/main/java/io/trino/metadata/LanguageFunctionManager.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#22640 Evaluate SkipAggregationBuilder column wise
  core/trino-main/src/main/java/io/trino/operator/aggregation/partial/SkipAggregationBuilder.java
Labels: cla-signed

#22639 Improve SHOW TABLES docs
  docs/src/main/sphinx/sql/create-view.md
  docs/src/main/sphinx/sql/show-tables.md
Labels: cla-signed, docs

#16202 Add Exasol connector
  .github/workflows/ci.yml
  core/trino-server/src/main/provisio/trino.xml
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/exasol.md
  docs/src/main/sphinx/static/img/exasol.png
  plugin/trino-exasol/pom.xml
  plugin/trino-exasol/src/main/java/io/trino/plugin/exasol/ExasolClient.java
  plugin/trino-exasol/src/main/java/io/trino/plugin/exasol/ExasolClientModule.java
  plugin/trino-exasol/src/main/java/io/trino/plugin/exasol/ExasolPlugin.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/ExasolQueryRunner.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/ExasolTpchTables.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolCaseInsensitiveMapping.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolConnectorTest.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolPlugin.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolTypeMapping.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestingExasolServer.java
  pom.xml
  testing/trino-product-tests-groups/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeExasol.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteExasol.java
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-all/exasol.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-exasol/exasol.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/presto-product-tests/conf/environment/multinode-exasol/tempto-configuration.yaml
  testing/trino-product-tests/pom.xml
  testing/trino-product-tests/src/main/java/io/trino/tests/product/exasol/TestExasol.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/utils/QueryExecutors.java
  testing/trino-product-tests/src/main/resources/tempto-configuration.yaml
Labels: cla-signed, docs, stale-ignore

#22655 Fix file name in check_webui.sh
  core/trino-main/bin/check_webui.sh
Labels: cla-signed

#22332 Always show plugin path when service provider is missing on plugin load
  core/trino-main/src/main/java/io/trino/server/PluginManager.java
Labels: cla-signed

#22673 Add Exasol connector to release notes
  docs/release-template.md
  docs/src/main/sphinx/release/release-452.md
Labels: cla-signed, release-notes, docs

#22630 Add support for reading `vector` type in PostgreSQL
  docs/src/main/sphinx/connector/postgresql.md
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlVectorType.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestingPostgreSqlServer.java
Labels: cla-signed, docs

#22556 Add support for `execute` procedure in JDBC connectors
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  docs/src/main/sphinx/connector/jdbc-procedures.fragment
  docs/src/main/sphinx/language/reserved.md
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcModule.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/procedure/ExecuteProcedure.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
  plugin/trino-druid/src/test/java/io/trino/plugin/druid/TestDruidConnectorTest.java
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolConnectorTest.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClient.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClientModule.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConnector.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
Labels: cla-signed, docs

#22668 Reduce thread congestion in HashBuilderOperator
  core/trino-main/src/main/java/io/trino/operator/join/unspilled/HashBuilderOperator.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/TestHashBuilderOperator.java
  lib/trino-memory-context/src/main/java/io/trino/memory/context/ThresholdLocalMemoryContext.java
Labels: cla-signed

#22680 Suppress ForbiddenException when listing tables in Iceberg REST
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
Labels: cla-signed, iceberg

#22682 Use more compact representation of AssignmentResult in diagnostics
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/SplitAssigner.java
Labels: cla-signed

#22344 Remove deprecated method finishMerge from spi
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
  plugin/trino-blackhole/src/main/java/io/trino/plugin/blackhole/BlackHoleMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-raptor-legacy/src/main/java/io/trino/plugin/raptor/legacy/RaptorMetadata.java
Labels: cla-signed, iceberg, hive, stale-ignore

#22689 Use static lambda in WorkProcessorOperatorAdapter
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorOperatorAdapter.java
Labels: cla-signed

#22696 Remove EXECUTE from privilegeOrRole
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
Labels: cla-signed

#22714 Fix typo in GRANT roles sql docs
  docs/src/main/sphinx/sql/grant-roles.md
Labels: cla-signed, docs

#22711 Add compatibility note to FTE exchange manager section
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#22717 Add support for Glue catalog-id with catalog routines
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueContext.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/v1/GlueCatalogIdRequestHandler.java
Labels: cla-signed, hive

#22425 Allow pinning Glue credentials provider to StsWebIdentityTokenFileCredentialsProvider
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastoreConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueMetastoreModule.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestGlueHiveMetastoreConfig.java
Labels: cla-signed, docs, hive

#22729 Use builderWithExpectedSize in aggregation builder
  core/trino-main/src/main/java/io/trino/operator/aggregation/builder/InMemoryHashAggregationBuilder.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/builder/MergingHashAggregationBuilder.java
Labels: cla-signed

#22720 Test UPDATE statement with multiple conditions
  docs/src/main/sphinx/connector/sql-update-limitation.fragment
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, docs, hive

#22738 Replace Presto with Trino in OAuth logout page
  core/trino-main/src/main/resources/oauth2/logout.html
Labels: cla-signed

#22740 Enable ModifiedButNotUsed in error-prone
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/relational/SqlToRowExpressionTranslator.java
  core/trino-main/src/test/java/io/trino/operator/BenchmarkGroupByHash.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/rcfile/RcFilePageSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSource.java
  pom.xml
Labels: cla-signed, iceberg, delta-lake, hive

#22734 Fix incorrect pushdown involving aggregations and unnest
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/PredicatePushDown.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue22731.java
Labels: cla-signed

#22744 Edit links on SingleStore docs page
  docs/src/main/sphinx/connector/singlestore.md
Labels: cla-signed, docs

#22595 Improve concepts and related doc sections
  docs/src/main/sphinx/client.md
  docs/src/main/sphinx/develop/client-protocol.md
  docs/src/main/sphinx/glossary.md
  docs/src/main/sphinx/overview/concepts.md
Labels: cla-signed, docs

#22737 Remove obsolete Hive stats property
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/MetastoreUtil.java
Labels: cla-signed, hive

#22716 Fix output symbols of PushFilterThroughBoolOrAggregation optimizer
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushFilterThroughBoolOrAggregation.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushFilterThroughBoolOrAggregation.java
  core/trino-main/src/test/java/io/trino/sql/query/TestCorrelatedAggregation.java
Labels: bug, cla-signed

#22700 Make catalog management configurable in TestingTrinoServer
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  core/trino-main/src/test/java/io/trino/server/testing/TestTestingTrinoServer.java
Labels: cla-signed

#22704 Migrate list of table prefixes to Predicate in CachingDirectoryListener
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
Labels: cla-signed, hive

#22749 Refactor TestTestingTrinoServer
  core/trino-main/src/test/java/io/trino/server/testing/TestTestingTrinoServer.java
Labels: cla-signed

#22753 Fix BaseConnectorTest.testMultipleRangesPredicate
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed

#22758 Fix failure when dropping schemas with cascade on Iceberg REST catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/TrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergTrinoRestCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#22750 Add TestExtract for interval type
  core/trino-main/src/test/java/io/trino/operator/scalar/interval/TestExtract.java
Labels: cla-signed

#22521 Optimize BETWEEN predicate to include both the sides.
  core/trino-main/src/main/java/io/trino/sql/planner/SortExpressionExtractor.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestSortExpressionExtractor.java
Labels: cla-signed

#22769 Simplify SortExpressionExtractor
  core/trino-main/src/main/java/io/trino/sql/planner/SortExpressionExtractor.java
Labels: cla-signed, no-release-notes

#22745 Remove unused Hive test resource
  plugin/trino-hive/src/test/sql/create-test.sql
Labels: cla-signed, hive

#22576 Add view support for iceberg jdbc catalog
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/IcebergJdbcCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/IcebergJdbcCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/IcebergJdbcClient.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalogFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/jdbc/TestIcebergJdbcCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/jdbc/TestIcebergJdbcCatalogConnectorSmokeTest.java
Labels: enhancement, cla-signed, docs, iceberg, stale-ignore

#22772 Optimize big query toRemoteTable
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
Labels: cla-signed, bigquery

#22775 Revert "Expose FileSystemExchangeSource metrics"
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/FileSystemExchangeSource.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/FileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/MetricsBuilder.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/azure/AzureBlobFileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/local/LocalFileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/s3/S3FileSystemExchangeStorage.java
  plugin/trino-exchange-hdfs/src/main/java/io/trino/plugin/exchange/hdfs/HadoopFileSystemExchangeStorage.java
Labels: cla-signed, RELEASE-BLOCKER

#22786 Update Iceberg to 1.6.0
  pom.xml
Labels: cla-signed

#22797 Fix TDigestHistogram serialization across classloaders
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/metrics/TDigestHistogram.java
Labels: cla-signed

#22730 Improve docs for procedures in JDBC connectors
  docs/src/main/sphinx/connector/clickhouse.md
  docs/src/main/sphinx/connector/druid.md
  docs/src/main/sphinx/connector/exasol.md
  docs/src/main/sphinx/connector/ignite.md
  docs/src/main/sphinx/connector/jdbc-procedures-execute.fragment
  docs/src/main/sphinx/connector/jdbc-procedures-flush.fragment
  docs/src/main/sphinx/connector/jdbc-procedures.fragment
  docs/src/main/sphinx/connector/mariadb.md
  docs/src/main/sphinx/connector/mysql.md
  docs/src/main/sphinx/connector/oracle.md
  docs/src/main/sphinx/connector/phoenix.md
  docs/src/main/sphinx/connector/postgresql.md
  docs/src/main/sphinx/connector/redshift.md
  docs/src/main/sphinx/connector/singlestore.md
  docs/src/main/sphinx/connector/snowflake.md
  docs/src/main/sphinx/connector/sqlserver.md
Labels: cla-signed, docs

#22540 Add `query-partition-filter-required-schemas` config property to Iceberg connector
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
Labels: cla-signed, docs, iceberg

#22793 Add comment
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorOperatorAdapter.java
Labels: cla-signed, no-release-notes

#22807 Add missing check in PreAggregateCaseAggregations
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PreAggregateCaseAggregations.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue22806.java
Labels: cla-signed, RELEASE-BLOCKER

#22810 Update docker images to 99
  pom.xml
Labels: cla-signed

#22773 Fix flaky TestIcebergMinioOrcConnectorTest
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMinioOrcConnectorTest.java
Labels: cla-signed, iceberg

#22781 Support reading INT96 timestamps as LongTimestampWithTimeZoneType
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/decoders/ValueDecoders.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestingColumnReader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg, hive

#22813 Skip PreAggregateCaseAggregations it aggregations are not reduced
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PreAggregateCaseAggregations.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPreAggregateCaseAggregations.java
  testing/trino-tests/src/test/java/io/trino/tests/TestAggregations.java
Labels: cla-signed, release-notes

#22759 Remove defunct properties from docs
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, release-notes, docs

#22341 Enable client to get certificate from system keystore
  client/trino-cli/src/main/java/io/trino/cli/ClientOptions.java
  client/trino-client/src/main/java/io/trino/client/OkHttpUtil.java
  client/trino-client/src/main/java/io/trino/client/uri/ConnectionProperties.java
  client/trino-client/src/main/java/io/trino/client/uri/HttpClientFactory.java
  client/trino-client/src/main/java/io/trino/client/uri/PropertyName.java
  client/trino-client/src/main/java/io/trino/client/uri/TrinoUri.java
  client/trino-client/src/test/java/io/trino/client/uri/TestTrinoUri.java
  core/trino-main/src/test/java/io/trino/server/security/TestResourceSecurity.java
  core/trino-main/src/test/java/io/trino/server/ui/TestWebUi.java
  docs/src/main/sphinx/client/cli.md
  docs/src/main/sphinx/client/jdbc.md
Labels: enhancement, cla-signed, docs, jdbc

#22816 Fix past table versions listing in vacuum procedure
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#22822 Add docs for sql path parameter for clients
  docs/src/main/sphinx/client/cli.md
  docs/src/main/sphinx/client/jdbc.md
Labels: cla-signed, docs

#22713 Add Trino 453 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-453.md
Labels: cla-signed, release-notes, docs

#22823 Expose FileSystemExchangeSource metrics
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/FileSystemExchangeSource.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/FileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/MetricsBuilder.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/azure/AzureBlobFileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/local/LocalFileSystemExchangeStorage.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/s3/S3FileSystemExchangeStorage.java
  plugin/trino-exchange-hdfs/src/main/java/io/trino/plugin/exchange/hdfs/HadoopFileSystemExchangeStorage.java
Labels: cla-signed, no-release-notes

#22826 Normalize name when dropping catalogs
  core/trino-main/src/main/java/io/trino/execution/DropCatalogTask.java
  core/trino-main/src/test/java/io/trino/execution/TestDropCatalogTask.java
Labels: cla-signed

#22830 Rename pageSourceProvider to pageSourceManager
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed

#22837 Add docs for client port optionality
  docs/src/main/sphinx/client/cli.md
  docs/src/main/sphinx/client/jdbc.md
Labels: cla-signed, docs

#22838 Improve Iceberg partition filter docs
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#22835 Improve visibilty for Breaking change warning
  docs/src/main/sphinx/conf.py
Labels: cla-signed, docs

#22828 Fix wrong Delta Lake change in 449 release note
  docs/src/main/sphinx/release/release-449.md
Labels: cla-signed, release-notes, docs

#22843 Add legacy note for spill to disk
  docs/src/main/sphinx/admin/spill.md
Labels: cla-signed, docs

#22794 Allow NO_GENERATED_KEYS option for PreparedStatement
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcConnection.java
Labels: cla-signed, jdbc

#22844 Fix translation of special cast+json_parse functions
  core/trino-main/src/main/java/io/trino/sql/planner/ConnectorExpressionTranslator.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestConnectorExpressionTranslator.java
Labels: cla-signed

#22821 Hive : Skip build of canonical partition name with case sensitive in sync_partitions_metadata
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/SyncPartitionMetadataProcedure.java
Labels: cla-signed, no-release-notes, hive

#22834 Replacing NaN on coordinator to value n/a
  core/trino-main/src/main/resources/webapp/src/utils.js
Labels: cla-signed, ui

#22783 New (preview) Web UI scaffolding
  core/trino-main/pom.xml
  core/trino-main/src/main/java/io/trino/server/ui/WebUiConfig.java
  core/trino-main/src/main/java/io/trino/server/ui/WebUiModule.java
  core/trino-main/src/main/java/io/trino/server/ui/WebUiPreviewStaticResource.java
  core/trino-main/src/main/java/io/trino/server/ui/WebUiStaticResource.java
  core/trino-main/src/main/resources/webapp-preview/.eslintrc.cjs
  core/trino-main/src/main/resources/webapp-preview/.gitignore
  core/trino-main/src/main/resources/webapp-preview/README.md
  core/trino-main/src/main/resources/webapp-preview/index.html
  core/trino-main/src/main/resources/webapp-preview/package-lock.json
  core/trino-main/src/main/resources/webapp-preview/package.json
  core/trino-main/src/main/resources/webapp-preview/public/trino.ico
  core/trino-main/src/main/resources/webapp-preview/public/vite.svg
  core/trino-main/src/main/resources/webapp-preview/src/App.css
  core/trino-main/src/main/resources/webapp-preview/src/App.tsx
  core/trino-main/src/main/resources/webapp-preview/src/assets/react.svg
  core/trino-main/src/main/resources/webapp-preview/src/assets/trino.svg
  core/trino-main/src/main/resources/webapp-preview/src/index.css
  core/trino-main/src/main/resources/webapp-preview/src/main.tsx
  core/trino-main/src/main/resources/webapp-preview/src/vite-env.d.ts
  core/trino-main/src/main/resources/webapp-preview/tsconfig.app.json
  core/trino-main/src/main/resources/webapp-preview/tsconfig.json
  core/trino-main/src/main/resources/webapp-preview/tsconfig.node.json
  core/trino-main/src/main/resources/webapp-preview/vite.config.ts
  core/trino-main/src/test/java/io/trino/server/ui/PreviewUiQueryRunner.java
  core/trino-main/src/test/java/io/trino/server/ui/TestWebUiConfig.java
Labels: cla-signed

#20843 Implement Query Info Pruned Endpoint
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/server/QueryResource.java
  core/trino-main/src/main/resources/webapp/references.html
  core/trino-main/src/main/resources/webapp/src/components/QueryHeader.jsx
  core/trino-main/src/main/resources/webapp/src/components/ReferenceDetail.jsx
  core/trino-main/src/main/resources/webapp/src/references.jsx
  core/trino-main/src/main/resources/webapp/src/webpack.config.js
  core/trino-main/src/test/java/io/trino/server/TestQueryResource.java
Labels: cla-signed, ui

#22855 Update flow to 0.241.0 to support aarch64 on linux
  core/trino-main/src/main/resources/webapp/src/components/LivePlan.jsx
  core/trino-main/src/main/resources/webapp/src/components/PageTitle.jsx
  core/trino-main/src/main/resources/webapp/src/package-lock.json
  core/trino-main/src/main/resources/webapp/src/package.json
  core/trino-main/src/main/resources/webapp/src/utils.js
  core/trino-main/src/main/resources/webapp/src/yarn.lock
Labels: cla-signed, ui

#22829 Make DynamicPageFilter accept DynamicFilter per split
  core/trino-main/src/main/java/io/trino/operator/ScanFilterAndProjectOperator.java
  core/trino-main/src/main/java/io/trino/sql/gen/ExpressionCompiler.java
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/DynamicPageFilter.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/test/java/io/trino/operator/BenchmarkScanFilterAndProjectOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestScanFilterAndProjectOperator.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkAndColumnarFilterTpchData.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkColumnarFilter.java
  core/trino-main/src/test/java/io/trino/sql/gen/BenchmarkInCodeGenerator.java
  core/trino-main/src/test/java/io/trino/sql/gen/TestColumnarFilters.java
  core/trino-main/src/test/java/io/trino/sql/gen/TestDynamicPageFilter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/BenchmarkColumnarFilterParquetData.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestOrcPageSourceMemoryTracking.java
Labels: cla-signed, no-release-notes, hive

#22862 Remove HiveMetastoreClosure
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetastoreClosure.java
Labels: cla-signed, no-release-notes, hive

#22261 Fix BucketValidator to validate on data page
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSourceProvider.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHivePageSource.java
Labels: cla-signed, hive

#22836 Add SPI change to 453 release notes
  docs/src/main/sphinx/release/release-453.md
Labels: cla-signed, release-notes, docs

#22820 Improve Cassandra `execute` procedure docs
  docs/src/main/sphinx/connector/cassandra.md
  docs/src/main/sphinx/connector/clickhouse.md
  docs/src/main/sphinx/connector/druid.md
  docs/src/main/sphinx/connector/exasol.md
  docs/src/main/sphinx/connector/ignite.md
  docs/src/main/sphinx/connector/mariadb.md
  docs/src/main/sphinx/connector/mysql.md
  docs/src/main/sphinx/connector/oracle.md
  docs/src/main/sphinx/connector/phoenix.md
  docs/src/main/sphinx/connector/postgresql.md
  docs/src/main/sphinx/connector/procedures-execute.fragment
  docs/src/main/sphinx/connector/redshift.md
  docs/src/main/sphinx/connector/singlestore.md
  docs/src/main/sphinx/connector/snowflake.md
  docs/src/main/sphinx/connector/sqlserver.md
Labels: cla-signed, docs

#22839 Add documentation for OPA batch column masking
  docs/src/main/sphinx/security/opa-access-control.md
Labels: cla-signed, docs

#22854 Allow reading INT96 timestamps generated by AWS wrangler
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetTimestampUtils.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestInt96Timestamp.java
  lib/trino-parquet/src/test/resources/int96_timestamps_nanos_outside_day_range.parquet
Labels: cla-signed

#22857 Fail when there are toLoad duplicates in getAll
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/CachingHiveMetastore.java
Labels: cla-signed, no-release-notes, hive

#22706 Add support for cache refresh interval to Glue v2 Hive metastore
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/ReentrantBoundedExecutor.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/InMemoryGlueCache.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestCachedHiveGlueMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestInMemoryGlueCache.java
Labels: cla-signed, hive

#22864 Fail if metastore returns duplicate partition names
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
Labels: cla-signed, no-release-notes, hive

#22878 Correct header for Databricks Unity HMS
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, docs

#22841 Use coarse grained memory reporting to reduce congestion
  core/trino-main/src/main/java/io/trino/operator/join/unspilled/HashBuilderOperator.java
  lib/trino-memory-context/src/main/java/io/trino/memory/context/CoarseGrainLocalMemoryContext.java
  lib/trino-memory-context/src/main/java/io/trino/memory/context/ThresholdLocalMemoryContext.java
  lib/trino-memory-context/src/test/java/io/trino/memory/context/TestMemoryContexts.java
Labels: cla-signed

#22880 Adds default value info for property hive.s3.streaming.enable in doc
  docs/src/main/sphinx/object-storage/legacy-s3.md
Labels: cla-signed, docs

#22858 Make `createOrOverwrite` atomic for Azure FS
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureOutputFile.java
Labels: cla-signed

#22863 Improve SQL routine description
  docs/src/main/sphinx/routines.md
  docs/src/main/sphinx/routines/introduction.md
Labels: cla-signed, docs

#22883 Add missing udpate doc ref for phoenix connector
  docs/src/main/sphinx/connector/phoenix.md
Labels: cla-signed, docs

#22884 Throw a better exception in Azure FS createOrOverwrite
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureOutputFile.java
Labels: cla-signed

#22879 Load event listeners on coordinator only
  core/trino-main/src/main/java/io/trino/server/Server.java
Labels: cla-signed, no-release-notes

#22881 Add missing @GuardedBy annotation
  lib/trino-memory-context/src/main/java/io/trino/memory/context/CoarseGrainLocalMemoryContext.java
Labels: cla-signed

#22882 Enable errorprone StringCaseLocaleUsage
  .mvn/modernizer/violations.xml
  pom.xml
Labels: cla-signed
