Repository trinodb/trino, pull requests merged in 2024-01, with the labels that each got.

#20179 Mark wether a PlanFragement is contains TableScanNode or not
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/StageStateMachine.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanFragment.java
Labels: cla-signed

#20237 fix ST_Centroid and ST_Buffer for tiny geometries
  docs/src/main/sphinx/functions/geospatial.md
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/GeoFunctions.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestBingTileFunctions.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestGeoFunctions.java
Labels: cla-signed, docs

#20256 Use the effective predicate when doing partition matching
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergNodeLocalDynamicSplitPruning.java
Labels: cla-signed, iceberg

#20262 Update docs for java 17.0.5
  README.md
  docs/src/main/sphinx/installation/deployment.md
Labels: cla-signed, docs

#20120 Untangle debug logging frequency and scheduler stalled time
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#20231 Sometimes EventListener.queryCompleted() called too early
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
  core/trino-main/src/main/java/io/trino/dispatcher/FailedDispatchQueryFactory.java
Labels: cla-signed

#20207 Update to Iceberg 1.4.3
  pom.xml
Labels: cla-signed

#20261 Delta Lake: Short circuit page source in case of partition mismatch
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeNodeLocalDynamicSplitPruning.java
Labels: cla-signed, performance, delta-lake

#20272 Fix TestRedshiftTypeMapping
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftTypeMapping.java
Labels: cla-signed, no-release-notes

#20279 Upgrade required JVM version to 17.0.8
  README.md
  core/trino-main/src/main/java/io/trino/server/TrinoSystemRequirements.java
  docs/src/main/sphinx/installation/deployment.md
  pom.xml
Labels: cla-signed, docs

#20280 Remove redundant ? from SHOW COLUMNS in SqlBase.g4
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
Labels: cla-signed

#20282 Specify table name in testPartitionProjectionIgnore
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHive3OnDataLake.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#20230 Fixes the failure when building trino-server alone
  core/trino-server/src/test/java/io/trino/server/TestDummy.java
Labels: cla-signed

#20239 Increase stale operations count
  .github/workflows/stale.yml
Labels: cla-signed

#20233 Delay Some AvroTypeErrors to read time to allow union data to conform…
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/AvroPageDataReader.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestAvroPageDataReaderWithoutTypeManager.java
Labels: cla-signed, tests:hive

#20296 Update dependencies [jan 8 edition]
  pom.xml
Labels: cla-signed

#20297 Detect leaked containers when running with JUnit
  plugin/trino-accumulo/pom.xml
  plugin/trino-accumulo/src/test/java/io/trino/plugin/accumulo/TestingAccumuloServer.java
  testing/trino-testing-containers/pom.xml
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/junit/ReportLeakedContainers.java
  testing/trino-testing-containers/src/main/resources/META-INF/services/org.junit.platform.launcher.TestExecutionListener
Labels: cla-signed, test, no-release-notes

#19980 Iceberg Rest Catalog: Fix bug where listing namespaces was performed but non-existing namespace was provided
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/BaseTrinoCatalogTest.java
Labels: cla-signed, iceberg

#20299 Fix typo in stalebot config
  .github/workflows/stale.yml
Labels: cla-signed

#20010 Require JDK 21 to run Trino
  .github/workflows/ci.yml
  README.md
  core/trino-main/src/main/java/io/trino/dispatcher/DecoratingListeningExecutorService.java
  core/trino-main/src/main/java/io/trino/server/TrinoSystemRequirements.java
  core/trino-server-main/src/main/java/io/trino/server/TrinoServer.java
  core/trino-server-rpm/src/main/rpm/preinstall
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/ServerIT.java
  docs/src/main/sphinx/functions/conversion.md
  docs/src/main/sphinx/functions/regexp.md
  docs/src/main/sphinx/installation/deployment.md
  docs/src/main/sphinx/security/tls.md
  pom.xml
Labels: cla-signed, docs

#20294 Use isDynamicFilterFunction in ConnectorExpressionTranslator
  core/trino-main/src/main/java/io/trino/sql/DynamicFilters.java
  core/trino-main/src/main/java/io/trino/sql/planner/ConnectorExpressionTranslator.java
Labels: cla-signed

#20298 Document encryption of FTE spool
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#20304 Cache result of evaluating constraint per partition in iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#20316 Fix auto formatting of throwing blocks
  core/trino-main/src/main/java/io/trino/metadata/FunctionManager.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/dispatcher/TestLocalDispatchQuery.java
  core/trino-main/src/test/java/io/trino/metadata/TestGlobalFunctionCatalog.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestingPlannerContext.java
  core/trino-spi/src/main/java/io/trino/spi/exchange/ExchangeSourceOutputSelector.java
  core/trino-spi/src/main/java/io/trino/spi/predicate/TupleDomain.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultQueryBuilder.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteClient.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlClient.java
Labels: cla-signed, no-release-notes, delta-lake

#20314 Remove redundant and misnamed updatePartitionStatistics "overload"
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetastoreClosure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/ForwardingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/HiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/cache/CachingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/tracing/TracingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/DropStatsProcedure.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/MetastoreMethod.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/cache/TestCachingHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreAccessOperations.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#20306 Fix cast time tz exception message
  core/trino-main/src/main/java/io/trino/operator/scalar/timetz/VarcharToTimeWithTimeZoneCast.java
Labels: cla-signed

#20218 Support translation of JsonPathType to ConnectorExpression
  core/trino-main/src/main/java/io/trino/sql/planner/ConnectorExpressionTranslator.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestConnectorExpressionTranslator.java
Labels: cla-signed

#20317 Move Vale vocabulary to conform to Vale v3.0.0
  docs/.vale/config/vocabularies/Base/accept.txt
Labels: cla-signed

#19628 Document single quote escape
  docs/src/main/sphinx/language/types.md
Labels: cla-signed, docs, stale

#20333 Correct FTE encryption detail in docs
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#20332 Clean up OpenSearch connector docs
  docs/src/main/sphinx/connector/opensearch.md
Labels: cla-signed, docs

#20312 Fix typos in query management doc
  docs/src/main/sphinx/admin/properties-query-management.md
Labels: cla-signed, docs

#20339 Add note about Nessie catalogs for views
  docs/src/main/sphinx/connector/metastores.md
Labels: cla-signed, docs

#20337 Fix map assertion in TestLazyMap
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/util/TestLazyMap.java
Labels: cla-signed, tests:hive, hive

#20318 Conditional rewrites in JDBC complex expression pushdown
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/expression/ConnectorExpressionRewriter.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/expression/ConnectorExpressionRule.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/expression/GenericRewrite.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/expression/JdbcConnectorExpressionRewriterBuilder.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/expression/TestGenericRewrite.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
Labels: cla-signed, no-release-notes

#20126 Reduce function calls in hot path
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/simple/SimpleDeserializer.java
Labels: cla-signed, tests:hive, stale

#20334 Revert "Fix auto formatting of throwing blocks"
  core/trino-main/src/main/java/io/trino/metadata/FunctionManager.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/dispatcher/TestLocalDispatchQuery.java
  core/trino-main/src/test/java/io/trino/metadata/TestGlobalFunctionCatalog.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestingPlannerContext.java
  core/trino-spi/src/main/java/io/trino/spi/exchange/ExchangeSourceOutputSelector.java
  core/trino-spi/src/main/java/io/trino/spi/predicate/TupleDomain.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultQueryBuilder.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteClient.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlClient.java
Labels: cla-signed, delta-lake

#19066 Add support iceberg parquet predicate pushdown with iceberg column id
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetConnectorTest.java
Labels: cla-signed, iceberg, stale

#20343 Fix impacted features inclusion in product tests
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteClients.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteFunctions.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteGcs.java
Labels: cla-signed

#20346 Fix sentence in SQL routines docs
  docs/src/main/sphinx/routines/introduction.md
Labels: cla-signed, docs

#20347 Use JDK's unsignedMultiplyHigh in Int128Math
  core/trino-spi/src/main/java/io/trino/spi/type/Int128Math.java
Labels: cla-signed

#20348 Increase retries for trino-filesystem-gcs
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystemConfig.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemConfig.java
Labels: cla-signed, tests:hive

#20166 Add Trino 436 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-436.md
Labels: cla-signed, release-notes, docs

#20351 Use JDK Math.clamp
  core/trino-main/src/main/java/io/trino/operator/VariableWidthData.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/AbstractMapAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/arrayagg/GroupArrayAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/histogram/TypedHistogram.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/listagg/GroupListaggAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/minmaxn/TypedHeap.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/multimapagg/AbstractMultimapAggregationState.java
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureInputStream.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsInputStream.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3OutputStream.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/local/LocalInputStream.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/LineBuffer.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/split/SizeBasedSplitWeightProvider.java
Labels: cla-signed, tests:hive, hudi

#20354 Fix typo in 436 release notes
  docs/src/main/sphinx/release/release-436.md
Labels: cla-signed, release-notes, docs

#20160 Bump number of queryExecutor threads in tests
  testing/trino-testing/src/main/java/io/trino/testing/FaultTolerantExecutionConnectorTestHelper.java
Labels: cla-signed, no-release-notes, stale

#20357 Include partitioning handle description in error message
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/FaultTolerantPartitioningSchemeFactory.java
Labels: cla-signed, no-release-notes

#20356 Use pattern matching for switch for sealed classes
  core/trino-main/src/main/java/io/trino/likematcher/DenseDfaMatcher.java
  core/trino-main/src/main/java/io/trino/likematcher/FjsMatcher.java
  core/trino-main/src/main/java/io/trino/likematcher/LikeMatcher.java
  core/trino-main/src/main/java/io/trino/likematcher/NfaMatcher.java
  core/trino-main/src/main/java/io/trino/operator/table/json/execution/ExecutionPlanner.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/openxjson/JsonWriter.java
Labels: cla-signed, tests:hive

#20158 Function to_utf8 supports char type
  core/trino-main/src/main/java/io/trino/operator/scalar/StringFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestStringFunctions.java
Labels: cla-signed

#20358 Use Math.clamp instead of min/max
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
  core/trino-spi/src/main/java/io/trino/spi/block/BlockUtil.java
  core/trino-spi/src/main/java/io/trino/spi/block/IntArrayList.java
  lib/trino-orc/src/main/java/io/trino/orc/OrcOutputBuffer.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/BingTileFunctions.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/SizeBasedSplitWeightProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-ml/src/main/java/io/trino/plugin/ml/FeatureUnitNormalizer.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#20364 Fix test failure due to logical merge conflict
  testing/trino-product-tests/src/test/java/io/trino/tests/product/TestProductTestGroups.java
Labels: cla-signed, tests:hive

#20365 Add sort benchmarks
  core/trino-main/src/test/java/io/trino/operator/BenchmarkPagesIndexOrdering.java
Labels: cla-signed, no-release-notes

#20369 Remove deprecated createTableSql method from BaseJdbcClient
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClient.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-sqlserver/src/main/java/io/trino/plugin/sqlserver/SqlServerClient.java
Labels: cla-signed

#20241 Test datetime type in MariaDB connector
  docs/src/main/sphinx/connector/mariadb.md
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClient.java
  plugin/trino-mariadb/src/test/java/io/trino/plugin/mariadb/TestMariaDbTypeMapping.java
Labels: cla-signed, docs

#20090 Add handling for root bucket table location in sync_partition_metadata
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/SyncPartitionMetadataProcedure.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHive3OnDataLake.java
Labels: cla-signed, tests:hive, hive

#12623 Document "DROP TABLE IF EXISTS" throws an error if view exists
  docs/src/main/sphinx/sql/drop-table.md
Labels: cla-signed, docs

#18745 Document casting timestamp_tz column to a date as part of Iceberg optimize #12943
  docs/src/main/sphinx/connector/delta-lake.md
  docs/src/main/sphinx/connector/optimize.fragment
  docs/src/main/sphinx/sql/alter-table.md
Labels: cla-signed, docs

#20382 Fix typo
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#20381 Fix link title in Kafka docs
  docs/src/main/sphinx/connector/kafka.md
Labels: cla-signed, docs

#20386 Use correct table property name
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMetadata.java
Labels: no-release-notes, delta-lake

#16907 Support char type text for lpad function
  core/trino-main/src/main/java/io/trino/operator/scalar/StringFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestStringFunctions.java
Labels: cla-signed, syntax-needs-review, stale

#20399 Pass InternalNode to HttpRemoteTask constructor
  core/trino-main/src/main/java/io/trino/server/HttpRemoteTaskFactory.java
  core/trino-main/src/main/java/io/trino/server/remotetask/HttpRemoteTask.java
Labels: cla-signed

#20211 Fix materialized views based on PTFs being always stale
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/BeginTableWrite.java
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableWriterNode.java
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-main/src/test/java/io/trino/metadata/AbstractMockMetadata.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMaterializedView.java
Labels: cla-signed, iceberg

#20355 Clean up Elasticsearch docs
  docs/src/main/sphinx/connector/elasticsearch.md
  docs/src/main/sphinx/connector/opensearch.md
Labels: cla-signed, docs

#20403 Remove redundant table comment test in Hive
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, tests:hive, hive

#20406 Correct minor doc issues
  docs/src/main/sphinx/connector/elasticsearch.md
  docs/src/main/sphinx/connector/opensearch.md
Labels: cla-signed, docs

#20416 Fix typo
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushJoinIntoTableScan.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/util/TestJsonUtils.java
Labels: cla-signed

#20418 Run maven-checks with JDK 22-ea
  .github/workflows/ci.yml
Labels: cla-signed

#20426 Fix array growth calculation in RowBlockBuilder
  core/trino-spi/src/main/java/io/trino/spi/block/RowBlockBuilder.java
Labels: cla-signed

#20420 Fix Databricks 13.3 timestamp compatibility test
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeInsertCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/util/DatabricksVersion.java
Labels: cla-signed, tests:hive

#20429 Fix adaptation of nullable return to BLOCK_BUILDER
  core/trino-spi/src/main/java/io/trino/spi/function/ScalarFunctionAdapter.java
  core/trino-spi/src/test/java/io/trino/spi/function/TestScalarFunctionAdapter.java
Labels: cla-signed

#20430 Add TestCassandraPlugin
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraPlugin.java
  plugin/trino-cassandra/src/test/resources/localhost.keystore
  plugin/trino-cassandra/src/test/resources/localhost.truststore
Labels: cla-signed

#20436 Unify materialized view properties in IcebergMaterializedViewProperties
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMaterializedViewProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/InternalIcebergConnectorFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
Labels: cla-signed, iceberg

#20336 Refactor the abstract class to use only the metastore getter
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/AbstractTestHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestBridgingHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestFileHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestGlueHiveMetastore.java
Labels: cla-signed, test, tests:hive, hive

#20440 Document millisecond unit for date_trunc function
  docs/src/main/sphinx/functions/datetime.md
Labels: cla-signed, docs

#20441 Document warning about JDBC catalog tables in Iceberg
  docs/src/main/sphinx/connector/metastores.md
Labels: cla-signed, docs

#20444 Update JLine to 3.25.1
  client/trino-cli/pom.xml
Labels: cla-signed

#20331 HIVE/AVRO: Handle all union options coersion to single type
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/AvroPageDataReader.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/avro/TestAvroPageDataReaderWithoutTypeManager.java
Labels: cla-signed, tests:hive

#20450 Add details for tarball install
  docs/src/main/sphinx/installation/deployment.md
Labels: cla-signed, docs

#20458 Fix docs from compression codec use
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
  docs/src/main/sphinx/admin/properties-exchange.md
  docs/src/main/sphinx/admin/properties-spilling.md
  docs/src/main/sphinx/admin/spill.md
Labels: cla-signed, docs

#20404 Add Trino 437 release notes
  docs/release-template.md
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-437.md
Labels: cla-signed, release-notes, docs

#20288 Use native S3 for connector tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMinioAndHmsConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergReadVersionedTableByTemporal.java
Labels: cla-signed, iceberg, delta-lake

#20456 Make Hadoop a test dependency for Parquet
  lib/trino-parquet/pom.xml
Labels: cla-signed, tests:hive

#20465 Add test for BenchmarkSTArea
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/BenchmarkSTArea.java
Labels: cla-signed

#20461 Align documentation with implementation
  docs/src/main/sphinx/admin/properties-optimizer.md
  docs/src/main/sphinx/admin/properties-query-management.md
Labels: cla-signed, docs

#20221 Support orc/parquet/rcfile GMT+/- type timezone in Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
Labels: cla-signed, tests:hive, hive

#20172 Add human readable days routine example
  docs/src/main/sphinx/routines/examples.md
Labels: cla-signed, docs

#20468 Update testcontainers to 1.19.4
  pom.xml
Labels: cla-signed

#20452 Add Slice support to reduce_agg function
  core/trino-main/src/main/java/io/trino/operator/aggregation/ReduceAggregationFunction.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/GenericSliceState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/GenericSliceStateSerializer.java
  docs/src/main/sphinx/functions/aggregate.md
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
Labels: cla-signed, docs

#20472 Remove redundant code from TestIcebergMigrateProcedure
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
Labels: cla-signed, no-release-notes, iceberg

#20376 Fix divide by zero
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
Labels: cla-signed

#20470 Change catalog not found error messages to match error code name
  core/trino-main/src/main/java/io/trino/Session.java
  core/trino-main/src/main/java/io/trino/connector/CoordinatorDynamicCatalogManager.java
  core/trino-main/src/main/java/io/trino/execution/CreateTableTask.java
  core/trino-main/src/main/java/io/trino/execution/RenameMaterializedViewTask.java
  core/trino-main/src/main/java/io/trino/execution/RenameTableTask.java
  core/trino-main/src/main/java/io/trino/execution/RenameViewTask.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataUtil.java
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowQueriesRewrite.java
  core/trino-main/src/test/java/io/trino/execution/TestDropCatalogTask.java
  core/trino-main/src/test/java/io/trino/execution/TestSetPathTask.java
  core/trino-main/src/test/java/io/trino/execution/TestSetRoleTask.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/query/TestExecuteImmediate.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractDistributedEngineOnlyQueries.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
  testing/trino-tests/src/test/java/io/trino/tests/TestServer.java
Labels: cla-signed, syntax-needs-review

#20475 TestIcebergGlueTableOperationsInsertFailure: Adjust expectations for the thrown exception
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueTableOperationsInsertFailure.java
Labels: cla-signed, test, iceberg

#20462 Fix docs in file-based access control
  docs/src/main/sphinx/security/file-system-access-control.md
Labels: cla-signed, docs

#20479 Introduce .mvn/maven.config
  .gitignore
  .mvn/maven.config
Labels: cla-signed

#20488 Enforce ErrorProne UnusedVariable
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/ArbitraryDistributionSplitAssigner.java
  core/trino-main/src/main/java/io/trino/operator/FilterAndProjectOperator.java
  core/trino-main/src/main/java/io/trino/operator/TableWriterOperator.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/ExpressionAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/JsonPathAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/WindowFunctionValidator.java
  core/trino-main/src/main/java/io/trino/sql/planner/LiteralInterpreter.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ApplyTableScanRedirection.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/OptimizeMixedDistinctAggregations.java
  core/trino-main/src/main/java/io/trino/sql/planner/rowpattern/LogicalIndexExtractor.java
  core/trino-main/src/test/java/io/trino/operator/TestAnnotationEngineForAggregates.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/PatternRecognitionExpressionRewriter.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/filter/UtcConstraintExtractor.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/security/BaseFileBasedSystemAccessControlTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeDynamicFiltering.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestRegexTable.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/S3HudiQueryRunner.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiConnectorTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiCopyOnWriteMinioConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/TestHudiMergeOnReadMinioConnectorSmokeTest.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/testing/TpchHudiTablesInitializer.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMaterializedViewTest.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeGcs.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvSinglenodeSparkIcebergJdbcCatalog.java
Labels: cla-signed, tests:hive, hudi, iceberg, delta-lake, hive

#20494 Remove unused product test config class
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/configs/ConfigEnvBased.java
Labels: cla-signed

#20171 Allow configuring maximum value count of pages written in parquet
  docs/src/main/sphinx/connector/delta-lake.md
  docs/src/main/sphinx/connector/object-storage-file-formats.md
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriterOptions.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriters.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/PrimitiveColumnWriter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/writer/TestParquetWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSessionProperties.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetFileWriterFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetWriterConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/ParquetTester.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestParquetWriterConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileWriterFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
Labels: cla-signed, docs, tests:hive, iceberg, delta-lake, hive

#20101 Remove unused property
  docs/src/main/sphinx/admin/properties-http-client.md
Labels: cla-signed, docs, stale

#20383 Improve spilling docs for workers
  docs/src/main/sphinx/admin/properties-spilling.md
Labels: cla-signed, docs

#20499 Improve wording for worker only config
  docs/src/main/sphinx/admin/properties-spilling.md
Labels: cla-signed

#20493 Fix never run some product tests groups
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/configs/ConfigDefault.java
Labels: cla-signed, no-release-notes

#20512 Fix race condition in testCancelWhileYielding
  core/trino-main/src/test/java/io/trino/execution/executor/scheduler/TestFairScheduler.java
Labels: cla-signed

#20514 Update trino-maven-plugin to 13
  pom.xml
Labels: cla-signed, no-release-notes

#20173 Add dots example routine
  docs/src/main/sphinx/routines/examples.md
Labels: cla-signed, syntax-needs-review, docs

#17779 Support complex type in migrate procedure
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMigrateProcedure.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergProcedureCalls.java
Labels: cla-signed, tests:hive, iceberg, mongodb

#20519 Fix broken testNoDataSystemTable in BigQuery
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#20360 Add support for dropping corrupted tables to Iceberg Nessie Catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/TrinoNessieCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/nessie/TestIcebergNessieCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#20490 Fix IcebergSplitSource.scannedFiles set semantics
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/DataFileWithDeleteFiles.java
Labels: cla-signed, iceberg

#20226 Fixed constant expression being passed to Connector through applyProjection
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushProjectionIntoTableScan.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushProjectionIntoTableScan.java
Labels: cla-signed, stale

#19532 Add support for Open Policy Agent
  core/trino-server/src/main/provisio/trino.xml
  plugin/trino-opa/README.md
  plugin/trino-opa/pom.xml
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/ForOpa.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaAccessControl.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaAccessControlFactory.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaAccessControlModule.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaAccessControlPlugin.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaBatchAccessControl.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaConfig.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaHighLevelClient.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaHttpClient.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/OpaQueryException.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaBatchQueryResult.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaPluginContext.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaQuery.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaQueryContext.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaQueryInput.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaQueryInputAction.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaQueryInputResource.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/OpaQueryResult.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoCatalogSessionProperty.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoFunction.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoGrantPrincipal.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoIdentity.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoSchema.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoTable.java
  plugin/trino-opa/src/main/java/io/trino/plugin/opa/schema/TrinoUser.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/FilteringTestHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/FunctionalHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/HttpClientUtils.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/RequestTestUtilities.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestHelpers.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControl.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlFactory.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlFiltering.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlPermissionManagementOperations.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlPlugin.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlSystem.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaBatchAccessControlFiltering.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaConfig.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaResponseDecoding.java
  pom.xml
Labels: cla-signed
