Repository trinodb/trino, pull requests merged in 2024-04, with the labels that each got.

#21338 Support stddev, stddev_pop pushdown for Snowflake
  docs/src/main/sphinx/connector/snowflake.md
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakeClient.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
Labels: cla-signed, docs

#21333 Change GroupedAccumulatorState groupId from long to int
  core/trino-main/src/main/java/io/trino/operator/aggregation/AccumulatorCompiler.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/AggregationLoopBuilder.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/DistinctAccumulatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/GroupedAccumulator.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/GroupedMapAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/LongApproximateMostFrequentStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/NumericHistogramStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/OrderedAccumulatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/StringApproximateMostFrequentStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/arrayagg/GroupArrayAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/histogram/GroupedHistogramState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/listagg/GroupListaggAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/minmaxbyn/MinMaxByNStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/minmaxn/MinMaxNStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/multimapagg/GroupedMultimapAggregationState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/AbstractGroupedAccumulatorState.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/HyperLogLogStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowAndLongStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/LongDecimalWithOverflowStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/QuantileDigestAndPercentileStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/QuantileDigestStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/StateCompiler.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/TDigestAndPercentileArrayStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/TDigestAndPercentileStateFactory.java
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/TDigestStateFactory.java
  core/trino-main/src/main/java/io/trino/type/setdigest/SetDigestStateFactory.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/function/GroupedAccumulatorState.java
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/SpatialPartitioningStateFactory.java
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/aggregation/GeometryStateFactory.java
  plugin/trino-ml/src/main/java/io/trino/plugin/ml/EvaluateClassifierPredictionsStateFactory.java
  plugin/trino-ml/src/main/java/io/trino/plugin/ml/LearnStateFactory.java
Labels: cla-signed

#21345 Update docker-images version to 93
  pom.xml
Labels: cla-signed

#21348 Remove unused method
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/Table.java
Labels: cla-signed, tests:hive, hive

#21337 Fix failure when reading BigQuery views with Arrow
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryArrowToPageConverter.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowSerialization.java
Labels: cla-signed, bigquery

#21268 Disable testAddColumnConcurrently in Snowflake
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
Labels: cla-signed

#21358 Add `@Language` to TestTable, TestView and SqlExecutor
  testing/trino-testing/src/main/java/io/trino/testing/sql/SqlExecutor.java
  testing/trino-testing/src/main/java/io/trino/testing/sql/TestTable.java
  testing/trino-testing/src/main/java/io/trino/testing/sql/TestView.java
Labels: cla-signed

#21318 Skip AdaptivePartitioning from running multiple times
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/AdaptivePartitioning.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestAdaptivePlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/BasePlanTest.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAdaptivePartitioning.java
Labels: cla-signed

#21347 Remove BaseIcebergConnectorTest.dropTable method
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#17038 Add support for absolute path in Delta Lake connector
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/functions/tablechanges/TableChangesSplitSource.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/VacuumProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/AddFileEntry.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCloneTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, tests:hive, delta-lake

#21361 Use ThreadLocalRecyclerPool for Jackson
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/util/JsonUtils.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/util/TestJsonUtils.java
Labels: cla-signed

#21360 Reduce optimizer.max-reordered-joins default to 8
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  docs/src/main/sphinx/admin/properties-optimizer.md
Labels: cla-signed, docs

#21362 Update Oracle JDBC to 23.3.0.23.09
  client/trino-jdbc/pom.xml
  plugin/trino-oracle/pom.xml
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/AbstractTestOracleTypeMapping.java
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleConnectorTest.java
  plugin/trino-resource-group-managers/pom.xml
  pom.xml
Labels: cla-signed, jdbc

#21329 docs: Clarify error behavior of subscript operator and suggest element_at alternative
  docs/src/main/sphinx/functions/map.md
Labels: cla-signed, docs

#21371 Move directory existence check to TestingGlueHiveMetastore
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSharedGlueMetastoreWithTableRedirections.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaS3AndGlueMetastoreTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveS3AndGlueMetastoreTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/TestGlueHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestingGlueHiveMetastore.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergS3AndGlueMetastoreTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestSharedGlueMetastore.java
Labels: cla-signed, tests:hive, iceberg, delta-lake, hive

#21376 Remove unused trino-tests dependencies
  testing/trino-tests/pom.xml
Labels: cla-signed, test, no-release-notes

#19854 Add test guide
  docs/src/main/sphinx/develop.md
  docs/src/main/sphinx/develop/tests.md
Labels: cla-signed, docs

#21354 Update Bind javadoc for multiple values
  core/trino-main/src/main/java/io/trino/sql/ir/Bind.java
Labels: cla-signed, no-release-notes

#21310 Make Iceberg to Spark compatibility tests more resilient to retries
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/util/IcebergTestUtils.java
Labels: cla-signed, tests:hive

#21363 Fix dictionary handling in AggregationMaskCompiler
  core/trino-main/src/main/java/io/trino/operator/aggregation/AggregationMaskCompiler.java
Labels: cla-signed, RELEASE-BLOCKER

#21364 Retry on "Read timed out." in Delta Lake Databricks tests
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/util/DeltaLakeTestUtils.java
Labels: cla-signed, tests:hive

#21212 Add Trino 444 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-444.md
Labels: cla-signed, release-notes, docs

#21384 Implement statistical aggregation pushdown for Snowflake connector
  docs/src/main/sphinx/connector/snowflake.md
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakeClient.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
Labels: cla-signed, docs

#21386 Make ColumnMapping constructor private
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ColumnMapping.java
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakeClient.java
Labels: cla-signed

#21385 Remove deprecated constructors from DriverConnectionFactory
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DriverConnectionFactory.java
Labels: cla-signed

#21205 Support creating view with properties in parser
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-main/src/main/java/io/trino/execution/CreateViewTask.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowQueriesRewrite.java
  core/trino-main/src/test/java/io/trino/execution/TestCreateViewTask.java
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/tree/CreateView.java
  core/trino-parser/src/test/java/io/trino/sql/TestSqlFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
Labels: cla-signed, syntax-needs-review

#21390 Enable time type test for Snowflake connector
  docs/src/main/sphinx/connector/snowflake.md
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakeClient.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeTypeMapping.java
Labels: cla-signed

#21051 Avoid SELECT * in base JDBC query builder
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultQueryBuilder.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestDefaultJdbcQueryBuilder.java
Labels: cla-signed, stale

#21403 Update httpcore to 4.4.16
  plugin/trino-hive/pom.xml
  plugin/trino-iceberg/pom.xml
  pom.xml
Labels: cla-signed, tests:hive, iceberg, hive

#21379 Remove duplicate doc and clarify JDBC vs REST
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, docs

#20200 Add table_changes test for replaced tables
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tablechanges/TableChangesFunction.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
Labels: cla-signed, iceberg

#21415 Fix spelling in JDBC doc
  docs/src/main/sphinx/develop/example-jdbc.md
Labels: cla-signed, docs

#20982 Avoid endless loop on EventDrivenTaskSource
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenTaskSource.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestEventDrivenTaskSource.java
Labels: cla-signed

#21424 Fix flaky TestFileSingleStreamSpiller test
  core/trino-main/src/test/java/io/trino/spiller/TestFileSingleStreamSpiller.java
Labels: cla-signed, no-release-notes

#21427 Fix ALTER TABLE documentation syntax
  docs/src/main/sphinx/sql/alter-table.md
Labels: cla-signed, docs

#21423 Enable additional error-prone checks for tests
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/EnvironmentListener.java
Labels: cla-signed, no-release-notes

#21431 Drop testing with unsupported Redis version
  plugin/trino-redis/src/test/java/io/trino/plugin/redis/util/RedisServer.java
Labels: cla-signed

#21418 Use double checked lock in getBufferBlockedFuture to reduce congestion
  core/trino-main/src/main/java/io/trino/execution/buffer/OutputBufferMemoryManager.java
Labels: cla-signed, no-release-notes

#21425 Fix GroupedInOut estimatedSizeOf method definition
  core/trino-main/src/main/java/io/trino/operator/aggregation/state/StateCompiler.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/state/TestStateCompiler.java
Labels: cla-signed

#21434 Add explicit location for the cloned table
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, tests:hive

#21444 Remove long deprecated configs
  core/trino-main/src/main/java/io/trino/FeaturesConfig.java
  core/trino-main/src/main/java/io/trino/execution/DynamicFilterConfig.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
Labels: cla-signed, no-release-notes

#21446 Fix testConvertComparison test in TestPostgreSqlClient
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlClient.java
Labels: cla-signed

#21452 Remove redundant version definition
  pom.xml
Labels: cla-signed, no-release-notes

#21455 Update Redis version requirement
  docs/src/main/sphinx/connector/redis.md
Labels: cla-signed, docs

#21453 TableFunctionDataProcessor javadoc fixes
  core/trino-spi/src/main/java/io/trino/spi/function/table/TableFunctionDataProcessor.java
Labels: no-release-notes

#21447 Rename config classes to match convention
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2ServiceModule.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OidcDiscovery.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OidcDiscoveryConfig.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/StaticConfigurationProvider.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/StaticOAuth2ServerConfig.java
  lib/trino-filesystem-cache-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioFileSystemCacheModule.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/cache/ConsistentHashingHostAddressProvider.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/cache/ConsistentHashingHostAddressProviderConfig.java
  lib/trino-filesystem/src/test/java/io/trino/filesystem/cache/TestConsistentHashingCacheHostAddressProvider.java
Labels: cla-signed, tests:hive, no-release-notes

#21245 Consolidate HDFS file system docs
  docs/src/main/sphinx/connector/hive-security.md
  docs/src/main/sphinx/connector/hive.md
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/object-storage.md
  docs/src/main/sphinx/object-storage/file-system-hdfs.md
  docs/src/main/sphinx/object-storage/metastores.md
  docs/src/main/sphinx/redirects.txt
  docs/src/main/sphinx/release/release-0.152.md
  docs/src/main/sphinx/security/file-system-access-control.md
  lib/trino-hdfs/src/main/java/io/trino/hdfs/HdfsConfig.java
Labels: cla-signed, release-notes, docs

#21459 Specify schema name in Snowflake testInformationSchemaFiltering
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
Labels: cla-signed

#21462 Update Alluxio to 312
  pom.xml
Labels: cla-signed, no-release-notes

#21445 Lazy computation of some fields in QueryMetadata and QueryStatistics
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryMetadata.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryStatistics.java
Labels: cla-signed, performance

#21252 Block task execution on catalog loading flag
  core/trino-main/src/main/java/io/trino/connector/WorkerDynamicCatalogManager.java
  core/trino-main/src/main/java/io/trino/execution/SqlTask.java
  core/trino-main/src/main/java/io/trino/execution/SqlTaskManager.java
Labels: cla-signed

#21485 Deprecate iceberg.materialized-views.hide-storage-table
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
Labels: cla-signed, docs, iceberg

#21299 Reduce generated code size for Row Constructors
  core/trino-main/src/main/java/io/trino/sql/gen/RowConstructorCodeGenerator.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConnectorSmokeTest.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractDistributedEngineOnlyQueries.java
Labels: cla-signed, iceberg

#21493 Update maven plugins to support reproducible builds
  pom.xml
  testing/trino-benchto-benchmarks/pom.xml
Labels: cla-signed

#21495 Reference an existing file in the `vale` sample command
  docs/README.md
Labels: cla-signed, docs, no-release-notes

#21203 Retain authorization header during cross host client redirects
  client/trino-client/src/main/java/io/trino/client/uri/TrinoUri.java
Labels: cla-signed

#21486 Stop listing files when exact checkpoint found in Delta Lake time travel
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
Labels: cla-signed, delta-lake

#21494 Fix incorrect derivation of effective predicate
  core/trino-main/src/main/java/io/trino/sql/planner/EffectivePredicateExtractor.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue21457.java
Labels: cla-signed

#21504 Check table existence in Trino instead of Cassandra
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraTable.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraTypeMapping.java
Labels: cla-signed, Flaky Tests

#21499 Remove JUnit 4 from FTE tests
  pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-product-tests-launcher/pom.xml
Labels: cla-signed

#21505 Remove deprecated TransactionLogAccess.loadSnapshot
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeHistoryTable.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePropertiesTable.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/RegisterTableProcedure.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestingDeltaLakeUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/statistics/TestDeltaLakeFileBasedTableStatisticsProvider.java
Labels: cla-signed, delta-lake

#21503 Avoid hard-coded region name in tests
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeTableWithCustomLocationUsingGlueMetastore.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/S3ClientFactory.java
Labels: cla-signed, tests:hive, delta-lake

#21501 Use default catalog name in TestDeltaLakeRenameToWithGlueMetastore
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaLakeRenameToWithGlueMetastore.java
Labels: cla-signed, delta-lake

#21496 Fix TestIcebergStatistics when running locally
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergStatistics.java
Labels: cla-signed, iceberg

#21407 Make sealed version of Avro Resolver Action
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/AvroPageDataReader.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/AvroTypeUtils.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/ArrayReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/AvroReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/BooleanRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/BytesRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/DefaultValueFieldRecordFieldReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/DoubleRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/EnumReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/FixedRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/FloatRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/IntRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/LongRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/MapReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/NullRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/ReadErrorReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/ReadFieldAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/ReadingUnionReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/RecordFieldReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/RecordReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/SkipFieldRecordFieldReadAction.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/StringRead.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/model/WrittenUnionReadAction.java
Labels: cla-signed, tests:hive

#21519 Fix incorrect effective predicate derivation for non-equatable type
  core/trino-main/src/main/java/io/trino/sql/planner/EffectivePredicateExtractor.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue21508.java
Labels: cla-signed

#21516 Adjust Iceberg RestCatalog exception handling
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
Labels: cla-signed, iceberg

#21510 Adjust DeltaLakeSplitSource error code based on cause
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeSplitSource.java
Labels: cla-signed, delta-lake

#21405 Clean up Snowflake type mapping code
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakeClient.java
Labels: cla-signed

#21521 Fix invalid pushdown of predicate that may fail
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/PredicatePushDown.java
  core/trino-main/src/test/java/io/trino/sql/query/TestJoin.java
Labels: cla-signed

#21525 Make BigQueryColumnHandle record
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryArrowToPageConverter.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryColumnHandle.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryFilterQueryBuilder.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryPageSourceProvider.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryStorageArrowPageSource.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryStorageAvroPageSource.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ptf/Query.java
Labels: cla-signed, bigquery

#21522 Fix thread leak in MinioClient
  testing/trino-testing-containers/pom.xml
  testing/trino-testing-containers/src/main/java/io/trino/testing/minio/MinioClient.java
Labels: cla-signed, test, no-release-notes

#21529 Use assertThatThrownBy in testMaxRowsExceedsLimit
  client/trino-jdbc/src/test/java/io/trino/jdbc/BaseTestJdbcResultSet.java
Labels: cla-signed, jdbc

#21531 Fix error message in TrinoRestCatalog.listTables
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
Labels: cla-signed, iceberg

#21530 Test adding field on corrupted Iceberg table
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#21535 Fix element handle type handle
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClient.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
Labels: no-release-notes

#21536 Use method reference in testMaxRowsExceedsLimit
  client/trino-jdbc/src/test/java/io/trino/jdbc/BaseTestJdbcResultSet.java
Labels: cla-signed, jdbc

#18566 Fix correctness bug in constant literal distinct aggregation
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/SimplifyCountOverConstant.java
  core/trino-main/src/test/java/io/trino/sql/query/TestAggregation.java
Labels: cla-signed, stale-ignore

#21350 Try reading data from underlying source if the data has been corrupted
  lib/trino-filesystem-cache-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioInputHelper.java
  lib/trino-filesystem-cache-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioCacheFileSystemAccessOperations.java
Labels: cla-signed, tests:hive

#21274 IR interpreter/optimizer improvements
  core/trino-main/src/main/java/io/trino/sql/gen/VarArgsToMapAdapterGenerator.java
  core/trino-main/src/main/java/io/trino/sql/planner/IrExpressionInterpreter.java
  core/trino-main/src/test/java/io/trino/sql/TestExpressionInterpreter.java
Labels: cla-signed, tests:hive, iceberg, hive

#21537 Switch remaining Delta Lake tests to Native FS
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakePreferredPartitioning.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSharedHiveMetastoreWithViews.java
Labels: cla-signed, delta-lake

#21544 Remove unused HudiInputInfo
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiInputInfo.java
Labels: cla-signed, hudi

#21552 Fix flaky TestCassandraConnectorTest
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed, Flaky Tests

#21487 Allow creating temp tables for BigQuery materialized views
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ReadSessionCreator.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
Labels: cla-signed, bigquery

#21555 Update Ailift to 245
  pom.xml
Labels: cla-signed, no-release-notes

#21228 use bounded executor for the DispatchManager's executor
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
Labels: cla-signed

#21564 Remove "experimental" from BigQuery Arrow config property
  docs/src/main/sphinx/connector/bigquery.md
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConnectorModule.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowSerialization.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowTypeMapping.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
Labels: cla-signed, docs, bigquery

#21561 Add documentation for `sorted_by` table property
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#21559 Move table function operator to package
  core/trino-main/src/main/java/io/trino/operator/function/EmptyTableFunctionPartition.java
  core/trino-main/src/main/java/io/trino/operator/function/RegularTableFunctionPartition.java
  core/trino-main/src/main/java/io/trino/operator/function/TableFunctionOperator.java
  core/trino-main/src/main/java/io/trino/operator/function/TableFunctionPartition.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed, no-release-notes

#21571 Relax test assertion in BaseOracleFailureRecoveryTest
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/BaseOracleFailureRecoveryTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed

#21449 Upgrade to localstack 3.3.0
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemLocalStack.java
Labels: cla-signed, tests:hive

#21355 Add mongodb dynamic filter support
  docs/src/main/sphinx/connector/mongodb.md
  plugin/trino-mongodb/pom.xml
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoClientConfig.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoPageSourceProvider.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSessionProperties.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSplitManager.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoTableHandle.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoClientConfig.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoDynamicFiltering.java
Labels: cla-signed, docs, mongodb

#21573 Fix HiveTableHandle equality
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTableHandle.java
Labels: cla-signed, tests:hive, no-release-notes, hive

#21577 Close JettyHttpClient in tests
  core/trino-main/src/test/java/io/trino/server/security/oauth2/BaseOAuth2WebUiAuthenticationFilterTest.java
  core/trino-main/src/test/java/io/trino/server/security/oauth2/TestOAuth2WebUiAuthenticationFilterWithRefreshTokens.java
  plugin/trino-password-authenticators/src/test/java/io/trino/plugin/password/salesforce/TestSalesforceBasicAuthenticator.java
Labels: cla-signed, test, no-release-notes

#21488 Allow using filter when materializing BigQuery views
  docs/src/main/sphinx/connector/bigquery.md
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySessionProperties.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitManager.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ReadSessionCreator.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ViewMaterializationCache.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQuerySplitManager.java
Labels: cla-signed, docs, bigquery

#21579 Remove unused benchmarks profile
  core/trino-main/pom.xml
Labels: cla-signed

#21592 Convert QualifiedObjectName to record
  core/trino-main/src/main/java/io/trino/connector/informationschema/InformationSchemaMetadata.java
  core/trino-main/src/main/java/io/trino/connector/system/MaterializedViewSystemTable.java
  core/trino-main/src/main/java/io/trino/connector/system/TableCommentSystemTable.java
  core/trino-main/src/main/java/io/trino/execution/CallTask.java
  core/trino-main/src/main/java/io/trino/execution/CreateMaterializedViewTask.java
  core/trino-main/src/main/java/io/trino/execution/CreateTableTask.java
  core/trino-main/src/main/java/io/trino/execution/CreateViewTask.java
  core/trino-main/src/main/java/io/trino/execution/RenameMaterializedViewTask.java
  core/trino-main/src/main/java/io/trino/execution/RenameTableTask.java
  core/trino-main/src/main/java/io/trino/execution/RenameViewTask.java
  core/trino-main/src/main/java/io/trino/execution/SetPropertiesTask.java
  core/trino-main/src/main/java/io/trino/execution/SetTableAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/execution/SetViewAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/metadata/CatalogMetadata.java
  core/trino-main/src/main/java/io/trino/metadata/DisabledSystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/metadata/QualifiedObjectName.java
  core/trino-main/src/main/java/io/trino/metadata/QualifiedTablePrefix.java
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/LogicalPlanner.java
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/CounterBasedAnonymizer.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/DescribeOutputRewrite.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowQueriesRewrite.java
  core/trino-main/src/main/java/io/trino/testing/TestingAccessControlManager.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/test/java/io/trino/execution/BaseDataDefinitionTaskTest.java
  plugin/trino-blackhole/src/test/java/io/trino/plugin/blackhole/TestBlackHoleSmoke.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/RedshiftQueryRunner.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/QueryAssertions.java
Labels: cla-signed, tests:hive, no-release-notes, iceberg, hive

#21472 Add Trino 445 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-445.md
Labels: cla-signed, release-notes, docs

#21469 Upgrade clickhouse image in tests
  docs/src/main/sphinx/connector/clickhouse.md
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseTypeMapping.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestAltinityConnectorSmokeTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestingClickHouseServer.java
Labels: cla-signed, docs

#21560 Delta Lake Azure Smoke Tests:Rewrite test to avoid flakiness
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeLocalConcurrentWritesTest.java
Labels: cla-signed, no-release-notes, delta-lake

#21596 Set speculative flag at create time
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed, no-release-notes

#21613 Fix build pt matrix script
  .github/bin/build-pt-matrix-from-impacted-connectors.py
Labels: cla-signed

#21617 Fix list table in JDBC docs
  docs/src/main/sphinx/client/jdbc.md
Labels: cla-signed

#21614 Update AWS SDK v1 to 1.12.703
  pom.xml
Labels: cla-signed, no-release-notes

#21518 Fix spelling in Salesforce docs
  docs/.vale/config/vocabularies/Base/accept.txt
  docs/src/main/sphinx/security/salesforce.md
Labels: cla-signed, docs

#21611 Use binary search in SortedRangeSet overlaps
  core/trino-spi/src/main/java/io/trino/spi/predicate/SortedRangeSet.java
  core/trino-spi/src/test/java/io/trino/spi/predicate/BenchmarkSortedRangeSet.java
  core/trino-spi/src/test/java/io/trino/spi/predicate/TestSortedRangeSet.java
Labels: cla-signed

#21615 Simplify Kafka query runner builder
  plugin/trino-kafka/pom.xml
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/KafkaQueryRunner.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/KafkaQueryRunnerBuilder.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestInternalFieldConflict.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaConnectorTest.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaDistributed.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaIntegrationPushDown.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestKafkaLatestConnectorSmokeTest.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/TestMinimalFunctionality.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/protobuf/TestKafkaProtobufWithSchemaRegistryMinimalFunctionality.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/KafkaWithConfluentSchemaRegistryQueryRunner.java
  plugin/trino-kafka/src/test/java/io/trino/plugin/kafka/schema/confluent/TestKafkaWithConfluentSchemaRegistryMinimalFunctionality.java
Labels: cla-signed, no-release-notes

#21606 Add builders for Redshift query runner
  plugin/trino-redshift/pom.xml
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/BaseRedshiftFailureRecoveryTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/RedshiftQueryRunner.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftAutomaticJoinPushdown.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorSmokeTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftConnectorTest.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftTableStatisticsReader.java
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftTypeMapping.java
Labels: cla-signed, no-release-notes

#21591 Throw HIVE_UNSUPPORTED_FORMAT in case of missing SerdeInfo in Glue
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/converter/GlueToTrinoConverter.java
Labels: cla-signed, hive

#21583 Convert Split to record
  core/trino-main/src/main/java/io/trino/execution/SqlTaskExecution.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/DynamicSplitPlacementPolicy.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/FixedSourcePartitionedScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/NodeScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/NodeSelector.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/SourcePartitionedScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/SplitPlacementPolicy.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/TopologyAwareNodeSelector.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/UniformNodeSelector.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/ArbitraryDistributionSplitAssigner.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenTaskSource.java
  core/trino-main/src/main/java/io/trino/metadata/Split.java
  core/trino-main/src/main/java/io/trino/operator/ExchangeOperator.java
  core/trino-main/src/main/java/io/trino/operator/LeafTableFunctionOperator.java
  core/trino-main/src/main/java/io/trino/operator/MergeOperator.java
  core/trino-main/src/main/java/io/trino/operator/ScanFilterAndProjectOperator.java
  core/trino-main/src/main/java/io/trino/operator/TableScanOperator.java
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorSourceOperatorAdapter.java
  core/trino-main/src/main/java/io/trino/operator/index/IndexSourceOperator.java
  core/trino-main/src/main/java/io/trino/split/PageSourceManager.java
  core/trino-main/src/main/java/io/trino/sql/planner/NodePartitioningManager.java
  core/trino-main/src/test/java/io/trino/execution/BenchmarkNodeScheduler.java
  core/trino-main/src/test/java/io/trino/execution/TestNodeScheduler.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskExecution.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestUniformNodeSelector.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestingNodeSelectorFactory.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/SplitAssignerTester.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestArbitraryDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestEventDrivenTaskSource.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestHashDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestSplitsMapping.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestingConnectorSplit.java
Labels: cla-signed

#21623 Use binary search in SortedRangeSet intersect
  core/trino-spi/src/main/java/io/trino/spi/predicate/SortedRangeSet.java
  core/trino-spi/src/test/java/io/trino/spi/predicate/BenchmarkSortedRangeSet.java
  core/trino-spi/src/test/java/io/trino/spi/predicate/TestSortedRangeSet.java
Labels: cla-signed

#21629 Randomize table name in BaseHiveConnectorTest
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, hive

#21644 Include addresses in retainedSize of IcebergSplit
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplit.java
Labels: cla-signed, iceberg

#21567 Hive: Add documentation for `timestamp_precision` session property
  docs/src/main/sphinx/connector/hive.md
Labels: cla-signed, docs

#21643 Make OrcFileWriter.orcWriter private
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcFileWriter.java
Labels: cla-signed, hive

#21618 Move testConcurrentInsertsReconciliationForBlindInserts in Delta Lake
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
Labels: cla-signed, delta-lake

#21656 Avoid non-actionable warnings logged in Delta writer stats
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeParquetStatisticsUtils.java
Labels: cla-signed, delta-lake

#21647 Update CacheKeyProvider.getCacheKey parameter name
  lib/trino-filesystem-cache-alluxio/src/test/java/io/trino/filesystem/alluxio/TestingCacheKeyProvider.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/cache/CacheKeyProvider.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/cache/DefaultCacheKeyProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/cache/DeltaLakeCacheKeyProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/cache/IcebergCacheKeyProvider.java
Labels: cla-signed, no-release-notes, iceberg, delta-lake

#21507 Fix last openRecordGroup not processed in FlatArrayBuilder
  core/trino-main/src/main/java/io/trino/operator/aggregation/arrayagg/FlatArrayBuilder.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/TestArrayAggregation.java
  core/trino-main/src/test/java/io/trino/operator/aggregation/arrayagg/TestFlatArrayBuilder.java
Labels: cla-signed, RELEASE-BLOCKER

#21653 Use getSizeInBytes rather than getRetainedSizeInBytes
  core/trino-main/src/main/java/io/trino/operator/exchange/ScaleWriterPartitioningExchanger.java
Labels: cla-signed, no-release-notes

#21658 Convert config properties to list-table in Prometheus documentation
  docs/src/main/sphinx/connector/prometheus.md
Labels: cla-signed, docs

#21409 Normalize name when creating a new catalog
  core/trino-main/src/main/java/io/trino/execution/CreateCatalogTask.java
  core/trino-main/src/test/java/io/trino/execution/TestCreateCatalogTask.java
Labels: cla-signed

#21661 Relax condition for allowing writer tasks splitting
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/HashDistributionSplitAssigner.java
Labels: cla-signed

#21664 Narrow synchronization scope
  core/trino-main/src/main/java/io/trino/execution/SqlQueryExecution.java
Labels: cla-signed, no-release-notes

#21668 Obtain page size only once
  core/trino-main/src/main/java/io/trino/operator/exchange/ScaleWriterPartitioningExchanger.java
Labels: cla-signed, no-release-notes

#21670 Leave comment why testSelectInformationSchemaColumns is isolated in Cassandra
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed

#21164 Add glacier skipping logic
  docs/src/main/sphinx/object-storage/legacy-s3.md
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileIterator.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemAwsS3.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/FileEntry.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/S3StorageClassFilter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TrinoFileStatusRemoteIterator.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestBackgroundHiveSplitLoader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/FileSystemDirectoryLister.java
Labels: cla-signed, docs, hive

#21676 Fix failure when symbol name ends in colon
  core/trino-main/src/main/java/io/trino/sql/planner/SymbolKeyDeserializer.java
  core/trino-main/src/main/java/io/trino/sql/planner/SymbolKeySerializer.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestSymbolSerializer.java
Labels: cla-signed

#21677 Make PushPartialAggregationThroughExchange deterministic
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushPartialAggregationThroughExchange.java
Labels: cla-signed, no-release-notes

#21687 Replace uses of newParameterizedType
  core/trino-main/src/main/java/io/trino/server/Server.java
Labels: cla-signed

#21683 Fix failure when single quote exists in Pinot condition
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotQueryBuilder.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/BasePinotConnectorSmokeTest.java
  plugin/trino-pinot/src/test/resources/string_realtimeSpec.json
  plugin/trino-pinot/src/test/resources/string_schema.json
Labels: cla-signed

#21528 Support type mapping configs in Snowflake Connector
  docs/src/main/sphinx/connector/snowflake.md
  plugin/trino-snowflake/src/main/java/io/trino/plugin/snowflake/SnowflakeClient.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeTypeMapping.java
Labels: cla-signed, docs

#21365 Add Iceberg Snowflake catalog support
  .github/workflows/ci.yml
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/CatalogType.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/IcebergCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/TrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/IcebergSnowflakeCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/IcebergSnowflakeCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/SnowflakeIcebergTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/TrinoSnowflakeCatalog.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/snowflake/SnowflakeIcebergTableOperations.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/snowflake/TrinoIcebergSnowflakeCatalogFactory.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/snowflake/TrinoIcebergSnowflakeCatalogFileIOFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergPlugin.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/README.md
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestingSnowflakeServer.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/snowflake/TestTrinoSnowflakeCatalog.java
  plugin/trino-snowflake/pom.xml
  pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, docs, iceberg

#21655 Convert config properties to list-table in BigQuery documentation
  docs/src/main/sphinx/connector/bigquery.md
Labels: cla-signed, docs

#21696 Fix flaky TestCassandraConnectorTest
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed

#21684 Append random suffix in BaseHiveConnectorTest
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, hive

#21691 Fix compilation of SQL functions with labels
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutineCompiler.java
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutinePlanner.java
  core/trino-main/src/test/java/io/trino/sql/routine/TestSqlFunctions.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
Labels: cla-signed

#21699 Fix failure when migrating partitioned Hive table in Glue
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/SkipArchiveRequestHandler.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseSharedMetastoreTest.java
Labels: cla-signed, iceberg

#21698 Deprecate 'schema' and 'table' arguments in Iceberg `table_changes` function
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tablechanges/TableChangesFunction.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#21705 Add TPCH tables in PostgreSqlQueryRunner main method
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/PostgreSqlQueryRunner.java
Labels: cla-signed

#21708 Exclude record getter-like fields from JSON serialization
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcTypeHandle.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchSplit.java
  plugin/trino-google-sheets/src/main/java/io/trino/plugin/google/sheets/SheetsSplit.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemorySplit.java
  plugin/trino-opensearch/src/main/java/io/trino/plugin/opensearch/OpenSearchSplit.java
  pom.xml
Labels: cla-signed, performance, no-release-notes

#21711 Remove extra colons
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#21665 Parquet hadoop package refactor
  lib/trino-parquet/src/main/java/io/trino/parquet/BloomFilterStore.java
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetMetadataConverter.java
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetReaderUtils.java
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetWriteValidation.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/BlockMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/ColumnChunkMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/ColumnChunkProperties.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/FileMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/IndexReference.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/IntColumnChunkMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/LongColumnChunkMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/ParquetMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/predicate/PredicateUtils.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/MetadataReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/PageReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetColumnChunkIterator.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/TrinoColumnIndexStore.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  lib/trino-parquet/src/main/java/org/apache/parquet/hadoop/metadata/ParquetMetadata.java
  lib/trino-parquet/src/test/java/io/trino/parquet/ParquetTestUtils.java
  lib/trino-parquet/src/test/java/io/trino/parquet/predicate/TestPredicateUtils.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestByteStreamSplitEncoding.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestPageReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestParquetReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestTimeMillis.java
  lib/trino-parquet/src/test/java/io/trino/parquet/writer/TestParquetWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeParquetStatisticsUtils.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeWriter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestBloomFilterStore.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergParquetFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/ParquetUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
Labels: cla-signed, hudi, iceberg, delta-lake, hive

#21580 Enable bigquery.arrow-serialization.enabled by default
  docs/src/main/sphinx/connector/bigquery.md
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowSerialization.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowTypeMapping.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryAvroConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryAvroTypeMapping.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
Labels: cla-signed, docs, bigquery

#21719 Decrease query.low-memory-killer.delay to 30s
  core/trino-main/src/main/java/io/trino/memory/MemoryManagerConfig.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryManagerConfig.java
  docs/src/main/sphinx/admin/properties-query-management.md
Labels: cla-signed, docs

#21723 Update provisio to 1.0.24
  pom.xml
Labels: cla-signed, no-release-notes

#21722 Increase lock timeout from 1s to 5s in H2
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestingH2JdbcModule.java
Labels: cla-signed

#21714 Upgrade to Iceberg 1.5.1
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/fileio/ForwardingFileIo.java
  pom.xml
Labels: cla-signed, iceberg

#21706 Nullify DriverFactory#operatorFactories on noMoreDrivers
  core/trino-main/src/main/java/io/trino/operator/DriverFactory.java
Labels: cla-signed

#21697 Fail implicitly assigning null to non-null column in MERGE
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed
