Repository trinodb/trino, pull requests merged in 2025-10, with the labels that each got.

#26774 Fix add_files_from_table due to wrong column count condition
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergAddFilesProcedure.java
Labels: cla-signed, iceberg

#26776 Fix indentation in testVariantReadNull test
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
Labels: cla-signed, delta-lake

#26778 Cleanup jvm flags
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-all/jvm.config
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-snowflake/jvm.config
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/trino/etc/jvm.config
Labels: cla-signed

#26783 Remove trailing whitespace and add defaults to LDAP group-mapping docs
  docs/src/main/sphinx/security/group-mapping.md
Labels: cla-signed, docs

#26784 Use methods in Guava Preconditions
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/StructColumnWriter.java
  lib/trino-record-decoder/src/test/java/io/trino/decoder/json/JsonFieldDecoderTester.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/writer/FileSystemTransactionLogWriter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/crypto/EnvironmentDecryptionKeyRetriever.java
Labels: cla-signed, delta-lake, hive

#26790 Add dependabot for maven dependencies
  .github/dependabot.yml
Labels: cla-signed

#26808 Minor fixes to 477 release notes
  docs/src/main/sphinx/release/release-477.md
Labels: cla-signed, release-notes, docs

#26812 Remove dependency group updates
  .github/dependabot.yml
Labels: cla-signed

#26597 Add redirect guards
  client/trino-client/src/main/java/io/trino/client/DisallowLocalRedirectInterceptor.java
  client/trino-client/src/main/java/io/trino/client/uri/ConnectionProperties.java
  client/trino-client/src/main/java/io/trino/client/uri/HttpClientFactory.java
  client/trino-client/src/main/java/io/trino/client/uri/PropertyName.java
  client/trino-client/src/main/java/io/trino/client/uri/TrinoUri.java
  client/trino-client/src/test/java/io/trino/client/TestDisallowLocalRedirectInterceptor.java
Labels: cla-signed

#26807 Use monaco editor in Preview UI for improved code formatting performance
  core/trino-web-ui/src/main/resources/webapp-preview/package-lock.json
  core/trino-web-ui/src/main/resources/webapp-preview/package.json
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/CodeBlock.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryJson.tsx
Labels: cla-signed, ui

#26843 Revert SPI change
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/QueryId.java
Labels: cla-signed

#26628 Allow specifying list of allowed retry policies
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#26864 Cleanup S3FileSystemExchangeStorage
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/s3/S3FileSystemExchangeStorage.java
Labels: cla-signed

#26866 Fix incorrect results when reading migrated Iceberg Avro files
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergMigrateProcedure.java
Labels: cla-signed, iceberg

#26877 Upgrade airbase to 313
  pom.xml
Labels: cla-signed

#26875 Add support for Zstd, Brotli, Gzip compression to client
  client/trino-client/pom.xml
  client/trino-client/src/main/java/io/trino/client/uri/HttpClientFactory.java
  client/trino-jdbc/pom.xml
  client/trino-jdbc/src/test/java/io/trino/jdbc/JdbcDriverIT.java
Labels: cla-signed, jdbc
