Repository trinodb/trino, pull requests merged in 2025-06, with the labels that each got.

#25844 Detail the constraints in applying OPTIMIZE in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#25911 Use separate S3Client instance per bucket
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/s3/S3FileSystemExchangeStorage.java
Labels: cla-signed

#25913 Update dependencies
  pom.xml
Labels: cla-signed, no-release-notes

#25924 Ignore rowsCount during serialization
  client/trino-client/src/main/java/io/trino/client/QueryData.java
Labels: cla-signed

#25915 Improve support for use_file_size_from_metadata in Iceberg metadata IO
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/file/FileMetastoreTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/GlueIcebergTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/IcebergJdbcTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/IcebergNessieTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/SnowflakeIcebergTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/fileio/ForwardingFileIo.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/RegisterTableProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMergeAppend.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergOrcMetricsCollection.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/fileio/TestForwardingFileIo.java
Labels: cla-signed, iceberg

#25934 Revert "Disable migrate procedure test on Iceberg Glue catalog"
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestSharedGlueMetastore.java
Labels: cla-signed, iceberg

#25938 Improve query error classification for IO failures
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergAvroFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileWriterFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergParquetFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/RegisterTableProcedure.java
Labels: no-release-notes, iceberg

#25939 Update dependencies
  pom.xml
Labels: cla-signed

#25865 Add 476 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-476.md
Labels: cla-signed, release-notes, docs

#25944 Simplify query data producer instantiation
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/JsonBytesQueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/JsonEncodingUtils.java
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryDataProducerFactory.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryResultRows.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingQueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingServerModule.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/encoding/JsonQueryDataEncoder.java
Labels: cla-signed

#25962 Update dependencies
  plugin/trino-cassandra/pom.xml
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraClientModule.java
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/s3/S3FileSystemExchangeStorage.java
  pom.xml
Labels: cla-signed, cassandra

#25964 Remove calls to deprectad JsonNode.fields()
  core/trino-main/src/main/java/io/trino/json/PathEvaluationVisitor.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/ElasticsearchClient.java
Labels: cla-signed, elasticsearch

#25973 Avoid reading unusually large parquet footers
  docs/src/main/sphinx/object-storage/file-formats.md
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetReaderOptions.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/MetadataReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
  lib/trino-parquet/src/test/java/io/trino/parquet/BenchmarkColumnarFilterParquetData.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestByteStreamSplitEncoding.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestInt96Timestamp.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestParquetReader.java
  lib/trino-parquet/src/test/java/io/trino/parquet/reader/TestTimeMillis.java
  lib/trino-parquet/src/test/java/io/trino/parquet/writer/TestParquetWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSourceFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetReaderConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestBloomFilterStore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/TestParquetReaderConfig.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrationUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftPageSourceProvider.java
Labels: cla-signed, docs, hudi, iceberg, delta-lake, hive, redshift

#25985 Unflake testCloseIdleWriters
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestCloseIdleWriters.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestCloseIdleWriters.java
Labels: cla-signed, no-release-notes, iceberg, hive

#25987 Fix failure when aggregation function is wrapped in GROUP BY AUTO
  core/trino-main/src/main/java/io/trino/sql/analyzer/AggregationAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/query/TestGroupBy.java
Labels: cla-signed

#25980 Document schema evolution capabilities for Delta Lake
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#26003 Improve query plan rendering for memory connector
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/ColumnInfo.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryColumnHandle.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryMetadata.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryTableHandle.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/TableInfo.java
Labels: cla-signed, memory

#26005 Unflake deltalake.TestCloseIdleWriters
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestCloseIdleWriters.java
Labels: no-release-notes, delta-lake

#25811 Allow using GCS without providing credentials
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsStorageFactory.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsStorageFactory.java
Labels: cla-signed

#26012 Update PostgreSQL driver to 42.7.7
  pom.xml
Labels: cla-signed

#25812 Fix code example in documentation
  docs/src/main/sphinx/udf/sql/begin.md
Labels: cla-signed, docs, no-release-notes

#26020 Run case-sensitive property test only in OSS Delta
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeSystemTableCompatibility.java
Labels: cla-signed

#25942 Switch redshift node type to ra3.large
  .github/bin/redshift/setup-aws-redshift.sh
Labels: cla-signed

#26021 Fix block positions lookups in spatial join
  core/trino-main/src/main/java/io/trino/operator/PagesRTreeIndex.java
  core/trino-main/src/main/java/io/trino/operator/PagesSpatialIndexSupplier.java
Labels: cla-signed

#26024 Document missing iceberg rest catalog properties
  docs/src/main/sphinx/object-storage/metastores.md
Labels: docs

#26023 Handle NullPointerException in StatementAnalyzer createMergeAnalysis
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/query/TestMetadataMismatch.java
Labels: cla-signed

#26040 Set Databricks JDBC socket timeout to 120 seconds
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-delta-lake-databricks/tempto-configuration.yaml
Labels: cla-signed

#26042 Fix deterministic of system bucket function in iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/IcebergFunctionProvider.java
Labels: cla-signed, iceberg

#26043 Remove redundant test exclusion
  plugin/trino-hive/pom.xml
Labels: cla-signed, hive

#26046 Remove unused method from HudiTableProperties
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiTableProperties.java
Labels: cla-signed, hudi

#26056 Do not mask exceptions in Metadata getTableStatistics
  core/trino-main/src/main/java/io/trino/cost/CachingTableStatsProvider.java
  core/trino-main/src/main/java/io/trino/execution/SqlQueryExecution.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/QueryExplainer.java
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowStatsRewrite.java
  core/trino-main/src/main/java/io/trino/testing/NotImplementedQueryManager.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
  core/trino-main/src/test/java/io/trino/cost/StatsCalculatorAssertion.java
  core/trino-main/src/test/java/io/trino/cost/TestCostCalculator.java
  core/trino-main/src/test/java/io/trino/metadata/TestMetadataManager.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/PlanAssert.java
  core/trino-main/src/test/java/io/trino/sql/planner/assertions/PlanFragmentMatcher.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestJoinEnumerator.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/test/RuleAssert.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestRemoveUnsupportedDynamicFilters.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestUnaliasSymbolReferences.java
Labels: cla-signed

#26062 Fix variable name
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
Labels: cla-signed, iceberg

#26064 Avoid relying on org.apache.parquet.format.RowGroup.getFile_offset
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/ParquetMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/predicate/PredicateUtils.java
Labels: cla-signed, correctness, RELEASE-BLOCKER

#25347 Add lakehouse connector
  .github/workflows/ci.yml
  core/trino-server/src/main/provisio/trino.xml
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/lakehouse.md
  plugin/trino-lakehouse/pom.xml
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseConfig.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseConnector.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseConnectorFactory.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseDeltaModule.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseFileSystemModule.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseHiveModule.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseHudiModule.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseIcebergModule.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseMetadata.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseModule.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseNodePartitioningProvider.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehousePageSinkProvider.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehousePageSourceProviderFactory.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehousePlugin.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseSessionProperties.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseSplitManager.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseTableProperties.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/LakehouseTransactionManager.java
  plugin/trino-lakehouse/src/main/java/io/trino/plugin/lakehouse/TableType.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/BaseLakehouseConnectorSmokeTest.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/LakehouseQueryRunner.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseConfig.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseConnectorTest.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseDeltaConnectorSmokeTest.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseFileConnectorSmokeTest.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseHiveConnectorSmokeTest.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseIcebergConnectorSmokeTest.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseMetadata.java
  plugin/trino-lakehouse/src/test/java/io/trino/plugin/lakehouse/TestLakehouseMotoConnectorSmokeTest.java
  pom.xml
Labels: cla-signed, docs, iceberg, hive, stale-ignore

#26084 Update Delta Lake variant test for variant null case
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/databricks154/test_variant_null/README.md
  plugin/trino-delta-lake/src/test/resources/databricks154/test_variant_null/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks154/test_variant_null/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/databricks154/test_variant_null/part-00000-370c7cfb-47f7-4c81-81bd-3ecd7b5b4c41-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks154/test_variant_null/part-00000-537a12d5-3315-4233-bcfb-622f032b6826-c000.snappy.parquet
Labels: cla-signed, delta-lake

#26097 Fix config property in http-client documentation
  docs/src/main/sphinx/admin/properties-http-client.md
Labels: cla-signed, docs, no-release-notes

#26102 Bind Node instead of NodeManager in TestDeltaLakeGlueMetastore
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaLakeGlueMetastore.java
Labels: cla-signed, delta-lake
