Repository trinodb/trino, pull requests merged in 2025-04, with the labels that each got.

#25468 Fix failing Iceberg v3 tests
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergS3TablesConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#25478 Remove stale code from ThriftHiveMetastoreClient
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/DefaultThriftMetastoreClientFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastoreClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftHiveMetastoreClient.java
Labels: cla-signed, hive

#25482 Update dependencies
  pom.xml
Labels: cla-signed

#25484 Restore cache for maven checks on 25-ea
  .github/workflows/ci.yml
Labels: cla-signed

#25486 Use proper compression codec in DirectTrinoClient
  core/trino-main/src/main/java/io/trino/client/direct/DirectTrinoClient.java
Labels: cla-signed

#25492 Return null in BigQuery getNextSourcePage
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryQueryPageSource.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryStorageArrowPageSource.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryStorageAvroPageSource.java
Labels: cla-signed, bigquery

#25494 Update cloud SDKs
  pom.xml
Labels: cla-signed

#25493 Rewrite exclude_columns table function into projection
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/RewriteExcludeColumnsFunctionToProjection.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestRewriteExcludeColumnsFunctionToProjection.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/test/TableFunctionProcessorBuilder.java
Labels: cla-signed

#25496 Fix resolving WITH SESSION in the EXPLAIN
  core/trino-main/src/main/java/io/trino/sql/rewrite/ExplainRewrite.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
Labels: cla-signed

#25497 Skip subquery plan if subqueryExpression List is empty for efficiency
  core/trino-main/src/main/java/io/trino/sql/planner/SubqueryPlanner.java
Labels: cla-signed

#25498 Traverse nodes once while planning subqueries
  core/trino-main/src/main/java/io/trino/sql/planner/SubqueryPlanner.java
Labels: cla-signed

#25343 Cleanup previous snapshot files during materialized view refresh
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMaterializedViewTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergFileOperations.java
Labels: cla-signed, iceberg

#25502 Add non null check for path in AddFileEntry
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/AddFileEntry.java
Labels: cla-signed, delta-lake

#25501 Upgrade Jetty & minor deps
  pom.xml
Labels: cla-signed

#25503 Enforce spooled layout only when physical plan contains spooled output
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: bug, cla-signed

#25505 Remove @JsonValue from SqlInterval* types
  core/trino-main/src/main/java/io/trino/type/SqlIntervalDayTime.java
  core/trino-main/src/main/java/io/trino/type/SqlIntervalYearMonth.java
Labels: cla-signed

#25469 Parallelize Delta Lake checkpoint v2 sidecar files retrieval
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConfig.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSplitManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/statistics/TestDeltaLakeFileBasedTableStatisticsProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/TestTableSnapshot.java
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/00000000000000000004.checkpoint.42f48375-5c72-4d2f-8dcc-7ce4d45e2d8c.json
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/00000000000000000004.json
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/_sidecars/00000000000000000004.checkpoint.0000000001.0000000004.9f573e40-495e-4fb5-9a86-638dbdf0909e.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/_sidecars/00000000000000000004.checkpoint.0000000002.0000000004.72848a80-e6d1-40fd-b702-344ecbb4c2fa.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/_sidecars/00000000000000000004.checkpoint.0000000003.0000000004.93080a9b-6c0d-4a19-ac28-e3654e3096f9.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/_delta_log/_sidecars/00000000000000000004.checkpoint.0000000004.0000000004.994ab05a-4806-4f96-8e7b-5dcf653a8e48.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/part-00000-9fa76eea-a9d3-421a-8ff6-3c9aaf4cda1e-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/part-00000-bd61e79e-318d-4479-a520-35262dea4279-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/part-00000-eec71e5c-8a00-4467-91ac-f4fce42cd8f8-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/multipart_v2_checkpoint/part-00000-fc560813-2d15-459e-b460-6741b73ae734-c000.snappy.parquet
Labels: cla-signed, performance, delta-lake

#25514 Update dependencies
  pom.xml
Labels: cla-signed

#25515 Simplify spooling encoding code
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed

#25504 Improve logging in HiveSplitManager.getPartitionMetadata
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSplitManager.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestCachedHiveGlueMetastore.java
Labels: cla-signed, hive

#24061 Add documentation for iceberg memory file system caching properties
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#25519 Remove requireNonNull check in IgniteJdbcMetadataFactory
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteJdbcMetadataFactory.java
Labels: cla-signed, ignite

#25525 Remove requireNonNull check in DefaultJdbcMetadataFactory
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadataFactory.java
Labels: cla-signed

#25490 Reintroduce Hudi dependencies for complete feature support in Hudi connector
  plugin/trino-hudi/pom.xml
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiMetadata.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiPageSourceProvider.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiSplitSource.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiTableHandle.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiUtil.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/TimelineTable.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/compaction/CompactionOperation.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/compaction/HudiCompactionOperation.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/compaction/HudiCompactionPlan.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/config/HudiTableConfig.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/files/FSUtils.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/files/FileSlice.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/files/HudiBaseFile.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/files/HudiFileGroup.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/files/HudiFileGroupId.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/files/HudiLogFile.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/io/TrinoHudiFileReaderFactory.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/io/TrinoHudiIoFactory.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/io/TrinoSeekableDataInputStream.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/model/HudiFileFormat.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/model/HudiInstant.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/model/HudiReplaceCommitMetadata.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/model/HudiTableType.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/partition/HiveHudiPartitionInfo.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/query/HudiReadOptimizedDirectoryLister.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/storage/TrinoHudiStorage.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/storage/TrinoStorageConfiguration.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/table/HudiTableFileSystemView.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/table/HudiTableMetaClient.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/timeline/HudiActiveTimeline.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/timeline/HudiDefaultTimeline.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/timeline/HudiTimeline.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/timeline/TimelineLayout.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/timeline/TimelineLayoutVersion.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/storage/TestTrinoHudiStorage.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/storage/TestTrinoStorageConfiguration.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/testing/TpchHudiTablesInitializer.java
Labels: cla-signed, hudi

#25526 Fix typo in TestIcebergAddFilesProcedure
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergAddFilesProcedure.java
Labels: cla-signed, iceberg

#25470 Show column comments on Hive views
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewReaderUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseTestHiveOnDataLake.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveMetadataListing.java
Labels: cla-signed, hive

#25516 Fix incorrect order of primary key in MySQL connector
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
Labels: cla-signed, mysql

#25371 Pass users original role for impersonation
  client/trino-cli/src/main/java/io/trino/cli/Console.java
  client/trino-cli/src/main/java/io/trino/cli/Query.java
  client/trino-client/src/main/java/io/trino/client/ClientSession.java
  client/trino-client/src/main/java/io/trino/client/ProtocolHeaders.java
  client/trino-client/src/main/java/io/trino/client/StatementClient.java
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/BaseTrinoDriverTest.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestAsyncResultIterator.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcConnection.java
  core/trino-main/src/main/java/io/trino/Session.java
  core/trino-main/src/main/java/io/trino/SessionRepresentation.java
  core/trino-main/src/main/java/io/trino/dispatcher/FailedDispatchQuery.java
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-main/src/main/java/io/trino/execution/QueryInfo.java
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/SetSessionAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/server/HttpRequestSessionContextFactory.java
  core/trino-main/src/main/java/io/trino/server/ResultQueryInfo.java
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryResultsResponse.java
  core/trino-main/src/main/java/io/trino/testing/TestingAccessControlManager.java
  core/trino-main/src/test/java/io/trino/execution/MockManagedQueryExecution.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryInfo.java
  core/trino-main/src/test/java/io/trino/metadata/TestMetadataManager.java
  core/trino-main/src/test/java/io/trino/server/TestBasicQueryInfo.java
  core/trino-main/src/test/java/io/trino/server/TestHttpRequestSessionContextFactory.java
  core/trino-main/src/test/java/io/trino/server/TestQueryStateInfo.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryContext.java
  docs/src/main/sphinx/develop/client-protocol.md
  plugin/trino-http-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpEventListener.java
  plugin/trino-http-server-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpServerEventListener.java
  plugin/trino-kafka-event-listener/src/test/java/io/trino/plugin/eventlistener/kafka/TestUtils.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
  plugin/trino-openlineage/src/test/java/io/trino/plugin/openlineage/TrinoEventData.java
  pom.xml
  testing/trino-tests/pom.xml
  testing/trino-tests/src/test/java/io/trino/security/TestImpersonation.java
  testing/trino-tests/src/test/java/io/trino/security/TestSystemSecurityMetadata.java
Labels: cla-signed, docs, jdbc

#25559 Fix trivial typo in DateStatisticsBuilder
  lib/trino-orc/src/main/java/io/trino/orc/metadata/statistics/DateStatisticsBuilder.java
Labels: cla-signed

#25532 Return null for new columns in Iceberg `$partitions` system table
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionsTable.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
Labels: cla-signed, iceberg

#25564 Fix memory size calculation when memory table is truncated
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryPagesStore.java
  plugin/trino-memory/src/test/java/io/trino/plugin/memory/TestMemoryPagesStore.java
Labels: cla-signed, memory

#25561 Cleanup PagesSerdeFactory creation
  core/trino-main/src/main/java/io/trino/client/direct/DirectTrinoClient.java
  core/trino-main/src/main/java/io/trino/execution/buffer/PagesSerdeFactory.java
  core/trino-main/src/main/java/io/trino/execution/buffer/PagesSerdes.java
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
  core/trino-main/src/main/java/io/trino/spiller/FileSingleStreamSpillerFactory.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskExecution.java
  core/trino-main/src/test/java/io/trino/execution/buffer/BenchmarkBlockSerde.java
  core/trino-main/src/test/java/io/trino/execution/buffer/BenchmarkPagesSerde.java
  core/trino-main/src/test/java/io/trino/execution/buffer/BufferTestUtils.java
  core/trino-main/src/test/java/io/trino/execution/buffer/TestSpoolingExchangeOutputBuffer.java
  core/trino-main/src/test/java/io/trino/execution/buffer/TestingPagesSerdes.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryPools.java
  core/trino-main/src/test/java/io/trino/operator/MockExchangeRequestProcessor.java
  core/trino-main/src/test/java/io/trino/operator/TestDirectExchangeClient.java
  core/trino-main/src/test/java/io/trino/operator/TestExchangeOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestHttpPageBufferClient.java
  core/trino-main/src/test/java/io/trino/operator/TestMergeOperator.java
  core/trino-main/src/test/java/io/trino/operator/output/BenchmarkPartitionedOutputOperator.java
  core/trino-main/src/test/java/io/trino/operator/output/TestPagePartitioner.java
  core/trino-main/src/test/java/io/trino/operator/output/TestPagePartitionerPool.java
  core/trino-main/src/test/java/io/trino/spiller/TestBinaryFileSpiller.java
Labels: cla-signed, no-release-notes

#25560 Make exception message more descriptive
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/HashDistributionSplitAssigner.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestHashDistributionSplitAssigner.java
Labels: cla-signed, no-release-notes

#25571 Expose PageSerializer metrics
  core/trino-main/src/main/java/io/trino/execution/buffer/CompressingEncryptingPageSerializer.java
  core/trino-main/src/main/java/io/trino/execution/buffer/PageSerializer.java
  core/trino-main/src/main/java/io/trino/operator/output/PagePartitioner.java
  core/trino-main/src/main/java/io/trino/operator/output/PartitionedOutputOperator.java
  core/trino-main/src/main/java/io/trino/operator/output/TaskOutputOperator.java
Labels: cla-signed, no-release-notes

#25575 Expose dynamic filter stats in QueryCompletedEvent
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/DynamicFilterDomainStatistics.java
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/QueryStatistics.java
  plugin/trino-http-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpEventListener.java
  plugin/trino-http-server-event-listener/src/test/java/io/trino/plugin/httpquery/TestHttpServerEventListener.java
  plugin/trino-kafka-event-listener/src/test/java/io/trino/plugin/eventlistener/kafka/TestUtils.java
  plugin/trino-mysql-event-listener/src/test/java/io/trino/plugin/eventlistener/mysql/TestMysqlEventListener.java
  plugin/trino-openlineage/src/test/java/io/trino/plugin/openlineage/TrinoEventData.java
Labels: cla-signed

#25460 Optimize metadata query with distinct + limit
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/MetadataQueryOptimizer.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestMetadataQueryOptimization.java
Labels: cla-signed, iceberg

#25582 Use inlined encoded pages when calculating encoder efficiency
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
Labels: cla-signed

#25586 Fix format in CheckpointWriter
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
Labels: cla-signed, delta-lake

#25580 Make view data optional parameter for view reader
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/LegacyHiveViewReader.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewReaderUtil.java
Labels: cla-signed, hive

#25592 Remove redundant variables in IcebergUtil
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
Labels: cla-signed, iceberg

#25600 Fix PageProcessor retained bytes tracking
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessor.java
Labels: bug, cla-signed

#25550 Remove support for deletion vectors in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/CommitTaskData.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergAvroFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileWriterFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMergeSink.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergOrcFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSink.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSinkProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergParquetFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSortingFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergTableProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergWritableTableHandle.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/DeleteFile.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/DeleteManager.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/DeletionVectorFileWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/DeletionVectorWriter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/DeletionVectors.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/PositionDeleteFiles.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/PositionDeleteWriter.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/ContentFileParsers.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/deletes/TrinoBitmapPositionDeleteIndex.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/deletes/TrinoRoaringPositionBitmap.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestFileBasedConflictDetection.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergAvroConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMinioOrcConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetV2ConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetV3ConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergS3TablesConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergUnityRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergVendingRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/delete/TestDeletionVectors.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/util/FileOperationUtils.java
  pom.xml
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/iceberg/TestIcebergParquetFaultTolerantExecutionConnectorTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
Labels: cla-signed, docs, iceberg

#25603 Set dataSequenceNumber during iceberg EXECUTE OPTIMIZE
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#25548 Fix incorrect config properties in OpenLineage docs
  docs/src/main/sphinx/admin/event-listeners-openlineage.md
Labels: cla-signed, docs

#25617 Fix size in bytes calculation for ORC DictionaryBuilder
  lib/trino-orc/src/main/java/io/trino/orc/writer/DictionaryBuilder.java
  lib/trino-orc/src/test/java/io/trino/orc/TestDictionaryBuilder.java
Labels: cla-signed

#25614 Use Arrays.fill instead of manual filling
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessor.java
  core/trino-main/src/test/java/io/trino/block/TestRunLengthEncodedBlock.java
Labels: cla-signed

#25337 Add support for Bool type for ClickHouse connector
  docs/src/main/sphinx/connector/clickhouse.md
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClient.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/BaseClickHouseTypeMapping.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
Labels: cla-signed, docs, clickhouse

#25624 Fix invalid link in plugins.md
  docs/src/main/sphinx/installation/plugins.md
Labels: cla-signed, docs

#25622 Avoid string concat in logger
  core/trino-main/src/main/java/io/trino/connector/WorkerDynamicCatalogManager.java
  core/trino-main/src/main/java/io/trino/eventlistener/EventListenerManager.java
  core/trino-main/src/main/java/io/trino/execution/executor/dedicated/ThreadPerDriverTaskExecutor.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
  core/trino-main/src/main/java/io/trino/server/NodeStateManager.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/QueryDataEncoders.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/avro/NativeLogicalTypesAvroTypeManager.java
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/MitmProxy.java
Labels: cla-signed

#25625 Disable LIKE pushdown for caseinsensitive columns
  plugin/trino-sqlserver/src/main/java/io/trino/plugin/sqlserver/SqlServerClient.java
  plugin/trino-sqlserver/src/test/java/io/trino/plugin/sqlserver/BaseSqlServerConnectorTest.java
Labels: cla-signed, sqlserver

#25576 Add support for UUID arrays in PostgreSQL connector
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/TypeUtils.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlTypeMapping.java
Labels: cla-signed, postgresql

#25632 Add documentation for Delta Lake's checkpoint processing parallelism configuration
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#25636 Fix the Delta Lake doc compile issue
  docs/src/main/sphinx/connector/delta-lake.md
Labels: cla-signed, docs

#25639 Fix TestRedshiftTypeMapping#testTimestampWithTimeZoneOverflow
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftTypeMapping.java
Labels: cla-signed, redshift

#25589 Preserve input order of window functions when planning window operations
  core/trino-main/src/main/java/io/trino/sql/planner/QueryPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestWindowClause.java
Labels: bug, cla-signed

#25644 Enable PreconditionsExpensiveString Error Prone check
  lib/trino-filesystem-cache-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioConfigurationFactory.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/Versions.java
  lib/trino-record-decoder/src/main/java/io/trino/decoder/protobuf/FileDescriptorProvider.java
  lib/trino-record-decoder/src/main/java/io/trino/decoder/protobuf/FixedSchemaDynamicMessageProvider.java
  lib/trino-record-decoder/src/main/java/io/trino/decoder/protobuf/ProtobufValueProvider.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchMetadata.java
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/client/IndexMetadata.java
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/FileSystemExchangeSink.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveTablePartitioning.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/coercions/TimestampCoercer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveCoercionPolicy.java
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/KafkaPageSink.java
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/encoder/protobuf/ProtobufRowEncoder.java
  plugin/trino-kafka/src/main/java/io/trino/plugin/kafka/encoder/raw/RawRowEncoder.java
  plugin/trino-opensearch/src/main/java/io/trino/plugin/opensearch/OpenSearchMetadata.java
  plugin/trino-opensearch/src/main/java/io/trino/plugin/opensearch/client/IndexMetadata.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestingPinotCluster.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/AbstractResourceConfigurationManager.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/Environment.java
  testing/trino-testing-services/src/main/java/io/trino/testing/TestingProperties.java
Labels: cla-signed, hive, elasticsearch, kafka, opensearch, pinot

#25442 Fix timestamp parsing issue in Regex and OpenX json deserializer
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/HiveFormatUtils.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/TestHiveFormatUtils.java
Labels: cla-signed

#25633 Rename hive.s3.storage-class-filter and add documentation
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/S3GlacierFilter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConfig.java
Labels: cla-signed, docs, hive

#25647 Improve the public documentation for hive.s3-glacier-filter config
  docs/src/main/sphinx/connector/hive.md
Labels: cla-signed, docs

#25645 Set check-commit timeout as 15 minutes
  .github/workflows/ci.yml
Labels: cla-signed

#18390 Add support for `GROUP BY AUTO` aggregation
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-grammar/src/test/java/io/trino/grammar/sql/TestSqlKeywords.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestAnalyzer.java
  core/trino-main/src/test/java/io/trino/sql/query/TestGroupBy.java
  core/trino-parser/src/main/java/io/trino/sql/ExpressionFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/tree/AstVisitor.java
  core/trino-parser/src/main/java/io/trino/sql/tree/AutoGroupBy.java
  core/trino-parser/src/main/java/io/trino/sql/tree/DefaultTraversalVisitor.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParserErrorHandling.java
  docs/src/main/sphinx/language/reserved.md
  docs/src/main/sphinx/sql/select.md
Labels: cla-signed, syntax-needs-review, docs, hive

#25260 Add support for CORRESPONDING option in set operations
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-grammar/src/test/java/io/trino/grammar/sql/TestSqlKeywords.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/test/java/io/trino/sql/query/TestSetOperations.java
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Corresponding.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Except.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Intersect.java
  core/trino-parser/src/main/java/io/trino/sql/tree/SetOperation.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Union.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  docs/src/main/sphinx/sql/select.md
Labels: cla-signed, docs

#25558 Document core artifacts and packages repo
  docs/src/main/sphinx/ext/download.py
  docs/src/main/sphinx/installation/containers.md
  docs/src/main/sphinx/installation/deployment.md
  docs/src/main/sphinx/installation/plugins.md
Labels: cla-signed, docs

#25606 Add 475 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-475.md
Labels: cla-signed, release-notes, docs

#25596 Inline page variable when pass to recordValidation
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
Labels: cla-signed

#25123 Migrate JDBC plugins to page source API
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcConfig.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DynamicFilteringJdbcSplitSource.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcModule.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcPageSource.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcPageSourceProvider.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcRecordSet.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcRecordSetProvider.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/RemoteQueryCancellationConfig.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/RemoteQueryCancellationModule.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcPageSource.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcPageSourceProvider.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestRemoteQueryCancellationConfig.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClientModule.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftClientModule.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftPageSourceProvider.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftSplitManager.java
  plugin/trino-redshift/src/main/java/io/trino/plugin/redshift/RedshiftUnloadConnector.java
Labels: cla-signed, postgresql, redshift, phoenix5

#25630 Remove deprecated constructors from some statements
  core/trino-main/src/main/java/io/trino/sql/rewrite/ShowQueriesRewrite.java
  core/trino-main/src/test/java/io/trino/dispatcher/TestLocalDispatchQuery.java
  core/trino-main/src/test/java/io/trino/execution/TestCreateTableTask.java
  core/trino-main/src/test/java/io/trino/execution/TestCreateViewTask.java
  core/trino-main/src/test/java/io/trino/execution/TestPrepareTask.java
  core/trino-parser/src/main/java/io/trino/sql/tree/CreateTable.java
  core/trino-parser/src/main/java/io/trino/sql/tree/CreateTableAsSelect.java
  core/trino-parser/src/main/java/io/trino/sql/tree/CreateView.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Explain.java
  core/trino-parser/src/main/java/io/trino/sql/tree/ExplainAnalyze.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Insert.java
  core/trino-parser/src/main/java/io/trino/sql/tree/Prepare.java
  core/trino-parser/src/main/java/io/trino/sql/tree/ShowStats.java
  core/trino-parser/src/test/java/io/trino/sql/TestSqlFormatter.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  service/trino-verifier/src/main/java/io/trino/verifier/QueryRewriter.java
Labels: cla-signed

#25660 Teach client libraries how to serialize spooling protocol
  client/trino-client/src/main/java/io/trino/client/QueryDataClientJacksonModule.java
  client/trino-client/src/main/java/io/trino/client/QueryDataJacksonModule.java
  client/trino-client/src/main/java/io/trino/client/TrinoJsonCodec.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestProgressMonitor.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/ServerQueryDataJacksonModule.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingServerModule.java
  core/trino-main/src/test/java/io/trino/server/TestQueryResource.java
  core/trino-main/src/test/java/io/trino/server/TestQueryStateInfoResource.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryDataSerialization.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryResultsSerialization.java
  testing/trino-tests/src/test/java/io/trino/tests/TestServer.java
Labels: cla-signed, jdbc

#25225 make Geometry comparable
  plugin/trino-geospatial/src/main/java/io/trino/plugin/geospatial/GeometryType.java
  plugin/trino-geospatial/src/test/java/io/trino/plugin/geospatial/TestGeoSpatialQueries.java
Labels: cla-signed

#25667 Support reading INT32 with integer annotation as DATE in parquet
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ColumnReaderFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/AbstractTestParquetReader.java
Labels: cla-signed, hive

#25553 Make it easier to pass complex config for Kafka event listener client
  docs/src/main/sphinx/admin/event-listeners-kafka.md
  plugin/trino-kafka-event-listener/src/main/java/io/trino/plugin/eventlistener/kafka/KafkaEventListenerConfig.java
  plugin/trino-kafka-event-listener/src/main/java/io/trino/plugin/eventlistener/kafka/KafkaEventPublisher.java
  plugin/trino-kafka-event-listener/src/test/java/io/trino/plugin/eventlistener/kafka/TestKafkaEventListenerConfig.java
Labels: cla-signed, docs

#25673 Do not warn on Unsafe usage in JDK 24 while using maven
  .mvn/jvm.config
Labels: cla-signed

#25451 Allow configuration to disable migrations
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/DbResourceGroupConfig.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/FlywayMigration.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/BaseTestDbResourceGroupsFlywayMigration.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupConfig.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupsMysqlFlywayMigration.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupsOracleFlywayMigration.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupsPostgresqlFlywayMigration.java
Labels: cla-signed

#25670 Fix memory calculation for already purged table
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryPagesStore.java
Labels: cla-signed, memory

#25681 Fix a wrong link in 475 release notes
  docs/src/main/sphinx/release/release-475.md
Labels: cla-signed, release-notes, docs

#25682 Add release note and documentation for OpenTelemetry HTTP export support
  docs/src/main/sphinx/admin/opentelemetry.md
  docs/src/main/sphinx/release/release-475.md
Labels: cla-signed, release-notes, docs

#25331 Update Iceberg to 1.9.0
  plugin/trino-iceberg/pom.xml
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergAvroPageSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionData.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TypeConverter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/SigV4AwsProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/HiveSchemaUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/OrcTypeConverter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergSplitSource.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/BaseTrinoCatalogTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestTrinoHiveCatalogWithHiveMetastore.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/util/EqualityDeleteUtils.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/snowflake/TestTrinoSnowflakeCatalog.java
  pom.xml
  testing/trino-faulttolerant-tests/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, iceberg

#25684 Simplify and test segment serialization/deserialization
  client/trino-client/src/main/java/io/trino/client/QueryDataJacksonModule.java
  client/trino-client/src/main/java/io/trino/client/spooling/DataAttributes.java
  client/trino-client/src/main/java/io/trino/client/spooling/EncodedQueryData.java
  client/trino-client/src/main/java/io/trino/client/spooling/InlineSegment.java
  client/trino-client/src/main/java/io/trino/client/spooling/SpooledSegment.java
  client/trino-client/src/test/java/io/trino/client/spooling/TestSpoolingDataSerialization.java
Labels: cla-signed

#25688 Fix flaky hive test bump table size sf2->sf3
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
Labels: cla-signed, no-release-notes, hive

#25689 Remove unused InterpretedHashGenerator#hashPosition method
  core/trino-main/src/main/java/io/trino/operator/InterpretedHashGenerator.java
Labels: cla-signed

#25662 Add max_partitions_per_writer session property in Iceberg Connector
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSinkProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
Labels: cla-signed, docs, iceberg

#25695 Update dependencies
  pom.xml
Labels: cla-signed

#25693 Fix graceful shutdown
  core/trino-main/src/main/java/io/trino/server/NodeStateManager.java
  core/trino-main/src/test/java/io/trino/server/TestNodeStateManager.java
Labels: cla-signed

#25701 Store catalog names in lower case
  core/trino-main/src/main/java/io/trino/connector/FileCatalogStore.java
Labels: cla-signed

#25708 Flaky TestNodeStateManager Add some slack to wait time
  core/trino-main/src/test/java/io/trino/server/TestNodeStateManager.java
Labels: cla-signed

#25700 Update docker-images to 112
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestingPolarisCatalog.java
  pom.xml
Labels: cla-signed, iceberg
