Repository trinodb/trino, pull requests merged in 2025-01, with the labels that each got.

#24604 Add physicalInputTimeMillis to io.trino.jdbc.QueryStats
  client/trino-client/src/main/java/io/trino/client/StatementStats.java
  client/trino-client/src/test/java/io/trino/client/TestRetry.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/QueryStats.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestAsyncResultIterator.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestProgressMonitor.java
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
  core/trino-main/src/main/java/io/trino/server/BasicQueryStats.java
  core/trino-main/src/main/java/io/trino/server/protocol/ProtocolUtil.java
  core/trino-main/src/test/java/io/trino/execution/MockManagedQueryExecution.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryDataSerialization.java
  core/trino-main/src/test/java/io/trino/server/protocol/TestQueryResultsSerialization.java
  testing/trino-tests/src/test/java/io/trino/memory/TestClusterMemoryLeakDetector.java
Labels: cla-signed, jdbc

#23815 Fix listing of files in AlluxioFileSystem
  lib/trino-filesystem-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioFileIterator.java
  lib/trino-filesystem-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioFileSystem.java
  lib/trino-filesystem-alluxio/src/main/java/io/trino/filesystem/alluxio/AlluxioUtils.java
  lib/trino-filesystem-alluxio/src/test/java/io/trino/filesystem/alluxio/TestAlluxioFileIterator.java
Labels: bug, cla-signed, stale

#24607 Add info about views in memory only
  docs/src/main/sphinx/connector/faker.md
Labels: cla-signed, docs

#24608 Minor improvements to Python UDF docs
  docs/src/main/sphinx/udf/python.md
Labels: cla-signed, docs

#24566 Add SSE-C option on native-filesystem security mapping
  docs/src/main/sphinx/object-storage/file-system-s3.md
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3Context.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SecurityMapping.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SecurityMappingConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SecurityMappingProvider.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3SecurityMappingResult.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3SecurityMapping.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3SecurityMappingConfig.java
  lib/trino-filesystem-s3/src/test/resources/io/trino/filesystem/s3/security-mapping.json
Labels: cla-signed, docs

#24609 Remove support for connector event listeners
  core/trino-main/src/main/java/io/trino/connector/ConnectorServices.java
  core/trino-main/src/main/java/io/trino/server/Server.java
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-main/src/test/java/io/trino/connector/MockConnectorFactory.java
  core/trino-main/src/test/java/io/trino/eventlistener/TestConnectorEventListener.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/Connector.java
  testing/trino-tests/src/test/java/io/trino/execution/TestConnectorEventListener.java
Labels: cla-signed

#24606 Derive aws sdk retry count from request count
  lib/trino-hdfs/src/main/java/io/trino/hdfs/s3/AwsSdkClientCoreStats.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/v1/AwsSdkClientCoreStats.java
Labels: cla-signed, hive

#24613 Minor cleanup in Hive Procedures
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/CreateEmptyPartitionProcedure.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/procedure/DropStatsProcedure.java
Labels: cla-signed, hive

#24614 Extend AbstractTestQueryFramework in TestRedshiftUnload
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/TestRedshiftUnload.java
Labels: cla-signed

#24630 Use correct table operations provider for Thrift metastore in Delta
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/thrift/DeltaLakeThriftMetastoreModule.java
Labels: cla-signed, delta-lake

#24626 Allow configuring gcs service endpoint
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsFileSystemConfig.java
  lib/trino-filesystem-gcs/src/main/java/io/trino/filesystem/gcs/GcsStorageFactory.java
  lib/trino-filesystem-gcs/src/test/java/io/trino/filesystem/gcs/TestGcsFileSystemConfig.java
Labels: cla-signed, needs-docs

#24634 Update delta-kernel to 3.3.0
  plugin/trino-delta-lake/pom.xml
Labels: cla-signed, delta-lake

#24584 Allow configuring `orc_bloom_filter_columns` with `SET PROPERTIES` in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergOrcWithBloomFilters.java
Labels: cla-signed, iceberg

#24623 Lower log level
  core/trino-main/src/main/java/io/trino/cost/CachingStatsProvider.java
Labels: cla-signed

#24640 Remove <name> from trino-ranger pom
  plugin/trino-ranger/pom.xml
Labels: cla-signed

#24644 Clarify that spooling locations must not be shared
  docs/src/main/sphinx/admin/properties-client-protocol.md
  docs/src/main/sphinx/client/client-protocol.md
Labels: cla-signed, docs

#24645 Add docs for gcs.endpoint
  docs/src/main/sphinx/object-storage/file-system-gcs.md
Labels: cla-signed, docs

#24519 Enable Phoenix product test
  testing/trino-product-tests/src/main/java/io/trino/tests/product/phoenix/TestPhoenix.java
Labels: cla-signed

#24478 fix(docs): OPA allow-permission-management-operations config name
  docs/src/main/sphinx/security/opa-access-control.md
Labels: cla-signed, docs

#24438 Aplhabetize additional IDE configurations on docs
  .github/DEVELOPMENT.md
Labels: cla-signed

#24410 Remove defunct hive metastore property from docs
  docs/src/main/sphinx/object-storage/metastores.md
Labels: cla-signed, docs, stale-ignore

#24649 Fix correctness issue when writing deletion vectors in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
Labels: cla-signed, correctness, delta-lake

#24632 Update doc for merge
  core/trino-main/src/main/java/io/trino/operator/MergeRowChangeProcessor.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMergeSink.java
  docs/src/main/sphinx/develop/supporting-merge.md
Labels: cla-signed, docs

#24653 Fix gcs.endpoint property name in docs
  docs/src/main/sphinx/object-storage/file-system-gcs.md
Labels: cla-signed, docs

#24633 Enable dynamic catalogs for product-tests
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/hadoop-kerberos/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/standard-multinode/multinode-master-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/standard-multinode/multinode-worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/standard/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/task-retries-multinode/multinode-master-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/common/task-retries-multinode/multinode-worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-postgresql-spooling/coordinator-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-postgresql-spooling/worker-config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-secrets-provider/config-master.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-secrets-provider/config-worker.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls-kerberos/config-master.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls-kerberos/config-worker.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls/config-master.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-tls/config-worker.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-compatibility/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-ldap-and-file/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-ldap/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-authenticated-http-proxy/trino/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-authenticated-https-proxy/trino/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-http-proxy/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-https-proxy/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2-refresh/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oauth2/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oidc-refresh/config.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/singlenode-oidc/config.properties
Labels: cla-signed

#24619 Improve docs for Redshift parallel read
  docs/src/main/sphinx/connector/redshift.md
Labels: cla-signed, docs

#24656 Expose extra stats from SqlTaskManager
  core/trino-main/src/main/java/io/trino/execution/SqlTaskManager.java
Labels: cla-signed

#24655 Disable spooling through session property
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/execution/QueryStateMachine.java
Labels: cla-signed

#24665 Suppress warning when building with mvnd
  .mvn/jvm.config
Labels: cla-signed

#24670 Add docs for spooling_protocol_enabled session property
  docs/src/main/sphinx/admin/properties-client-protocol.md
Labels: cla-signed, docs

#24542 Document $entries table in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#24285 Document limit pushdown in BigQuery connector
  docs/src/main/sphinx/connector/bigquery.md
Labels: cla-signed, docs, stale

#24669 Grant privileges only on TPCH tables in Redshift query runner
  plugin/trino-redshift/src/test/java/io/trino/plugin/redshift/RedshiftQueryRunner.java
Labels: cla-signed

#24672 Remove unused NoopFunctionProvider
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/NoopFunctionProvider.java
Labels: cla-signed, hive

#24671 Fix incorrect result when reading deletion vectors in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/_change_data/cdc-00000-8e47b370-7c53-4609-9432-1bbd8d71463a.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/deletion_vector_36de4107-c227-4588-867c-a788f18f5e4d.bin
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/part-00000-2007aafe-e829-46a6-b6cf-97f6ec686718.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/deletion_vector_pages/part-00000-8e78760d-6337-4ce4-a7b8-3ce3e7c5be44-c000.snappy.parquet
Labels: cla-signed, correctness, delta-lake

#24677 Fix query runners failing to expose local ports
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/TestContainers.java
Labels: cla-signed

#24667 Ensure visibility of finalSinkMetrics
  core/trino-main/src/main/java/io/trino/execution/buffer/SpoolingExchangeOutputBuffer.java
Labels: cla-signed, no-release-notes

#24515 Update supported clickhouse versions
  docs/src/main/sphinx/connector/clickhouse.md
  plugin/trino-clickhouse/pom.xml
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClientModule.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestingClickHouseServer.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeClickhouse.java
  testing/trino-product-tests/pom.xml
Labels: cla-signed, docs, needs-docs

#24682 Revert "Update supported clickhouse versions"
  docs/src/main/sphinx/connector/clickhouse.md
  plugin/trino-clickhouse/pom.xml
  plugin/trino-clickhouse/src/main/java/io/trino/plugin/clickhouse/ClickHouseClientModule.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestClickHouseConnectorTest.java
  plugin/trino-clickhouse/src/test/java/io/trino/plugin/clickhouse/TestingClickHouseServer.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeClickhouse.java
  testing/trino-product-tests/pom.xml
Labels: cla-signed, docs

#24127 Support JDBC validate connection
  client/trino-client/src/main/java/io/trino/client/uri/ConnectionProperties.java
  client/trino-client/src/main/java/io/trino/client/uri/PropertyName.java
  client/trino-client/src/main/java/io/trino/client/uri/TrinoUri.java
  client/trino-client/src/test/java/io/trino/client/uri/TestTrinoUri.java
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcConnection.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriver.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriverUri.java
  core/trino-main/src/main/java/io/trino/dispatcher/QueuedStatementResource.java
  docs/src/main/sphinx/client/jdbc.md
Labels: cla-signed, docs, jdbc

#24549 Clarify docs for multiple access controls
  docs/src/main/sphinx/security/built-in-system-access-control.md
  docs/src/main/sphinx/security/opa-access-control.md
  docs/src/main/sphinx/security/ranger-access-control.md
Labels: cla-signed, docs

#24475 Sort queries on worker status web ui by descending reserved memory
  core/trino-web-ui/src/main/resources/webapp/src/components/WorkerStatus.jsx
Labels: cla-signed, ui

#24686 Docs for Iceberg $all_entries
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#24691 Fix code formatting in Preview Web UI
  core/trino-web-ui/src/main/resources/webapp-preview/package.json
  core/trino-web-ui/src/main/resources/webapp-preview/src/api/base.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/api/webapp/api.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/api/webapp/auth.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Auth.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/AuthContext.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/AuthProvider.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/CodeBlock.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Dashboard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/DemoComponents.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Layout.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Login.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/MetricCard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/SnackbarContext.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/SnackbarProvider.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Workers.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/store/config.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/store/index.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/utils/merge.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/utils/utils.ts
Labels: cla-signed, ui

#24674 Support unpartitioned tables in Kudu
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/properties/KuduTableProperties.java
  plugin/trino-kudu/src/main/java/io/trino/plugin/kudu/properties/RangePartitionDefinition.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
Labels: cla-signed

#24693 Fix flaky TestQueryManagerConfig
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
Labels: cla-signed

#24688 Replace airlift's auth preserving client with okhttp
  service/trino-proxy/pom.xml
  service/trino-proxy/src/main/java/io/trino/proxy/AuthPreservingInterceptor.java
  service/trino-proxy/src/main/java/io/trino/proxy/ProxyModule.java
  service/trino-proxy/src/main/java/io/trino/proxy/ProxyResource.java
  service/trino-proxy/src/main/java/io/trino/proxy/ProxyResponseHandler.java
Labels: cla-signed

#24695 Update airlift to 295
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemModule.java
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/HdfsFileSystemLoader.java
  lib/trino-hdfs/src/main/java/io/trino/filesystem/hdfs/HdfsFileSystemManager.java
  lib/trino-hdfs/src/test/java/io/trino/filesystem/hdfs/TestHdfsFileSystemManager.java
  pom.xml
Labels: cla-signed

#21520 Add retry_policy session property docs
  docs/.vale/config/vocabularies/Base/accept.txt
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs, stale-ignore

#24558 Avoid writing NaN and Infinity with json format table
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/HiveFormatsErrorCode.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/line/json/JsonSerializer.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveErrorCode.java
Labels: cla-signed, hive

#24690 Adjust docs for manifests metadata table in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#22443 Add concurrent writes reconciliation for OPTIMIZE in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/procedure/DeltaTableOptimizeHandle.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeLocalConcurrentWritesTest.java
Labels: cla-signed, delta-lake, stale-ignore

#24697 Add info about Python client spooling support
  docs/src/main/sphinx/client/client-protocol.md
Labels: cla-signed, docs

#24706 Update airlift to 296
  core/trino-main/src/main/java/io/trino/server/ThrowableMapper.java
  pom.xml
Labels: cla-signed

#24494 Add support for filtering queries by client tags in the Web UI
  core/trino-main/src/main/java/io/trino/server/ui/TrimmedBasicQueryInfo.java
  core/trino-web-ui/src/main/resources/webapp/src/components/QueryList.jsx
Labels: cla-signed, ui

#24689 Configure Phoenix server scan page timeout
  docs/src/main/sphinx/connector/phoenix.md
  plugin/trino-phoenix5/pom.xml
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClientModule.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConfig.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConfig.java
Labels: cla-signed, docs

#24700 Add test for JsonSerializer NaN / Infinite handling
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/json/TestJsonFormat.java
Labels: cla-signed

#24710 Fix Exasol flaky tests. Avoid exposing not required ports
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestingExasolServer.java
Labels: cla-signed

#24719 Remove system.iceberg_tables table function
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitManager.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/IcebergFunctionProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tables/IcebergTablesFunction.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tables/IcebergTablesFunctionProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMinioConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseSharedMetastoreTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergUnityRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#24244 Fix failure when setting NULL in UPDATE statement in JDBC-based connectors
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultQueryBuilder.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, hive

#23761 Add docs for json_table
  docs/src/main/sphinx/functions/json.md
  docs/src/main/sphinx/sql/select.md
Labels: cla-signed, docs

#24736 Reduce task.info.max-age to 5m
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
Labels: cla-signed

#24704 Improve test coverage for ThriftHttpMetastoreClient
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftHttpMetastoreClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestingThriftHttpMetastoreServer.java
Labels: cla-signed, hive

#24740 Test the effectiveness of partial partition pruning
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergFileOperations.java
Labels: cla-signed, iceberg

#24750 Remove experimental warning for Python UDF
  docs/src/main/sphinx/release/release-468.md
  docs/src/main/sphinx/udf/python.md
Labels: cla-signed, release-notes, docs

#24752 Rename BigQuery test credentials key config
  .github/workflows/ci.yml
  plugin/trino-bigquery/README.md
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BigQueryQueryRunner.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQuerySplitManager.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryWithDifferentProjectIdConnectorSmokeTest.java
Labels: cla-signed, bigquery

#24733 Update AWS SDK v2 to 2.30.0
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemMinIo.java
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/common/Minio.java
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/Minio.java
Labels: cla-signed

#24766 Remove unused argument
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
  core/trino-main/src/test/java/io/trino/execution/TaskTestUtils.java
Labels: cla-signed

#24764 Verify that TableScanNode's assignments match the output symbols
  core/trino-main/src/main/java/io/trino/sql/planner/plan/TableScanNode.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestMultipleDistinctAggregationsToSubqueries.java
Labels: cla-signed

#24709 Fix incomplete results from iceberg table_changes function
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/tablechanges/TableChangesSplitSource.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetConnectorTest.java
Labels: bug, cla-signed, iceberg

#24781 Make configuration and session property names consistent
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingConfig.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingSessionProperties.java
  core/trino-main/src/test/java/io/trino/server/protocol/spooling/TestSpoolingConfig.java
Labels: cla-signed

#24774 Add more details about numeric and varbinary literals
  docs/src/main/sphinx/language/types.md
Labels: cla-signed, docs

#24761 Document spooling session properties
  docs/src/main/sphinx/admin/properties-client-protocol.md
Labels: cla-signed, docs

#24778 Improve error handling for delete and truncate in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
Labels: cla-signed, iceberg

#24803 Temporarily disable Snowflake tests
  .github/workflows/ci.yml
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/snowflake/TestTrinoSnowflakeCatalog.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeTypeMapping.java
Labels: cla-signed, iceberg

#24629 Fix error with multiple nested partition columns on Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPartitioningHandle.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
Labels: cla-signed, iceberg

#24802 Remove deprecated method addColumn from JdbcClient
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/RetryingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
Labels: cla-signed

#24428 Support MERGE for MySQL connector
  docs/src/main/sphinx/connector/mysql.md
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-ignite/src/test/java/io/trino/plugin/ignite/TestIgniteConnectorTest.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlFailureRecoveryTest.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlGlobalTransactionMyConnectorSmokeTest.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorSmokeTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, docs

#23923 Remove the Kinesis connector
  core/trino-server/src/main/provisio/trino.xml
  docs/release-template.md
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/kinesis.md
  docs/src/main/sphinx/redirects.txt
  docs/src/main/sphinx/release/release-320.md
  docs/src/main/sphinx/static/img/kinesis.png
  plugin/trino-kinesis/pom.xml
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisClientManager.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisClientProvider.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisColumnHandle.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisCompressionCodec.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisConfig.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisConnector.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisConnectorFactory.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisErrorCode.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisInternalFieldDescription.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisMetadata.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisModule.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisPlugin.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisRecordSet.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisRecordSetProvider.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisSessionProperties.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisShardCheckpointer.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisSplit.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisSplitManager.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisStreamDescription.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisStreamFieldDescription.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisStreamFieldGroup.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisTableDescriptionSupplier.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisTableHandle.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/KinesisTransactionHandle.java
  plugin/trino-kinesis/src/main/java/io/trino/plugin/kinesis/s3config/S3TableConfigClient.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisConfig.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisPlugin.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestKinesisTableDescriptionSupplier.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestMinimalFunctionality.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestRecordAccess.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/TestingKinesisConnectorFactory.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/s3config/TestS3TableConfigClient.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/util/EmbeddedKinesisStream.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/util/KinesisTestClientManager.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/util/MockKinesisClient.java
  plugin/trino-kinesis/src/test/java/io/trino/plugin/kinesis/util/TestUtils.java
  plugin/trino-kinesis/src/test/resources/decoder/json/event.json
  plugin/trino-kinesis/src/test/resources/decoder/json/message.json
  plugin/trino-kinesis/src/test/resources/etc/catalog/kinesis.properties
  plugin/trino-kinesis/src/test/resources/etc/kinesis/testtable.json
  plugin/trino-kinesis/src/test/resources/tableDescriptions/EmptyTable.json
  plugin/trino-kinesis/src/test/resources/tableDescriptions/MinimalTable.json
  plugin/trino-kinesis/src/test/resources/tableDescriptions/SampleAutomaticCompressTable.json
  plugin/trino-kinesis/src/test/resources/tableDescriptions/SampleGzipCompressTable.json
  plugin/trino-kinesis/src/test/resources/tableDescriptions/SampleTable.json
  plugin/trino-kinesis/src/test/resources/tableDescriptions/TableWithMessage.json
  pom.xml
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeAllConnectors.java
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-all/kinesis.properties
Labels: cla-signed, release-notes, docs

#24816 Fix failure when adding columns with dots in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#23639 Update client libraries to JDK 11
  client/trino-cli/pom.xml
  client/trino-client/pom.xml
  client/trino-jdbc/pom.xml
Labels: cla-signed, jdbc, stale-ignore

#24806 Use newTrinoTable in more places
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSystemTables.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergOrcWithBloomFilters.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorSmokeTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, iceberg, delta-lake

#24767 Fix null check in the array_histogram
  core/trino-main/src/main/java/io/trino/operator/scalar/ArrayHistogramFunction.java
Labels: cla-signed

#24822 Set validation to WHEN_REQUIRED for FTE exchange
  plugin/trino-exchange-filesystem/src/main/java/io/trino/plugin/exchange/filesystem/s3/S3FileSystemExchangeStorage.java
Labels: cla-signed

#24825 Remove S3 legacy migration guide considerations
  docs/src/main/sphinx/object-storage/legacy-s3.md
Labels: cla-signed, docs

#24597 Cast table properties based on its type in Faker connector
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerMetadata.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed

#24599 Add test for renameTable in Faker connector
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed

#23053 Introduce Loki connector.
  core/trino-server/src/main/provisio/trino.xml
  plugin/trino-loki/README.md
  plugin/trino-loki/pom.xml
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiColumnHandle.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiConnector.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiConnectorConfig.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiConnectorFactory.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiErrorCode.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiMatrixValuePairsIterator.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiMetadata.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiModule.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiPlugin.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiQueryResultIterator.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiRecordCursor.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiRecordSet.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiRecordSetProvider.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiSplit.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiSplitManager.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiStreamEntriesIterator.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiTableFunction.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiTableFunctionProvider.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiTableHandle.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/LokiQueryRunner.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiIntegration.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestingLokiServer.java
  pom.xml
Labels: cla-signed

#24832 Allow setting catalog type in Iceberg query runner
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
Labels: cla-signed, iceberg

#24833 Fix Timestamp assertion test for metrics query
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiIntegration.java
Labels: cla-signed

#24830 Minor cleanup in Loki connector
  plugin/trino-loki/README.md
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiConfig.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiConnectorConfig.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiMatrixValuePairsIterator.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiMetadata.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiModule.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiRecordSet.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiSplit.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiStreamEntriesIterator.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiTableFunctionProvider.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiTableHandle.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/QueryRangeTableFunction.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/LokiQueryRunner.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiConfig.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiIntegration.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestingLokiServer.java
Labels: cla-signed

#24192 Inform user what are extractable date/time fields
  core/trino-main/src/test/java/io/trino/operator/scalar/time/TestExtract.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timestamp/TestExtract.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timestamptz/TestExtract.java
  core/trino-main/src/test/java/io/trino/operator/scalar/timetz/TestExtract.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
Labels: cla-signed, no-release-notes

#24829 Support non-lower case variables in functions
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutineAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutinePlanner.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
Labels: cla-signed

#24836 Update docs with updated Postgres version
  docs/src/main/sphinx/connector/postgresql.md
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlTimeMappingsWithServerTimeZone.java
Labels: cla-signed, docs

#24446 Close StatementClient when hitting client-side timeout
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
Labels: cla-signed

#24843 Add JMX metrics for S3 http client usage in native FS.
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/AwsSdkV2HttpClientStats.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemStats.java
Labels: cla-signed

#24841 Fix a wrong issue link in 469 release notes
  docs/src/main/sphinx/release/release-469.md
Labels: cla-signed, release-notes, docs

#24845 Remove unreachable code from Exasol
  plugin/trino-exasol/src/test/java/io/trino/plugin/exasol/TestExasolConnectorTest.java
Labels: cla-signed

#24512 Fix failure when equality delete updated nested fields in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/delete/EqualityDeleteFilter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#24847 Remove 'LOCAL TEMPORARY' from DuckDbClient
  plugin/trino-duckdb/src/main/java/io/trino/plugin/duckdb/DuckDbClient.java
Labels: cla-signed

#24842 Update gcs-connector to 3.0.4
  lib/trino-hdfs/src/main/java/io/trino/hdfs/gcs/GcsAccessTokenProvider.java
  lib/trino-hdfs/src/main/java/io/trino/hdfs/gcs/GcsStorageFactory.java
  lib/trino-hdfs/src/main/java/io/trino/hdfs/gcs/GoogleGcsConfigurationInitializer.java
  pom.xml
Labels: cla-signed

#24696 Propagate function lifecycle events to SystemSecurityMetadata
  core/trino-main/src/main/java/io/trino/metadata/DisabledSystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/metadata/SystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/testing/TestingAccessControlManager.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
  testing/trino-tests/src/test/java/io/trino/security/TestingSystemSecurityMetadata.java
Labels: cla-signed

#24850 Improve case insensitive matching fragment
  docs/src/main/sphinx/connector/jdbc-case-insensitive-matching.fragment
Labels: cla-signed, docs

#24853 Reenable Snowflake tests
  .github/workflows/ci.yml
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/snowflake/TestTrinoSnowflakeCatalog.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeConnectorTest.java
  plugin/trino-snowflake/src/test/java/io/trino/plugin/snowflake/TestSnowflakeTypeMapping.java
Labels: cla-signed, iceberg

#24685 Add docs for authentication with Preview Web UI
  docs/src/main/sphinx/admin/preview-web-interface.md
Labels: cla-signed, docs

#24855 Make number of commit retries configurable in Iceberg
  docs/src/main/sphinx/connector/iceberg.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergTableProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMaterializedViewTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergGlueCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogNestedNamespaceConnectorSmokeTest.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveRedirectionToIceberg.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergPartitionEvolution.java
Labels: cla-signed, docs, iceberg

#24828 Correctly categorize external errors in Iceberg REST catalog
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogNestedNamespaceConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergTrinoRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergVendingRestCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
Labels: cla-signed, iceberg

#24857 Add more connectors to labeler-config
  .github/config/labeler-config.yml
Labels: cla-signed, maintenance

#24462 Support multiple state filters on getAllQueryInfo API
  core/trino-main/src/main/java/io/trino/server/QueryResource.java
  core/trino-main/src/test/java/io/trino/server/TestQueryResource.java
Labels: cla-signed

#24741 Add workers pages to the Preview Web UI
  core/trino-web-ui/src/main/resources/webapp-preview/src/App.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/api/webapp/api.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Dashboard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/MetricCard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/WorkerStatus.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Workers.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/WorkersList.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/constant.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/router.tsx
Labels: cla-signed, ui

#24865 Fix typo in Python docs
  docs/src/main/sphinx/udf/python.md
Labels: cla-signed, docs
