Repository trinodb/trino, pull requests merged in 2025-03, with the labels that each got.

#25056 Support read inCommitTimestamp in Delta Lake history table
  docs/src/main/sphinx/connector/delta-lake.md
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeHistoryTable.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/CommitInfoEntry.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/part-00000-3c9ea642-138f-4ba0-9350-85c9a4f61fda-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/in_commit_timestamp_history_read/part-00000-99335e76-9f86-4491-ad2c-4acedfa2fa31-c000.snappy.parquet
Labels: cla-signed, docs, delta-lake

#25194 Fixed a bug that wrong sidecar size passed into reader
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TableSnapshot.java
Labels: cla-signed, delta-lake

#25197 Update airbase to 227 & AWS SDK v2
  pom.xml
Labels: cla-signed

#25191 Set setRoles after roles are reset in trino-jdbc
  client/trino-jdbc/pom.xml
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestJdbcConnection.java
Labels: cla-signed, jdbc

#25175 Add `system.bucket` function to Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/functions/IcebergFunctionProvider.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/functions/TestBucketFunctions.java
Labels: cla-signed, iceberg

#25210 Remove unused Groovy plugin declaration
  pom.xml
Labels: cla-signed

#25212 Add validation cpu time calculation in AbstractDeltaLakePageSink
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/AbstractDeltaLakePageSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
Labels: cla-signed, delta-lake

#25213 Update cloud SDKs
  pom.xml
Labels: cla-signed

#25209 Remove redundant default Hadoop FS config
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/DeltaLakeQueryRunner.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAdlsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAdlsStorage.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeGcsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeMinioAndHmsConnectorSmokeTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeSharedHiveMetastoreWithViews.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaS3AndGlueMetastoreTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveQueryRunner.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveCustomCatalogConnectorSmokeTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveS3AndGlueMetastoreTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestHiveMetastoreCatalogs.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/S3HiveQueryRunner.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/s3/TestS3FileSystemAccessOperations.java
  plugin/trino-hudi/src/test/java/io/trino/plugin/hudi/HudiQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMinioConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergAbfsConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergGcsConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMinioOrcConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergParquetWithBloomFiltersMixedCase.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergReadVersionedTableByTemporal.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestSharedHiveThriftMetastore.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestIcebergS3AndGlueMetastoreTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergS3TablesConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergVendingRestCatalogConnectorSmokeTest.java
Labels: cla-signed, hudi, iceberg, delta-lake, hive

#25203 Update docker-images to 110
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergQueryRunner.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergPolarisCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestingPolarisCatalog.java
  pom.xml
  testing/trino-product-tests/src/main/java/io/trino/tests/product/iceberg/TestIcebergSparkCompatibility.java
Labels: cla-signed, iceberg

#24982 Support integral cast projection pushdown in PostgreSql
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/rule/RewriteCast.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlCastPushdown.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
Labels: cla-signed, postgresql

#25218 Serafin/march 5 updates
  pom.xml
Labels: cla-signed

#25193 Push TopN through non-identity projection unconditionally
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/PushTopNThroughProject.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPushTopNThroughProject.java
Labels: cla-signed

#25146 Improve DuckDB connector docs
  docs/src/main/sphinx/connector/duckdb.md
Labels: cla-signed, docs

#25026 Add minimal tarball
  .github/workflows/ci.yml
  core/trino-server-core/NOTICE
  core/trino-server-core/README.txt
  core/trino-server-core/pom.xml
  core/trino-server-core/src/main/provisio/trino-core.xml
  core/trino-server-core/src/test/java/io/trino/server/TestDummy.java
  core/trino-server/README.txt
  core/trino-server/src/main/provisio/trino.xml
  pom.xml
Labels: cla-signed, docs

#25220 Use a proper variable in assertion
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
Labels: cla-signed, iceberg

#25222 Optimize BigQuery listing tables
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryMetadata.java
Labels: cla-signed, bigquery

#25101 Add Trino 472 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-472.md
Labels: cla-signed, release-notes, docs

#24055 Fix case-sensitivity issue with views and column masks
  core/trino-main/src/main/java/io/trino/sql/analyzer/Analysis.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/sql/planner/RelationPlanner.java
  core/trino-main/src/test/java/io/trino/sql/query/TestColumnMask.java
Labels: cla-signed

#25207 Remove Phoenix connector
  .github/config/labeler-config.yml
  .github/workflows/ci.yml
  core/trino-server/src/main/provisio/trino.xml
  docs/release-template.md
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/phoenix.md
  docs/src/main/sphinx/installation/plugins.md
  docs/src/main/sphinx/redirects.txt
  docs/src/main/sphinx/release/release-312.md
  docs/src/main/sphinx/static/img/phoenix.png
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-phoenix5/pom.xml
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/ConfigurationInstantiator.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/MetadataUtil.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClient.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixClientModule.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixColumnProperties.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConfig.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConnector.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixConnectorFactory.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixErrorCode.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMergeSink.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMergeTableHandle.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixMetadata.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixOutputTableHandle.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixPageSinkProvider.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixPlugin.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixSessionProperties.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixSplit.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixSplitManager.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/PhoenixTableProperties.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/SerializedPhoenixInputSplit.java
  plugin/trino-phoenix5/src/main/java/io/trino/plugin/phoenix5/TypeUtils.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/PhoenixQueryRunner.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/PhoenixSqlExecutor.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/PhoenixTestTable.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConfig.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixConnectorTest.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixPlugin.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixSplit.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestPhoenixTypeMapping.java
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestingPhoenixServer.java
  pom.xml
  testing/trino-product-tests-groups/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeAllConnectors.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodePhoenix5.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/Suite6NonGeneric.java
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-all/phoenix5.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-phoenix5/hbase-site.xml
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-phoenix5/jvm.config
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-phoenix5/phoenix.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-phoenix5/tempto-configuration.yaml
  testing/trino-product-tests/src/main/java/io/trino/tests/product/phoenix/TestPhoenix.java
Labels: cla-signed, release-notes, docs, phoenix5

#25227 Add download links for plugins
  docs/src/main/sphinx/ext/download.py
  docs/src/main/sphinx/installation/plugins.md
Labels: cla-signed, docs

#25239 Add AI functions to plugin list
  docs/src/main/sphinx/ext/download.py
  docs/src/main/sphinx/installation/plugins.md
Labels: cla-signed, docs

#25238 Rename plugin folder for Ranger in binaries
  core/trino-server/src/main/provisio/trino.xml
  docs/src/main/sphinx/installation/plugins.md
Labels: cla-signed, docs

#25229 Limit default `bigquery.metadata.parallelism` value to 32
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
Labels: cla-signed, bigquery

#25246 Static import class and method in FileOperationUtils
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergAlluxioCacheFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergFileOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergMemoryCacheFileOperations.java
Labels: cla-signed, iceberg

#25254 Add debug logging to BigQuery getTable api failure
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
Labels: cla-signed, bigquery

#24922 Add more properties to Iceberg $properties result
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PropertiesTable.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
Labels: cla-signed, iceberg

#25264 Update minimum Vertica version to 11
  docs/src/main/sphinx/connector/vertica.md
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaConnectorSmokeTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaLatestConnectorSmokeTest.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestVerticaTableStatistics.java
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestingVerticaServer.java
Labels: cla-signed, docs, vertica

#25271 Close currentRows silently
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
Labels: cla-signed

#25284 Remove unused TranslateHiveViews annotation
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/TranslateHiveViews.java
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/IcebergHiveMetastoreCatalogModule.java
Labels: cla-signed, hudi, iceberg, delta-lake, hive

#25232 Update Jetty to 12.0.17
  pom.xml
Labels: cla-signed

#25292 Fix docs for JSON path arguments
  docs/src/main/sphinx/functions/json.md
Labels: cla-signed, docs

#25291 Use the new configuration-testing module
  core/trino-main/pom.xml
  lib/trino-filesystem-alluxio/pom.xml
  lib/trino-filesystem-azure/pom.xml
  lib/trino-filesystem-cache-alluxio/pom.xml
  lib/trino-filesystem-gcs/pom.xml
  lib/trino-filesystem-manager/pom.xml
  lib/trino-filesystem-s3/pom.xml
  lib/trino-filesystem/pom.xml
  lib/trino-hdfs/pom.xml
  lib/trino-metastore/pom.xml
  lib/trino-plugin-toolkit/pom.xml
  plugin/trino-ai-functions/pom.xml
  plugin/trino-base-jdbc/pom.xml
  plugin/trino-bigquery/pom.xml
  plugin/trino-cassandra/pom.xml
  plugin/trino-clickhouse/pom.xml
  plugin/trino-delta-lake/pom.xml
  plugin/trino-elasticsearch/pom.xml
  plugin/trino-example-http/pom.xml
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-exchange-hdfs/pom.xml
  plugin/trino-faker/pom.xml
  plugin/trino-google-sheets/pom.xml
  plugin/trino-hive/pom.xml
  plugin/trino-http-event-listener/pom.xml
  plugin/trino-hudi/pom.xml
  plugin/trino-iceberg/pom.xml
  plugin/trino-jmx/pom.xml
  plugin/trino-kafka-event-listener/pom.xml
  plugin/trino-kafka/pom.xml
  plugin/trino-loki/pom.xml
  plugin/trino-memory/pom.xml
  plugin/trino-mongodb/pom.xml
  plugin/trino-mysql-event-listener/pom.xml
  plugin/trino-mysql/pom.xml
  plugin/trino-opa/pom.xml
  plugin/trino-openlineage/pom.xml
  plugin/trino-opensearch/pom.xml
  plugin/trino-oracle/pom.xml
  plugin/trino-password-authenticators/pom.xml
  plugin/trino-pinot/pom.xml
  plugin/trino-postgresql/pom.xml
  plugin/trino-prometheus/pom.xml
  plugin/trino-ranger/pom.xml
  plugin/trino-redis/pom.xml
  plugin/trino-redshift/pom.xml
  plugin/trino-resource-group-managers/pom.xml
  plugin/trino-session-property-managers/pom.xml
  plugin/trino-singlestore/pom.xml
  plugin/trino-snowflake/pom.xml
  plugin/trino-spooling-filesystem/pom.xml
  plugin/trino-sqlserver/pom.xml
  plugin/trino-thrift/pom.xml
  plugin/trino-tpcds/pom.xml
  pom.xml
  service/trino-proxy/pom.xml
  service/trino-verifier/pom.xml
  testing/trino-server-dev/pom.xml
Labels: cla-signed, hudi, iceberg, delta-lake, hive, bigquery, mongodb, snowflake, cassandra, clickhouse, elasticsearch, faker, google-sheets, kafka, loki, memory, mysql, opensearch, oracle, pinot, postgresql, prometheus, redis, redshift, singlestore, sqlserver

#25283 Remove deprecated getSplitBucketFunction
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorNodePartitioningProvider.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeNodePartitioningProvider.java
Labels: cla-signed

#25304 Fix typo in CheckpointEntryIterator
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
Labels: cla-signed, delta-lake

#25305 Make util class VectorBitPackingUtils final
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/flat/VectorBitPackingUtils.java
Labels: cla-signed

#25301 Add simpler array literal syntax
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-main/src/test/java/io/trino/type/TestArrayOperators.java
Labels: cla-signed, syntax-needs-review

#24851 Set write compression codec in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergSystemTables.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/BaseTrinoCatalogTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/file/TestTrinoHiveCatalogWithFileMetastore.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestTrinoHiveCatalogWithHiveMetastore.java
Labels: cla-signed, iceberg

#25309 Fix logical merge conflict in IcebergUtil
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
Labels: cla-signed, iceberg

#25176 Enable TestIcebergS3TablesConnectorSmokeTest test
  plugin/trino-iceberg/README.md
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergS3TablesConnectorSmokeTest.java
Labels: cla-signed, iceberg

#25312 Fix min/max stats generation in TestCheckpointEntryIterator
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointEntryIterator.java
Labels: cla-signed, delta-lake

#25313 Add a missing dependency in LDAP group provider plugin
  plugin/trino-ldap-group-provider/pom.xml
Labels: cla-signed

#25314 Use OptionalLong for JoinStatisticsCounter
  core/trino-main/src/main/java/io/trino/operator/join/JoinOperatorInfo.java
  core/trino-main/src/main/java/io/trino/operator/join/JoinStatisticsCounter.java
  core/trino-main/src/test/java/io/trino/operator/join/TestJoinOperatorInfo.java
Labels: cla-signed

#25297 Fix failure when commenting on non-lowercased view columns
  core/trino-main/src/main/java/io/trino/execution/CommentTask.java
  core/trino-main/src/test/java/io/trino/execution/TestCommentTask.java
Labels: cla-signed

#25253 Add docs for system.bucket function in iceberg
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#25326 Remove unused code from Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeWriter.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointSchemaManager.java
Labels: cla-signed, delta-lake

#25327 Remove unused code from Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/PageListBuilder.java
Labels: cla-signed, iceberg

#25250 Remove Databricks unity catalog integration
  .github/workflows/ci.yml
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-hive/pom.xml
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/HttpThriftMetastoreClientFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/StaticMetastoreConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/StaticTokenAwareHttpMetastoreClientFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHttpMetastoreConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHttpMetastoreFactory.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreModule.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHivePlugin.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftHttpMetastoreClient.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestThriftHttpMetastoreConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestUnityMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/TestingThriftHttpMetastoreServer.java
  testing/trino-product-tests-groups/src/main/java/io/trino/tests/product/TestGroups.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/env/environment/EnvMultinodeDatabricksHttpHms.java
  testing/trino-product-tests-launcher/src/main/java/io/trino/tests/product/launcher/suite/suites/SuiteDatabricksUnityHttpHms.java
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-databricks-http-hms/delta.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-databricks-http-hms/hive.properties
  testing/trino-product-tests-launcher/src/main/resources/docker/trino-product-tests/conf/environment/multinode-databricks-http-hms/tempto-configuration.yaml
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDatabricksUnityCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/hive/TestHiveDatabricksUnityCompatibility.java
Labels: cla-signed, docs, hive

#25336 Refactor TestOracleCastPushdown to align with Trino guidelines
  plugin/trino-oracle/src/test/java/io/trino/plugin/oracle/TestOracleCastPushdown.java
Labels: cla-signed, oracle

#25345 Use java-string-similarity and JaroWinkler for fuzzy matching
  core/trino-main/pom.xml
  core/trino-main/src/main/java/io/trino/execution/SessionPropertyEvaluator.java
Labels: cla-signed

#25344 Fix listing Hudi tables when storage location is not set
  plugin/trino-hudi/src/main/java/io/trino/plugin/hudi/HudiMetadata.java
Labels: cla-signed, hudi

#25351 Move Minio exclusions to root POM
  plugin/trino-hive/pom.xml
  plugin/trino-iceberg/pom.xml
  pom.xml
  testing/trino-testing-containers/pom.xml
Labels: cla-signed, iceberg, hive

#25333 Handle race conditition in receiving final task info
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#25302 Direct stale PRs to core-dev channel
  .github/workflows/stale.yml
Labels: cla-signed

#25352 Add 473 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-473.md
Labels: cla-signed, release-notes, docs

#24662 Add originalUser and authenticatedUser as selectors available for resource group selection
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
  core/trino-spi/src/main/java/io/trino/spi/resourcegroups/SelectionCriteria.java
  docs/src/main/sphinx/admin/resource-groups-example.json
  docs/src/main/sphinx/admin/resource-groups.md
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/AbstractResourceConfigurationManager.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/SelectorSpec.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/StaticSelector.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/DbResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/ResourceGroupsDao.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/SelectorRecord.java
  plugin/trino-resource-group-managers/src/main/resources/db/migration/mysql/V7__add_original_and_authenticated_user_to_selectors.sql
  plugin/trino-resource-group-managers/src/main/resources/db/migration/oracle/V7__add_original_and_authenticated_user_to_selectors.sql
  plugin/trino-resource-group-managers/src/main/resources/db/migration/postgresql/V7__add_original_and_authenticated_user_to_selectors.sql
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestFileResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestResourceGroupIdTemplate.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestStaticSelector.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestingResourceGroups.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/H2ResourceGroupsDao.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbSourceExactMatchSelector.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestResourceGroupsDao.java
  plugin/trino-resource-group-managers/src/test/resources/resource_groups_config_original_auth_user.json
  testing/trino-tests/src/test/java/io/trino/execution/TestQueues.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/H2TestUtil.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/TestQueuesDb.java
  testing/trino-tests/src/test/resources/resource_groups_config_original_user.json
Labels: cla-signed, docs

#25367 Remove unused Metadata in ReplaceWindowWithRowNumber
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/iterative/rule/ReplaceWindowWithRowNumber.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestReplaceWindowWithRowNumber.java
Labels: cla-signed

#25365 Remove unused code from Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveNotReadableException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveReadOnlyException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveViewNotSupportedException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveWriter.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/PartitionNotFoundException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/PartitionOfflineException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TableOfflineException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/ViewAlreadyExistsException.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/AwsApiCallStats.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/parquet/ParquetPageSource.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/HiveTestUtils.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/PartitionFilterBuilder.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/parquet/ParquetUtil.java
Labels: cla-signed, hive

#25370 Document OPTIMIZE usage with metadata columns filter
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs, cassandra

#25160 Add support for session timeout property and token refresh setting configuration in Iceberg REST catalog
  docs/src/main/sphinx/object-storage/metastores.md
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/IcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/OAuth2SecurityConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/OAuth2SecurityProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestOAuth2SecurityConfig.java
Labels: cla-signed, docs, iceberg

#25373 Avoid using relative link use in docs
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#25374 Move constants to IcebergMetadata
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
Labels: cla-signed, iceberg

#25100 Fix pushdown when no partitionSpec exists and table is partitioned
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#24756 Support MERGE on cloned table in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeSink.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMergeTableHandle.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSinkProvider.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_cloned/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_cloned/_delta_log/00000000000000000000.checkpoint.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_cloned/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_cloned/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_cloned/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_cloned/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/deletion_vector_2ac2b0e1-152d-4282-b2c7-2d2f500bc1d6.bin
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00000-9f6a8a5a-b5a9-4f09-b7c7-286735267e6b-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00000-cce7125e-776f-4830-9624-f008801bcbc7-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00001-c863c47b-70fd-4ea7-8c74-4278330b5e7b-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00002-2771a9d8-08ee-4fac-8d81-1939e63856f4-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00003-8f36f8ba-b832-4888-aa52-5a2b484de237-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00004-785ab69f-857c-476a-a882-3e7908be2daf-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_deletion_vector_source/part-00005-e1eb0d8e-86a5-4db9-bfa7-a78cf02f44a4-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/_delta_log/00000000000000000001.json
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/part=2024-01-01/part-00000-0569fbcf-2c30-4964-8492-267e09a7d74a.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/part=2024-01-01/part-00001-a3febce3-829c-4319-b12f-7099f49fa8b7.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/part=2024-02-02/part-00002-819d3304-6591-4d7f-87e3-2a9683686644.c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/clone_merge/clone_merge_source/part=2024-02-02/part-00003-4b07bca9-0f9f-4ad8-862d-a7557cf5b333.c000.snappy.parquet
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCloneTableCompatibility.java
Labels: cla-signed, delta-lake

#25377 Use TestTable in Iceberg test testOptimizeWithFileModifiedTimeColumn
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#25381 Fix FlatHash
  core/trino-main/src/main/java/io/trino/operator/FlatHash.java
Labels: bug, cla-signed, correctness, RELEASE-BLOCKER

#25382 Add warning to release 473
  docs/src/main/sphinx/release/release-473.md
Labels: cla-signed, release-notes, docs

#25383 Add 474 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-474.md
Labels: cla-signed, release-notes, docs

#24930 Add support create table with primary key in mysql
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClientModule.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlTableProperties.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
Labels: cla-signed, mysql

#25393 Update required Java version in client documentation
  docs/src/main/sphinx/client/cli.md
  docs/src/main/sphinx/client/jdbc.md
Labels: cla-signed, docs

#25385 Fix grammar and syntax in 474 release notes
  docs/src/main/sphinx/release/release-474.md
Labels: cla-signed, release-notes, docs

#25106 Fix Hive-to-Iceberg table migration errors caused by special characters.
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergAddFilesProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/procedure/TestIcebergMigrateProcedure.java
Labels: cla-signed, iceberg

#24467 Support transactional MERGE for Postgresql connector
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/BaseJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/CachingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/DefaultJdbcMetadata.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/ForwardingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcMergeSink.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcMergeTableHandle.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/RetryingJdbcClient.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/JdbcClientStats.java
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/jmx/StatisticsAwareJdbcClient.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcFailureRecoveryTest.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteMergeTableHandle.java
  plugin/trino-ignite/src/main/java/io/trino/plugin/ignite/IgniteMetadata.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlFailureRecoveryTest.java
  plugin/trino-postgresql/src/main/java/io/trino/plugin/postgresql/PostgreSqlClient.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/BasePostgresFailureRecoveryTest.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlConnectorTest.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlJdbcConnectionAccesses.java
  plugin/trino-postgresql/src/test/java/io/trino/plugin/postgresql/TestPostgreSqlJdbcConnectionCreation.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseFailureRecoveryTest.java
Labels: cla-signed, stale-ignore, ignite, mysql, postgresql, sqlserver, phoenix5

#25397 Simplify dynamic filter usage in MongoPageSourceProvider#createPageSource
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoPageSourceProvider.java
Labels: cla-signed, mongodb

#25399 Use the new facility to create tables with PK in MySQL tests
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlGlobalTransactionMyConnectorSmokeTest.java
Labels: cla-signed, mysql

#25200 Support S3 cross region access property
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
Labels: cla-signed

#25401 Add maven-checks on JDK 25-ea
  .github/workflows/ci.yml
Labels: cla-signed

#25402 Remove write verification dead code in Hive
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSink.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HivePageSinkProvider.java
Labels: cla-signed, hive

#25406 Rename method in IcebergUtil
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSplitSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TableStatisticsReader.java
Labels: cla-signed, iceberg

#25411 Use cummulative set of change nodes when inserting adaptive plan node
  core/trino-main/src/main/java/io/trino/sql/planner/AdaptivePlanner.java
Labels: cla-signed

#25267 Send query heartbeat while spooled data is downloaded
  client/trino-client/src/main/java/io/trino/client/ClientSession.java
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/main/java/io/trino/server/protocol/ExecutingStatementResource.java
  testing/trino-tests/src/test/java/io/trino/tests/TestServer.java
Labels: cla-signed

#25418 Simplify building of DynamicFilterEvaluator in DynamicPageFilter
  core/trino-main/src/main/java/io/trino/sql/gen/columnar/DynamicPageFilter.java
  core/trino-main/src/main/java/io/trino/sql/planner/DomainTranslator.java
Labels: cla-signed

#25421 Fix typo in BigQueryConfig
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
Labels: cla-signed, bigquery

#25422 Make max parallelism configurable in BigQuery
  docs/src/main/sphinx/connector/bigquery.md
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySessionProperties.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQuerySplitSource.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/ReadSessionCreator.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
Labels: cla-signed, docs, bigquery

#25428 Limit number of inlined pages per pipeline, not operator
  core/trino-main/src/main/java/io/trino/operator/OperatorSpoolingController.java
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/operator/PipelineContext.java
  core/trino-main/src/main/java/io/trino/operator/PipelineSpoolingController.java
  core/trino-main/src/main/java/io/trino/operator/SpoolingController.java
  core/trino-main/src/test/java/io/trino/operator/TestSpoolingController.java
Labels: cla-signed

#25444 Use column name based type coersion for OpenX JSON
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveSplitManager.java
Labels: cla-signed, hive

#21794 Add generic SET AUTHORIZATION
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-main/src/main/java/io/trino/execution/SetAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/execution/SetSchemaAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/execution/SetTableAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/execution/SetViewAuthorizationTask.java
  core/trino-main/src/main/java/io/trino/metadata/DisabledSystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/metadata/DiscoveryNodeManager.java
  core/trino-main/src/main/java/io/trino/metadata/Metadata.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataManager.java
  core/trino-main/src/main/java/io/trino/metadata/MetadataUtil.java
  core/trino-main/src/main/java/io/trino/metadata/SystemSecurityMetadata.java
  core/trino-main/src/main/java/io/trino/security/AccessControl.java
  core/trino-main/src/main/java/io/trino/security/AccessControlManager.java
  core/trino-main/src/main/java/io/trino/security/AllowAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/DenyAllAccessControl.java
  core/trino-main/src/main/java/io/trino/security/ForwardingAccessControl.java
  core/trino-main/src/main/java/io/trino/security/InjectedConnectorAccessControl.java
  core/trino-main/src/main/java/io/trino/server/QueryExecutionFactoryModule.java
  core/trino-main/src/main/java/io/trino/sql/analyzer/StatementAnalyzer.java
  core/trino-main/src/main/java/io/trino/tracing/TracingAccessControl.java
  core/trino-main/src/main/java/io/trino/tracing/TracingMetadata.java
  core/trino-main/src/main/java/io/trino/util/StatementUtils.java
  core/trino-main/src/test/java/io/trino/metadata/AbstractMockMetadata.java
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/main/java/io/trino/sql/tree/AstVisitor.java
  core/trino-parser/src/main/java/io/trino/sql/tree/SetAuthorizationStatement.java
  core/trino-parser/src/main/java/io/trino/sql/tree/SetSchemaAuthorization.java
  core/trino-parser/src/main/java/io/trino/sql/tree/SetTableAuthorization.java
  core/trino-parser/src/main/java/io/trino/sql/tree/SetViewAuthorization.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  core/trino-spi/src/main/java/io/trino/spi/security/AccessDeniedException.java
  core/trino-spi/src/main/java/io/trino/spi/security/SystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/AllowAllSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/FileBasedSystemAccessControl.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/security/ForwardingSystemAccessControl.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/security/BaseFileBasedSystemAccessControlTest.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControlTableRedirection.java
  testing/trino-tests/src/test/java/io/trino/security/TestingSystemSecurityMetadata.java
Labels: cla-signed, syntax-needs-review, stale-ignore

#25450 Update azure cloud SDK to 1.2.33
  pom.xml
Labels: cla-signed

#25380 Fix eternal lock when hive metastore down during request with lock
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/cache/TestCachingHiveMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/thrift/MockThriftMetastoreClient.java
Labels: cla-signed, hive

#25449 Fix distinct positions selection for window functions
  core/trino-main/src/main/java/io/trino/operator/aggregation/DistinctWindowAccumulator.java
  core/trino-main/src/test/java/io/trino/sql/query/TestWindow.java
Labels: cla-signed

#25455 Switch to new dev singlestore docker image
  .github/workflows/ci.yml
  docs/src/main/sphinx/connector/singlestore.md
  plugin/trino-singlestore/src/test/java/io/trino/plugin/singlestore/SingleStoreQueryRunner.java
  plugin/trino-singlestore/src/test/java/io/trino/plugin/singlestore/TestSingleStoreConnectorTest.java
  plugin/trino-singlestore/src/test/java/io/trino/plugin/singlestore/TestSingleStoreLatestConnectorSmokeTest.java
  plugin/trino-singlestore/src/test/java/io/trino/plugin/singlestore/TestSingleStoreLatestTypeMapping.java
  plugin/trino-singlestore/src/test/java/io/trino/plugin/singlestore/TestingSingleStoreServer.java
Labels: cla-signed, docs, singlestore

#25458 Fix visible links between buttons in README
  README.md
Labels: cla-signed

#25445 Add support for lock-free commit in Iceberg HMS catalog
  docs/src/main/sphinx/object-storage/metastores.md
  lib/trino-metastore/src/main/java/io/trino/metastore/HiveMetastore.java
  lib/trino-metastore/src/main/java/io/trino/metastore/cache/CachingHiveMetastore.java
  lib/trino-metastore/src/main/java/io/trino/metastore/tracing/TracingHiveMetastore.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/HiveMetastoreBackedDeltaLakeMetastore.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/file/DeltaLakeFileMetastoreTableOperations.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/metastore/thrift/DeltaLakeThriftMetastoreTableOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/TestDeltaLakeMetastoreAccessOperations.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TrinoViewHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SemiTransactionalHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/file/FileHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/glue/GlueHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/BridgingHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftHiveMetastore.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastore.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveMetadataListing.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/file/FileMetastoreTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperationsProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/IcebergHiveCatalogConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/IcebergHiveMetastoreCatalogModule.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestIcebergHiveCatalogConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestIcebergHiveCatalogWithoutLock.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestTrinoHiveCatalogWithHiveMetastore.java
Labels: cla-signed, docs, iceberg, delta-lake, hive

#25464 Update dependencies
  pom.xml
Labels: cla-signed, singlestore

#25463 Rephrase error message for MethodTooLargeException
  core/trino-main/src/main/java/io/trino/sql/gen/PageFunctionCompiler.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLocalExecutionPlanner.java
  testing/trino-tests/src/test/java/io/trino/tests/TestServer.java
Labels: cla-signed, no-release-notes

#25438 Fix flaky TestLokiIntegration.testSelectTimestampLogsQuery
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiIntegration.java
Labels: cla-signed, loki
