Repository trinodb/trino, pull requests merged in 2025-02, with the labels that each got.

#24792 Remove deprecated precomputed hash optimizer
  core/trino-main/src/main/java/io/trino/SystemSessionProperties.java
  core/trino-main/src/main/java/io/trino/operator/FlatHashStrategyCompiler.java
  core/trino-main/src/main/java/io/trino/operator/HashAggregationOperator.java
  core/trino-main/src/main/java/io/trino/operator/HashGenerator.java
  core/trino-main/src/main/java/io/trino/operator/InterpretedHashGenerator.java
  core/trino-main/src/main/java/io/trino/sql/planner/OptimizerConfig.java
  core/trino-main/src/main/java/io/trino/sql/planner/PlanOptimizers.java
  core/trino-main/src/main/java/io/trino/sql/planner/optimizations/HashGenerationOptimizer.java
  core/trino-main/src/test/java/io/trino/cost/TestOptimizerConfig.java
  core/trino-main/src/test/java/io/trino/sql/planner/TestLogicalPlanner.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestPreAggregateCaseAggregations.java
  core/trino-main/src/test/java/io/trino/sql/query/TestPrecomputedHashes.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/TestMySqlLegacyConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
  testing/trino-tests/src/test/java/io/trino/tests/TestDistributedQueriesNoHashGeneration.java
Labels: cla-signed

#24870 Deprecate support for IBM COS via Hive
  docs/src/main/sphinx/object-storage.md
  docs/src/main/sphinx/object-storage/legacy-cos.md
  docs/src/main/sphinx/redirects.txt
  docs/src/main/sphinx/release/release-401.md
  lib/trino-hdfs/src/main/java/io/trino/hdfs/cos/HiveCosServiceConfig.java
Labels: cla-signed, release-notes, docs

#24862 Allow to pass step length in Loki connector
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiRecordSet.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiSplit.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiSplitManager.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiTableHandle.java
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/QueryRangeTableFunction.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiIntegration.java
Labels: cla-signed, no-release-notes, loki

#24844 Add docs for Loki connector
  docs/src/main/sphinx/connector.md
  docs/src/main/sphinx/connector/loki.md
  docs/src/main/sphinx/static/img/loki.png
Labels: cla-signed, docs

#24893 Fix code typo
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergTableProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
Labels: cla-signed, iceberg

#24897 Update cloud SDKs
  pom.xml
Labels: cla-signed

#24899 Correct exchange.compression-codec documentation
  docs/src/main/sphinx/admin/properties-exchange.md
Labels: cla-signed, docs

#24895 Use delegating catalog in TestIcebergRestCatalogCaseInsensitiveMapping
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogCaseInsensitiveMapping.java
Labels: cla-signed, iceberg

#24627 Add support Hadoop-Compatible File System when use HDFS as exchange type
  plugin/trino-exchange-hdfs/src/main/java/io/trino/plugin/exchange/hdfs/ExchangeHdfsConfig.java
  plugin/trino-exchange-hdfs/src/main/java/io/trino/plugin/exchange/hdfs/HdfsExchangeModule.java
  plugin/trino-exchange-hdfs/src/test/java/io/trino/plugin/exchange/hdfs/TestExchangeHdfsConfig.java
Labels: cla-signed

#24909 Export number of fully blocked queries to JMX
  core/trino-main/src/main/java/io/trino/dispatcher/DispatchManager.java
Labels: cla-signed

#24903 Skip varchar columns when detecting dictionaries in Faker connector
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerMetadata.java
  plugin/trino-faker/src/test/java/io/trino/plugin/faker/TestFakerQueries.java
Labels: cla-signed, faker

#24908 Skip non-existent MBeans in JmxRecordSetProvider
  plugin/trino-jmx/src/main/java/io/trino/plugin/jmx/JmxRecordSetProvider.java
  plugin/trino-jmx/src/test/java/io/trino/plugin/jmx/TestJmxSplitManager.java
Labels: cla-signed

#24902 Make WITH SESSION appear before FUNCTION
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-main/src/test/java/io/trino/sql/query/TestInlineSession.java
  core/trino-parser/src/main/java/io/trino/sql/SqlFormatter.java
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  docs/src/main/sphinx/sql/select.md
Labels: cla-signed, RELEASE-BLOCKER, docs

#24874 Document using statistics in the Faker connector
  docs/src/main/sphinx/connector/faker.md
  docs/src/main/sphinx/sql/select.md
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerConfig.java
  plugin/trino-faker/src/main/java/io/trino/plugin/faker/FakerConnector.java
Labels: cla-signed, docs, faker

#24892 Improve docs for table statistics
  docs/src/main/sphinx/connector/iceberg.md
  docs/src/main/sphinx/optimizer/statistics.md
Labels: cla-signed, docs

#24824 Add Trino 470 release notes
  docs/src/main/sphinx/release.md
  docs/src/main/sphinx/release/release-470.md
Labels: cla-signed, release-notes, docs

#24917 Add docs for WITH SESSION
  docs/src/main/sphinx/release/release-470.md
  docs/src/main/sphinx/sql/select.md
Labels: cla-signed, release-notes, docs

#24921 Add --rm option to docs/build command
  docs/build
Labels: cla-signed, docs

#22403 Add support for reading variant type in Delta Lake
  lib/trino-metastore/src/main/java/io/trino/metastore/HiveType.java
  lib/trino-metastore/src/main/java/io/trino/metastore/type/PrimitiveCategory.java
  lib/trino-metastore/src/main/java/io/trino/metastore/type/TypeConstants.java
  lib/trino-metastore/src/main/java/io/trino/metastore/type/TypeInfoUtils.java
  lib/trino-parquet/pom.xml
  lib/trino-parquet/src/main/java/io/trino/parquet/ParquetTypeUtils.java
  lib/trino-parquet/src/main/java/io/trino/parquet/VariantField.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/spark/Variant.java
  lib/trino-parquet/src/main/java/io/trino/parquet/spark/VariantUtil.java
  lib/trino-parquet/src/test/java/io/trino/parquet/spark/TestVariant.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaHiveTypeTranslator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/DeltaLakeSchemaSupport.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/README.md
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/_delta_log/00000000000000000004.json
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/part-00000-090dbdcd-fc4e-47c9-8549-59cf79d9c7e6-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/part-00000-4d01f20d-41d2-49fb-b98e-251a4c0984aa-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks153/variant/part-00000-81478783-cb9b-4719-975e-027177ae86e3-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/databricks153/variant_types/README.md
  plugin/trino-delta-lake/src/test/resources/databricks153/variant_types/_delta_log/00000000000000000000.json
  plugin/trino-delta-lake/src/test/resources/databricks153/variant_types/part-00000-376865ac-f6c8-4f0f-9d9b-bb8a982e6c0b-c000.snappy.parquet
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/SparkMetastoreUtil.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/metastore/thrift/ThriftMetastoreUtil.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveBucketingV1.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveBucketingV2.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveTypeUtil.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveWriteUtils.java
Labels: cla-signed, delta-lake, hive, stale-ignore

#24933 Fix TDigestHistogram -> DistributionSnapshot convertion
  core/trino-main/src/main/java/io/trino/execution/DistributionSnapshot.java
  core/trino-main/src/test/java/io/trino/execution/TestDistributionSnapshot.java
Labels: cla-signed

#24939 Add command to create secret for spooling
  docs/src/main/sphinx/admin/properties-client-protocol.md
Labels: cla-signed, docs

#24918 Improve docs for support hadoop compatible file system when use HDFS …
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#24944 Fix a minor typo in release-470.md
  docs/src/main/sphinx/release/release-470.md
Labels: cla-signed, release-notes, docs

#24951 Refactor QueryDataDecoder to return Iterator
  client/trino-client/src/main/java/io/trino/client/JsonResultRows.java
  client/trino-client/src/main/java/io/trino/client/OkHttpSegmentLoader.java
  client/trino-client/src/main/java/io/trino/client/QueryDataDecoder.java
  client/trino-client/src/main/java/io/trino/client/ResultRows.java
  client/trino-client/src/main/java/io/trino/client/ResultRowsDecoder.java
  client/trino-client/src/main/java/io/trino/client/spooling/InlineSegment.java
  client/trino-client/src/main/java/io/trino/client/spooling/InlineSegmentIterator.java
  client/trino-client/src/main/java/io/trino/client/spooling/SpooledSegment.java
  client/trino-client/src/main/java/io/trino/client/spooling/SpooledSegmentIterator.java
  client/trino-client/src/main/java/io/trino/client/spooling/encoding/CompressedQueryDataDecoder.java
  client/trino-client/src/main/java/io/trino/client/spooling/encoding/JsonQueryDataDecoder.java
  client/trino-client/src/test/java/io/trino/client/TestResultRowsDecoder.java
  client/trino-client/src/test/java/io/trino/client/spooling/encoding/TestCompressedQueryDataDecoder.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestAsyncResultIterator.java
Labels: cla-signed, jdbc

#24953 Allow client to retry on the EOF while writing
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
Labels: cla-signed

#24956 Return BaseTable in TrinoCatalog.loadTable
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/TrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/TrinoNessieCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/TrinoSnowflakeCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergPolarisCatalogConnectorSmokeTest.java
Labels: cla-signed, iceberg

#24919 Use ThreadCountParser to accept relative core counts
  core/trino-main/src/main/java/io/trino/FeaturesConfig.java
  core/trino-main/src/main/java/io/trino/execution/QueryManagerConfig.java
  core/trino-main/src/main/java/io/trino/execution/TaskManagerConfig.java
  core/trino-main/src/main/java/io/trino/operator/DirectExchangeClientConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryManagerConfig.java
  core/trino-main/src/test/java/io/trino/execution/TestTaskManagerConfig.java
  core/trino-main/src/test/java/io/trino/operator/TestDirectExchangeClientConfig.java
  core/trino-main/src/test/java/io/trino/spiller/TestGenericPartitioningSpiller.java
  core/trino-main/src/test/java/io/trino/sql/analyzer/TestFeaturesConfig.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
Labels: cla-signed, iceberg, delta-lake

#24946 Support read 'p' type deletion vectors in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/delete/DeletionVectors.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/delete/TestDeletionVectors.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeCloneTableCompatibility.java
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeDeleteCompatibility.java
Labels: cla-signed, delta-lake

#24960 Include draft PRs in stale bot flow
  .github/workflows/stale.yml
Labels: cla-signed

#24958 Prevent query blocking if final query info is lost
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenFaultTolerantQueryScheduler.java
Labels: cla-signed

#24962 Preview web UI testing improvements
  core/trino-main/src/test/java/io/trino/server/ui/WebUiPreviewQueryRunner.java
  testing/trino-testing/src/main/java/io/trino/testing/WebUiPreviewQueryRunner.java
Labels: cla-signed

#16602 Add test for prune Iceberg obsolete deletion files
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#24964 Remove redundant format version change in TestIcebergV2
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergV2.java
Labels: cla-signed, iceberg

#24905 Clarify Trino behavior when client does not fetch results in Client Potocol
  docs/src/main/sphinx/client/client-protocol.md
Labels: cla-signed, docs

#24981 Improve labels in preview UI
  core/trino-web-ui/src/main/resources/webapp-preview/src/App.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Dashboard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/DemoComponents.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryHistory.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/WorkerStatus.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/WorkersList.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/constant.ts
  core/trino-web-ui/src/main/resources/webapp/src/components/ClusterHUD.jsx
Labels: cla-signed, ui

#24980 Split out more modules from test-other-modules CI job
  .github/workflows/ci.yml
Labels: cla-signed

#24979 Remove the Deprecated marker for S3StorageClassFilter
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
Labels: cla-signed, hive

#24978 Improve PipelinedStageExecution failure message
  core/trino-main/src/main/java/io/trino/execution/scheduler/PipelinedStageExecution.java
Labels: cla-signed

#24947 Fix an issue that causes the restoreStatus in listing response always be empty for glacier objects
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystem.java
Labels: cla-signed

#24987 Update deps
  pom.xml
Labels: cla-signed

#24989 Remove deprecated method
  client/trino-client/src/main/java/io/trino/client/QueryData.java
Labels: cla-signed

#24470 Add information from written files to Iceberg conflict detection
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergConfig.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergSessionProperties.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestFileBasedConflictDetection.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergConfig.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergLocalConcurrentWrites.java
Labels: cla-signed, iceberg

#24990 Move TracingSpoolingManager to main
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingManagerRegistry.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/TracingSpoolingManager.java
  plugin/trino-spooling-filesystem/src/main/java/io/trino/spooling/filesystem/FileSystemSpoolingManagerFactory.java
Labels: cla-signed

#24971 Clarify that table procedures are not supported by FBAC
  docs/src/main/sphinx/security/file-system-access-control.md
Labels: cla-signed, docs

#24869 HBase Connection Registry usage with Phoenix JDBC url
  docs/src/main/sphinx/connector/phoenix.md
  plugin/trino-phoenix5/src/test/java/io/trino/plugin/phoenix5/TestingPhoenixServer.java
Labels: cla-signed, docs, phoenix5

#24996 Fix grammar in functions overview
  docs/src/main/sphinx/functions.md
Labels: docs

#24998 Fix duplicate key due to non-lowercase collections in MongoDB
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java
  plugin/trino-mongodb/src/test/java/io/trino/plugin/mongodb/TestMongoConnectorTest.java
Labels: cla-signed, mongodb

#24999 Convert MongoIndex to record
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoIndex.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoMetadata.java
  plugin/trino-mongodb/src/main/java/io/trino/plugin/mongodb/MongoSession.java
Labels: cla-signed, mongodb

#25000 Remove unhelpful log from LokiSplitManager
  plugin/trino-loki/pom.xml
  plugin/trino-loki/src/main/java/io/trino/plugin/loki/LokiSplitManager.java
Labels: cla-signed, loki

#25008 Update JDBI + AWS SDK v2
  pom.xml
Labels: cla-signed

#25013 Small improvements to bigquery metadata config
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClient.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryClientFactory.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryConfig.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryConfig.java
Labels: cla-signed, bigquery

#25016 Remove redundant initialization from Delta test
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#25022 Fix typo in null check message for outputStream
  lib/trino-parquet/src/main/java/io/trino/parquet/writer/ParquetWriter.java
Labels: cla-signed

#24726 Allow system tables to do system level access control
  core/trino-main/src/main/java/io/trino/connector/DefaultCatalogFactory.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemConnector.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemPageSourceProvider.java
  core/trino-spi/src/main/java/io/trino/spi/connector/SystemTable.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeSystemTable.java
Labels: cla-signed

#24934 S3 storage classes config support
  docs/src/main/sphinx/object-storage/file-system-s3.md
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3Context.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3OutputStream.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
Labels: cla-signed, docs

#25032 Fix Ranger plugin initialization
  plugin/trino-ranger/src/main/java/io/trino/plugin/ranger/RangerSystemAccessControl.java
Labels: cla-signed

#25028 Print splits count and distribution time in EXPLAIN ANALYZE
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
Labels: cla-signed

#25033 Fix typo
  docs/src/main/sphinx/connector/non-transactional-merge.fragment
Labels: cla-signed, docs

#25029 Remove bidirectional coupling from/to Block to/from BlockEncoding
  core/trino-main/src/main/java/io/trino/block/BlockJsonSerde.java
  core/trino-main/src/main/java/io/trino/metadata/BlockEncodingManager.java
  core/trino-main/src/main/java/io/trino/metadata/InternalBlockEncodingSerde.java
  core/trino-main/src/main/java/io/trino/sql/routine/SqlRoutineHash.java
  core/trino-main/src/test/java/io/trino/block/TestRunLengthEncodedBlock.java
  core/trino-main/src/test/java/io/trino/metadata/TestInternalBlockEncodingSerde.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/block/ArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/ArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/Block.java
  core/trino-spi/src/main/java/io/trino/spi/block/BlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/BlockEncodingSerde.java
  core/trino-spi/src/main/java/io/trino/spi/block/ByteArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/ByteArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/DictionaryBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/DictionaryBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/Fixed12Block.java
  core/trino-spi/src/main/java/io/trino/spi/block/Fixed12BlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/Int128ArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/Int128ArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/IntArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/IntArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/LazyBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/LazyBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/LongArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/LongArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/MapBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/MapBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/RowBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/RowBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/RunLengthBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/RunLengthEncodedBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/ShortArrayBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/ShortArrayBlockEncoding.java
  core/trino-spi/src/main/java/io/trino/spi/block/VariableWidthBlock.java
  core/trino-spi/src/main/java/io/trino/spi/block/VariableWidthBlockEncoding.java
  core/trino-spi/src/test/java/io/trino/spi/block/TestingBlockEncodingSerde.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/util/HiveBlockEncodingSerde.java
Labels: cla-signed, hive

#25041 Update airbase nad snakeyaml
  pom.xml
Labels: cla-signed

#25006 Expose local filesystem
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemConfig.java
  lib/trino-filesystem-manager/src/main/java/io/trino/filesystem/manager/FileSystemModule.java
  lib/trino-filesystem-manager/src/test/java/io/trino/filesystem/manager/TestFileSystemConfig.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/local/LocalFileSystem.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/local/LocalFileSystemConfig.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/local/LocalFileSystemFactory.java
  lib/trino-filesystem/src/test/java/io/trino/filesystem/local/TestLocalFileSystemConfig.java
Labels: cla-signed

#25049 Remove doc refereces to optimize-hash-generation
  docs/src/main/sphinx/admin/properties-optimizer.md
  docs/src/main/sphinx/sql/reset-session.md
  docs/src/main/sphinx/sql/set-session.md
Labels: cla-signed, docs

#25051 Do not materialize response body to string
  client/trino-client/src/main/java/io/trino/client/JsonResponse.java
  client/trino-client/src/main/java/io/trino/client/MaterializingReader.java
  client/trino-client/src/main/java/io/trino/client/StatementClientV1.java
  client/trino-client/src/main/java/io/trino/client/TrinoJsonCodec.java
  client/trino-client/src/main/java/io/trino/client/auth/external/HttpTokenPoller.java
  client/trino-client/src/test/java/io/trino/client/TestMaterializingReader.java
Labels: cla-signed

#25039 Update Ranger access control documentation for Kerberos environment
  docs/src/main/sphinx/security/ranger-access-control.md
Labels: cla-signed, docs

#25047 Extract Page(De)Serializer interface
  core/trino-main/src/main/java/io/trino/execution/buffer/CompressingDecryptingPageDeserializer.java
  core/trino-main/src/main/java/io/trino/execution/buffer/CompressingEncryptingPageSerializer.java
  core/trino-main/src/main/java/io/trino/execution/buffer/PageDeserializer.java
  core/trino-main/src/main/java/io/trino/execution/buffer/PageSerializer.java
  core/trino-main/src/main/java/io/trino/execution/buffer/PagesSerdeFactory.java
  core/trino-main/src/test/java/io/trino/execution/buffer/TestPagesSerde.java
Labels: cla-signed

#25044 Increase waiting time before vacuum procedure test
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/BaseDeltaLakeConnectorSmokeTest.java
Labels: cla-signed, delta-lake

#24912 Add parent project ID test to BigQuery
  .github/workflows/ci.yml
  plugin/trino-bigquery/pom.xml
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryParentProjectId.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryWithBothProjectIdsSet.java
Labels: cla-signed, bigquery

#24994 Support write operations for S3 Tables in Iceberg
  lib/trino-filesystem/src/main/java/io/trino/filesystem/Location.java
  lib/trino-filesystem/src/main/java/io/trino/filesystem/Locations.java
  lib/trino-filesystem/src/test/java/io/trino/filesystem/TestLocations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/AbstractTrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/TrinoCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/glue/TrinoGlueCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/TrinoHiveCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/jdbc/TrinoJdbcCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/nessie/TrinoNessieCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/SigV4AwsProperties.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/snowflake/TrinoSnowflakeCatalog.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/procedure/MigrateProcedure.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/BaseTrinoCatalogTest.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestTrinoHiveCatalogWithHiveMetastore.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergS3TablesConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/snowflake/TestTrinoSnowflakeCatalog.java
Labels: cla-signed, iceberg

#25054 Fix setup failure in TestDeltaLakeGlueMetastore
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaLakeGlueMetastore.java
Labels: cla-signed, delta-lake

#25052 Use S3FileSystemFactory in TestTrinoHiveCatalogWithHiveMetastore
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/hms/TestTrinoHiveCatalogWithHiveMetastore.java
Labels: cla-signed, iceberg

#25055 Remove Connector.getInitialMemoryRequirement()
  core/trino-main/src/main/java/io/trino/connector/CatalogConnector.java
  core/trino-main/src/main/java/io/trino/connector/DefaultCatalogFactory.java
  core/trino-main/src/main/java/io/trino/memory/MemoryPool.java
  core/trino-main/src/main/java/io/trino/testing/PlanTester.java
  core/trino-main/src/test/java/io/trino/execution/TestSqlTaskManagerRaceWithCatalogPrune.java
  core/trino-main/src/test/java/io/trino/memory/TestMemoryPools.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/connector/Connector.java
Labels: cla-signed

#25064 Update pinot to 1.3.0
  plugin/trino-pinot/pom.xml
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/client/PinotDataFetcher.java
  plugin/trino-pinot/src/main/java/io/trino/plugin/pinot/query/PinotTransformFunctionTypeResolver.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestPinotConnectorSmokeTest.java
  plugin/trino-pinot/src/test/java/io/trino/plugin/pinot/TestingPinotCluster.java
Labels: cla-signed, pinot

#25072 Drop keyspaces in Cassandra tests in try-finally
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
Labels: cla-signed, cassandra

#25001 Add docs for local file system support
  docs/src/main/sphinx/object-storage.md
  docs/src/main/sphinx/object-storage/file-system-local.md
Labels: cla-signed, docs

#25074 Parallelize Hive views retrieval
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
Labels: cla-signed, hive

#24997 Remove RPM package
  .github/actions/compile-commit/action.yml
  .github/workflows/ci.yml
  core/trino-server-rpm/README.md
  core/trino-server-rpm/pom.xml
  core/trino-server-rpm/src/main/provisio/trino.xml
  core/trino-server-rpm/src/main/resources/dist/config/config.properties
  core/trino-server-rpm/src/main/resources/dist/config/env.sh
  core/trino-server-rpm/src/main/resources/dist/config/jvm.config
  core/trino-server-rpm/src/main/resources/dist/config/log.properties
  core/trino-server-rpm/src/main/resources/dist/config/node.properties
  core/trino-server-rpm/src/main/resources/dist/config/secrets.toml
  core/trino-server-rpm/src/main/resources/dist/etc/init.d/trino
  core/trino-server-rpm/src/main/rpm/postinstall
  core/trino-server-rpm/src/main/rpm/postremove
  core/trino-server-rpm/src/main/rpm/preinstall
  core/trino-server-rpm/src/main/rpm/preremove
  core/trino-server-rpm/src/main/script/symlink.groovy
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/ServerIT.java
  core/trino-server-rpm/src/test/java/io/trino/server/rpm/TestDummy.java
  docs/release-template.md
  docs/src/main/sphinx/ext/download.py
  docs/src/main/sphinx/installation.md
  docs/src/main/sphinx/installation/deployment.md
  docs/src/main/sphinx/installation/rpm.md
  pom.xml
Labels: cla-signed, docs

#25078 Support write large checkpoint in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriter.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
Labels: cla-signed, delta-lake

#24972 Add query history to the Preview Web UI
  core/trino-web-ui/src/main/resources/webapp-preview/package-lock.json
  core/trino-web-ui/src/main/resources/webapp-preview/package.json
  core/trino-web-ui/src/main/resources/webapp-preview/src/api/webapp/api.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/CodeBlock.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Dashboard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/DebouncedTextField.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/Layout.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/LinearProgressWithLabel.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/MetricCard.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryHistory.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryList.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryListItem.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/WorkerStatus.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/WorkersList.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/constant.ts
  core/trino-web-ui/src/main/resources/webapp-preview/src/router.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/utils/utils.ts
Labels: cla-signed, ui

#25068 Propagate correct partition count for insert stages
  core/trino-main/src/main/java/io/trino/execution/scheduler/PipelinedQueryScheduler.java
  core/trino-main/src/main/java/io/trino/operator/exchange/LocalExchange.java
  core/trino-main/src/main/java/io/trino/operator/output/SkewedPartitionRebalancer.java
  core/trino-main/src/main/java/io/trino/sql/planner/NodePartitioningManager.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
  testing/trino-faulttolerant-tests/src/test/java/io/trino/faulttolerant/iceberg/TestIcebergParquetFaultTolerantExecutionConnectorTest.java
Labels: bug, cla-signed, iceberg

#25085 Add docs for log.console-format
  docs/src/main/sphinx/admin/properties-logging.md
Labels: cla-signed, docs

#25079 Set hive.partition-projection-enabled to true by default
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseTestHiveOnDataLake.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveS3AndGlueMetastoreTest.java
Labels: cla-signed, docs, hive

#25089 Note the need for Rosetta on Apple Silicon
  README.md
Labels: cla-signed

#24984 Limit BigQuery off heap memory to split context
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryArrowBufferAllocator.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryArrowConfig.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryArrowToPageConverter.java
  plugin/trino-bigquery/src/main/java/io/trino/plugin/bigquery/BigQueryStorageArrowPageSource.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/TestBigQueryArrowConfig.java
Labels: cla-signed, bigquery

#25092 Fix link in release note 471
  docs/src/main/sphinx/release/release-471.md
Labels: cla-signed, release-notes, docs

#25087 Improve AI function docs
  docs/src/main/sphinx/functions/ai.md
Labels: cla-signed, docs

#25084 Check ORC sorting using file data
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/IcebergTestUtils.java
Labels: cla-signed, iceberg

#25112 Limit WITH SESSION scope to SELECT statements
  core/trino-grammar/src/main/antlr4/io/trino/grammar/sql/SqlBase.g4
  core/trino-parser/src/main/java/io/trino/sql/parser/AstBuilder.java
Labels: cla-signed

#25108 Document wildcard tables query support
  docs/src/main/sphinx/connector/bigquery.md
  docs/src/main/sphinx/connector/elasticsearch.md
  docs/src/main/sphinx/connector/opensearch.md
Labels: cla-signed, docs, cassandra

#25118 Fix property name in S3 file-system migration guide
  docs/src/main/sphinx/object-storage/file-system-s3.md
Labels: cla-signed, docs

#25115 Update JUnit to 5.12.0, google & aws cloud SDKs
  client/trino-client/pom.xml
  core/trino-grammar/pom.xml
  lib/trino-cache/pom.xml
  lib/trino-filesystem-azure/pom.xml
  lib/trino-filesystem-gcs/pom.xml
  lib/trino-filesystem-manager/pom.xml
  lib/trino-filesystem-s3/pom.xml
  lib/trino-filesystem/pom.xml
  lib/trino-geospatial-toolkit/pom.xml
  lib/trino-hive-formats/pom.xml
  lib/trino-metastore/pom.xml
  plugin/trino-blackhole/pom.xml
  plugin/trino-duckdb/pom.xml
  plugin/trino-example-http/pom.xml
  plugin/trino-example-jdbc/pom.xml
  plugin/trino-exasol/pom.xml
  plugin/trino-exchange-filesystem/pom.xml
  plugin/trino-exchange-hdfs/pom.xml
  plugin/trino-faker/pom.xml
  plugin/trino-google-sheets/pom.xml
  plugin/trino-http-event-listener/pom.xml
  plugin/trino-http-server-event-listener/pom.xml
  plugin/trino-jmx/pom.xml
  plugin/trino-kafka-event-listener/pom.xml
  plugin/trino-ml/pom.xml
  plugin/trino-mysql-event-listener/pom.xml
  plugin/trino-opa/pom.xml
  plugin/trino-openlineage/pom.xml
  plugin/trino-ranger/pom.xml
  plugin/trino-spooling-filesystem/pom.xml
  plugin/trino-vertica/pom.xml
  pom.xml
  service/trino-proxy/pom.xml
  service/trino-verifier/pom.xml
  testing/trino-benchmark-queries/pom.xml
  testing/trino-benchto-benchmarks/pom.xml
  testing/trino-plugin-reader/pom.xml
  testing/trino-server-dev/pom.xml
  testing/trino-test-jdbc-compatibility-old-server/pom.xml
  testing/trino-testing-containers/pom.xml
  testing/trino-testing-kafka/pom.xml
  testing/trino-testing-resources/pom.xml
  testing/trino-tests/pom.xml
Labels: cla-signed, jdbc, hive, blackhole, duckdb, exasol, faker, google-sheets, vertica

#25121 Replace custom annotation with Jetbrain @NotNullByDefault
  lib/trino-cache/pom.xml
  lib/trino-cache/src/main/java/io/trino/cache/ElementTypesAreNonnullByDefault.java
  lib/trino-cache/src/main/java/io/trino/cache/EmptyCache.java
  lib/trino-cache/src/main/java/io/trino/cache/EvictableCache.java
  lib/trino-cache/src/main/java/io/trino/cache/EvictableCacheBuilder.java
  lib/trino-cache/src/main/java/io/trino/cache/NonEvictableCache.java
  lib/trino-cache/src/main/java/io/trino/cache/NonKeyEvictableCache.java
  lib/trino-cache/src/main/java/io/trino/cache/NonKeyEvictableCacheImpl.java
  lib/trino-cache/src/main/java/io/trino/cache/NonKeyEvictableLoadingCache.java
  lib/trino-cache/src/main/java/io/trino/cache/NonKeyEvictableLoadingCacheImpl.java
  pom.xml
Labels: cla-signed

#25131 Improve consistency of invalid session properties
  core/trino-main/src/main/java/io/trino/FullConnectorSession.java
  core/trino-main/src/main/java/io/trino/execution/SessionPropertyEvaluator.java
  core/trino-main/src/main/java/io/trino/metadata/SessionPropertyManager.java
  core/trino-main/src/main/java/io/trino/sql/SessionPropertyResolver.java
  core/trino-main/src/main/java/io/trino/testing/TestingConnectorSession.java
  core/trino-main/src/test/java/io/trino/sql/query/TestInlineSession.java
  core/trino-spi/src/main/java/io/trino/spi/predicate/ToStringSession.java
  core/trino-spi/src/test/java/io/trino/spi/block/TestingSession.java
Labels: cla-signed

#25133 Suggest valid session property names
  core/trino-main/pom.xml
  core/trino-main/src/main/java/io/trino/execution/SessionPropertyEvaluator.java
  core/trino-main/src/main/java/io/trino/metadata/SessionPropertyManager.java
  testing/trino-testing/src/main/java/io/trino/testing/AbstractTestEngineOnlyQueries.java
Labels: cla-signed

#25134 Refactor TPCH connector to produce pages by default
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchConfig.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchConnector.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchModule.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchPageSourceProvider.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchRecordSet.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchRecordSetProvider.java
  testing/trino-testing/src/main/java/io/trino/testing/tpch/IndexedTpchConnectorFactory.java
  testing/trino-testing/src/main/java/io/trino/testing/tpch/TpchIndexedData.java
  testing/trino-tests/src/test/java/io/trino/execution/TestEventListenerWithSplits.java
Labels: cla-signed

#25143 Add libstdc++ to the docker image
  core/docker/Dockerfile
Labels: cla-signed

#25147 Temporarily disable TestIcebergS3TablesConnectorSmokeTest
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergS3TablesConnectorSmokeTest.java
Labels: cla-signed, iceberg

#25159 Bump loki-client-java to 0.0.4
  docs/src/main/sphinx/connector/loki.md
  plugin/trino-loki/pom.xml
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestingLokiServer.java
Labels: cla-signed, docs, loki

#24985 Implement DataSource in JDBC Driver
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoDataSource.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/BaseTrinoDriverTest.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriver.java
  client/trino-jdbc/src/test/java/io/trino/jdbc/TestTrinoDriverUsingDataSource.java
Labels: cla-signed, jdbc

#25141 Increase DeltaLake transaction conflict retries from 5 to 200
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
Labels: cla-signed, delta-lake

#25167 Fix VariableWidthData#getRetainedSize() estimate
  core/trino-main/src/main/java/io/trino/operator/VariableWidthData.java
Labels: cla-signed

#25109 Update BigQuery connector documentation
  docs/src/main/sphinx/connector/bigquery.md
Labels: cla-signed, docs

#25179 Replace URL with HTML link in comment
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
Labels: cla-signed, delta-lake

#25180 Update dependencies
  pom.xml
Labels: cla-signed

#25182 Fix resource files for TPCH stats
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/customer.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/lineitem.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/nation.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/orders.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/part.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/partsupp.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/region.json
  plugin/trino-tpch/src/main/resources/tpch/statistics/sf3000.0/supplier.json
Labels: cla-signed

#25168 Close QueryDataEncoder and Producer when processing is complete
  core/trino-main/src/main/java/io/trino/operator/OutputSpoolingOperatorFactory.java
  core/trino-main/src/main/java/io/trino/server/protocol/JsonBytesQueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/Query.java
  core/trino-main/src/main/java/io/trino/server/protocol/QueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/QueryDataEncoder.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/SpoolingQueryDataProducer.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/encoding/CompressedQueryDataEncoder.java
  core/trino-main/src/main/java/io/trino/server/protocol/spooling/encoding/JsonQueryDataEncoder.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
Labels: cla-signed

#25177 Remove `COMMIT` entry type from checkpoint reader
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointEntryIterator.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/CheckpointWriterManager.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/checkpoint/TestCheckpointEntryIterator.java
Labels: cla-signed, delta-lake

#25163 Remove deprecated ConnectorMetadata.addColumn
  core/trino-main/src/main/java/io/trino/testing/TestingMetadata.java
  core/trino-main/src/main/java/io/trino/tracing/TracingConnectorMetadata.java
  core/trino-main/src/test/java/io/trino/connector/MockConnector.java
  core/trino-spi/src/main/java/io/trino/spi/connector/ConnectorMetadata.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/classloader/ClassLoaderSafeConnectorMetadata.java
  plugin/trino-blackhole/src/main/java/io/trino/plugin/blackhole/BlackHoleMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveMetadata.java
  plugin/trino-memory/src/main/java/io/trino/plugin/memory/MemoryMetadata.java
Labels: cla-signed, delta-lake, hive, blackhole, memory

#25094 Update Iceberg version to 1.8.1
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergFileFormat.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionData.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/TypeConverter.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/HiveSchemaUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/util/OrcTypeConverter.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergStatistics.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/rest/RestCatalogServlet.java
  pom.xml
  testing/trino-testing-containers/src/main/java/io/trino/testing/containers/IcebergRestCatalogBackendContainer.java
Labels: cla-signed, iceberg

#25190 Fix FTE local FS usage note
  docs/src/main/sphinx/admin/fault-tolerant-execution.md
Labels: cla-signed, docs

#25139 Fix test method visibility
  plugin/trino-kudu/src/test/java/io/trino/plugin/kudu/TestKuduConnectorTest.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
Labels: cla-signed, kudu

#25186 Correct parquet row group pruning logic
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/BlockMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/metadata/ParquetMetadata.java
  lib/trino-parquet/src/main/java/io/trino/parquet/predicate/PredicateUtils.java
  lib/trino-parquet/src/test/java/io/trino/parquet/writer/TestParquetWriter.java
Labels: cla-signed, iceberg
