Repository trinodb/trino, pull requests merged in 2025-05, with the labels that each got.

#25631 Fix class name in preview Web UI README
  core/trino-web-ui/src/main/resources/webapp-preview/README.md
Labels: cla-signed, ui

#25697 Fix wrong variable name in JWT authenticator documentation
  docs/src/main/sphinx/security/jwt.md
Labels: cla-signed, docs

#25731 Update docker-images to 113
  pom.xml
Labels: cla-signed

#25732 Update project dependencies
  pom.xml
Labels: cla-signed

#25602 Improve PageProcessor retained bytes calculations
  core/trino-main/src/main/java/io/trino/operator/project/InputChannels.java
  core/trino-main/src/main/java/io/trino/operator/project/PageProcessor.java
  core/trino-main/src/main/java/io/trino/operator/project/SelectedPositions.java
  core/trino-main/src/test/java/io/trino/operator/TestingSourcePage.java
  core/trino-spi/src/main/java/io/trino/spi/connector/FixedSourcePage.java
  core/trino-spi/src/main/java/io/trino/spi/connector/PositionCountSourcePage.java
  lib/trino-array/src/main/java/io/trino/array/ReferenceCountMap.java
  lib/trino-orc/src/main/java/io/trino/orc/OrcRecordReader.java
  lib/trino-parquet/src/main/java/io/trino/parquet/reader/ParquetReader.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/MappedPageSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TransformConnectorPageSource.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/orc/OrcDeletedRows.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/rcfile/RcFilePageSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-tpch/src/main/java/io/trino/plugin/tpch/TpchPageSource.java
Labels: cla-signed, iceberg, hive

#25607 Implement streamRelationColumns in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/glue/TestDeltaLakeGlueMetastore.java
Labels: cla-signed, delta-lake

#25736 Update exception type for invalid metadata file name
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
Labels: cla-signed, iceberg

#24801 Support time travel using temporal version in Delta Lake
  docs/src/main/sphinx/connector/delta-lake.md
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeMetadata.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TemporalTimeTravelUtil.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeAlluxioCacheFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeLocalConcurrentWritesTest.java
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/_delta_log/00000000000000000002.checkpoint.bbf065c4-1a94-46d0-8439-d0437636cc61.json
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/_delta_log/_sidecars/00000000000000000002.checkpoint.0000000001.0000000001.8eec388e-9f17-4806-9ca7-b431dc3d719c.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/part-00000-a664ce38-5140-40a8-abe3-f279d35d8e58-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/part-00000-af7c08d8-bc78-4f9c-ab72-01da638e1032-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_json_using_temporal/part-00000-d7e04a03-3f09-466a-9c56-b4032cf5db87-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/README.md
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/_delta_log/00000000000000000002.checkpoint.217de2ea-015f-4c2f-bfae-47c32517bc84.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/_delta_log/00000000000000000002.json
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/_delta_log/00000000000000000003.json
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/_delta_log/_last_checkpoint
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/_delta_log/_sidecars/00000000000000000002.checkpoint.0000000001.0000000001.6a838b8a-a779-4773-9a96-8ad8ce5add1b.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/part-00000-76749a32-4f33-48b7-a673-d695b21bc708-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/part-00000-bf1e7e28-f7ac-4016-8a0c-d35ef665bdf5-c000.snappy.parquet
  plugin/trino-delta-lake/src/test/resources/deltalake/v2_checkpoint_parquet_using_temporal/part-00000-fb20035d-6a8e-47e5-bdfc-9779a8367b71-c000.snappy.parquet
  testing/trino-product-tests/src/main/java/io/trino/tests/product/deltalake/TestDeltaLakeTimeTravelCompatibility.java
Labels: cla-signed, docs, delta-lake

#25738 Simplify fetching of catalog name for SplitCompletedEvent
  core/trino-main/src/main/java/io/trino/event/SplitMonitor.java
  core/trino-main/src/main/java/io/trino/execution/SqlTaskExecution.java
  core/trino-main/src/main/java/io/trino/operator/SplitOperatorInfo.java
  core/trino-main/src/main/java/io/trino/operator/TableScanOperator.java
  core/trino-main/src/main/java/io/trino/operator/WorkProcessorSourceOperatorAdapter.java
  core/trino-main/src/main/java/io/trino/operator/index/IndexSourceOperator.java
  core/trino-main/src/test/java/io/trino/operator/TestOperatorStats.java
Labels: cla-signed

#25734 Print splits generation wait time for each scan in EXPLAIN
  core/trino-main/src/main/java/io/trino/event/QueryMonitor.java
  core/trino-main/src/main/java/io/trino/execution/SqlStage.java
  core/trino-main/src/main/java/io/trino/execution/StageStateMachine.java
  core/trino-main/src/main/java/io/trino/execution/StageStats.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/PipelinedStageExecution.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/SourcePartitionedScheduler.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/StageExecution.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenTaskSource.java
  core/trino-main/src/main/java/io/trino/execution/scheduler/faulttolerant/EventDrivenTaskSourceFactory.java
  core/trino-main/src/main/java/io/trino/sql/planner/planprinter/PlanPrinter.java
  core/trino-main/src/test/java/io/trino/execution/TestQueryInfo.java
  core/trino-main/src/test/java/io/trino/execution/TestStageStats.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/TestScaledWriterScheduler.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/faulttolerant/TestEventDrivenTaskSource.java
  core/trino-main/src/test/java/io/trino/execution/scheduler/policy/TestPhasedExecutionSchedule.java
  core/trino-main/src/test/java/io/trino/sql/planner/planprinter/TestAnonymizeJsonRepresentation.java
  core/trino-main/src/test/java/io/trino/sql/planner/planprinter/TestJsonRepresentation.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/eventlistener/StageTaskStatistics.java
Labels: cla-signed

#25715 Adding exclusion list to hms cache
  docs/src/main/sphinx/connector/hive.md
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/HiveConfig.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestBackgroundHiveSplitLoader.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveConfig.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/BaseCachingDirectoryListerTest.java
Labels: cla-signed, docs, hive

#25745 Prune source page to consistent with expected channels in Delta Lake
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakePageSourceProvider.java
Labels: cla-signed, delta-lake

#25744 Fix miscategorized exception in orphan file cleanup in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, iceberg

#24904 Read latest metadata and protocol entry backwards
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/TransactionLogAccess.java
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/checkpoint/MetadataAndProtocolEntries.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeFileOperations.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestTransactionLogAccess.java
Labels: cla-signed, delta-lake, stale-ignore

#25750 Fix bug with iceberg bucket functions and integer to long casts
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergBucketFunction.java
Labels: cla-signed, iceberg

#25634 Fix issue with reading footer of orc file with large stripe
  lib/trino-orc/src/main/java/io/trino/orc/OrcRecordReader.java
  lib/trino-orc/src/main/java/io/trino/orc/OrcWriteValidation.java
  lib/trino-orc/src/main/java/io/trino/orc/OrcWriterFlushStats.java
  lib/trino-orc/src/main/java/io/trino/orc/OrcWriterStats.java
  lib/trino-orc/src/main/java/io/trino/orc/StripeReader.java
  lib/trino-orc/src/main/java/io/trino/orc/metadata/OrcMetadataReader.java
  lib/trino-orc/src/main/java/io/trino/orc/metadata/StripeInformation.java
  lib/trino-orc/src/test/java/io/trino/orc/metadata/TestOrcMetadataReader.java
Labels: bug, cla-signed

#22172 Run Iceberg connector tests with more parallelism
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergConnectorTest.java
Labels: cla-signed, test, no-release-notes, iceberg, stale-ignore

#25759 Disable 25-ea job temporarily
  .github/workflows/ci.yml
Labels: cla-signed

#25771 Use non-shaded Guava collections
  core/trino-main/src/test/java/io/trino/operator/scalar/TestJsonStringArrayExtractScalar.java
  core/trino-main/src/test/java/io/trino/sql/planner/iterative/rule/TestRewriteExcludeColumnsFunctionToProjection.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/metastore/TestDeltaLakeTableMetadataScheduler.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestHiveGlueMetadataListing.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/metastore/glue/TestHiveConcurrentModificationGlueMetastore.java
  plugin/trino-loki/src/test/java/io/trino/plugin/loki/TestLokiIntegration.java
  pom.xml
Labels: cla-signed, delta-lake, hive, loki

#25756 Restore SelectedRole propagation through identity enabled roles
  core/trino-main/src/main/java/io/trino/server/HttpRequestSessionContextFactory.java
Labels: cla-signed

#24489 Delta Lake: skip statistics on error
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/transactionlog/statistics/DeltaLakeJsonFileStatistics.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/transactionlog/statistics/TestDeltaLakeFileStatistics.java
  plugin/trino-delta-lake/src/test/resources/io/trino/plugin/deltalake/transactionlog/statistics/all_type_statistics.json
Labels: cla-signed, delta-lake, stale-ignore

#25749 Improve cache invalidation by keying on path and table name
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/BackgroundHiveSplitLoader.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/TableInvalidationCallback.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/CachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionDirectoryListingCacheKey.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionScopeCachingDirectoryLister.java
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/fs/TransactionScopeCachingDirectoryListerFactory.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/BaseCachingDirectoryListerTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestCachingDirectoryListerRecursiveFilesOnly.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/fs/TestTransactionScopeCachingDirectoryLister.java
Labels: cla-signed, hive

#25779 Update Jetty & AWS SDK v2
  pom.xml
Labels: cla-signed

#23447 Allow configuring User-Assigned Managed Identity in AzureFS
  docs/src/main/sphinx/object-storage/file-system-azure.md
  lib/trino-filesystem-azure/pom.xml
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureAuthDefault.java
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureAuthDefaultModule.java
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureAuthManagedIdentityConfig.java
  lib/trino-filesystem-azure/src/test/java/io/trino/filesystem/azure/TestAzureAuthManagedIdentityConfig.java
Labels: cla-signed, docs, stale-ignore

#25797 Remove code for Cassandra <= 2.2.0
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraClusteringPredicatesExtractor.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraMetadata.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraSession.java
  plugin/trino-cassandra/src/main/java/io/trino/plugin/cassandra/CassandraSplitManager.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/TestCassandraConnectorTest.java
  plugin/trino-cassandra/src/test/java/io/trino/plugin/cassandra/util/TestCassandraClusteringPredicatesExtractor.java
Labels: cla-signed, cassandra

#25798 Store snapshot id and timestamp to Hive metastore in Iceberg
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/AbstractMetastoreTableOperations.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/hms/HiveMetastoreTableOperations.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/BaseIcebergMinioConnectorSmokeTest.java
Labels: cla-signed, iceberg

#25805 Handle filesystem errors when reading Iceberg manifests
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
Labels: cla-signed, iceberg

#25814 Remove reorder from Iceberg schema evolution docs
  docs/src/main/sphinx/connector/iceberg.md
Labels: cla-signed, docs

#25816 Workaround Jetty async thread hanging under contention
  core/trino-main/pom.xml
  core/trino-main/src/main/java/io/trino/server/ThrowableMapper.java
Labels: cla-signed

#25815 Require Java 24 to build and run Trino
  .github/workflows/ci.yml
  .java-version
  README.md
  core/trino-main/src/main/java/io/trino/server/TrinoSystemRequirements.java
  docs/src/main/sphinx/admin/resource-groups.md
  docs/src/main/sphinx/installation/deployment.md
  docs/src/main/sphinx/security/tls.md
  pom.xml
Labels: cla-signed, docs

#25457 Use location directoryPath in isHierarchicalNamespaceEnabled check
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureFileSystem.java
Labels: cla-signed

#25823 Revert "Use location directoryPath in isHierarchicalNamespaceEnabled check"
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureFileSystem.java
Labels: cla-signed

#25826 Increase delta.max-split-size to 128MB
  docs/src/main/sphinx/connector/delta-lake.md
  plugin/trino-delta-lake/src/main/java/io/trino/plugin/deltalake/DeltaLakeConfig.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConfig.java
Labels: cla-signed, docs, delta-lake

#25828 Update airbase to 261
  pom.xml
Labels: cla-signed

#25835 Avoid using background executor for oracle queries
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcModule.java
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClientModule.java
Labels: cla-signed, oracle

#25836 Oracle JDBC driver to 23.8.0.25.04
  pom.xml
Labels: cla-signed

#25820 Add signer type to native s3 filesystem
  docs/src/main/sphinx/object-storage/file-system-s3.md
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemConfig.java
  lib/trino-filesystem-s3/src/main/java/io/trino/filesystem/s3/S3FileSystemLoader.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemAwsS3.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemConfig.java
  lib/trino-filesystem-s3/src/test/java/io/trino/filesystem/s3/TestS3FileSystemS3Mock.java
Labels: cla-signed, docs

#25843 Allow configuring heap relative to maximum
  core/trino-main/src/main/java/io/trino/execution/HeapSizeParser.java
  core/trino-main/src/main/java/io/trino/memory/NodeMemoryConfig.java
  core/trino-main/src/test/java/io/trino/execution/BaseTestSqlTaskManager.java
  core/trino-main/src/test/java/io/trino/execution/TestHeapSizeParser.java
  core/trino-main/src/test/java/io/trino/memory/TestLocalMemoryManager.java
  core/trino-main/src/test/java/io/trino/memory/TestNodeMemoryConfig.java
  docs/src/main/sphinx/admin/properties-resource-management.md
  docs/src/main/sphinx/admin/properties.md
Labels: cla-signed, docs

#25746 Enable Authentication for Google Sheet Connector Using Delegated User Credentials
  docs/src/main/sphinx/connector/googlesheets.md
  plugin/trino-google-sheets/src/main/java/io/trino/plugin/google/sheets/SheetsClient.java
  plugin/trino-google-sheets/src/main/java/io/trino/plugin/google/sheets/SheetsConfig.java
  plugin/trino-google-sheets/src/test/java/io/trino/plugin/google/sheets/TestSheetsConfig.java
Labels: cla-signed, docs, iceberg, delta-lake, google-sheets

#25850 [Doc] Update MySQL Configuration Properties Link
  docs/src/main/sphinx/admin/event-listeners-mysql.md
  docs/src/main/sphinx/connector/mysql.md
Labels: cla-signed, docs

#25849 Move executeQuery call to JdbcPageSource#getNextSourcePage
  plugin/trino-base-jdbc/src/main/java/io/trino/plugin/jdbc/JdbcPageSource.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/TestJdbcPageSource.java
Labels: cla-signed

#25851 Reduce contribution of RLE blocks size in page splitting
  core/trino-main/src/main/java/io/trino/execution/buffer/PageSplitterUtil.java
  core/trino-main/src/test/java/io/trino/execution/TestPageSplitterUtil.java
Labels: cla-signed

#25860 Disable migrate procedure test on Iceberg Glue catalog
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/glue/TestSharedGlueMetastore.java
Labels: cla-signed, iceberg

#25853 Remove redundant variable in TestDeltaLakeFileBasedTableStatisticsProvider
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/statistics/TestDeltaLakeFileBasedTableStatisticsProvider.java
Labels: cla-signed, delta-lake

#25862 Fix wrong parameter in checkCanExecuteTableProcedure
  plugin/trino-hive/src/main/java/io/trino/plugin/hive/security/SqlStandardAccessControl.java
Labels: cla-signed, hive

#25231 Bulk fetch all columns from all tables per schema for Oracle connector
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClient.java
  plugin/trino-oracle/src/main/java/io/trino/plugin/oracle/OracleClientModule.java
Labels: cla-signed, oracle

#25868 Fix typo
  core/trino-main/src/main/java/io/trino/sql/planner/ConnectorExpressionTranslator.java
Labels: cla-signed

#25813 Update Iceberg to 1.9.1
  pom.xml
Labels: cla-signed, iceberg

#25888 Remove unused code from LookupJoinOperatorFactory
  core/trino-main/src/main/java/io/trino/operator/OperatorFactories.java
  core/trino-main/src/main/java/io/trino/operator/join/unspilled/LookupJoinOperatorFactory.java
  core/trino-main/src/main/java/io/trino/sql/planner/LocalExecutionPlanner.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/BenchmarkHashBuildAndJoinOperators.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/JoinTestUtils.java
  core/trino-main/src/test/java/io/trino/operator/join/unspilled/TestHashJoinOperator.java
Labels: cla-signed
