Repository trinodb/trino, pull requests merged in 2025-08, with the labels that each got.

#25847 Reduce memory usage of remove_orphan_files procedure
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/org/apache/iceberg/IcebergManifestUtils.java
Labels: bug, cla-signed, iceberg

#26318 Don't call Iceberg view endpoints if disabled
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoIcebergRestCatalogFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/catalog/rest/TrinoRestCatalog.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestTrinoRestCatalog.java
Labels: cla-signed, iceberg

#25677 Implement distributed processing for iceberg $files system table
  core/trino-main/src/main/java/io/trino/connector/DefaultCatalogFactory.java
  core/trino-main/src/main/java/io/trino/connector/system/CoordinatorSystemTablesProvider.java
  core/trino-main/src/main/java/io/trino/connector/system/StaticSystemTablesProvider.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemConnector.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemPageSourceProvider.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemSplit.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemTablesMetadata.java
  core/trino-main/src/main/java/io/trino/connector/system/SystemTablesProvider.java
  core/trino-main/src/main/java/io/trino/connector/system/jdbc/ColumnJdbcTable.java
  core/trino-main/src/main/java/io/trino/connector/system/jdbc/JdbcTable.java
  core/trino-main/src/main/java/io/trino/connector/system/jdbc/TableJdbcTable.java
  core/trino-spi/src/main/java/io/trino/spi/connector/SystemColumnHandle.java
  core/trino-spi/src/main/java/io/trino/spi/connector/SystemTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/EntriesTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/FilesTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergMetadata.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProvider.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergPageSourceProviderFactory.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/IcebergUtil.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/PartitionsTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/system/files/FilesTable.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/system/files/FilesTablePageSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/system/files/FilesTableSplit.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/system/files/FilesTableSplitSource.java
  plugin/trino-iceberg/src/main/java/io/trino/plugin/iceberg/system/files/TrinoManifestFile.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergNodeLocalDynamicSplitPruning.java
Labels: cla-signed, performance, iceberg

#26336 Fix checkstyle violations
  core/trino-main/src/test/java/io/trino/operator/window/WindowAssertions.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestAdaptivePartitioning.java
  core/trino-main/src/test/java/io/trino/sql/planner/optimizations/TestColocatedJoin.java
  core/trino-main/src/test/java/io/trino/sql/query/TestIssue23787.java
  core/trino-main/src/test/java/io/trino/sql/query/TestJoin.java
  core/trino-main/src/test/java/io/trino/sql/query/TestRandom.java
  core/trino-parser/src/test/java/io/trino/sql/parser/TestSqlParser.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/esri/TestEsriDeserializer.java
  plugin/trino-base-jdbc/src/test/java/io/trino/plugin/jdbc/BaseJdbcConnectorTest.java
  plugin/trino-bigquery/src/test/java/io/trino/plugin/bigquery/BaseBigQueryConnectorTest.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeBasic.java
  plugin/trino-delta-lake/src/test/java/io/trino/plugin/deltalake/TestDeltaLakeConnectorTest.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/BaseElasticsearchConnectorTest.java
  plugin/trino-elasticsearch/src/test/java/io/trino/plugin/elasticsearch/TestElasticsearchComplexTypePredicatePushDown.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/BaseHiveConnectorTest.java
  plugin/trino-hive/src/test/java/io/trino/plugin/hive/TestEsriTable.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/TestIcebergLocalConcurrentWrites.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/rest/TestIcebergRestCatalogCaseInsensitiveMapping.java
  plugin/trino-iceberg/src/test/java/io/trino/plugin/iceberg/catalog/snowflake/TestIcebergSnowflakeCatalogConnectorSmokeTest.java
  plugin/trino-iceberg/src/test/java/org/apache/iceberg/snowflake/TestTrinoSnowflakeCatalog.java
  plugin/trino-mariadb/src/main/java/io/trino/plugin/mariadb/MariaDbClient.java
  plugin/trino-mysql/src/main/java/io/trino/plugin/mysql/MySqlClient.java
  plugin/trino-mysql/src/test/java/io/trino/plugin/mysql/BaseMySqlConnectorTest.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControl.java
  plugin/trino-opensearch/src/test/java/io/trino/plugin/opensearch/TestOpenSearchComplexTypePredicatePushDown.java
  plugin/trino-opensearch/src/test/java/io/trino/plugin/opensearch/TestOpenSearchProjectionPushdownPlans.java
  testing/trino-testing/src/main/java/io/trino/testing/BaseConnectorTest.java
  testing/trino-tests/src/test/java/io/trino/security/TestAccessControl.java
Labels: cla-signed, iceberg, delta-lake, hive, bigquery, elasticsearch, mariadb, mysql, opensearch

#26348 Doc only: fix sbsuer typo and minor copy edit
  docs/src/main/sphinx/admin/openmetrics.md
Labels: cla-signed, docs

#25113 Add physical data scan tracking to resource groups
  core/trino-main/src/main/java/io/trino/execution/resourcegroups/InternalResourceGroup.java
  core/trino-main/src/main/java/io/trino/execution/resourcegroups/InternalResourceGroupManager.java
  core/trino-main/src/main/java/io/trino/execution/resourcegroups/ResourceUsage.java
  core/trino-main/src/main/java/io/trino/server/ResourceGroupInfo.java
  core/trino-main/src/test/java/io/trino/execution/MockManagedQueryExecution.java
  core/trino-main/src/test/java/io/trino/execution/resourcegroups/TestResourceGroups.java
  core/trino-spi/pom.xml
  core/trino-spi/src/main/java/io/trino/spi/resourcegroups/ResourceGroup.java
  docs/src/main/sphinx/admin/resource-groups-example.json
  docs/src/main/sphinx/admin/resource-groups.md
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/AbstractResourceConfigurationManager.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/FileResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/ManagerSpec.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/ResourceGroupSpec.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/DbResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/ResourceGroupGlobalProperties.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/ResourceGroupGlobalPropertiesReducer.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/ResourceGroupSpecBuilder.java
  plugin/trino-resource-group-managers/src/main/java/io/trino/plugin/resourcegroups/db/ResourceGroupsDao.java
  plugin/trino-resource-group-managers/src/main/resources/db/migration/mysql/V9__add_physical_data_scan_to_resource_groups.sql
  plugin/trino-resource-group-managers/src/main/resources/db/migration/oracle/V9__add_physical_data_scan_to_resource_groups.sql
  plugin/trino-resource-group-managers/src/main/resources/db/migration/postgresql/V9__add_physical_data_scan_to_resource_groups.sql
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestFileResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestingResourceGroup.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/TestingResourceGroups.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/BaseTestDbResourceGroupsFlywayMigration.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/H2ResourceGroupsDao.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupConfigurationManager.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestDbResourceGroupsMysqlFlywayMigration.java
  plugin/trino-resource-group-managers/src/test/java/io/trino/plugin/resourcegroups/db/TestResourceGroupsDao.java
  plugin/trino-resource-group-managers/src/test/resources/resource_groups_config.json
  plugin/trino-resource-group-managers/src/test/resources/resource_groups_config_user_groups.json
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/H2TestUtil.java
  testing/trino-tests/src/test/java/io/trino/execution/resourcegroups/db/TestQueuesDb.java
Labels: cla-signed, docs

#26354 Check if HNS is enabled for Azure storage account using Get Account Info
  lib/trino-filesystem-azure/src/main/java/io/trino/filesystem/azure/AzureFileSystem.java
Labels: cla-signed

#26371 Handle long running queries in DirectTrinoClient
  core/trino-main/src/main/java/io/trino/client/direct/DirectTrinoClient.java
  core/trino-main/src/main/java/io/trino/server/testing/TestingTrinoServer.java
  core/trino-main/src/main/java/io/trino/testing/StandaloneQueryRunner.java
  core/trino-main/src/main/java/io/trino/testing/TestingDirectTrinoClient.java
  testing/trino-tests/src/test/java/io/trino/client/direct/TestDirectTrinoClient.java
Labels: cla-signed

#26382 Set default ldap client timeouts to 1m
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/ldap/JdkLdapClient.java
  lib/trino-plugin-toolkit/src/main/java/io/trino/plugin/base/ldap/LdapClientConfig.java
  lib/trino-plugin-toolkit/src/test/java/io/trino/plugin/base/ldap/TestLdapConfig.java
Labels: cla-signed

#26379 Implement setTypeMap and getTypeMap in TrinoConnection
  client/trino-jdbc/src/main/java/io/trino/jdbc/TrinoConnection.java
Labels: cla-signed, jdbc

#26344 Replace originalIdentity's groups with identity's groups
  core/trino-main/src/main/java/io/trino/Session.java
  testing/trino-tests/src/test/java/io/trino/security/TestSessionImpersonation.java
Labels: cla-signed

#26401 Remove unused io.trino.operator.project.PageProjection#getType
  core/trino-main/src/main/java/io/trino/operator/project/ConstantPageProjection.java
  core/trino-main/src/main/java/io/trino/operator/project/DictionaryAwarePageProjection.java
  core/trino-main/src/main/java/io/trino/operator/project/GeneratedPageProjection.java
  core/trino-main/src/main/java/io/trino/operator/project/InputPageProjection.java
  core/trino-main/src/main/java/io/trino/operator/project/PageProjection.java
  core/trino-main/src/main/java/io/trino/sql/gen/PageFunctionCompiler.java
  core/trino-main/src/test/java/io/trino/operator/project/TestDictionaryAwarePageProjection.java
  core/trino-main/src/test/java/io/trino/operator/project/TestPageProcessor.java
Labels: cla-signed

#26399 Update airbase, airlift, AWS SDK v2
  pom.xml
Labels: cla-signed

#21156 Support for extended boolean literal for LazySimpleSerde
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/encodings/text/BooleanEncoding.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/encodings/text/TextColumnEncodingFactory.java
  lib/trino-hive-formats/src/main/java/io/trino/hive/formats/encodings/text/TextEncodingOptions.java
  lib/trino-hive-formats/src/test/java/io/trino/hive/formats/line/simple/TestSimpleFormat.java
Labels: cla-signed, stale

#26410 Update dependencies
  pom.xml
Labels: cla-signed

#26408 docs: Clarify documentation around spooling protocol
  docs/src/main/sphinx/admin/properties-client-protocol.md
  docs/src/main/sphinx/client/client-protocol.md
Labels: cla-signed, docs

#26414 Random cleanups in DirectTrinoClient
  core/trino-main/src/main/java/io/trino/client/direct/DirectTrinoClient.java
Labels: cla-signed

#26421 Add info about Go client spooling support
  docs/src/main/sphinx/client/client-protocol.md
Labels: cla-signed, docs

#24027 Add cosine_distance for sparse vectors
  core/trino-main/src/main/java/io/trino/operator/scalar/MathFunctions.java
  core/trino-main/src/test/java/io/trino/operator/scalar/TestMathFunctions.java
  docs/src/main/sphinx/functions/math.md
Labels: cla-signed, syntax-needs-review, docs, stale-ignore

#26428 Implement streamRelationColumns in ElasticSearch
  plugin/trino-elasticsearch/src/main/java/io/trino/plugin/elasticsearch/ElasticsearchMetadata.java
Labels: cla-signed, elasticsearch

#26456 Disable Vertica tests due to missing test container
  plugin/trino-vertica/src/test/java/io/trino/plugin/vertica/TestingVerticaServer.java
Labels: cla-signed, vertica

#26463 Minor changes in OPA plugin
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControl.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlDataFilteringSystem.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlFactory.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlFiltering.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlPermissionManagementOperations.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlPlugin.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaAccessControlSystem.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaBatchAccessControlFiltering.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaConfig.java
  plugin/trino-opa/src/test/java/io/trino/plugin/opa/TestOpaResponseDecoding.java
Labels: cla-signed

#26465 Avoid copying tasks when checking blocked
  core/trino-main/src/main/java/io/trino/execution/scheduler/PipelinedStageExecution.java
Labels: cla-signed

#26483 fixed typo in documentation for kafka-event-listener example "kafka.config.resources"
  docs/src/main/sphinx/admin/event-listeners-kafka.md
Labels: docs

#26319 Add query JSON page to Preview Web UI
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryDetails.tsx
  core/trino-web-ui/src/main/resources/webapp-preview/src/components/QueryJson.tsx
Labels: cla-signed, ui, stale

#26509 Use separate executors for OAuth2 endpoints
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2AuthenticationSupportModule.java
  core/trino-main/src/main/java/io/trino/server/security/oauth2/OAuth2TokenExchangeResource.java
Labels: cla-signed
